

// 
// Hub & Feed
// 


.cmuFeed {

}




// 
// Common Elements
// 

%sidebar-icon {
	@extend %font-ubnt;
}


// hide breadcrumbs only on feed
.cmuFeed--home {
	margin-top: $cmu-base*2;
}
.cmuFeed--home .cmuBreadcrumbs { 
	display: none;
}






// 
// Main Feed Area
// 

.cmuFeed__main {
	padding-right: $cmu-base;
}

	// holds the story feeds and stuff
	// affected by the toggle / tab
	.cmuFeed__container {
		padding: 0;
		padding-top: $cmu-base/2;
	}

	// update button
	.cmuFeed__update {
		margin-bottom: $cmu-vertical-rhythm;
	}

	// 
	.cmuFeed__title {
		padding: $cmu-base/2 $cmu-base;
		padding: $cmu-base/2;
		border-bottom: $style-line;
		height: $cmu-base*2;
		* { @extend %h5 }
	}





	// 
	// stories
	// 

	.cmuFeed__stories {
		margin-bottom: $cmu-vertical-rhythm;
		// background-color: $cmu-color-post--light;

		.cmuCollapser__header {
			background-color: transparent;
		}

		.cmuFeed__title {
			// border: 0;
		}

	}
		.cmuFeed__storyList {
			.cmuFeed__storyList__stories {
				// padding: $cmu-base;
				padding-top: $cmu-base;

				&>div:first-child {
					padding-left: 0;
				}

				&>div:last-child {
					padding-right: 0;
				}
			}
		}
		.cmuFeed__story {
			@extend %style-listItem;
			&:hover {
				background: transparent;
				.cmuFeed__story__img {
					@extend %ease-fast;
					@include transform($scale-rate-img);
				}
			}
		}

		.cmuFeed__story__img__container {
			height: $cmu-base*8;
			width: 100%;
			overflow: hidden;
			margin-bottom: $cmu-base/2;
		}

		// background image fed into inline style
		.cmuFeed__story__img {
			@extend %ease-fast;
			height: $cmu-base*8;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
    		background-position: center;
		}

		.cmuFeed__story__subject {
			margin-bottom: $cmu-base/2;
			font-weight: 600;
		}

		.cmuFeed__story__user {
			@extend %style-user;
		}
		.cmuFeed__story__date {
			@extend %style-date;
		}



	// 
	// list of items
	// 


	.cmuFeed__list {
		padding: 0;
		// background-color: $cmu-color-post;
		border: $style-line;
		border-bottom: 0;
	}

		.cmuFeed__list__title {
			padding: $cmu-base/2 $cmu-base;
			// padding-bottom: 0; //let content push up instead
			border-bottom: $style-line;
		}

		// individual article items
		.cmuFeed__item {
			padding: $cmu-base/2 $cmu-base;
			padding: $cmu-base/2 $cmu-base/2;
			border-bottom: $style-line;
			cursor: pointer;
			overflow: hidden;
			@extend %style-listItem;
			// background-color: $cmu-color-post;

			&:hover {
				color: $cmu-color-threadlist-hover;
				background-color: $cmu-color-threadlist-hover--background;
			}

			.cmuIcon__label {
				&:before {color: $cmu-color-blue;}
			}

			// isRead styles are designed separately
			&.isRead {
				.cmuFeed__subject {
					font-weight: 400;
				}
				background-color: $cmu-color-isRead--background;
				color: $cmu-color-isRead;
				.cmuFeed__content {
					color: $cmu-color-isRead;
				}
				&:hover {
					color: $cmu-color-threadlist-hover ;
					background-color: $cmu-color-threadlist-hover--background;
				}
			}
		}

			.cmuFeed__item__container:last-child .cmuFeed__item{
				border-bottom: 0;
			}

			.cmuFeed__subject {
				font-weight: 600;
			}
			
			.cmuFeed__itemHeader {
				height: $cmu-base*1.2;
    			overflow: hidden;
			}

			.cmuFeed__userAction {
				@extend %style-meta;
			}
			.cmuFeed__content {
				@extend %size-normal;
				color: $cmu-color-dkgray;
				margin: $cmu-base/4 0;
				margin-bottom: $cmu-vertical-rhythm;

			    /* white-space: nowrap; */
			    overflow: hidden;
			    max-height: $cmu-base*3; // show a partial 3rd line?
			    max-height: $size-normal__lineHeight * 2; // preserve 2 lines; hard coded
			}
			.cmuFeed__stats {
				text-align: right;
			}
				.cmuFeed__stat {
					@extend %style-stat;
					// margin-right: $cmu-base/2;
				}
					.cmuFeed__stat__num {
						@extend %style-stat-num;
					}
					.cmuFeed__stat__title {
						@extend %style-stat-title;
					}

			// product description tag
			.cmuFeed__location {
				@extend %style-tag;
			}



		.cmuFeed__pagerBottom {
			padding: $cmu-base/2 $cmu-base;
			padding-top: $cmu-base;
		}








// 
// Sidebar 
// 

.cmuFeed__sidebar {
	padding-left: $cmu-base;
	@extend %cmuSidebar__title;
}

	.cmuFeed__hub {
    	padding-top: $cmu-base;
	}

	.cmuFeed__sidebar__link {
		@extend %style-link;
	}

	.cmuFeed__sidebar__item {
		margin-bottom: $cmu-vertical-rhythm;
	}
	
	.cmuFeed__actions {
		a {
			display: block;
			padding: $cmu-base/4 0;
			@extend %ease-fast;
			@extend %style-link;

			// icon color
			span:before { 
				@extend %ease-fast;
				color: $cmu-color-active;
			}

		}
	}

	.cmuFeed__announcements {

	}

		.cmuFeed__anno {
			@extend %style-railLink;
			margin-top: $cmu-base/2 !important;
		}






