

// 
// Hub & Feed
// 


// 
// Common Elements
// 

// 
// Homepage Feed
// 
%sidebar-icon {
	@extend %font-ubnt;
}

// icon representations (only within Feed/Hub)
.cmuFeed__icon {
	margin-right: $cmu-base/2;
	&:before {
		color: $cmu-color-dkgray;
	}

	&.all:before {
		@extend %sidebar-icon;
		content: '\e63b';
		text-decoration: none !important;
	}
	&.announcements:before {
		@extend %sidebar-icon;
		content: '\e710';
		text-decoration: none !important;
	}
	&.forums:before {
		@extend %sidebar-icon;
		content: '\e6c0';
		text-decoration: none !important;
	}
	&.stories:before {
		@extend %sidebar-icon;
		content: '\e614';
		text-decoration: none !important;
	}
	&.qa:before {
		@extend %sidebar-icon;
		content: '\e6ee';
		text-decoration: none !important;
	}

	// product tag
	.product {
		color: $cmu-color-active;
		margin-right: $cmu-base/4;
	}
}



.cmuFeed__main {
	padding-right: $cmu-base;
}

	// holds the story feeds and stuff
	// affected by the toggle / tab
	.cmuFeed__container {
		padding: 0;
		padding-top: $cmu-base/2;
		// border: $style-line;
	}

	// update button
	.cmuFeed__update {
		margin-bottom: $cmu-vertical-rhythm;
	}

	// location tag
	.cmuFeed__location {
		@extend %style-tag;
	}

	.cmuFeed__title {
		padding-left: $cmu-base/2;
		padding-right: $cmu-base/2;
	}
		.cmuFeed__title--all {
			padding: $cmu-base/2 $cmu-base;
			border-bottom: $style-line;
		}


	// 
	// stories
	// 

	.cmuFeed__stories {
		border: $style-line;
		margin-bottom: $cmu-vertical-rhythm;
		background-color: $cmu-color-post;
		padding-top: $cmu-base/2;
		padding-bottom: $cmu-base/2;

	}
		.cmuFeed__storyList {
			padding: $cmu-base/2;
		}
		.cmuFeed__story {
			@extend %style-listItem;
			&:hover {
				.cmuFeed__story__img {
					@extend %ease-fast;
				    -moz-transform: scale(1.2);
				    -webkit-transform: scale(1.2);
				    transform: scale(1.2);
				}
			}
		}

			.cmuFeed__close {
				text-align: right;
				cursor: pointer;

				// fpo
			    position: absolute;
			    right: 18px;
			    top: 12px;

			    span:before {
			    	content: "\e6d0";
			    }
			}
				.cmuFeed__close--closed {
				    span:before {
				    	content: "\e6cf";
				    }
					& ~ .cmuFeed__storyList {
						display: none;
					}
				}

		.cmuFeed__story__img__container {
			height: $cmu-base*8;
			width: 100%;
			overflow: hidden;
			margin-bottom: $cmu-base/2;
		}

		// background image fed into inline style
		.cmuFeed__story__img {
			@extend %ease-fast;
			height: $cmu-base*8;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.cmuFeed__story__user {
			@extend %style-user;
		}
		.cmuFeed__story__date {
			@extend %style-date;
		}



	// 
	// list of items
	// 


	.cmuFeed__list {
		padding: 0;
		background-color: $cmu-color-post;
		border: $style-line;
		border-bottom: 0;
	}

		.cmuFeed__list__title {
			padding: $cmu-base/2 $cmu-base;
			// padding-bottom: 0; //let content push up instead
			border-bottom: $style-line;
		}

		// individual article items
		.cmuFeed__item {
			padding: $cmu-base/2 $cmu-base;
			border-bottom: $style-line;
			cursor: pointer;
			overflow: hidden;
			@extend %style-listItem;
			background-color: $cmu-color-post;

			&:hover {
				background-color: $cmu-color-white;
			}

			.cmuFeed__icon {
				&:before {color: $cmu-color-blue;}
			}
		}
			.cmuFeed__itemHeader {
				height: $cmu-base*1.2;
    			overflow: hidden;
			}

			.cmuFeed__userAction {
				@extend %size-xsmaller;
				color: $cmu-color-dkgray;
				// margin-top: $cmu-base/4;
				margin-left: $cmu-base/2;
			}
			.cmuFeed__content {
				@extend %size-smaller;
				color: $cmu-color-dkgray;
				margin: $cmu-base/4 0 $cmu-base/2 0;

			    /* white-space: nowrap; */
			    overflow: hidden;
			    max-height: $cmu-base*3; // show a partial 3rd line?
			    max-height: 40px; // preserve 2 lines
			}
			.cmuFeed__stats {
				text-align: right;
			}
				.cmuFeed__stat {
					@extend %style-tag;
					margin-right: $cmu-base/2;
				}


		.cmuFeed__pagerBottom {
			padding: $cmu-base/2 $cmu-base;
		}








// 
// Sidebar 
// 

.cmuFeed__sidebar {
	padding-left: $cmu-base;

	h5 {
		padding-bottom: $cmu-base/4;
		margin-bottom: $cmu-base/4;
		border-bottom: $style-line;
	}
}
	.cmuFeed__sidebar__link {
		@extend %style-ctaLink;
	}

	.cmuFeed__actions {
		margin-bottom: $cmu-vertical-rhythm;


		a {
			display: block;
			padding: $cmu-base/4 0;
			@extend %ease-fast;
			@extend %style-ctaLink;

			// icon color
			span:before { 
				@extend %ease-fast;
				color: $cmu-color-active;
			}
			&:hover {
				span, span:before { 
					@extend %ease-fast;
					color: $cmu-color-dkgray;
				}
			}
		}
	}

	.cmuFeed__announcements {

	}

		.cmuFeed__anno {
			@extend %size-smaller;
			margin-bottom: $cmu-vertical-rhythm/2;
			// &:hover {
			// 	// text-decoration: underline; 
			// 	a {
			// 		border-bottom: $style-line;
			// 	}
			// }

			a {
				@extend %style-link--dark;
			}
		}






