// We use this to set the base for lots of form spacing and positioning styles
$cmu-form-spacing: remCalc($cmu-base) !default;

// We use these to style the labels in different ways
$cmu-threadsort-font-family: inherit !default;
$cmu-threadsort-font-size: $cmu-input-font-size;
$cmu-threadsort-border-radius: 0 !default;
$cmu-threadsort-box-shadow: none;