
<div class="cmuDirectory">
	<community-breadcrumbs></community-breadcrumbs>
	<div class="row">
		<div class="cmuDiscussionsControls">
			<discussions-header header-text="Community Directory"></discussions-header>
			<discussions-nav-bar></discussions-nav-bar>
		</div>
	</div>

	<!-- pulse row -->
	<div class="row">
		<div class="cmuPulse col--md12">
			<!-- <div class="cmuPulse__label">
				Live Activity
			</div> -->
			<div class="cmuPulse__counter cmuPulse__total">
				<div><span class="icon ubnt-icon--pencil-2"></span></div>
				<div><span class="cmuPulse__count">123,456</span></div>
				<div><span class="cmuPulse__desc">Total Posts</span></div>
			</div>
			<div class="cmuPulse__counter cmuPulse__members">
				<div><span class="icon ubnt-icon--users"></span></div>
				<div><span class="cmuPulse__count">3,456</span></div>
				<div><span class="cmuPulse__desc">Total Members</span></div>
				
			</div>
			<div class="cmuPulse__counter cmuPulse__online">
				<div><span class="icon ubnt-icon--ap-airos"></span></div>
				<div><span class="cmuPulse__count">3,456</span></div>
				<div><span class="cmuPulse__desc">Members Online</span></div>
				
			</div>
			<div class="cmuPulse__counter cmuPulse__recent">
				<div><span class="icon ubnt-icon--chat-bubbles-2"></span></div>
				<div><span class="cmuPulse__count">456</span></div>
				<div><span class="cmuPulse__desc">Posts Today</span></div>
				
			</div>
		</div>
	</div>


	<!-- sidebar -->
	<div class="row">
		<div class="cmuDirectory__sidebar cmuSidebar col--md3">
			<div class="cmuDirectory__sidebar__main" ng-repeat="section in ::vm.directoryList">
				<div class="cmuDirectory__sidebar__headline">{{ section.header }}</div>

				<div class="cmuDirectory__sidebar__item" ng-repeat="discussion in ::section.list | orderBy: 'name'">
					<div ng-if="discussion.children">
						<a ui-sref="hub({ nodeId: discussion.urlCode })">{{ discussion.name }}</a>
					</div>
					<div ng-if="!discussion.children">
						<a ng-href="{{ vm.getDiscussionHref(discussion) }}" target="_self">{{ discussion.name }}</a>
					</div>
				</div>
			</div>

			<div class="cmuDirectory__sidebar__other">
				<div class="cmuDirectory__sidebar__headline"></div>
				<div class="cmuDirectory__sidebar__item" ng-repeat="landingPage in ::vm.landingPages">
					<a href="{{ landingPage.href }}" target="_self">{{ landingPage.area }}</a>
				</div>
			</div>
		</div>
		
		<!-- main body -->
		<div class="col--md9 noPadding">
			<div class="cmuDirectory__item" ng-repeat="section in ::vm.directoryList">

				<div class="cmuDirectory__header">{{ section.header }} <!-- Discussions --></div>

				<div class="cmuDirectory__content container noPadding" ng-repeat="discussion in ::section.list | filter:vm.manualExclude | orderBy: 'name'">
				
					<div class="cmuDirectory__content__main">
						<!-- <div class="cmuDirectory__content__title">{{ discussion.name }}</div> -->
						<div class="row">
							<div class="cmuDirectory__content__title col--xs8" ng-if="section.header === 'Broadband' || section.header === 'Enterprise'">
								<a ui-sref="hub({ nodeId: discussion.urlCode })">{{ discussion.name }}</a>
							</div>
							<div class="cmuDirectory__content__title col--xs8" ng-if="section.header === 'Community'">
								<a ng-href="{{ vm.getDiscussionHref(discussion) }}" target="_self">{{ discussion.name }} Forum</a>
							</div>

							<div class="cmuDirectory__stats col--xs4">
								<div class="cmuDirectory__users">
									<span class="cmuDirectory__count">1,234</span>
									<span class="cmuDirectory__label">Members Online</span>
								</div>
								<div class="cmuDirectory__posts">
									<span class="cmuDirectory__count">1,234</span>
									<span class="cmuDirectory__label">Posts Today</span>
								</div>
							</div>
						</div>
						<div class="cmuDirectory__content__list col--md8">
							<span ng-repeat="childDiscussion in ::discussion.children | orderBy:vm.discussionNodeOrder">
								<a ng-href="{{ vm.getDiscussionHref(childDiscussion) }}" target="_self">{{ childDiscussion.name }}</a>
								<span ng-if="!$last">&nbsp;/&nbsp;</span>
							</span>
						</div>
					</div>
<!-- 
					<div class="cmuDirectory__content__right">
						<div class="cmuDirectory__users">
							<span class="cmuDirectory__count">1,234</span>
							<span class="cmuDirectory__label">Online</span>
						</div>
						<div class="cmuDirectory__posts">
							<span class="cmuDirectory__count">1,234</span>
							<span class="cmuDirectory__label">Recent Posts</span>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>