
<div class="cmuDirectory">
	<community-page-header hide-element-selector=".directory-container" header-text="${{ core.cmuName }}$"></community-page-header>

	<div class="directory-container">
		<community-pulse></community-pulse>

		<!-- sidebar -->
		<div class="row">
			<div class="cmuDirectory__sidebar  col--md3">
				<div class="cmuDirectory__sidebar__main" ng-repeat="section in ::vm.directoryList">
					<div class="cmuDirectory__sidebar__headline"><h5>{{ section.header }}</h5></div>

					<div class="cmuDirectory__sidebar__item" ng-repeat="discussion in ::section.list | orderBy: 'name'">
						<div ng-if="discussion.children">
							<a ui-sref="hub({ nodeId: discussion.urlCode })">{{ discussion.name }}</a>
						</div>
						<div ng-if="!discussion.children">
							<a ng-href="{{ vm.getDiscussionHref(discussion) }}" target="_self">{{ discussion.name }}</a>
						</div>
					</div>
				</div>

				<div class="cmuDirectory__sidebar__other">
					<!-- <div class="cmuDirectory__sidebar__headline"></div> -->
					<div class="cmuDirectory__sidebar__item" ng-repeat="landingPage in ::vm.landingPages">
						<a class="button button--ghost button--blue-on-white" href="{{ landingPage.href }}" target="_self">{{ landingPage.description }}</a>
					</div>
				</div>
			</div>
			
			<!-- main body -->
			<div class="cmuDirectory__main col--md9">
				<div class="cmuDirectory__item" ng-repeat="section in ::vm.directoryList">

					<div class="cmuDirectory__header">{{ section.header }} <!-- Discussions --></div>

					<div class="cmuDirectory__content container noPadding" ng-repeat="discussion in ::section.list | filter:vm.manualExclude | orderBy: 'name'">
					
						<div class="cmuDirectory__content__main">
							<!-- <div class="cmuDirectory__content__title">{{ discussion.name }}</div> -->
							<div class="cmuDirectory__content__table">
								<div class="cmuDirectory__content__tablecell">
									<div class="cmuDirectory__content__title" ng-if="section.type === 'serviceProviders' || section.type === 'enterprise'">
										<a ui-sref="hub({ nodeId: discussion.urlCode })">{{ discussion.name }}</a>
									</div>

									<div class="cmuDirectory__content__title" ng-if="section.type === 'community'">
										<a ng-href="{{ vm.getDiscussionHref(discussion) }}" target="_self">{{ discussion.name }} Forum</a>
									</div>

									<div class="cmuDirectory__content__list noPadding">
										<span ng-repeat="childDiscussion in ::discussion.children | orderBy:vm.discussionNodeOrder">
											<a ng-href="{{ vm.getDiscussionHref(childDiscussion) }}" target="_self">{{ childDiscussion.name }}</a>
											<span ng-if="!$last">&nbsp;/&nbsp;</span>
										</span>
									</div>

								</div>
								<div class="cmuDirectory__content__tablecell">
									<div class="cmuDirectory__stats ">
										<div class="cmuDirectory__users">
											<span class="cmuDirectory__count">1,234</span>
											<span class="cmuDirectory__label">${{ directives.pulse.membersOnline }}$</span>
										</div>
										<div class="cmuDirectory__posts">
											<span class="cmuDirectory__count">1,234</span>
											<span class="cmuDirectory__label">${{ directives.pulse.postsToday }}$</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
