


// 
// Notifications
// 

.cmuNotifications {
    .cmuUsername__login {
        font-weight: 600;
    }
    .cmuUserbadge__avatar {
        height: $cmu-base*1.5;
        width: $cmu-base*1.5;
    }

}

    .cmuNotfication__item {
        border: $style-line;
        border-bottom: 0;
        background-color: $cmu-color-post;
        padding: $cmu-base/2;

        &:last-of-type {
            border-bottom: $style-line;
        }

        &:hover {
            cursor: pointer;
            background-color: $cmu-color-hover--background
        }
    }
        .cmuNotifications__info {
            padding-top: 2px;
        }


// 
// Notifications Dropdown
// 

.cmuNotifications__dropdown__header {

}

.cmuNotifications__dropdown__content {
	background-color: $cmu-color-purewhite;

    .cmuProfile__avatar:before {
        margin-top: 2px;
    }
}

    .cmuNotifications__dropdown__user {
        font-weight: 600;
        // margin-right: $cmu-base/4;
    }
    .cmuNotifications__dropdown__date {
        @extend %size-xsmaller;
        color: $cmu-color-mdgray;
    }

    .cmuNotifications__dropdown__link {
		display: inline;
        text-decoration: underline;
        padding-left: $cmu-base/4;
    }
