
.cmuDirectory {
	color: $cmu-color-dkgray;
}

// SIDEBAR
	.cmuDirectory__sidebar {
		position: relative;
		padding-right: $cmu-base;
	}

	.cmuDirectory__sidebar__main:first-child {
		.cmuDirectory__sidebar__headline {
			margin-top: $cmu-base/4;
		}
	}

	.cmuDirectory__sidebar__headline {
		@extend %cmuSidebar__title;
		margin-top: $cmu-vertical-rhythm;
	}

	.cmuDirectory__sidebar__main a {
		@extend %style-link--dark;
	}

	.cmuDirectory__sidebar__other {
		margin-top: $cmu-vertical-rhythm;

		div {
			margin-bottom: $cmu-vertical-rhythm/2;
		}
	}

	// SIDEBAR? These could be potentially be broken up into a separate module just for sidebars

	.cmuSidebar {
		@include respondTo(small-down) {
			display: none;
		}
	}




// MAIN list

.cmuDirectory__main {
	padding: 0;
	padding-left: $cmu-base;
}

.cmuDirectory__item {
	&:first-child {
		.cmuDirectory__header {
			margin-top: 0;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	margin-bottom: $cmu-base;
}

	.cmuDirectory__header {
		padding: $cmu-base/4 $cmu-base/2;
		background-color: $cmu-color-ltgray;
		color: $cmu-color-dkgray;
		font-weight: bold;
		// letter-spacing: $size-letterspacing-header;
	}

	.cmuDirectory__content {
		border-bottom: $style-line;
    	position: relative;
    	@extend %ease-fast;
		&:last-child {
			border: 0;
		}

		&:hover {
    		@extend %ease-fast;
			background-color: $cmu-color-hover--background;
		}
	}

	.cmuDirectory__content__main {
		padding: $cmu-base/2;
	}
		.cmuDirectory__content__table {
			display: table;
			width: 100%;
		}
			.cmuDirectory__content__tablecell {
				display: table-cell;
	    		vertical-align: middle;
	    		width: 70%;
				@include respondTo(xsmall-down) {
					width: 100%;
				}
			}

		.cmuDirectory__content__title {
			font-size: $size-large;
			line-height: $size-large__lineHeight;
		    display: block;
		    // float: left;

		    a {
				@extend %style-link;
			}
		}
		.cmuDirectory__content__list {
		    position: relative;
			display: inline-block;
			float: left;

			a {
				white-space: nowrap;
				@extend %style-link--dark;
			}
		}


// Online Stats

	.cmuDirectory__stats {
		// text-align: right;
		float: right;
		cursor: default;

		@include respondTo(xsmall-down) {
			display: none;
		}

		div {
			display: inline-block;
			padding-right: $cmu-base;
			margin: 3px 0;
		}
	}
		.cmuDirectory__users {
			// margin-right: $cmu-base;
		}

		.cmuDirectory__count {
			@extend %font-oswald;
			font-size: $size-large;
			display: inline-block;
			color: $cmu-color-dkgray;
			text-transform: uppercase;
    		vertical-align: middle;
			margin-right: $cmu-base/4;

			@include respondTo(small-down) {
				font-size: $size-larger;
			}
		}

		.cmuDirectory__label {
			@extend %font-lato;
			@extend %type-tiny--tight;
			display: inline-block;
			color: $cmu-color-gray;
			text-transform: uppercase;
    		vertical-align: middle;
			// width: $cmu-base;

			margin-right: $cmu-base;

			@include respondTo(small-down) {
			    width: $cmu-base*2;
			    line-height: $size-xxsmaller__lineHeight;
			}
		}




