
.cmuDirectory {
	color: $cmu-color-dkgray;
}

// SIDEBAR
	.cmuDirectory__sidebar {
		position: relative;
		left: $cmu-base;
	}

	.cmuDirectory__sidebar__main:first-child {
		.cmuDirectory__sidebar__headline {
			margin-top: $cmu-base/2;
		}
	}

	.cmuDirectory__sidebar__headline {
		color: $cmu-color-ltblack;
		margin-top: $cmu-base;
		font-weight: 600;
		// letter-spacing: $cmu-size-letterspacing-text;
	}

	.cmuDirectory__sidebar__item a {
		color: $cmu-color-dkgray;
    	font-weight: 400;

		&:hover {
			color: $cmu-color-blue;
		}
	}

	.cmuDirectory__sidebar__other > div a {
		text-transform: uppercase;
		color: $cmu-color-blue;
		font-size: $cmu-base * 0.7;
		line-height: $cmu-base * 2;
		background-color: $cmu-color-ltgray;
		padding: $cmu-base/2;

		&:hover {
			color: $cmu-color-blue;
			background-color: $cmu-color-mdgray;
		}
	}
	.cmuDirectory__sidebar > div {
		margin-top: 0;
	}


	// SIDEBAR? These could be potentially be broken up into a separate module just for sidebars

	.cmuSidebar {
		@include respondTo(small-down) {
			display: none;
		}
	}

// MAIN list

.cmuDirectory__item {
	&:first-child {
		.cmuDirectory__header {
			margin-top: 0;
		}
	}
	margin-bottom: $cmu-base;
}

	.cmuDirectory__header {
		padding: $cmu-base/4 $cmu-base/2;
		background-color: $cmu-color-ltgray;
		color: $cmu-color-dkgray;
		font-weight: bold;
		// letter-spacing: $cmu-size-letterspacing-header;
	}

	.cmuDirectory__content {
		border-bottom: $cmu-style-line;
    	position: relative;
    	@extend %ease-fast;
		&:last-child {
			border: 0;
		}

		&:hover {
    		@extend %ease-fast;
			background-color: $cmu-color-purewhite;
		}
	}

	.cmuDirectory__content__main {
		padding: $cmu-base/2 $cmu-base/2;
		// display: table-cell;
		// width: 80%;
	}

		.cmuDirectory__content__title {
			font-size: $cmu-size-large;
			line-height: $cmu-size-large--line-height;
			a {
				@extend %style-link--dark;
			}
		}
		.cmuDirectory__content__list {
			padding: $cmu-base/2 $cmu-base;
			padding-left: 0;

			a {
				white-space: nowrap;
				@extend %style-link--dark;
			}
		}


// Online Stats

	.cmuDirectory__stats {
		text-align: right;

		div {
			display: inline-block;
			padding-right: $cmu-base;
		}
	}
		.cmuDirectory__users {
			margin-right: $cmu-base;
		}

		.cmuDirectory__count {
			@extend %font-oswald;
			display: inline-block;
			color: $cmu-color-dkgray;
			text-transform: uppercase;
    		vertical-align: middle;
			margin-right: $cmu-base/4;
		}

		.cmuDirectory__label {
			@extend %font-lato;
			@extend %type-tiny--tight;
			display: inline-block;
			color: $cmu-color-gray;
			text-transform: uppercase;
    		vertical-align: middle;
			width: $cmu-base;
			margin-right: $cmu-base;
		}




