
<div class="cmuDiscussionsNavbar">
	<ul>
		<!-- <li>
			<a>Home</a>
		</li> -->
		<li ng-repeat="navLink in ::navbar.navLinks">

			<a ng-class="{ active : navLink.active, cmuDiscussionsNavbar__group : navLink.display=='Forums' }" area-link-handler="{{ ::navLink.href }}">
				{{ navLink.display }}
			</a>

			<div ng-if="navLink.subLinks" class="cmuDiscussionsNavbar__group__container" >
				<div class="subLink" ng-repeat="subLink in navLink.subLinks">
					<span class="subLink__container">
						<a href="#" ng-class="{ active : subLink.active }" 
						area-link-handler="{{ ::subLink.href }}" 
						>{{ subLink.display }}</a>
					</span>
				</div>
			</div>
		</li>
	</ul>
</div>