
.cmuSearchbar__container {
    position: fixed;
    width: 100%;
    z-index: $z-top;
    // position: relative;
    top: $cmu-nav-height;

    // bleed for bottom box-shadow
    overflow: hidden;
    padding-bottom: $cmu-base/2;
}

.cmuSearchbar {
    @extend %cmu-width;
    
	// position: fixed;
    @extend %ease-fast;
    display: none; // default is hidden
    overflow: hidden;
    // margin-bottom: $cmu-base*5;
	background-color: $cmu-color-blue;

    @include box-shadow(0, 0, 5px, $cmu-color-black);

    .row {
	    padding-top: $cmu-base;
	    padding-bottom: $cmu-base;
	    z-index: $z-gloNav--footer;
	    position: relative;
    }


    @extend %cmuSearchbox--large;

}