
// NOTE
// to prevent scrolling past the menu content, attach
// a window height to the wrapper class with JS (can't do that here)
// this needs to be removed when the overlay is hidden
.cmuWrapper--overlay {
	overflow-y: hidden;
}


// adding div gives slightly higher importance
div.cmuOverlay--show {
	display: block;
	opacity: 1;
    height: 100%; // keeps everything in screen
	@extend %ease-fast;
	z-index: $z-overlay;
} 