

.cmuSearchbar {
    @extend %ease-fast;
    display: none; // default is hidden
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: $cmu-base;

    .appIconInput__icon {
    	@extend %size-larger;
	    padding-right: $cmu-base;
	    padding-top: $cmu-base;
    	pointer-events: auto;
	    cursor: pointer;
	    @extend %ease-fast;

	    &:hover {
	    	color: $cmu-color-active;
	    	@extend %ease-fast;
	    }
    }

	.cmuSearchbox input {

		@extend %h3;
		color: $cmu-color-black;
		padding: $cmu-base*2 $cmu-base;

		// @include box-shadow(0, 0, $cmu-base, $cmu-color-mdgray, $inset: true);
		background-color: $cmu-color-mltgray;
	}

}