
<div>
	<div class="row row--comfy">
			<community-text-editor ng-model="commentform.comment.replyText" minimal-editor="{{ !commentform.fulltEditor }}"></community-text-editor>
	</div>
	<div ng-show="!vm.comment.submittingComment">
		<button 
			class="button-ghost button-white-blue" 
			ng-click="vm.cancelReply()">
				Cancel
		</button>
		<button class="button-full button-blue-white" ng-click="vm.submitReply()">{{ commentform.replyText }}</button>
	</div>
	<div ng-show="vm.comment.submittingComment">
		<button disabled>Submitting Comment...</button>
	</div>
</div>

