
<div>
	<div class="row row--comfy">
			<community-text-editor ng-model="vm.comment.replyText" minimal-editor="true"></community-text-editor>
	</div>
	<div ng-show="!vm.comment.submittingComment">
		<button 
			class="button-ghost button-white-blue" 
			ng-click="vm.cancelReply()">
				Cancel
		</button>
		<button 
			class="button-full button-blue-white"
			ng-click="vm.submitReply()">
				Submit Comment
		</button>
	</div>
	<div ng-show="vm.comment.submittingComment">
		<button disabled>Submitting Comment...</button>
	</div>
</div>

