
<!-- heavily edited for prototype -->



<!-- logged out state -->
<!-- 
<div class="comGlobalHeader">
  <div class="comGlobalHeader__content"><a href="#" class="comGlobalHeader__logo"><span class="icon ubnt-icon--logo-lockup"><span class="offstage">Ubiquiti Networks</span></span></a>
    <ul class="comGlobalHeader__nav"><li class="comGlobalHeader__navItem"><a href="#" title="Broadband" class="comGlobalHeader__navItemLink">Broadband</a></li><li class="comGlobalHeader__navItem"><a href="#" title="Enterprise" class="comGlobalHeader__navItemLink">Enterprise</a></li><li class="comGlobalHeader__navItem"><a href="#" title="Products" class="comGlobalHeader__navItemLink">Products</a></li><li class="comGlobalHeader__navItem"><a href="#" title="Support" class="comGlobalHeader__navItemLink">Support</a><li class="comGlobalHeader__navItem comGlobalHeader__navItem--Community"><a href="#" title="Support" class="comGlobalHeader__navItemLink">Community</a><li class="comGlobalHeader__navItem"><a href="#" title="Support" class="comGlobalHeader__navItemLink">Buy</a>
      </li>
    </ul>
    <ul class="comGlobalHeader__nav comGlobalHeader__navRight">
      <span class="">
        <li class="comGlobalHeader__navItem comGlobalHeader__navItem--apps"><a href="#" title="APPS" class="comGlobalHeader__navItemLink"><span class="icon ubnt-icon--grid"></span> APPS</a></li>
        <li class="comGlobalHeader__navItem comGlobalHeader__navItem--search comGlobalHeader__navItemSearch js-search-toggle"><a class="comGlobalHeader__navItemLink"><span class="icon ubnt-icon--search-2"><span class="offstage">Search</span></span></a></li>
      </span>
      <span class="">
        <li class="comGlobalHeader__navItem comGlobalHeader__login"><a class="comGlobalHeader__navItemLink">LOGIN</a></li>
        <li class="comGlobalHeader__navItem comGlobalHeader__register"><a class="comGlobalHeader__navItemLink">REGISTER</a></li>
      </span>
    </ul>
    <div class="comGlobalHeader__navItem comGlobalHeader__navItemMobile"><a href="#" class="comGlobalHeader__cmuItemLink js-toggle-mobile-nav"><span class="icon ubnt-icon--menu"><span class="offstage">Menu</span></span></a></div>
  </div>
</div>
 -->



<div class="cmuGlobalHeader">
  <div class="cmuGlobalHeader__left">
    <div class="cmuGlobalHeader__logo">
      <span class="icon ubnt-icon--u"></span>
    </div>
    <div class="cmuGlobalHeader__cmuHome">
    </div>
  </div>

  <div class="cmuGlobalHeader__right">
    <div class="cmuGlobalHeader__cmuLinks">
    </div>
    <div class="cmuGlobalHeader__cmuSearch">
    </div>
    <div class="cmuGlobalHeader__cmuAccount">
    </div>

  </div>

</div>


<!-- logged in state -->
<div class="comGlobalHeader">
  <div class="comGlobalHeader__content"><a href="#" class="comGlobalHeader__logo"><span class="icon ubnt-icon--logo-lockup"><span class="offstage">Ubiquiti Networks</span></span></a>
    <ul class="comGlobalHeader__nav"><li class="comGlobalHeader__navItem"><a href="#" title="Broadband" class="comGlobalHeader__navItemLink">Broadband</a></li><li class="comGlobalHeader__navItem"><a href="#" title="Enterprise" class="comGlobalHeader__navItemLink">Enterprise</a></li><li class="comGlobalHeader__navItem"><a href="#" title="Products" class="comGlobalHeader__navItemLink">Products</a></li><li class="comGlobalHeader__navItem"><a href="#" title="Support" class="comGlobalHeader__navItemLink">Support</a><li class="comGlobalHeader__navItem comGlobalHeader__navItem--Community"><a href="#" title="Support" class="comGlobalHeader__navItemLink">Community</a><li class="comGlobalHeader__navItem"><a href="#" title="Support" class="comGlobalHeader__navItemLink">Buy</a>
      </li>
    </ul>
    <ul class="comGlobalHeader__nav comGlobalHeader__navRight">
      <span class="">
        <li class="comGlobalHeader__navItem comGlobalHeader__navItem--apps"><a href="#" title="APPS" class="comGlobalHeader__navItemLink"><span class="icon ubnt-icon--grid"></span> APPS</a></li>
        <li class="comGlobalHeader__navItem comGlobalHeader__navItem--search comGlobalHeader__navItemSearch js-search-toggle"><a class="comGlobalHeader__navItemLink"><span class="icon ubnt-icon--search-2"><span class="offstage">Search</span></span></a></li>
      </span>
      <span class="">
        <li class="comGlobalHeader__cmuItem comGlobalHeader__cmuItem--notifications"><a href="#" title="UWN" class="comGlobalHeader__cmuItemLink">
          <span class="icon ubnt-icon--bell"></span></a>
        </li>
        <li class="comGlobalHeader__cmuItem comGlobalHeader__cmuItem--inbox"><a href="#" title="UWN" class="comGlobalHeader__cmuItemLink">
          <span class="icon ubnt-icon--inbox"></span></a>
        </li>
        <li class="comGlobalHeader__cmuItem comGlobalHeader__cmuItem--avatar">
        </li>
      </span>
    </ul>
    <div class="comGlobalHeader__navItem comGlobalHeader__navItemMobile"><a href="#" class="comGlobalHeader__cmuItemLink js-toggle-mobile-nav"><span class="icon ubnt-icon--menu"><span class="offstage">Menu</span></span></a></div>
  </div>
</div>

