<div class="cmuGloNav cmuGloNav--footer" >
  <div class="cmuGloNav__container container">

    <span class="cmuGloNav__top alignRight"><span class="ubnt--icon ubnt-icon--pointer-up"></span></span>
    
    <div class="row">
      <div class="col--md11 noPadding">
        <div class="cmuGloNav__community col--sm3 noPaddingLeft">
          <li><a href="#">Community</a></li>
          <li class="cmuGloNav__discussions"><a href="#">Explore Forums<span class="ubnt-icon ubnt-icon--ellipsis"></span></a></li>
          <!-- <li><a href="#">Q&amp;A</a></li> -->
          <li><a href="#">Stories</a></li>
          <li><a href="#">Announcements</a></li>
        </div>
        <div class="col--sm3 noPaddingLeft">
          <ul>
          <li><a href="http://www.ubnt.com">ubnt.com</a></li>
          <li><a href="https://help.ubnt.com">Knowledge Base</a></li>
          <li><a href="https://help.ubnt.com">Support</a></li>
          <li><a href="https://www.ubnt.com/training">Training</a></li>
          <li><a href="https://store.ubnt.com/">Store</a></li>
          </ul>
        </div>
        <div class="col--sm3 noPaddingLeft">
          <!-- <li><a href="http://www.ubnt.com/marketing">Marketing</a></li> -->
          <!-- <li><a href="http://ir.ubnt.com">Investors</a></li> -->
          <li><a href="http://www.ubnt.com/company/contact">Contact Us</a></li>
          <li><a href="https://www.ubnt.com/legal/termsofservice/">Terms of Service</a></li>
          <li><a href="https://www.ubnt.com/legal/privacypolicy/">Privacy Policy</a></li>
        </div>
        <div class="col--sm3 noPaddingLeft">
          <li class="cmuGloNav__social--label">Social</li>
          <li class="cmuGloNav__social"><span class="ubnt-icon ubnt-icon--twitter"></span><span class="ubnt-icon ubnt-icon--facebook"></span></span><span class="ubnt-icon ubnt-icon--youtube"></span></li>
        </div>
      </div>
    </div>
    <div class="cmuGloNav__legal row col--md12">
      <span>2015 Ubiquiti Networks. All Rights Reserved.</span>
    </div>

    <!-- <page-scroll scroll-to="target-id" scroller-text="SCROLL!" ></page-scroll> -->
  </div>
</div>
