<div class="cmuNav cmuNav--footer" >
  <div class="cmuNav__container">


    <div class="cmuNav__backtotop cmuTooltip__trigger">
      <span class="ubnt--icon ubnt-icon--pointer-up" page-scroll></span>

      <div class="cmuTooltip"><span>${{ directives.globalfooter.backToTop }}$</span></div>

    </div>

    <div class="container">
      <div class="row"> 
        <div class="cmuNav__community col--sm3 noPaddingLeft">
          <li><a area-link-handler link-handler-route="feed">${{ core.cmuName }}$</a></li>
          <li class="cmuNav__discussions"><a ng-click="vm.toggleDiscussionsMenu()">${{ directives.mainnavbar.topics }}$<span class="ubnt-icon ubnt-icon--menu"></span></a></li>
          <li><a area-link-handler link-handler-route="stories.landing">${{ core.areas.stories }}$</a></li>
          <li><a area-link-handler link-handler-route="announcements.landing">${{ core.areas.announcements }}$</a></li>
        </div>
        <div class="col--sm3 noPaddingLeft">
          <ul>
          <li><a href="http://www.ubnt.com">${{ directives.globalfooter.dotCom }}$</a></li>
          <li><a href="https://help.ubnt.com">${{ directives.globalfooter.knowledgeBase }}$</a></li>
          <li><a href="https://help.ubnt.com">${{ directives.globalfooter.support }}$</a></li>
          <li><a href="https://www.ubnt.com/training">${{ directives.globalfooter.training }}$</a></li>
          <li><a href="https://store.ubnt.com/">${{ directives.globalfooter.store }}$</a></li>
          </ul>
        </div>
        <div class="col--sm3 noPaddingLeft">
          <li><a href="http://www.ubnt.com/company/contact">${{ directives.globalfooter.contact }}$</a></li>
          <li><a href="https://www.ubnt.com/legal/termsofservice/">${{ directives.globalfooter.termsOfService }}$</a></li>
          <li><a href="https://www.ubnt.com/legal/privacypolicy/">${{ directives.globalfooter.privacy }}$</a></li>
        </div>
        <div class="col--sm3 noPaddingLeft">
          <li class="cmuNav__social">
            <a target="_blank" href="${{ directives.globalfooter.twitterUrl }}$"><span class="ubnt-icon ubnt-icon--twitter"></span></a>
            <a target="_blank" href="${{ directives.globalfooter.facebookUrl }}$"><span class="ubnt-icon ubnt-icon--facebook"></span></a></span>
            <a target="_blank" href="${{ directives.globalfooter.youtubeUrl }}$"><span class="ubnt-icon ubnt-icon--youtube"></span></a>
            <a target="_blank" href="${{ directives.globalfooter.instagramUrl }}$"><span class="ubnt-icon ubnt-icon--instagram"></span></a>
          </li>
        </div>
      </div>
    </div>
    <div class="cmuNav__legal row col--md6">
      <span>${{ directives.globalfooter.copyright }}$</span>
    </div>
  </div>
</div>
