<div class="cmuGloNav cmuGloNav--footer" >
  <div class="cmuGloNav__container container">

    <span class="cmuGloNav__backtotop">
      <span class="ubnt--icon ubnt-icon--pointer-up" page-scroll>

        <span 
          community-tooltip
          class="cmuTooltip cmuThreadList__tooltip"
          tooltip-template="forums/list/forums.list.messagetooltip.html"
          text-data="this is a test"
        >
          bananas
        </span>

      </span>
      <!-- <span class="cmuHoverflag cmuHoverflag--top" data-tooltip="Back to Top" data-textalign="left"></span> -->

            <!-- <span 
              class="cmuTooltip cmuThreadList__tooltip"
              community-tooltip
              tooltip-template="forums/list/forums.list.messagetooltip.html"
              text-data="this is a test"
            >
              <span class="icon ubnt-icon--eye2"></span>
            </span> -->
    </span>

    <div class="row">
      <div class="col--md11 noPadding">
        <div class="cmuGloNav__community col--sm3 noPaddingLeft">
          <li><a area-link-handler link-handler-route="feed">Community</a></li>
          <li class="cmuGloNav__discussions"><a ng-click="vm.toggleDiscussionsMenu()">All Topics<span class="ubnt-icon ubnt-icon--menu"></span></a></li>
          <!-- <li><a href="#">Q&amp;A</a></li> -->
          <li><a area-link-handler link-handler-route="stories.landing">Stories</a></li>
          <li><a area-link-handler link-handler-route="announcements.landing">Announcements</a></li>
        </div>
        <div class="col--sm3 noPaddingLeft">
          <ul>
          <li><a href="http://www.ubnt.com">ubnt.com</a></li>
          <li><a href="https://help.ubnt.com">Knowledge Base</a></li>
          <li><a href="https://help.ubnt.com">Support</a></li>
          <li><a href="https://www.ubnt.com/training">Training</a></li>
          <li><a href="https://store.ubnt.com/">Store</a></li>
          </ul>
        </div>
        <div class="col--sm3 noPaddingLeft">
          <!-- <li><a href="http://www.ubnt.com/marketing">Marketing</a></li> -->
          <!-- <li><a href="http://ir.ubnt.com">Investors</a></li> -->
          <li><a href="http://www.ubnt.com/company/contact">Contact Us</a></li>
          <li><a href="https://www.ubnt.com/legal/termsofservice/">Terms of Service</a></li>
          <li><a href="https://www.ubnt.com/legal/privacypolicy/">Privacy Policy</a></li>
        </div>
        <div class="col--sm3 noPaddingLeft">
          <!-- <li class="cmuGloNav__social--label">Social</li> -->
          <li class="cmuGloNav__social">
            <a target="_blank" href="https://twitter.com/ubnt"><span class="ubnt-icon ubnt-icon--twitter"></span></a>
            <a target="_blank" href="https://www.facebook.com/Ubiquiti"><span class="ubnt-icon ubnt-icon--facebook"></span></a></span>
            <a target="_blank" href="https://www.youtube.com/user/ubnt"><span class="ubnt-icon ubnt-icon--youtube"></span></a>
          </li>
        </div>
      </div>
    </div>
    <div class="cmuGloNav__legal row col--md6">
      <span>&copy; 2015 Ubiquiti Networks. All Rights Reserved.</span>
    </div>

  </div>
</div>
