
// 
// Normalized Sizes
// 

html {
  min-height: 100%;
  line-height: $cmu-base-line-height;
  font-size: $cmu-base;
}

body {
  min-height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  font-size: $cmu-base;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}