<div class="row">
	<div class="row">
		<div class="col--md4">
			<div class="row row--comfy">
				<div>
					<h4>Tell Your Story, {{ vm.story.author.login }}</h4>
				</div>
				<div>
					<input class="appIconInput__input" ng-model="vm.story.subject" placeholder="{{ ::vm.placeholders.subject }}" maxlength="{{ ::vm.titleCharacterLimit }}" />
				</div>
				<div>
					<input class="appIconInput__input" ng-model="vm.story.summary" placeholder="{{ ::vm.placeholders.summary }}" />
				</div>
				<div>
				  <community-text-editor 
			          ng-model="vm.story.body"
			          editor-height="300"
			          minimal-editor="true">
			        </community-text-editor>
				</div>
				<div>
					<input class="appIconInput__input"
						community-location-search 
						location-model="vm.story.location" 
						placeholder="{{ ::vm.placeholders.location }}" />
				</div>
				<div>
					<!-- <input class="appIconInput__input" ng-model="vm.story.productsUsed" placeholder="{{ ::vm.placeholders.productsUsed }}" /> -->
					<ui-select multiple theme="select2"  style="min-width: 100%;" ng-model="vm.story.productsUsed">
					    <ui-select-match placeholder="{{ ::vm.placeholders.productsUsed }}">{{ $item.name }}</ui-select-match>
					    <ui-select-choices repeat="product.name as product in vm.productList | filter: { name: $select.search }">
					      	<span ng-bind-html="product.name | highlight: $select.search"></span>
					    </ui-select-choices>
					</ui-select>
				</div> 
				<div>
					<h4>Add Media</h4>
					<h6>Upload your images from your device or add links to your images or videos. You may add content from YouTube and Vimeo.</h6>
					<div>
						<button>Upload Image</button>
					</div>
					<div>
						<input placeholder="Attach Image, YouTube, or Vimeo Url" />
						<button>Add Url</button>
					</div>
				</div>
			</div>

			<div class="row row--comfy">
				<h4>Additional Info</h4>
			</div>

			<div class="row row--comfy">
				<button>Publish</button>
				<button>Cancel</button>
			</div>
		</div>
		<div class="col--md8">
			<div class="row">
				<div ng-include="'stories/detail/stories.body.html'"></div>
				<!-- <community-map></community-map> -->
				<div id="map"></div>
			</div>
		</div>
	</div>
</div>