<div class="row row--comfy">
	<button>Cancel</button>
</div>

<div class="row">
	<div class="row row--comfy">
		<div class="col--md4">
			<h2>Tell Your Story</h2>
		</div>
		<div class="col--md8">
			<h2>Story Preview</h2>
		</div>
	</div>

	<div class="row">
		<div class="col--md4">
			<div>
				<input class="appIconInput__input" ng-model="vm.story.subject" placeholder="{{ ::vm.placeholders.subject }}" maxlength="{{ ::vm.titleCharacterLimit }}" />
				<h5>{{ vm.titleCharactersLeft() }} Characters left</h5>
			</div>
			<div>
				<input class="appIconInput__input" ng-model="vm.story.summary" placeholder="{{ ::vm.placeholders.summary }}" />
				<h5>{{ vm.subtitleWordsLeft() }} Words left</h5>
			</div>
			<div>
			  <community-text-editor 
		          ng-model="vm.story.body"
		          editor-height="300"
		          minimal-editor="true">
		        </community-text-editor>
			</div>
			<div>
				<input class="appIconInput__input"
					community-location-search 
					location-model="vm.story.location" 
					placeholder="{{ ::vm.placeholders.location }}" />
			</div>
			<div>
				<!-- <input class="appIconInput__input" ng-model="vm.story.productsUsed" placeholder="{{ ::vm.placeholders.productsUsed }}" /> -->
				<ui-select multiple theme="select2"  style="min-width: 100%;" ng-model="vm.story.productsUsed">
				    <ui-select-match placeholder="List products used in your project">{{ $item.name }}</ui-select-match>
				    <ui-select-choices repeat="product.name as product in vm.productList | filter: { name: $select.search }">
				      	<span ng-bind-html="product.name | highlight: $select.search"></span>
				    </ui-select-choices>
				</ui-select>
			</div> 
			<div>
				<h5>Images & Video</h5>
				<h6>Make your story 1000% more interesting</h6>
				<div>
					<button>Upload Image</button>
				</div>
				<div>
					<input placeholder="Attach Image, YouTube, or Vimeo Url" />
					<button>Add Url</button>
				</div>
			</div>
			<button>Publish</button>
		</div>
		<div class="col--md8">
			<div class="row">
				<div ng-include="'stories/detail/stories.body.html'"></div>
				<!-- <community-map></community-map> -->
				<div id="map"></div>
			</div>
		</div>
	</div>
</div>