

// 
// Username
// 

// This module is used with the shared username module
// Usernames appear in thread lists, in threads, and in many different areas around community

.cmuUsername {
	display: inline-block;

	.cmuUsername__icon {
		margin-right: $cmu-base/4;
		font-size: $cmu-base/2;
		background: $cmu-color-blue;
		color: white !important; // prevent overrides at all times
		// padding: $cmu-base/3;
		position: relative;
		top: -1px;

    	line-height: 1rem;
		
		&.ubnt-icon--u {
			padding: $cmu-base/4;
		}
	}

	a {
		@extend %style-link--dark;
	}

}

// used for userprofile
.cmuUsername--header {
	.cmuUsername__icon {
		font-size: $cmu-base;
		padding: $cmu-base/3 !important;
		margin-right: $cmu-base/2;
	}
	.cmuUsername__login {
		@extend %h2;
	}
}