 


@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin ease($speed){
    -webkit-transition: all $speed ease;
    -moz-transition: all $speed ease;
    -ms-transition: all $speed ease;
    -o-transition: all $speed ease;
    transition: all $speed ease;
}

@mixin ease-out($speed){
    -webkit-transition: all $speed ease-out 0;
    -moz-transition: all $speed ease-out 0;
    -ms-transition: all $speed ease-out 0;
    -o-transition: all $speed ease-out 0;
    transition: all $speed ease-out 0;
}



%ease{@include ease(230ms);}
%ease-fast{@include ease(180ms);}
%ease-slow{@include ease(320ms);}


