<div class="row">
  <div class="row row--comfy" ng-cloak>
    <div class="col--md2">
      <community-user-badge current-user="true"></community-user-badge>
    </div>
    <div class="col--md10">
      <div class="row">
        <div class="col--md12 cmuSearchbox">
         <div ng-if="newtopic.config.userSearch">
           <ui-select class="cmuInputSelector cmuInput--wide cmuInput--stacked" multiple theme="select2" ng-model="newtopic.newTopic.recipientIds">
              <ui-select-match placeholder="Click to search users" >{{ $item.login }}</ui-select-match>
              <ui-select-choices 
                refresh="newtopic.searchUsers($select.search)"
                refresh-delay="2" 
                class="cmuInputSelector--choices" 
                repeat="user.id as user in newtopic.searchedUsers | filter: { login: $select.search }">
                  <li ng-bind-html="user.login | highlight: $select.search"></li>
              </ui-select-choices>
          </ui-select>
          </div>

          <div class="appIconInput appIconInput--left">
            <div class="appIconInput__icon icon ubnt-icon--pencil-2"></div>
            <input class="appIconInput__input" placeholder="{{ newtopic.titleText }}..." type="text" ng-model="newtopic.newTopic.subject">
          </div>
        </div>
      </div>
      <div class="row row--comfy">
        <community-text-editor 
          ng-model="newtopic.newTopic.body"
          editor-height="300">
        </community-text-editor>
      </div>
      <div class="row row--comfy">  
        <div ng-show="!newtopic.submittingTopic">
          <button 
            ng-if="!newtopic.config.noCancel"
            class="button-square button-white-blue" 
            ng-click="newtopic.cancelTopic()">
              Cancel
          </button>
          <button 
            class="button-full button-blue-white"
            ng-click="newtopic.submitTopic()">
              {{ newtopic.actionButtonText }}
          </button>
        </div>
        <div ng-show="newtopic.submittingTopic">
          <button class="cmuInput--waiting button--padded" disabled>{{ newtopic.feedbackButtonText }}...</button>
        </div>
      </div>
    </div>
  </div>
</div>