

// eventually this page will be used to mainly import other components.

// when it makes sense, break each section into its own individual component.
// do NOT nest too much, as breaking them up will be difficult.

// some of these style will OVERRIDE the Com Base theme.








// 
// BASE GRID 
// 


// Base grid settings
// These settings are used by COM theme

// XS
$base-lower-xsmall: 0px !default;
$base-upper-xsmall: 480px !default;

// Small
$base-lower-small: 481px !default;
$base-upper-small: 640px !default;

// Medium
$base-lower-medium: 641px !default;
$base-upper-medium: 1023px !default;

// Large
$base-lower-large: 1024px !default;
$base-upper-large: 1440px !default;

// X large
$base-lower-xlarge: 1441px !default;
$base-upper-xlarge: 1920px !default;

// XX large
$base-lower-xxlarge: 1921px !default;
$base-upper-xxlarge: 2400px !default;







// 
// MIXINS and SETTINGS
// (to be moved into its own)
// 
%noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

%ease {
	// base ease speed (used by global nav), but seems a bit slow
	-webkit-transition: 0.35s;
	-moz-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
}
%ease-fast {
	// faster ease speed
	-webkit-transition: 0.31s;
	-moz-transition: 0.31s;
	-o-transition: 0.31s;
	transition: 0.31s;
}

// placeholder text
@mixin placeholder {
  ::-webkit-input-placeholder {@content;};
  :-moz-placeholder           {@content;};
  ::-moz-placeholder          {@content;};
  :-ms-input-placeholder      {@content;};
}


// 
// ICONS
// 

// Icons are taken care of in the base styles
// but each icon (e.g. close) doesn't have a specified name. We simplify by allowng ex: .icon-close classes
// .icon is from base theme

%icon {
	font-family: 'ubnt';
}

$icon-close: "\e6cc";
.icon-close {
	@extend %icon;
	&:before {
		content: $icon-close;
	}
}

$icon-search: "\e6d4";
.icon-search {
	@extend %icon;
	&:before {
		content: $icon-search;
	}
}

$icon-plus: "\e748";
.icon-plus {
	@extend %icon;
	&:before {
		content: $icon-plus;
	}
}









 
// 
// SETTINGS
//  

	// 
	// DIMENSIONS & SIZES
	// 

	$base: 1rem;








	// 
	// COLORS
	// 

	$color-ltblue: 	#1374AB; // this is what was in the comp //#13BCFF; < this is the Sketch spec color;
	$color-blue: 	#00A0DF;
	$color-dkblue: 	#0074AD;

	$color-green: 	#48AF65;
	$color-orange: 	#FFAA00;
	$color-red: 	#FF3516;


	$color-black: 	#000;
	$color-ltblack: #17191D;
	$color-xdkgray: #242931;
	$color-dkgray: 	#474B52;
	$color-gray: 	#969BA3;
	$color-mdgray: 	#BBBBBD;
	$color-xmdgray: #DADADA; // need slightly lighter version of mdgray; this one isn't in spec
	$color-ltgray: 	#EBEBEB; 
	$color-xltgray: #FAFAFA;
	$color-white: 	#FAFAFA;

	$color-textgray: #aeb4b7; // this color is on dotcom nav, but is NOT specced

	// special colors
	$color-hint: $color-ltblack; // used as hint color for inputs
	$color-darken: rgba(0,0,0,0.3); // used for button onhover states

	// 
	// COLOR SETTINGS 
	// 

	.color-background-dark {
		background-color: $color-ltblack;
	}












 
// 
// TYPOGRAPHY
// 

%oswald {
	font-family: "Oswald", "lato", "helvetica neue", sans-serif;
}


$size-smaller: $base*0.88;
	$size-smaller-line-height: $base*1.3;
	%size-smaller {
		font-size: $size-smaller;
		line-height: $size-smaller-line-height;
	}

$size-xsmaller: $base*0.78;
	$size-xsmaller-line-height: $base*1.22;
	%size-xsmaller {
		font-size: $size-xsmaller;
		line-height: $size-xsmaller-line-height;
	}

$size-h1: $base*3; 
	$size-h1-line-height: $base*3.75;
	h1 {
		font-size: $size-h1;
		line-height: $size-h1-line-height;
		font-weight: 300;
	}

$size-h2: $base*1.6;
	$size-h2-line-height: $base*2.75;
	h2 {
		font-size: $size-h2;
		line-height: $size-h2-line-height;
		font-weight: 300;
	}

$size-h4: $base*1.2;
	$size-h4-line-height: $base*1.95;
	h4 {
		font-size: $size-h4;
		line-height: $size-h4-line-height;
  		font-weight: 600;
  		color: $color-dkgray;
	}

$size-h6: $size-xsmaller;
	$size-h6-line-height: $size-xsmaller*1.95;
	h6 {
		font-size: $size-h6;
		line-height: $size-h6-line-height;
  		font-weight: 400;
  		color: $color-dkgray;
		font-style: italic;
	}

$size-copy: $base*0.88;
	$size-copy-line-height: $base*1.45;
	.style-copy, %style-copy {
		font-size: $size-copy;
		line-height: $size-copy-line-height;
  		color: $color-ltblack;
	}











// 
// DEFINE STYLES
// @styles
// 


%radius { border-radius: 8px; }

$style-button-border: remCalc(2px);

// outline / thick border look
%style-button-square {
	border: $style-button-border solid $color-white;
	padding: $base/2 - ($style-button-border) $base - ($style-button-border); // padding will increase box size
	text-transform: uppercase;
	font-size: $base*0.8;
	@extend %ease-fast;

	&:hover {
		border-color: $color-ltgray;
		background-color: $color-darken;
	}
}

%style-button-full {
	padding: $base/2 $base;
	text-transform: uppercase;
	font-size: $base*0.8;
	@extend %ease-fast;

	&:hover {
		background-color: $color-dkblue;
	}
}

%style-button-compound {
	border: $style-button-border solid $color-blue;
	text-transform: uppercase;
	font-size: $base*0.8;
	@extend %ease-fast;
	padding: 0;

	span {
		display: inline-block;
	}

	span:nth-child(1) {
		padding: $base/2 - ($style-button-border) $base;
		background-color: $color-white;
		color: $color-green;
	}

	span:nth-child(2) {
		padding: $base/2 - ($style-button-border) $base;
		line-height: 16px;
	}

	&:hover {
		border-color: $color-green;
		background-color: $color-green;
		span:nth-child(1) {
			@extend %ease-fast;
			background-color: $color-green;
			color: $color-white;
		}
		span:nth-child(2) {
			border-color-left: $color-white;
			color: $color-white;
		}
	}
}

// note that all buttons need borders, even the full background ones
// since border adds "padding"
button, .button {
	&.button-square {
		@extend %style-button-square;
	}

	&.button-full {
		@extend %style-button-full;
		border: 0;
	}

	&.button-compound {
		@extend %style-button-compound;
	}

	&.button-white-green {
		background-color: $color-white;
		color: $color-green;
		border-color: $color-green;

		span {
			padding: 0 $base/2;
			background-color: $color-green;
			color: $color-white;
		}

		&:hover {
			color: $color-white;
			background-color: $color-green;
			border-color: $color-green;
		}

	}

	&.button-white-blue {
		background-color: $color-white;
		color: $color-blue;
		border-color: $color-blue;

		&:hover {
			color: $color-white;
			background-color: $color-blue;
			border-color: $color-blue;
		}

	}


	&.button-blue-white {
		background-color: $color-blue;
		color: $color-white;
		@extend %style-button-square;
		border: $color-blue;
	}

}


$style-border-thin: 1px solid $color-black;
%style-border-bottom-thin {
	border-bottom: $style-border-thin;
}

	$style-border-thin-light: 1px solid $color-mdgray;
	%style-border-bottom-thin-light {
		border-bottom: $style-border-thin;
	}



$style-border-medium: 2px solid $color-black;
%style-border-medium-blue {
	border: $style-border-medium;
	border-color: $color-blue;
}
%style-border-bottom-medium {
	border-bottom: $style-border-medium;
}

%style-input-hint {
    color: $color-hint;
    font-weight: 400;
    text-transform: uppercase;
    font-size: $size-xsmaller;
}







// 
// COMMUNITY
// 


// Community Basics

body {
	background-color: $color-white;
	height: 100%;
	color: black;
	line-height: inherit;
	font-size: $base;

}

// Temporary margin for the global menu placeholder
.community {
	// margin-top: 57px; //make ComGlobalHeader not fixed / sticky
}
.comGlobalHeader {
	position: relative !important;
}











// 
// SECONDARY NAV MODULE (TEMP)
// 


$size-navbar-fontsize: $base * 0.71875;
$size-navbar-letterspacing: $base / 9;  // approx. 1.77
.style-main-nav-font {
	// note that the nav items are usually links
	* , a {
		font-size: $size-navbar-fontsize;
		color: $color-ltgray;
		text-transform: uppercase;
	  	letter-spacing: $size-navbar-letterspacing;
		&:hover { color: $color-blue;}
	}
}



// Temporary for the secondary nav
.community__main-nav {
	@extend .color-background-dark;
	@extend .style-main-nav-font;
	cursor: default; // used to prevent cursor from switching to text mode

	// temporary alignment with global nav
	.community__main-nav__left { padding-left: 74px; }
	.community__main-nav__right { text-align: right; }
	ul {
		padding: $base 0;
		li {
			list-style-type: none;
			display: inline;
			margin-right: $base/2;
			cursor: pointer;
		}
	}
}







// 
// ANNOUNCEMENT MODULE
// 
.style-announcement-font {
	font-weight: 300; 
	color: $color-white;
}

// Use flexbox for the announcement module? we might have a lot of varying heights
.community__announcement {
	cursor: pointer;
	padding: $base 0;
	background-color: $color-ltblue;
	@extend .style-announcement-font;
	@extend %ease-fast; 

	.community__announcement__body {
		text-align: center;
	}
	.community__announcement__message {
		margin-right: $base;
	}
	.community__announcement__close {
		padding-top: 12px; //temporary until I transition to flexbox (for justify-middle)
		text-align: right;
		@extend %ease-fast; 
		cursor: pointer; 
		&:hover { 
			color: $color-dkgray;
		}
	}

	// the problem with this is that the [x] is harder to hit
	&:hover {
		background-color: darken($color-ltblue,5);
	}
}


// 
// BREADCRUMBS MODULE
// 

.community__breadcrumbs {
	margin: $base 0;
	font-weight: 300; 

	* { cursor: default; }

	// previous crumbs
	& > div > span {
		span { cursor: pointer; }
		&:after {content: ' / ';}

		a {
			color: $color-black;
			&:hover { color: $color-blue; }
		}
	}

	// current crumb isn't clickable, so is grayed out
	& > div > span:last-of-type {
		color: $color-mdgray; 
		&:after { content: ''; }
	}

}


// 
// HEADER MODULE
// 

// are styles different for only the discussions?
// header uses h2
.community__header__discussions {
	border-bottom: $style-border-medium;
}



// 
// NAVBAR MODULE
// (product discussion type navigation)
// 

.style-navbar-font {
	* , a {
		font-weight: 300; 
		color: $color-black;
		text-transform: uppercase;
		@extend %ease-fast;
		&.active {
			color: $color-blue;
		}
		&:hover {
			color: $color-blue;
		}
	}
}

// same question as the header
.community__navbar__discussions {
	cursor: default;
	border-bottom: $style-border-thin;
	padding-bottom: $base;

	@extend %size-smaller;

	@extend .style-navbar-font;

	ul {
		// float: right;
		float: left;
		margin: 0; //override global style
	}
	li {
		display: inline; 
		padding-left: 1em;
	}
}





















// 
// SEARCHBOX MODULE
// @searchbox
// 

.community__searchbox {	

	// font-size: $size-xsmaller;
	@include placeholder {
	    // @extend %style-input-hint;
	    // extending doesn't work w/ mixins
	    color: $color-hint;
	    font-weight: 400;
	    text-transform: uppercase;
	    // font-size: $size-xsmaller;
	}
	text-align: right;
}


// 
// SORT MODULE
// @sort
// sorts threads, etc.
// 

.community__sort {
	select {
		width: auto;
		padding-right: $base*2;
		float: right;

		// use original COM module
  // 		height: auto;
		// width: auto;
		// padding-right: 32px;
		// float: right;
		// @extend %style-input-hint;

		// padding-top: $base/2;
		// padding-bottom: $base/2;
		// background-position: right 0.6em top 0.85em;
	}
}



// ******************************
// 
// FORUM MODULES 
// @forum
// 
// ******************************

// Forum Typography
%size-community-base {
	@extend %size-smaller;
} 


// 
// FORUM THREADCOUNT MODULE
// @threadcount
// e.g. "showing 235 results/threads"
// 
.community__forum__threadcount {
	border-bottom: $style-border-thin; 
	margin-bottom: $base;
}

%style-community-link {
	a {
		color: $color-dkgray;
		&:hover {
			color: $color-blue; 
		}
	}
}
// 
// FORUM DESCRIPTOR MODULE
// @descriptor
// intro text
// 
.community__forum__descriptor {
	@extend %size-community-base;
}


// 
// FORUM THREADLIST MODULE
// @threadlist
// @forum
// 

// title descriptor row
.community__forum__threadlist__head {
	border-bottom: $style-border-thin;
	@extend %style-input-hint;

	th {
		text-align: left;
		font-weight: 400;

		// columns of "counters" e.g. views, kudos, etc.
		&.community__forum__threadlist__head__counter {
			text-align: center;
		}
	}
}

// 
// Define column widths
// 
.community__forum__threadlist__col__topic {
	width: 50%;
}
.community__forum__threadlist__col__counter {
	width: 11%;
}
.community__forum__threadlist__col__reply {
	width: auto;
}

// 
// Each message row general settings
// 
.community__forum__threadlist__message {
	@extend %size-community-base;

	border-top: $style-border-thin-light;
	border-bottom: $style-border-thin-light;

	th {
	  font-weight: 300;
	}

	td {
		padding: $base/2 0;
	}
}

.community__forum__threadlist__message__topic {
	@extend %style-community-link;
}

.community__forum__threadlist__message__by {
	font-size: $size-xsmaller;
	font-style: italic;
}


.community__forum__threadlist__message__counter {
	text-align: center;
}

.community__forum__threadlist__message__latestreply {
	span {
		white-space: nowrap; 
		// Prevents wrap: if "10 min ago" will probably remain on a single line, otherwise will go to next line
	}
}


// 
// FORUM MESSAGES
// 
.community__forum__messages {

}

.community__forum__messages__subject {
	border-bottom: $style-border-thin; 
}

.community__forum__messages__row {
	border: $style-border-thin-light; 
	// border-top: 0px;
	&:first-of-type {
		border-top: $style-border-thin-light;
	}

}

// 
// Avatar area
// 

.community__forum__messages__badge {
	text-align: center;
	margin-top: $base;

}

	.community__forum__messages__badge__avatar {
		img {
			height: $base*3;
			width: $base*3;
		}

	}

	.community__forum__messages__badge__login {
		@extend .style-copy;
	}

	.community__forum__messages__badge__info {
		background-color: $color-ltgray;

		font-size: $size-xsmaller;
		line-height: $size-copy-line-height;
		text-transform: uppercase;

		margin: $base 0; margin-bottom: 0;
		padding: $base/2 0;

		.community__forum__messages__badge__points span:nth-child(2)  {
			@extend %oswald;
			letter-spacing: 1.4px;
			padding-left: $base/3;

		}
		.community__forum__messages__badge__location span:nth-child(2) {
			text-transform: capitalize;
			padding-left: $base/3;
			word-wrap: break-word;
		}
	}




// 
// Main Message Body
// 
.community__forum__messages__maincolumn {
	border-left: $style-border-thin-light; 
	min-height: $base*12;

	.row:nth-child(2) {
		min-height: 89px;
	}
}
.community__forum__messages__bottomrow {
	margin: $base 0;
}


.community__forum__messages__postTime {
	padding-top: $base;
}

.community__forum__messages__body {

	p, ul, ol {
		@extend .style-copy;
	}

	// users like to add empty paragraphs that lithium doesn't strip out
	// we need to deal with it in code, so this is temporary
	p {
		margin-bottom: 0;
	}
}

// bottom row of buttons

.community__forum__messages__reply button {
	float: right;
}

.community__forum__messages__others {
	font-size: $size-xsmaller;
	span:nth-child(1) {
		font-weight: 600;
		padding: $base/2 $base*3/4;
		background-color: $color-blue;
		color: $color-white;
	}
	span:nth-child(2) {
		background-color: $color-ltgray;
		padding: $base/2 $base*3/4;

	}
}





// 
// PAGINATION MODULE 
// @pagination
//
@import "pagination";





// 
// OVERRIDE SETTINGS
// these settings override Base and Com variables, styles, and mixins

// rows should have no margin or padding
.community .row {
	@extend .noPaddingLeft;
	@extend .noPaddingRight;

	@extend .noMarginLeft;
	@extend .noMarginRight;

	// columns need to be completely flush to their containers
	// no padding on first columns
	// DON'T do this: widths of cols will be different bc some have more padding than others 
	// & > div:first-child {
	// 	padding-left: 0 !important;
	// }

	// // no padding on last columns
	// & > div:last-child {
	// 	padding-right: 0 !important;
	// }
}

// responsive containers are always 100% wide, and have no side margins
// the community container will constrain the responsive container's max width
.container--responsive {
	margin-left: 0 !important;
	margin-right: 0 !important;
	max-width: 100%;
}


// APP THEME OVERRIDES

.appIconInput {
	display: block; // we drop inputs into a full column. Default: inline-block;

	.appIconInput__icon {
		top: 0;
		padding-top: $base*1.1;
	}

	.appIconInput__input {
		margin-bottom: inherit;
		height: inherit;
		padding-top: $base;
		padding-bottom: $base; // weigh text slightly towards bottom; TODO: find a better way /flexbox?
		font-size: $size-smaller;
	}

	&.appIconInput--left .appIconInput__input {
		padding-left: $base*2;
	}
}








// 
// STYLEGUIDE EXAMPLE CODE
// 
// styles used by styleguide examples have to be declared here,
// since we only export the community.css over to the styleguide
@import 'styleguide';
