
// example pagination - NOT FOR PRODUCTION

// unselectable UI (it's annoying)
%noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// these drive the example input values for the demo only
.pagination_ex {
	div {
		display: inline-block;
		vertical-align: middle;
		margin-right: $base;
	}
	input {
		display: inline-block;
		width: $base*6;
		margin-right: $base*2;
	}
}


.pagination {

	// vertical flexbox to account for multiple pagination methods
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    // align-items: center;
		

	* {
		display: inline-block;
  		@extend %noselect;
	}



	@mixin background-opacity($color, $opacity: 0.3) {
	    background: $color; /* The Fallback */
	    background: rgba($color, $opacity);
	}

	@mixin ease($speed){
	    -webkit-transition: all $speed ease;
	    -moz-transition: all $speed ease;
	    -ms-transition: all $speed ease;
	    -o-transition: all $speed ease;
	    transition: all $speed ease;
	}

	@mixin ease-out($speed){
	    -webkit-transition: all $speed ease-out 0;
	    -moz-transition: all $speed ease-out 0;
	    -ms-transition: all $speed ease-out 0;
	    -o-transition: all $speed ease-out 0;
	    transition: all $speed ease-out 0;
	}



	%ease{@include ease(230ms);}
	%ease-fast{@include ease(180ms);}
	%ease-slow{@include ease(320ms);}

	// 
	// SCRUBBER
	// settings for the scrubber controls
	// 

	// this helps vertically align everything
	$paginationHeight: 32px;
	$paginationPadding: $base/4;

	.pagination_scrubber {
	    display:flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    // justify-content: space-between;
	    align-content: flex-start;
	    align-items: flex-start;
	  	min-width: 19rem; //so things don't look too weird scrunched up
	}
	// pagination controls

	.pagination_control {

		// places text in center
	    display:flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    align-items: center;
	    height: $paginationHeight;
	    width: $base*3;
  		@extend %ease-fast;

	    .pagination_control_right {
	    	text-align: right;
	    }

		// font-weight: 300;
		font-size: $size-smaller;

		cursor: pointer;

		&:hover:not(.disabled) {
			text-decoration: underline;
			color: $color-blue;
  			@extend %ease-fast;
		}

		&.disabled {
			color: $color-gray;
			cursor: default;
		}
	}

	.pagination_control_next { margin-left: $base; }

	.pagination_arrow {
		height: $paginationHeight;
		text-transform: uppercase;
		font-weight: 300;
		cursor: pointer;
		// font-size: 1.2rem;
		background-color: $color-xltgray;
		@extend %radius;
		padding: $paginationPadding;
		border: 1px solid $color-gray;

		&.pagination_arrow_left {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0;
		}
		&.pagination_arrow_right {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: 0;
		}

		&:hover:not(.disabled) {
			background-color: $color-xmdgray;
			cursor: pointer;
		}

		&.disabled {
			background-color: white;
			color: $color-ltgray;
			cursor: default;
		}

	}

	.pagination_main {
		// flexy main area from outer container
	    flex-shrink: 0;
	    // flex-basis: $base*5; // moved to full-scroll

	    display:flex; // center and fill scrubber
	    flex-direction: row;
	    flex-wrap: nowrap;
		align-items: center;

		// padding: $base/2 $base;
		// max-width: 100%;

		// change to overflow: scroll to see the numbers scroll sideways
		overflow: hidden;
		height: $paginationHeight;
	  	vertical-align: bottom;

	  	position: relative; // this allows page numbers to move relatively

		border: 1px solid $color-gray;
		// border-right: 0; 
		border-left: 0;

  		@extend %ease-slow;

  		// this class is added for flex-basis, since chrome doesn't recalculate properly
  		&.full-scroll {
  			flex-basis: $base*5; 
  			flex-grow: 1;
  		}

		.pagination_main_scrubber {

  			@extend %ease-slow;
		    // main area is a flexy container for numbers
		    display:flex; // this is enough to make content not wrap
		    flex-direction: row;
		    flex-wrap: nowrap;
		    align-items: center;

	  		position: relative; // this allows page numbers to move relatively
	  		left: 0; // important for scroller to work
		}

		.pagination_num {
			// padding: $base/2 $base/4;
			padding: $base/2 0;
			text-align: center;
			min-width: $base*2.5;
			cursor: pointer;
			// height: $paginationHeight;
			font-size: $size-smaller;

  			@extend %ease-fast;

			// if fewer pages than the full width,
			// uncomment these to make the page numbers stretch across the width
		    flex-grow: 1;
		    flex-shrink: 0;
		    flex-basis: $base*2.5;

			&.active {
				background: $color-blue !important;
				color: white !important; 
				cursor: default !important;
			}

			&:first-of-type {
				// color: red;
				// padding-left: $base;
			}

			&:hover:not(.active) {
				background-color: $color-xmdgray;
			}
		}

	}

	.pagination_first {
		// padding: $base/2 $base/4;
		background-color: $color-ltgray;
		padding: $paginationPadding 0;
		text-align: center;
		min-width: $base*2.5;
		cursor: pointer;
		height: $paginationHeight;
		border: 1px solid $color-gray;
		font-size: $size-smaller;
		// border-right: 0;

		@extend %ease-fast;

		&.active {
			background: $color-blue !important;
			color: white !important; 
			cursor: default !important;
		}

		&:hover:not(.active) {
			background-color: $color-xmdgray;
		}
	}

	.pagination_last {
  		display: flex;
	    flex-direction: row;
	    align-items: center;

		border: 1px solid $color-gray;
		border-left: 0; 
		background-color: $color-ltgray;
		cursor: default;
		height: $paginationHeight;
		font-size: $size-smaller;

		.pagination_last_of {
	  		display: flex;
		    flex-direction: row;
		    align-items: center;
		    height: 100%;

			padding-left: $base/2;
			padding-right: $base/4;
			font-weight: 300;
		}

		.pagination_last_num {
	  		display: flex;
		    flex-direction: row;
		    align-items: center;
		    height: 100%;

			padding: 0 $base/2;
			padding-left: $base/4;
		}

		// disabled pagination
		&:not(.enabled) {
			color: $color-mdgray;
		}

		&.enabled:hover {
			background-color: $color-xmdgray;
			cursor: pointer;
		}
	}

	// for 7 or fewer pages - simplify pagination
	.simple-scroll {

		// remove a lot of pagination
		&.pagination_arrow, &.pagination_last {
			display: none !important;
		}

		// make first page not look 'persistent'
		&.pagination_first {
			color: inherit; 
			background-color: white;
		}

		// align the scrubber to the right, since only a few pages
		&.pagination_scrubber {
	  		display: flex;
		    flex-direction: row;
			justify-content: flex-end;
		}

		&.pagination_main {
			flex-grow: 0;
		}
	}

}










