

// 
// Private Messages
// 

.cmuPrivateMessage {

}




// 
// PM Menu Dropdown
// 

.cmuPrivateMessage__dropdown__header {

}

.cmuPrivateMessage__dropdown__content {
	background-color: $cmu-color-purewhite;
}

    .cmuPrivateMessage__dropdown__date {
        @extend %size-xsmaller;
        margin-left: 3.3rem;
        color: $cmu-color-mdgray;
    }