<community-breadcrumbs></community-breadcrumbs>
<discussions-header></discussions-header>

<div class="row">
	<div class="col--md9">
		<community-product-navigator></community-product-navigator>

	<!-- 	<div>
			<div ng-repeat="yearData in vm.announcementList">
				<h3>{{ yearData.year }} ({{ yearData.count }})</h3>
				<hr />
				<div ng-repeat="monthData in yearData.yearData">
				</div>
				<h4>{{ monthData.month | monthDisplay }}</h4>
			</div>
		</div> -->
	</div>

	<div class="col--md3">
		<h4>Announcement History</h4>
		<community-timeline 
			sorted-model="vm.announcementList">
		</community-timeline>
	</div>
</div>