// We use this to set the base for lots of form spacing and positioning styles
$cmu-searchbox-form-spacing: remCalc($cmu-base) !default;

// We use these to style the labels in different ways
$cmu-searchbox-font-family: inherit !default;
$cmu-searchbox-font-size: remCalc(14) !default;
$cmu-searchbox-border-radius: 0 !default;
$cmu-searchbox-box-shadow: none;

// We use this to style the glowing effect of inputs when focused
$cmu-searchbox-glowing-effect-fade-time: 0.45s !default;