
/*------------------------------------*\
    COMMUNITY STYLES
\*------------------------------------*/
//
// VENDOR CSS
//
// @import '../ui-vendor/select';

//
// BASIC SETUP
// 

// Required by com Theme
@import "compass/css3"; 

// Base is used to create defaults
@import "../../node_modules/css-base/src/baseTools/index";
@import "../../node_modules/css-base/src/baseLayout/index";
@import "../../node_modules/css-base/src/base";

//  
// UBNT MODULES / COMPONENTS / DEPENDENCIES
// 

// Temporary: Import both CSS APP and CSS COM themes.
// Eventually only include necessary modules

// Import UBNT CSS themes.
// @import "../../node_modules/css-app-theme/src/app"; // APP Theme (APP -needs- to appear before COM, or stuff WILL break)
// @import "../../node_modules/css-com-theme/src/com"; // COM Theme


// 
// COMMUNITY SETTINGS AND DEFAULTS
// 



// Import Community Theme
// Includes: settings, base styles, mixins, components / modules, and external dependencies and overrides
// 
@import "cmu/cmu";

// temp fix for input for Nathan's search dev
input[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

input {
  -webkit-appearance: initial;
  appearance: initial;
}



// 
// Internal Community Styleguide
// Includes: settings specifically setup for styleguide examples
// 
@import "styleguide/examples"; 





