
// 
// COLORS
// Use contextual colors from the Palette (e.g. color-alert or color-ok)
// TRY not to reference too many variables to each other. NO SPAGHETTI!
// 

// 
// BASE COLOR PALETTE
// avoid referencing these directly in code
// 

// 
// Note on naming
// 'cmu-' prefix is required in order to not collide with base colors
// 

// BLUES
$cmu-color-vdkblue: 	#025d8a;	// masha addition
$cmu-color-dkblue: 		#0074AD;	// official
$cmu-color-blue: 		#00A0DF; 	// ubiquiti blue
$cmu-color-ltblue: 		#13BCFF;	// official
$cmu-color-vltblue: 	#ace7ff;	// unofficial; used for blue highlights

// OTHER
$cmu-color-yellow:		#d5c819;
$cmu-color-purple:		#81419f;
$cmu-color-green: 		#48AF65;
$cmu-color-ltgreen: 	lighten($cmu-color-green, 18%);
$cmu-color-teal: 		#3CCCAC;				// old: #43CEAE;

$cmu-color-red: 		#FF3516;
$cmu-color-orange: 		#ffaa00;
$cmu-color-dkorange:	#F09300;

// GRAYS			// used on global nav bg
$cmu-color-black: 		#000;
$cmu-color-dkgray: 		#525252; // changed to a slightly lighter color //#474B52;
$cmu-color-ltblack: 	$cmu-color-dkgray; // #17191D;
$cmu-color-xdkgray: 	$cmu-color-dkgray; // #242931;
$cmu-color-gray: 		#969BA3;
$cmu-color-mdgray: 		#BBBBBD;
$cmu-color-ltmdgray: 	#DADADA; 				// need slightly lighter version of mdgray; this one isn't in spec
$cmu-color-ltgray: 		#EBEBEB;
$cmu-color-xltgray: 	#F3F3F3;
$cmu-color-white: 		#FAFAFA;
$cmu-color-purewhite: 	#FFF;



// ******************************
// 
// CONTEXTUAL COLORS
// 
// ******************************

// 
// TEXT
// 

	// Basic
	// $cmu-color-body: $cmu-color-ltblack;
	$cmu-color-body: $cmu-color-dkgray; // $cmu-color-ltblack;
	// Lighter Basic color
	$cmu-color-body--light: $cmu-color-gray;

	$cmu-color-menu: $cmu-color-dkblue;

	// Post bg color (slightly grayer for better reading)
	$cmu-color-post--dark: $cmu-color-xltgray;
	$cmu-color-post--light: $cmu-color-purewhite;
	$cmu-color-post: $cmu-color-white;
	
	// Title for subjects, headlines, etc.
	$cmu-color-title: $cmu-color-dkgray;			// lighter color since titles are larger
	
	// Default hover background color
	$cmu-color-hover: $cmu-color-xltgray;
	$cmu-color-hover--background: $cmu-color-xltgray;

	// Active text
	$cmu-color-active: $cmu-color-blue;

	// subtle text for subtitles, post footer etc.
	$cmu-color-subtle: $cmu-color-gray;

	// Components that are considered "off" or "inactive" but not disabled
	$cmu-color-inactive: $cmu-color-gray;
	$cmu-color-disabled: $cmu-color-gray;

	// Used for lighter labels
	$cmu-color-label: $cmu-color-gray;

	// Links (default - blue, hover to black)
	$cmu-color-link: $cmu-color-blue;
	$cmu-color-link_hover: $cmu-color-dkblue; // was -dkgray
	$cmu-color-link_active: $cmu-color-blue;

	// Links (dark / reverse - black, hover to blue)
	$cmu-color-link--dark: $cmu-color-dkgray;
	$cmu-color-link--dark_hover: $cmu-color-link;
	$cmu-color-link--dark_active: $cmu-color-link_active;

	// Tabs and buttons
	$cmu-color-selected: $cmu-color-active;
	$cmu-color-selected--background: $cmu-color-purewhite;
	$cmu-color-unselected: $cmu-color-gray;
	$cmu-color-unselected--background: transparent;

	// Forms, Input, Search, etc.
	$cmu-color-placeholder: $cmu-color-ltmdgray; 			// used as hint color for inputs
	$cmu-color-darken: rgba(0,0,0,0.3); 					// used for button onhover states

	// Thread lists
	$cmu-color-threadlist-hover: $cmu-color-active;
	$cmu-color-threadlist-hover--background: $cmu-color-xltgray; //$cmu-color-ltgray; 			// used when hovering over a row in a list
	$cmu-color-unread: $cmu-color-black;
	$cmu-color-isRead: $cmu-color-gray;
	$cmu-color-isReadOpacity: 0.83;
	$cmu-color-isRead--background: $cmu-color-xltgray;

	// custom scroll bar
	$cmu-color-scrollFg: $cmu-color-black;
	$cmu-color-scrollBg: $cmu-color-dkgray;

// 
// ENVIRONMENT
// 

$cmu-color-bodybg: $cmu-color-white;
$cmu-color-bg: $cmu-color-ltgray;

// 
// DOODADS
// 

$cmu-color-line: $cmu-color-ltmdgray; // make lighter $cmu-color-mdgray;
	$cmu-color-line--light: $cmu-color-ltgray;
	$cmu-color-line--dark: $cmu-color-dkgray;



// 
// STATUS COLORS for feature bugs
// 

$cmu-color-status-fixed: $cmu-color-green;
.cmu-status-fixed { background-color: $cmu-color-status-fixed !important; color: $cmu-color-white; }

$cmu-color-status-investigating: $cmu-color-teal;
.cmu-status-investigating { background-color: $cmu-color-status-investigating !important; color: $cmu-color-white; }

$cmu-color-status-inprogress: $cmu-color-blue;
.cmu-status-inprogress { background-color: $cmu-color-status-inprogress !important; color: $cmu-color-white; }

$cmu-color-status-pending: $cmu-color-dkblue; // (just received, haven't been reviewed, 'new')
.cmu-status-pending { background-color: $cmu-color-status-pending !important; color: $cmu-color-white; }

$cmu-color-status-invalid: $cmu-color-yellow;
.cmu-status-invalid { background-color: $cmu-color-status-invalid !important; color: $cmu-color-white; }

$cmu-color-status-unspecified: $cmu-color-purple;
.cmu-status-unspecified { background-color: $cmu-color-status-unspecified !important; color: $cmu-color-white; }

$cmu-color-status-wontfix: $cmu-color-gray;
.cmu-status-wontfix { background-color: $cmu-color-status-wontfix !important; color: $cmu-color-white; }

// treated as same thing
$cmu-color-status-duplicate: $cmu-color-status-wontfix;
.cmu-status-duplicate { background-color: $cmu-color-status-duplicate !important; color: $cmu-color-white; }




// 
// IMPORTED STYLES
// 

// 
// STATUS (from airCRM)
// 
$cmu-status-static-color: #cccccc; /* [1] */
$cmu-status-primary-color: #00a0df; /* [2] */
$cmu-status-info-color: #14b0f6; /* [3] */
$cmu-status-success-color: #13bb72; /* [4] */
$cmu-status-warning-color: #f09300; /* [5] */
$cmu-status-danger-color: #ff3000; /* [6] */

// 
// DEFAULT FONT COLORS
// 
$cmu-primary-background-color: #fafafa;
$cmu-primary-font-color: $cmu-color-ltblack;
$cmu-primary-link-color: $cmu-status-primary-color;
$cmu-primary-hover-link-color: #17191d;
$cmu-primary-border-color: #c9c9c9;

// $cmu-font-highlight: $cmu-color-blue;








