

// 
// TYPOGRAPHY
// 

%font-lato {
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

// for data
%font-oswald {
	font-family: "Oswald", "lato", "helvetica neue", sans-serif;
}

// for icons
%font-ubnt {
	font-family: "ubnt";
}


// 
// Overall Typography Definitions
// 

body {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: $cmu-base;
	@include fontSmoothing(subpixel-antialiased);
}



// 
// SIZES
// Base typography size definitions
// 

$size-largestest: remCalc(32px);
$size-largestest__lineHeight: remCalc(48px);
%size-largestest { font-size: $size-largestest; line-height: $size-largestest__lineHeight;}

// used for splashy headlines (h3 – used sparingly for articles)
$size-largest: remCalc(24px);
$size-largest__lineHeight: remCalc(33px);
%size-largest { font-size: $size-largest; line-height: $size-largest__lineHeight;}

// used for headers (h2)
$size-larger: remCalc(21px);
$size-larger__lineHeight: remCalc(36px);
%size-larger { font-size: $size-larger; line-height: $size-larger__lineHeight;}

// standard display sizes, topics, subjects, etc.
// used to be normal
$size-large: remCalc(16px);
$size-large__lineHeight: remCalc(24px);
%size-large { font-size: $size-large; line-height: $size-large__lineHeight;}

// 13px is used for body / standard paragraph text
$size-normal: remCalc(13px);
$size-normal__lineHeight: 1.24rem;
%size-normal { font-size: $size-normal; line-height: $size-normal__lineHeight;}

// used for status messages, "et cetera messages" 
$size-smaller: remCalc(12px);
$size-smaller__lineHeight: remCalc(18px);
%size-smaller { font-size: $size-smaller; line-height: $size-smaller__lineHeight;}

$size-xsmaller: remCalc(11px);
$size-xsmaller__lineHeight: remCalc(16px);
%size-xsmaller { font-size: $size-xsmaller; line-height: $size-xsmaller__lineHeight;}

// used for tags, and really small things
$size-xxsmaller: remCalc(10px);
$size-xxsmaller__lineHeight: remCalc(13px);
%size-xxsmaller { font-size: $size-xxsmaller; line-height: $size-xxsmaller__lineHeight;}

// anything under 10px is illegible


// avatar size
$size-avatar: $cmu-base * 2.5;
$size-avatar--small: 28px;







// 
// DEFAULT STYLES
// Base typography size definitions
// 

$size-h1: $size-largestest; 
$size-h1__lineHeight: $size-largestest__lineHeight;
	h1, %h1 {
		font-size: $size-h1;
		line-height: $size-h1__lineHeight;
		font-weight: 300;
	}


// used for header, title subs, etc. so smaller than h3
$size-h2: $size-larger;
$size-h2__lineHeight: $size-larger__lineHeight;
	h2, %h2 {
		font-size: $size-h2;
		line-height: $size-h2__lineHeight;
		font-weight: 400;

		// margin-top: $cmu-vertical-rhythm;
		// margin-bottom: $cmu-vertical-rhythm/2;
	}

// actually larger than h2, used for article and titles
$size-h3: $size-largest;
$size-h3__lineHeight: $size-larger__lineHeight;
	h3, %h3 {
		font-size: $size-h3;
		line-height: $size-h3__lineHeight;
		font-weight: 600;
		color: $cmu-color-dkgray;
		// margin-top: $cmu-vertical-rhythm;
		// margin-bottom: $cmu-vertical-rhythm;
	}

$size-h4: $size-larger;
$size-h4__lineHeight: $size-larger__lineHeight;
	h4, %h4 {
		font-size: $size-h4;
		line-height: $size-h4__lineHeight;
		font-weight: 300;
		color: $cmu-color-dkgray;
}

$size-h5: $size-normal;
$size-h5__lineHeight: $size-normal__lineHeight;
	h5, %h5 {
		font-size: $size-h5;
		line-height: $size-h5__lineHeight;
		color: $cmu-color-dkgray;
		font-weight: bold; 
	}


$size-h6: $size-smaller;
$size-h6__lineHeight: $size-smaller__lineHeight;
	h6, %h6 {
		font-size: $size-h6;
		line-height: $size-h6__lineHeight;
		font-weight: 400;
		color: $cmu-color-dkgray;
		font-style: italic;
	}



$cmu-base-spacing-unit: $cmu-base;





// 
// CONTEXTUAL TYPOGRAPHY STYLES
// try to use these instead of just setting new sizes
// 

// base size for copy (13px)
.type-base, %type-base {
	font-size: $size-normal;
	line-height: $size-normal__lineHeight;
}

// base size for minor copy like legal, breadcrumbs, etc.
.type-minor, %type-minor {
	font-size: $size-smaller;
	line-height: $size-smaller__lineHeight;
}

// base size (11px) for info and tables: status, tables, summaries, "replies, views" etc.
.type-info, %type-info {
	font-size: $size-xsmaller;
	line-height: $size-xsmaller__lineHeight;
}

	// tiny size (9px) for supplemental info.
	.type-tiny, %type-tiny {
		font-size: $size-xxsmaller;
		line-height: $size-xxsmaller__lineHeight;
	}
		.type-tiny--tight, %type-tiny--tight {
			@extend %type-tiny;
			line-height: $size-xxsmaller__lineHeight * 0.6;
		}

// used in user profile
// smaller label than the h5 label used in feed
.type-sidebar-label, %type-sidebar-label {
	color: $cmu-color-label;
	text-transform: uppercase;
	@extend %type-tiny;
}


// 
// Form typography
// 
$cmu-size-form: $size-normal;
$cmu-input-font-size: $size-normal;


// 
// Arrow Sizing
// 
$size-arrow: $cmu-base/2;



// 
// Letter Spacing
// 


$size-letterspacing-header: 0.8px;
$size-letterspacing-text: 0.2px;

%size-letterspacing-text {
	letter-spacing: $size-letterspacing-text;
}



