
// 
// Note: for community, some of the framework settings aren't actually used.
// 

/**
 * These are very basic, high-level default settings to get a project started.
 */
$cmu-base:					1rem !default; // 1rem = 16px is standard for browsers
$base-font-size:            $cmu-base !default;
$cmu-base-font:        		remCalc(13px) !default;	// less whitespace
$cmu-base-line-height:      $cmu-base*1.2 !default;
$cmu-vertical-rhythm: 		$cmu-base !default;
$cmu-cta-height:			$cmu-base*2; // force the standard height for all cta elements
$cmu-cta-height-large: 		$cmu-base*3;
$cmu-maxwidth:				1400px;	// applied separately on all partials and templates for max-width responsive
$cmu-maxwidth--longform:	1000px; // centered longform content for readability
$cmu-maxwidth--post:		640px;	// widest post width for readability // might not be used
$cmu-maxwidth--reply:		240px;	// for inline post replies
$size-badgewidth-min:		$cmu-base*11;
$cmu-nav-height:			remCalc(40px) !default; // main nav bar
$cmu-min-pageHeight:		$cmu-base*20;
$cmu-min-pageHeight--m:		$cmu-base*35;

$cmu-height: $cmu-base*2;	// base height of objects is 32px
$cmu-height--slim: $cmu-base*3/2;	// base height of slim objects (in threads) is 24px
	
/**
 * These are private variables that should not be reassigned, overridden, or
 * modified. They are for use internally by the framework.
 */
$cmu-base-spacing-unit:     $cmu-base-line-height !default;
$cmu-base-micro-unit:       $cmu-base-line-height/6 !default;


// 
// BASIC COMMUNITY RESET STYLES
// 

.cmuWrapper {
	min-height: 100%;
    @extend %ease-slow;
}


html {
	// important to override simplemde's setting overflow to hidden for preview pages
	// either override it here, or reset the fullscreen function in the js
	overflow: auto !important;
}

body {
	position: relative;
	height: 100%;
	min-height: 100%;
	color: $cmu-color-body;
	line-height: inherit;
	background-color: $cmu-color-ltgray;
    @extend %ease-slow;

	a:focus {
		outline: none;
	}


}
	.wrapper {
		background-color: $cmu-color-white;
	 //    padding-bottom: $cmu-min-pageHeight;

		// @include respondTo(xsmall-down) {
	 //    	padding-bottom: $cmu-min-pageHeight--m;
		// }

	    min-height: 100%;
	    position: relative;
    	@extend %ease-slow;
	}

#main-content {
	margin-bottom: $cmu-base;
    @extend %ease-slow;
}

%cmu-maxwidth {
	max-width: $cmu-maxwidth;
	margin: 0 auto;
}

%radius { border-radius: 8px; }

ol, li {
	list-style-position: inside;
}

// CONTAINER--RESPONSIVE IS NOT USED
// responsive containers are always 100% wide, and have no side margins
// the community container will constrain the responsive container's max width
// .container--responsive {
// 	margin-left: 0 !important;
// 	margin-right: 0 !important;
// 	max-width: 100%;
// }

// base container for all community content
// min-height is set so the footer doesn't jump up/down on page load
.community__content {
	padding-top: $cmu-base*2; // give some room for fixed header
	position: relative;
	padding-bottom: $cmu-min-pageHeight;

		@include respondTo(xsmall-down) {
	    	padding-bottom: $cmu-min-pageHeight--m;
		}
		

	min-height: 100%;
	@extend %cmu-maxwidth;
    @extend %ease-slow;
}

// Various things
$cmu-imageUrl-noImage: 'https://slack-files.com/files-tmb/T027XH0QK-F079YFZQT-b90fead886/no_pic_720.png';



// 
// universal helper classes
// 

.cmuRow, %cmuRow {
	margin-bottom: $cmu-vertical-rhythm;
}
	.cmuHalfRow, %cmuHalfRow {
		margin-bottom: $cmu-vertical-rhythm/2;
	}

.cmuHidden {
	display: none;
}



// prevents double click highlight
%user-select-none {		
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}






// 
//	Z-Index Settings
// 

// High 700-1000
$z-top: 1000;	// Top z-index: gives us 10 levels to play with
$z-gloNav: 900;	// global community menu
$z-gloNav--drop: 895;	// comm menu dropdown
$z-overlay: 875;
$z-gloNav--footer: 850;
$z-mega: 800;	// mega popover


// Medium 400-700

// Low 0-400


// 
// Animation speeds
// (also used by the ease mixins)
// 
$speed-slow: 320ms;
$speed-medium: 230ms;
$speed-fast: 180ms;


// 
// Converting HTML tables to CSS tables
// 
%disp--table     		{ display: table; }
%disp--tr        		{ display: table-row }
%disp--thead     		{ display: table-header-group }
%disp--tbody     		{ display: table-row-group }
%disp--tfoot     		{ display: table-footer-group }
%disp--col       		{ display: table-column }
%disp--colgroup  		{ display: table-column-group }
%disp--cell, %disp--td, %disp--th    { display: table-cell }
%disp--caption   		{ display: table-caption }


