


// 
// Forced heights
// useful for control rows w/ buttons and various components
// 
%height-base {
	height: $cmu-height;
}

%height-slim {
	height: $cmu-height--slim;
}


// 
// Lines and Borders
// 

$style-line: 1px solid $cmu-color-line;
	$style-line--light: 1px solid $cmu-color-line--light;
	$style-line--dark: 1px solid $cmu-color-line--dark;
	$style-line--medium: 2px solid $cmu-color-dkgray;
	$style-line--thick: 3px solid $cmu-color-dkgray;
	$style-line--xthick: 6px solid $cmu-color-dkgray;


// 
// Width-limited content
// - works better for non-forum content like announcements and stories
// - these tend to be too wide
// - good with comments, not so much with forum-style replies
// 
%style-longform {
	max-width: $cmu-maxwidth--longform;
    // margin: 0 auto; // centered-ness is annoying; keep it left-aligned
}


// 
// center an absolute object like a flag
// 

%style-center {
	// http://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element
	top: 50%;
	left: 50%;
	// centers based on width
	transform: translateX(-50%);
}

// 
// Standardized border radius
// 
%border-radius {
	border-radius: 4px;
}




// 
// Basic Link Styles
// 

// Standard Links blue w/ dark hover
.style-link, %style-link {
	@extend %ease-fast;
	@extend %user-select-none;
	// display: inline-block;
	color: $cmu-color-link;
	cursor: pointer;
	&.active {
		color: $cmu-color-link_active;
	}
	&:hover {
		@extend %ease-fast;
		color: $cmu-color-link_hover;
	}
}

// Reverse Links / dark w/ blue hover
.style-link--dark, %style-link--dark {
	@extend %ease-fast;
	// display: inline-block;
	color: $cmu-color-link--dark;
	cursor: pointer;
	&.active {
		color: $cmu-color-link--dark_active;
	}
	&:hover {
		// @extend %ease-fast;
		color: $cmu-color-link--dark_hover;
		text-decoration: none;
	}
}





// 
// Communal Styles
// 


// List Item
// NOTE: many of these use .cmuThreadList__row, which uses on-click instead of <a> tags
// 		 - the design is identical but implemented differently (__topic)
// - story list
// - forum thread list
// - announcement thread list
// - q&a thread list
// - features thread list
// - feed list
// - notifications list (dropdown & list)
// - messages list (dropdown & list)
// 
// Design
// - text: 			dark
// - hover:			blue
// - underline:		none
// - background: 	light (depends on context, and isn't set by this module)
.style-listItem, %style-listItem {
	@extend %size-normal;
	@extend %style-link--dark;
	@extend %ease-fast;
	// background-color: $cmu-color-purewhite;

	&:hover {
		background-color: $cmu-color-threadlist-hover--background;
		cursor: pointer;
	}
}


// 
// Doodads
// 

.style-user, %style-user {
	@extend %size-xsmaller;
	color: $cmu-color-dkgray;
	margin-top: $cmu-base/4;
}
.style-date, %style-date {
	@extend %size-xsmaller;
	color: $cmu-color-gray;
	margin-bottom: $cmu-base/4;
}

// used for the meta user action details on feed
.style-meta, %style-meta {
	@extend %size-xsmaller;
	color: $cmu-color-mdgray;
	margin: $cmu-base/4 0;
	margin-bottom: $cmu-base/2;
}


// 
// Product Description Tags (e.g. 'airMax' on each feed item)
// 

.style-tag, %style-tag, .cmuTag {
	display: inline-block;
	@extend %size-xxsmaller;
	// @extend %user-select-none;
	color: $cmu-color-dkgray;
	border: $style-line;
	padding: $cmu-base/4 + remCalc(0.5px) $cmu-base/2;
	background-color: $cmu-color-ltgray;

	// redesign (#95)
	background-color: $cmu-color-purewhite;
	background-color: transparent;
	// color: $cmu-color-blue; // too loud
	color: $cmu-color-dkblue;
	color: $cmu-color-body;

	// @extend %border-radius;
	@extend %ease-fast;

	&:hover{
		@extend %ease-fast;
		// background-color: $cmu-color-ltgray;
		color: $cmu-color-active;
		border-color: $cmu-color-ltblue;
	}
}
	.style-tag--noLine, %style-tag--noLine {
		@extend %style-tag;
		border: 0;
		background-color: transparent;
	}


$stat-padding: 4.5px $cmu-base/2;
.style-stat, %style-stat {
	display: inline-block;
	@extend %size-xxsmaller;
	color: $cmu-color-dkgray;
	margin-right: $cmu-base/4;
	border: $style-line;

	&:last-child {
		margin-right: 0;
	}
}
	%style-stat-num, .style-stat-num {
		display: inline-block;
		border-right: $style-line;
		padding: $stat-padding;
		font-weight: 600;
	}
	%style-stat-title, .style-stat-title {
		display: inline-block;
		padding: $stat-padding;
	}


// 
// Flag for marking posts as spam, etc.
// - in comments and messages
// 
.style-flag, %style-flag {
	text-align: right;
	margin-right: $cmu-base/2;

	.cmuIcon-flag {
		cursor: pointer;
	    border: $style-line;
	    display: inline-block;
	    width: $cmu-height--slim;
	    height: $cmu-height--slim;
	    border-radius: 50%;
		@extend %ease-fast;

	    @include respondTo(medium-up) {
			opacity: 0; 
	    }

		&:hover {
			opacity: 1 !important;
			border-color: $cmu-color-blue;
		}
	}
}

	// hover effect of the parent container
	.style-flag--hover, %style-flag--hover {
		.cmuIcon-flag {
			opacity: 0.465; @extend %ease-fast;
		}
	}






// 
// Right Rail links
// - feed announcements
.style-railLink, %style-railLink {
	@extend %size-normal;
	margin-bottom: $cmu-vertical-rhythm*3/4;
	display: block;
	@extend %style-link--dark;
}


// 
// Shadows
// 

// base dropshadow for hover elements
%style-shadow {
	@include box-shadow(0px, 0px, $cmu-base/2, $cmu-color-dkgray);
}
%style-shadow--light {
	@include box-shadow(0px, 0px, $cmu-base, $cmu-color-gray);
}

// 
// Hover Flag
// - tooltip and userbadges
// - default is bottom
// 


.cmuHoverflag, %cmuHoverflag {
	display: inline-block;
	text-align: center; // center aligns content with the flag, but may affect content
	position: absolute;

 	// center the hover flag container
    left: 0;
    right: 0;

	@extend %ease-fast;

	&:hover:before {
		color: $cmu-color-white;
	}

	// tooltip content container
	&:before {
		opacity: 0;
		visibility: hidden;

		content: attr(data-tooltip);
		@extend %style-tag;
		@extend %ease-fast;

		border: 0;
		background-color: $cmu-color-dkgray;
		// border-color: $cmu-color-white;
		color: $cmu-color-white;
    	white-space: nowrap;

    	position: absolute;
    	left: -100%;
    	transform: translate(0,-100%);
    	top: -$size-arrow - remCalc(4px);
	}

	&:after {
		// arrow 
		// defined using the compass directions
		opacity: 0;
		visibility: hidden;

		content: '';
		width: 0; 
		height: 0; 

		@extend %ease-fast;
	    position: absolute;
	    // left: 50%;
    	// transform: translate(-50%,0);

    	// this works better
    	left: 0%;
    	transform: translate(25%, 0);

    	border-left: $size-arrow solid transparent;
		border-right: $size-arrow solid transparent;
		border-top: $size-arrow solid $cmu-color-dkgray;
	    top: -$size-arrow - remCalc(4px);
	}

	// for the future
	&.cmuHoverflag--right {}
	&.cmuHoverflag--left {}
}


	// in the parent container; the hover triggers the appearance of the flag
	.cmuHoverflag__trigger {
		display: inline-block;
		position: relative; // helps position the flag

		&:hover {
			.cmuHoverflag:before, .cmuHoverflag:after {
				opacity: 1;
				display: inline-block;
				visibility: inherit;
			}
		}
	}






// placeholder avatar, use with <span>

.cmuFakeAvatar {
	&:before {
		content: ' ';
		display: block;
		background: #969ba3;
		border-radius: 50%;
		margin-top: 5px;
		margin-right: 0;
		margin-left: 4px;
		@extend %ease-fast;
		height: $size-avatar--small;
		width: $size-avatar--small;
	}
}












// 




