
// community text editor
// uses tinyMCE
// used in story body, forum replies, comments

// these are general styles;
// for styles related to the specific discussion type,
// go to that discussion type


$editor-height--large: 240px;
$editor-height--minimal: 60px;

.cmuTextEditor {
	// cursor: text;
    position: relative;

	iframe html{
		  // does nothing:  content_css.css affects the interior of the editor
	}

	@include cmu-placeholder {
  		color: $cmu-color-black;
   	}

   	label {
   		color: $cmu-color-ltgray;
   		font-size: 13px;
   		@extend %font-lato;
   		margin-left: 4px;
   	}

    .editor-toolbar {
        border-radius: 0;
        padding-left: 5px;
        cursor: default;
        a {
            border: 0;
            &:hover {
                color: $cmu-color-dkblue !important;
            }
        }
    }

    .cmuCollapser__container {
        margin: 0;
    }
        .cmuCollapser__header__title {
            padding: $cmu-base/2 $cmu-base;
            padding-left: 0;
        }
}
    .cmuTextEditor__container {
        cursor: text;
    }

    .CodeMirror, .CodeMirror-scroll {
        min-height: 200px;
        border-radius: 0;
        border-color: $cmu-color-active;

    }


.cmuTextEditor__fixToBottom .cmuTextEditor__floatContainer {
    background-color: $cmu-color-white;
    position: fixed;
    bottom: 10px;
    z-index: $z-overlay;
    width: calc(100% - 40px);
    left: 20px;
    max-height: 400px;
    overflow: scroll;

    .CodeMirror {
        min-height: 80px !important;
    }

    .CodeMirror, .CodeMirror-scroll {
        min-height: 40px;
        // max-height: $editor-height--minimal;
        // height: $editor-height--minimal;
    }
}




    .cmuTextEditor__textarea {
        @extend .cmuInput;
    }

    .cmuTextEditor--minimal {
        .CodeMirror, .CodeMirror-scroll {
            min-height: $editor-height--minimal;
            // max-height: $editor-height--minimal;
            // height: $editor-height--minimal;
        }

        // these add padding to the toolbar
        .editor-toolbar:after, .editor-toolbar:before {
            display: none; 
        }

        .editor-toolbar {
            a { 
                border: 0
            }
            a:hover {
                border: 0;
                color: $cmu-color-dkblue !important;
            }
        }
    }


// this element resides in the CommentForm and other containers, instead of the texteditor directly
.cmuTextEditor--formContainer {
    margin-bottom: $cmu-vertical-rhythm;
}



.cmuTextEditor__title {
    h5 {
        margin-top: $cmu-vertical-rhythm;
        margin-bottom: $cmu-vertical-rhythm/2;
    }
}


// 
// Setting up live preview
// 

.cmuTextEditor__preview {
    margin-bottom: $cmu-vertical-rhythm/2;
    border: $style-line;
    padding: $cmu-base;
    padding-top: $cmu-base/2;

    &:before {
        content:'Live Preview';
        display: block;
        padding-bottom: $cmu-base/2;
        color: $cmu-color-gray
    }
}


// 
// Help area
// 
.cmuTextEditor__help {
    margin-top: $cmu-base/2;
    max-width: $cmu-maxwidth--post;

    .markhelp {
        padding: $cmu-base;
        &>p { margin-left: $cmu-base*3/2}
    }

    .md {
        margin-top: $cmu-base;
        margin-left: $cmu-base;
    }

    .md-header {
        // style="background-color: #ffff99; text-align: center"
        td {
            border-bottom: $style-line;
            @extend %h5;
        }
    }

    tr:nth-child(2n) {
        // background-color: red;
    }

    td {
        padding: $cmu-base/2 0;
        padding-left: $cmu-base/2;
        border-bottom: $style-line--light;
        vertical-align: top;
    }


    // special styles for formatting
    ul {
        margin-bottom: 0;
    }
}

// Emoji (in context of the text editor)

.cmuTextEditor__emoji {
    position: absolute;
    top: 0;
    top: 13px;
    left: 290px;
}
