
%style-community-mainlink {
	a {
		color: $cmu-color-black;
		&:hover {
			color: $cmu-color-blue; 
		}
	}
}



// Forum Typography
%size-community-base {
	@extend %size-smaller;
} 




// aligns thread message bottom to the avatar bottom
$cmu-message-bottom-height: 100px;