
<div class="cmuTimeline" >

	<div class="timeline__container cmuCollapser__container" ng-repeat="yearData in timeline.timelineData">
		<div class="timeline__title cmuCollapser__header" ng-class='{open:$first || openAll()}' 
		community-class-toggle="open">
			<div class="timeline__title__text cmuCollapser__header__text">{{ yearData.year }} 
				<span class="timeline__title__count">{{ yearData.count }}</span>
			</div>
		</div>
		
		<!-- remove cmuTimeline__showheader to hide table headers (benefits lists w/ 10 or fewer) -->
		<div class="cmuTimeline__list 
					cmuThreadlist__list
					cmuTimeline__showheader
					cmuCollapser__content">

			<div class="cmuTimeline__month" ng-repeat="monthData in yearData.yearData">
		    <div class="cmuThreadlist__table"> 

		      <div class="cmuThreadlist__headers">
		        <div class="cmuThreadlist__topic">{{ monthData.month | monthDisplay }} {{ yearData.year }}</div>
		        <div class="cmuThreadlist__authorDate">Created</div>
		        <div class="cmuThreadlist__counter cmuThreadlist__views"></div>
		        <div class="cmuThreadlist__counter cmuThreadlist__replies"></div>
		        <div class="cmuThreadlist__counter cmuThreadlist__kudos"></div>
		      </div>


		      <div class="cmuThreadlist__body">
		        <a class="cmuThreadList__row" 
		            area-link-handler="{{ timeline.getTimelineHref(data) }}"
		            ng-repeat="data in monthData.monthData"
		            ng-class="{'isRead':timeline.isRead(data)}">

		          <div class="cmuThreadlist__topic">
		          	<span class="cmuThreadlist__topic__title">{{ data.topic.subject | htmlUnescape }}</span> 
			        <span ng-if="timeline.showProductInfo"><product-discussion-tag node-id="data.topic.node.id"></product-discussion-tag></span>
		          </div>

		          <div class="cmuThreadlist__created cmuThreadlist__authorDate">
		            <div class="cmuThreadlist__avatar"> 
		              <community-user-badge class="cmuUserbadge--showFlag cmuUserbadge--showUser" user="data.topic.message.insertUser"></community-user-badge>
		            </div>
		            
		            <div class="cmuThreadlist__date">{{ ::data.topic.message.postDate | timeFromNow }}
		            </div>
		          </div>
		          
		          <div class="cmuThreadlist__counter cmuThreadlist__views">
		            {{  data.topic.countViews | number}}
		          </div>
		          <div class="cmuThreadlist__counter cmuThreadlist__replies">
		            {{  data.context.totalMessageCount - 1 | number}}
		          </div>
		          <div class="cmuThreadlist__counter cmuThreadlist__kudos">
		            {{  data.topic.message.scores.kudo | number}}
		          </div>
		        </a>
		      </div>
		    </div>
		  </div>

		  <div class="cmuTimeline__month" ng-repeat="monthData in yearData.yearData"></div>
		</div>
	</div>
</div>