

// 
// FORUM MESSAGES (posts, not private messages)
// - for PMs check out cmuInboxModule
// 

$cmu-thread-message-height:	$cmu-base * 3;



// CONFIGURATIONS ARE AT THE BOTTOM


// 
// MESSAGE CONTAINER & BODY
// badge is handled in cmuUserbadge
// 

// contained outside of message.html; in the invoking html
// FOR PROTOTYPING ONLY
.cmuThread__container {
	counter-reset: messageCtr;
}

.cmuMessage__container {
	border: $style-line; 
	margin-bottom: $cmu-vertical-rhythm/2;
	display: table;
	width: 100%; // may not work as parent needs width declaration

	// the avatar area will be given this color, as it doesn't have its own block
	background: $cmu-color-xltgray;
	// @extend .style-copy;
	// border-top: 0px;
	// &:first-of-type {
	// 	border-top: $cmu-style-border-thin-light;
	// }

	// bottom row of buttons in a message
	@extend %ease-fast;
	&:hover {

		// fade in / out the user badge on hover
		.cmuUserbadge {
			@extend %ease-fast;
			opacity: 1;
		}
	}
}


	// don't fade userbadge
	.cmuUserbadge {
		@extend %ease-fast;
		// opacity: 0.46;
		
	}

.cmuMessage__body {
	display: table-cell;
	vertical-align: top;
	width: 80%;

	border-left: $style-line; 
	padding: $cmu-base/2 $cmu-base;
	background-color: $cmu-color-post;

	position: relative;
}

	
	// add "Re:" to replies
	// .forumThreadMessage:nth-child(n+2) {
	// 	.forumThreadMessage__messageTopic:before {
	// 		content: 'Re: '
	// 	}
	// }


	// .forumThreadMessage {
	// 	.forumThreadMessage__messageTopic {
	// 		display: none;
	// 	}
	// }
	// .forumThreadMessage:nth-child(2) {
	// 	.forumThreadMessage__messageTopic {
	// 		display: inline-block;
	// 	}
	// }






	.cmuMessage__counter {
		display: inline-block;
		vertical-align: middle;
	}
	
.cmuMessage__content {
	margin-top: $cmu-base/2;
	margin-bottom: $cmu-vertical-rhythm;
	min-height: $cmu-thread-message-height;

	font-size: $size-normal;
	line-height: $size-normal__lineHeight;
} 


.cmuMessage__signature {
	border: $style-line;
	padding: $cmu-base/2;
	padding-top: $cmu-base/4;
	@extend %size-xsmaller;
	margin-bottom: $cmu-vertical-rhythm*3;

	max-height: $cmu-base*5; 
    // word-wrap: break-word;
    word-break: break-word;

	overflow: hidden;
}


	.cmuMessage__data {
		margin-top: 1rem;
		&, * { 
			// display: inline-block;
			text-align: right;
			vertical-align: middle;
		}
	}
		.cmuMessage__date { //forums
			display: inline-block;
			vertical-align: middle;
		}

		.cmuThread__firstPost .cmuMessage__data {
			margin-left: $cmu-base * 2;
		}

	.cmuMessage__counter {
		&:after {
			content: ' | ';
			margin: 0 $cmu-base/2;
			color: $cmu-color-ltmdgray;
		}
	}






// 
// COMPONTENTS AND CONTROLS
// 








// 
// ReplyTo Component
// "in reply to userX"
// 
.cmuMessage__replyTo {
	display: inline-block;
	vertical-align: middle;
	@extend %type-info;
	font-weight: 600;

	&:before {
		font-weight: 400;
		content: 'In reply to ';
		color: $cmu-color-gray;
	}
	// &:after {
	// 	content: ' | ';
	// 	color: $cmu-color-gray;
	// 	margin: 0 $cmu-base/2;
	// }

	a {
		@extend %style-link;
	}
}









// 
// Message Controls
// 

.cmuMessage__footer {
    position: absolute;
    bottom: $cmu-base*3/4;
    padding-right: $cmu-base*2;
    width: 100%;
}

.cmuMessage__meta {
	@extend %type-info;
	line-height: $size-large__lineHeight;
    display: inline-block;
    float: left;
}
	.cmuMessage__controls {
		display: inline-block;
		float: right;
	}
	// meta info (msg count, date)
	.cmuMessage__counter, .cmuMessage__date {
		color: $cmu-color-subtle;
	}





	// controls
	.cmuMessage__actions {
		@extend %cmuIcon-action;
		position: relative;
		top: -2px;
		margin-right: 0;

		.ubnt-icon--link {
			left: -5px;
		}

		&:last-of-type {
			margin-right: $cmu-base/2;
		}

		.cmuTooltip {
			top: 0;
		}

	}
		.cmuMessage__body:hover {
			// @extend %cmuIcon-action--halfOpacity;
		}

	.cmuMessage__reply {
		@extend %height-slim;
		text-align: right;

		.cmuPermissions {
			margin-left: $cmu-base/2;
		}
	}

		.cmuMessage__link {
			cursor: pointer;

			.cmuIcon {
				color: $cmu-color-mdgray;
				line-height: $cmu-base*1.8;
			}

			&:hover .cmuIcon{
				color: $cmu-color-dkgray;
			}
		}

		.showLink ~ .cmuMessage__link__container {
			display: block;
		}
		.cmuMessage__link__container {
			display: none;
    		position: absolute;
		    z-index: $z-overlay;

		    background: $cmu-color-ltgray;
		    padding: $cmu-base/2;
		    transform: translateX(50%);
		}



// bottom row of controls of the thread





// 
// SIDE BY SIDE CONFIGURATION
// use nesting to include these configurations
// Used in:
// - forum
// - feature bugs
// 


// 
// SIMPLE CONFIGURATION
// use nesting to include these configurations
// Used in:
// - announcement post (unused after refactor)
// 

// .cmuMessage--simple {

// 	.cmuUserbadge {
// 		display: none;
// 		& + div {
// 			border-left: 0;
// 		}
// 	}

// 	.cmuMessage__header {
// 		display: none;
// 	}

// }






















