
<div class="cmuProfile">
	<div class="cmuProfile__sidebar col--md3">

		<div community-sticky sticky-class="cmuStuck" offset="30" sticky-bound="cmuProfile">
			<div>
				<div class="cmuProfile__section row">
					<!-- &s=200 forces the 200x200 avatar  -->
					<div class="cmuProfile__avatar"><img ng-src="{{ vm.userData.avatarUrl }}&amp;s=200" /></div>
					<a ui-sref="userprofile.usersettings" class="button button--solid" community-permissions="node.can_post_topic" denied-behavior="hide">${{ directory.user.editProfile }}$</a>
				</div>

				<div class="cmuProfile__section row">
					<div class="cmuProfile__subSection" ng-if="vm.userData.locName">
						<label class="cmuProfile__sidebar__label">${{ directory.user.location }}$</label>
						<p>{{ vm.userData.locName }}</p>
					</div>

					<div class="cmuProfile__subSection" ng-if="vm.userData.meta.personalSiteUrl.value">
						<label class="cmuProfile__sidebar__label">${{ directory.user.personalWebpage }}$</label>
						<p>{{ vm.userData.meta.personalSiteUrl.value }}</p>
					</div>

					<div class="cmuProfile__subSection" ng-if="vm.userData.meta.occupation">
						<label class="cmuProfile__sidebar__label">${{ directory.user.occupation }}$</label>
						<p>{{ vm.userData.meta.occupation.value }}</p>
					</div>

					<div class="cmuProfile__subSection" >
						<label class="cmuProfile__sidebar__label">${{ directory.user.dateRegistered }}$</label>
						<p>{{ vm.userData.registrationDate | date }}</p>
					</div>

					<div class="cmuProfile__subSection" >
						<label class="cmuProfile__sidebar__label">${{ directory.user.dateLastVisited }}$</label>
						<p>{{ vm.userData.lastOnlineDate | date }}</p>
					</div>
				</div>

				<div class="cmuProfile__section row" ng-if="vm.userData.meta.bioText">
					<div class="cmuProfile__subSection" >
						<label class="cmuProfile__sidebar__label">${{ directory.user.aboutMe }}$</label>
						<p>{{ vm.userData.bioText }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- main body -->
	<div class="cmuProfile__main col--md9">
		<div class="cmuProfile__header__username">
			<community-username class="cmuUsername--header" user="vm.userData"></community-username>
		</div>
		<div class="cmuProfile_body">
			<div class="cmuProfile__points cmuProfile__section clearfix">
			 	<div class="cmuProfile__header">
					<div class="clearfix">
						<div class="cmuProfile__rank">
							<span>{{ vm.userData.rank.name }}</span>
						</div>
					</div>
				</div>	

				<div class="cmuProfile__points__progress">
					<div class="cmuProfile__progressBar">
						<span class="cmuProfile__progressBar__container"></span>
						<span class="cmuProfile__progressBar__bar" style="width:{{ vm.percentageComplete | number: 0}}%"></span>
					</div>
					<div>
						<span class="cmuProfile__totalPoints">
							{{ vm.totalPoints | number }} ${{ directory.user.totalPoints }}$
						</span>
						-
						<span class="cmuProfile__progress__nextRank">
							${{ directory.user.nextRank }}$: <span>{{ vm.nextRankName }}</span>
						</span>
					</div>
				</div>

				<div class="cmuProfile__stats col--md12">

					<!-- feature topic -->
					<div class="cmuProfile__stat col--md3">
						<span class="cmuProfile__stat__num">{{ vm.scoreCategories[11].count | number }}</span>
						<div class="cmuProfile__stat__desc">{{ vm.scoreCategories[11].name }}</div>
					</div>

					<div class="cmuProfile__stat col--md3">
						<span class="cmuProfile__stat__num">{{ vm.scoreCategories[10].count | number }}</span>
						<div class="cmuProfile__stat__desc">{{ vm.scoreCategories[10].name }}</div>
					</div>

					<div class="cmuProfile__stat col--md3">
						<span class="cmuProfile__stat__num">{{ vm.scoreCategories[7].count | number }}</span>
						<div class="cmuProfile__stat__desc">{{ vm.scoreCategories[7].name }}</div>
					</div>

					<div class="cmuProfile__stat col--md3">
						<span class="cmuProfile__stat__num">{{ vm.scoreCategories[12].count | number }}</span>
						<div class="cmuProfile__stat__desc">{{ vm.scoreCategories[12].name }}</div>
					</div>
				</div>
			</div>


			<div class="cmuProfile__section clearfix">
				<div class="cmuProfile__tabs">
					<button class="button--tab button--wide" ng-class="{'active': vm.profileSummaryShown == true}" ng-click="vm.profileSummaryShown = true">${{ directory.user.profileInfo }}$</button><button class="button--tab button--wide" ng-class="{'active': vm.profileSummaryShown == false}" ng-click="vm.profileSummaryShown = false">${{ directory.user.pointsSummary }}$</button>
				</div>


				<!-- 
					PROFILE SUMMARY
				-->
				<div class="cmuProfile__summary button--tabContainer" ng-show="vm.profileSummaryShown">

					<!-- stories -->
			        <div class="cmuProfile__stories">
			        
			        	<div class="cmuProfile__title clearfix">
							<div ng-pluralize count="vm.totalStories" when="{ '0': '${{ stories.noun.none }}$', 'one': '1 ${{ stories.noun.singular }}$', 'other': '{} ${{ stories.noun.plural }}$' }"></div>
						</div>

						<div class="cmuProfile__section clearfix">
							<div class="col--md12 noPadding" community-grid-list>
								<div class="cmuStoryGrid">
									<div class="cmuProfile__story cmuStoryGrid__item" ng-repeat="story in vm.storyList">
										<story-display 
											story="story"
											story-media="story.media"
											default-photo-url="vm.defaultPhoto"
											minimal-display="true"
											fill-width="true">
										</story-display>
									</div>
								</div>
							</div>
							<div class="cmuProfile__subSection">
								<button class="cmuProfile__loadMore button--stretch
								button--wide
								button--solid" ng-click="vm.loadMore('stories')" ng-show="vm.hasMoreStories">${{ core.actions.showMore }}$</button>
							</div>
						</div>
					</div>

				  	<!-- feed -->
				  	<div class="cmuProfile__activity">

			        	<div class="cmuProfile__title clearfix">
							<div>${{ directory.user.recentActivity }}$</div>
						</div>

						<div class="cmuProfile__subSection">
					  		<div ng-repeat="activityItem in vm.activityList">
				        		<community-feed-content content-model="activityItem"></community-feed-content>
				        	</div>
				        </div>

						<div class="cmuProfile__subSection">
			        		<button class="cmuProfile__loadMore button--stretch button--center button--solid" ng-click="vm.loadMore('activity')" ng-show="vm.hasMoreActivity">${{ core.actions.showMore }}$</button>
						</div>
				  	</div>
				</div>



				<!-- 
					POINTS TABLE
				-->

				<div class="cmuProfile__summary col--md12" ng-show="!vm.profileSummaryShown">
			        <div class="cmuProfile__pointsTable cmuProfile__section">
			        	<div class="cmuProfile__title clearfix">
							<div>${{ directory.user.pointsSummary }}$</div>
						</div>
			        	<div class="cmuProfile__desc clearfix">
							<div>${{ directory.user.pointsSummaryDesc }}$</div>
						</div>
						<div class="cmuProfile__table">
							<div class="cmuProfile__table__row row" ng-repeat="category in ::vm.pointCategories" class="row">
								<div class="cmuProfile__table__num col--md2">
									<span class="cmuProfile__table__count">{{ category.count }}</span> <span class="cmuProfile__x">x</span> <span class="cmuProfile__table__points">{{ category.points }}</span></div>
								<div class="cmuProfile__table__desc col--md9">
									<h5>{{ category.name }}</h5>
									<p>{{ category.description }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
