
<div class="cmuProfile">
 	<community-page-header 
 		header-text="{{ vm.userData.login }}"
 		subtitle-text="{{ vm.userData.rank.name }}"
 		hide-element-selector=".profile-container">
 	</community-page-header>


	<div class="row profile-container">

		<!-- sidebar -->
		<div class="cmuProfile__sidebar col--md3">
			<div class="cmuProfile__section row">
				<div><img ng-src="{{ vm.userData.avatarUrl }}" /></div>
				<button class="button--solid" >Edit Profile</button>
			</div>

			<div class="cmuProfile__section row">
				<div ng-if="vm.userData.locName">
					<label class="cmuProfile__sidebar__label">Location</label>
					<p>{{ vm.userData.locName }}</p>
				</div>

				<div class="cmuProfile__subSection" ng-if="vm.userData.meta.personalSiteUrl.value">
					<label class="cmuProfile__sidebar__label">Personal Web Page</label>
					<p>{{ vm.userData.meta.personalSiteUrl.value }}</p>
				</div>

				<div class="cmuProfile__subSection" ng-if="vm.userData.meta.occupation">
					<label class="cmuProfile__sidebar__label">Occupation</label>
					<p>{{ vm.userData.meta.occupation.value }}</p>
				</div>

				<div class="cmuProfile__subSection" >
					<label class="cmuProfile__sidebar__label">Date Registered</label>
					<p>{{ vm.userData.registrationDate | date }}</p>
				</div>

				<div class="cmuProfile__subSection" >
					<label class="cmuProfile__sidebar__label">Date Last Visited</label>
					<p>{{ vm.userData.lastOnlineDate | date }}</p>
				</div>
			</div>

			<div class="cmuProfile__section row" ng-if="vm.userData.meta.bioText">
				<div class="cmuProfile__subSection" >
					<label class="cmuProfile__sidebar__label">About Me</label>
					<p>This is some bio text {{ vm.userData.bioText }}</p>
				</div>
			</div>

		</div>

		<!-- main body -->
		<div class="cmuProfile__main col--md9">

			<div class="cmuProfile__points cmuProfile__section row">
				<div class="cmuProfile__points__progress col--md12">
					<h1>{{ vm.totalPoints }} Total Points ({{ vm.percentageComplete }}%)</h1>
				</div>

				<div class="cmuProfile__points__stats col--md12">
					<div class="col--md2" ng-repeat="category in ::vm.scoreCategories">
						<div><h3>{{ category.count }}</h3></div>
						<h6>{{ category.name }}</h6>
					</div>
				</div>
			</div>


			<div class="cmuProfile__stories cmuProfile__section row">

				<div class="cmuThreadlist__ctrl__row col--md12">
					<button class="button--tab button--wide" ng-class="{'active': vm.profileSummaryShown == true}" ng-click="vm.profileSummaryShown = true">Profile Info</button><button class="button--tab button--wide" ng-class="{'active': vm.profileSummaryShown == false}" ng-click="vm.profileSummaryShown = false">Earn Points</button>
				</div>


				<!-- 
					PROFILE SUMMARY
				-->

				<div class="col--md12" ng-show="vm.profileSummaryShown">

					<!-- stories -->

			        <div class="cmuProfile__stories">
			        
			        	<div class="cmuProfile__title clearfix">
							<h5><span class="cmuIcon__label stories"></span></h5>
							<h5 ng-pluralize count="vm.totalStories" when="{ '0': 'No stories', 'one': '1 story', 'other': '{} stories' }"></h5>
						</div>

						<div class="cmuProfile__section clearfix">
							<div class="cmuStoryGrid">
								<div class="cmuProfile__story cmuStoryGrid__item" ng-repeat="story in vm.storyList">
									<story-display 
										story="story"
										story-media="story.media"
										hide-summary="true"
										hide-author="true"
										fill-width="true">
									</story-display>
								</div>
							</div>
							<div class="cmuProfile__subSection col--md12">
								<button class="button--stretch button--solid" ng-click="vm.loadMore('stories')" ng-show="vm.hasMoreStories">More Stories</button>
							</div>
						</div>
					</div>	



				  	<!-- feed -->
				  	<div class="cmuProfile__activity cmuProfile__section">
			        	<div class="cmuProfile__title clearfix">
							<h5><span class="cmuIcon__label all"></span>Recent Activity</h5>
						</div>

						<div class="cmuProfile__subSection col--md12">
					  		<div ng-repeat="activityItem in vm.activityList">
				        		<community-feed-content content-model="activityItem"></community-feed-content>
				        	</div>
				        </div>

						<div class="cmuProfile__subSection col--md12">
			        		<button class="button--stretch button--solid" ng-click="vm.loadMore('activity')" ng-show="vm.hasMoreActivity">More Activities</button>
						</div>

				  	</div>

				</div>



				<!-- 
					POINTS TABLE
				-->

				<div class="col--md12" ng-show="!vm.profileSummaryShown">

			        <div class="cmuProfile__pointsTable cmuProfile__section">

			        	<div class="cmuProfile__title clearfix">
							<h5><span class="cmuIcon__label all"></span>Recent Activity</h5>
						</div>

						<div class="cmuProfile__table">
							<div ng-repeat="category in ::vm.pointCategories" class="row row--comfy">
								<div class="col--md1"><h2>{{ category.points }}</h2></div>
								<div class="col--md11">
									<h5>{{ category.name }}</h5>
									<p>{{ category.description }}</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>


			</div>
		</div>
	</div>
</div>