
<div>
	<!-- <community-breadcrumbs></community-breadcrumbs>
	<div class="row">
		<div class="cmuDiscussionsControls">
			<discussions-header header-text="{{ vm.userData.login }}"></discussions-header>
			<h6>{{ vm.userData.rank.name }}</h6>
		</div>
		<hr />
	</div>
 -->

 	<community-page-header 
 		header-text="{{ vm.userData.login }}"
 		subtitle-text="{{ vm.userData.rank.name }}">
 	</community-page-header>

	<div class="row">
		<!-- sidebar -->
		<div class="col--md2">
			<div class="row row--comfy">
				<div><img ng-src="{{ vm.userData.avatarUrl }}" /></div>
				<button>Edit Profile</button>
			</div>

			<div class="row row--comfy">
				<div ng-if="vm.userData.locName">
					<label>Location</label>
					<p>{{ vm.userData.locName }}</p>
				</div>

				<div ng-if="vm.userData.meta.personalSiteUrl.value">
					<label>Personal Web Page</label>
					<p>{{ vm.userData.meta.personalSiteUrl.value }}</p>
				</div>

				<div ng-if="vm.userData.meta.occupation">
					<label>Occupation</label>
					<p>{{ vm.userData.meta.occupation.value }}</p>
				</div>

				<div>
					<label>Date Registered</label>
					<p>{{ vm.userData.registrationDate | date }}</p>
				</div>

				<div>
					<label>Date Last Visited</label>
					<p>{{ vm.userData.lastOnlineDate | date }}</p>
				</div>
			</div>
		</div>

		<div class="row row--comfy" ng-if="vm.userData.bioText">
			<p>{{ vm.userData.bioText }}</p>
		</div>

		<!-- main body -->
		<div class="col--md10">
			<div class="row row--comfy">
				<h1>{{ vm.totalPoints }} Total Points ({{ vm.percentageComplete }}%)</h1>
			</div>

			<div class="row row--comfy">
				<div class="col--md2" ng-repeat="category in ::vm.scoreCategories">
					<div><h3>{{ category.count }}</h3></div>
					<h6>{{ category.name }}</h6>
				</div>
			</div>

			<div class="row">
				<div>
					<button ng-click="vm.profileSummaryShown = true">Profile Info</button>
					<button ng-click="vm.profileSummaryShown = false">Earn Points</button>
				</div>
				<div ng-show="vm.profileSummaryShown">
					<!-- stories -->
					<div class="row row--comfy">
						<div>
							<h5 ng-pluralize count="vm.totalStories" when="{ '0': 'No recent stories', 'one': '1 recent story', 'other': '{} recent stories' }"></h5>
						</div>
						<div>
							<div class="col--md4" ng-repeat="story in vm.storyList">
								<story-display 
									story="story"
									story-media="story.media"
									hide-summary="true"
									hide-author="true"
									fill-width="true">
								</story-display>
							</div>
						</div>
						<button ng-click="vm.loadMore('stories')" ng-show="vm.hasMoreStories">Load More Stories</button>
					</div>

				  	<!-- feed -->
				  	<div class="row row--comfy">
				  		<h5>Recent Activity</h5>
				  		<hr />
				  		<div ng-repeat="activityItem in vm.activityList">
			        		<community-feed-content content-model="activityItem"></community-feed-content>
			        	</div>
			        	<button ng-click="vm.loadMore('activity')" ng-show="vm.hasMoreActivity">Load Activity</button>
				  	</div>

				</div>

				<div ng-show="!vm.profileSummaryShown">
					<div ng-repeat="category in ::vm.pointCategories" class="row row--comfy">
						<div class="col--md1"><h2>{{ category.points }}</h2></div>
						<div class="col--md11">
							<h5>{{ category.name }}</h5>
							<p>{{ category.description }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>