<div id="{{ messageDisplay.message.id }}">
	<div class="cmuMessage__container">
		
		<community-user-badge
			user="messageDisplay.message.insertUser"
			op-id="messageDisplay.showOp">
		</community-user-badge>

		<div class="cmuMessage__body" ng-class="{  forumThreadMessage__linked : vm.linkedMessageId == messageDisplay.message.id }">

			<div class="cmuMessage__replyTo" ng-if="messageDisplay.reply">
				<a ng-click="messageDisplay.goToParentMessage(messageDisplay.reply.parentId)"><span class="cmuMessage__replyTo__user">{{ messageDisplay.reply.username }}</span></a>
			</div>

			<div class="cmuMessage__content" ng-bind-html="messageDisplay.message.body | sanitize">
			</div>

			<!-- message controls -->
			<div class="cmuMessage__controls">
				<div class="row">
					<div class="col--md6">
						<div class="cmuMessage__counter" ng-if="messageDisplay.threadFilter">
							{{ messageDisplay.getMessagePosition() }}
						</div>
						<div class="cmuMessage__date">{{ messageDisplay.message.postDate | exactTimeFromNow }}</div>
					</div>
					<div class="col--md6 alignRight">
						<div class="cmuMessage__controls"> 
							<div class="cmuMessage__reply noPadding">
								<span community-permissions denied-behavior="disable">
									<span class="cmuMessage__flag cmuHoverflag__trigger">
										<span class="cmuIcon cmuIcon--small cmuIcon-flag"></span>

										<div class="cmuHoverflag  cmuHoverflag--top" data-tooltip="Flag this post" data-textalign="left"></div>
									</span>



									<div class="button button--vote button--thin button--compound-naked">
										123 kudos
									</div>
									<div class="button button--vote button--thin button--compound-naked ">
										<span class="icon ubnt-icon--tools"></span> Helpful
									</div>
								</span>
								
								<div 
									community-permissions
									class="button button--solid button--thin button-white-on-blue" 
									ng-click="messageDisplay.replyClickFn(messageDisplay.message.id)">
										Reply
								</div>

<!-- 
								<div 
									class="button button--solid button--thin button-white-on-blue" 
									ng-click="messageDisplay.replyClickFn(messageDisplay.message.id)">
										Edit
								</div>
								 -->
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
