<div id="{{ messageDisplay.message.id }}">
	<div class="cmuMessage__container">

		<div community-sticky sticky-class="cmuStuck" sticky-bound="::parent">
			<div>
				<community-user-badge
					user="messageDisplay.message.insertUser"
					op-id="messageDisplay.showOp">
				</community-user-badge>
			</div>
		</div>

		<div class="cmuMessage__body" ng-class="{  forumThreadMessage__linked : vm.linkedMessageId == messageDisplay.message.id }">

			<div class="cmuMessage__replyTo" ng-if="messageDisplay.reply">
				<span class="cmuMessage__replyTo__desc">${{ forums.message.inReplyTo }}$</span>
			</div>

			<div class="cmuMessage__content cmuContent" ng-bind-html="messageDisplay.message.body | sanitize: messageDisplay.message.format">
			</div>

			<community-attachment-display ng-model="messageDisplay.message.attachments"></community-attachment-display>

			<div class="cmuMessage__signature ">
				WHT! This is a signature example and a horrible run on sentence because whoo signatures yeah they're great whoo signatures are so cool! What can you do with them, who knows
			</div>


			<!-- message controls -->
			<div class="cmuMessage__footer">
				<div class="cmuMessage__meta">
					<div class="cmuMessage__counter" ng-if="messageDisplay.threadFilter">
						{{ messageDisplay.getMessagePosition() }}
					</div>
					<div class="cmuMessage__date">
						<span ng-if="!messageDisplay.isEdited">{{ messageDisplay.message.postDate | exactTimeFromNow }}</span>
						<span ng-if="messageDisplay.isEdited"> ${{ core.actions.edited }}$ {{ messageDisplay.message.editDate | exactTimeFromNow }}</span>
					</div>

					<span class="cmuMessage__link"
						community-class-toggle="showLink" ng-click="messageDisplay.setMessageUrl()">
						<span class="cmuIcon cmuIcon--small alignCenter"><span class="ubnt--icon ubnt-icon--link"></span>
						</span>
					</span>
					<span class="cmuMessage__link__container">{{ messageDisplay.messageUrl }}</span>
				</div>
				<div class="cmuMessage__controls"> 
					<div class="cmuMessage__reply noPadding">
						<span>
							<span community-permissions="message.can_edit_message" permissions-id="messageDisplay.message.id" denied-behavior="hide">
								<a 
									class="cmuMessage__actions cmuTooltip__trigger"
									area-link-handler="{{ messageDisplay.editUrl }}">
									<span class="cmuIcon cmuIcon--small cmuIcon-action__icon"><span class="ubnt--icon ubnt-icon--pencil-2"></span>
									</span>
									<div class="cmuTooltip cmuTooltip--top"><span>${{ directives.message.edit }}$</span></div>
								</a>
							</span>
							<span class="cmuMessage__actions cmuTooltip__trigger" community-permissions="message.can_flag" permissions-id="messageDisplay.message.id" denied-behavior="hide">
								<span class="cmuIcon cmuIcon--small cmuIcon-action__icon cmuIcon-flag"></span>
								<div class="cmuTooltip cmuTooltip--top" ><span>${{ directives.message.flag }}$</span></div>
							</span>

							<community-reaction 
								reaction-type="kudo" 
								message-id="messageDisplay.message.id" 
								reaction-count="messageDisplay.message.scores.kudoCount"
								thin-display="true">
							</community-reaction>

							<community-reaction 
								reaction-type="thank" 
								message-id="messageDisplay.message.id"
								reaction-count="messageDisplay.message.scores.thankCount"
								thin-display="true">
							</community-reaction>
						</span>

						<button 
							community-permissions="message.can_comment" 
							permissions-id="messageDisplay.message.id"
							class="button button--solid button--thin button--lowercase button-white-on-blue cmuPermissions" 
							ng-click="messageDisplay.replyClickFn(messageDisplay.message)">
								<span ng-if="messageDisplay.replyShown == true">${{ core.actions.quote }}$</span>
								<span ng-if="messageDisplay.replyShown != true">${{ core.actions.reply }}$</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
