<div id="{{ messageDisplay.message.id }}">
	<div class="cmuMessage__container">
		
		<community-user-badge
			user="messageDisplay.message.insertUser"
			op-id="messageDisplay.showOp">
		</community-user-badge>

		<div class="cmuMessage__body" ng-class="{  forumThreadMessage__linked : vm.linkedMessageId == messageDisplay.message.id }">

			<div class="cmuMessage__replyTo" ng-if="messageDisplay.reply">
				<a ng-click="messageDisplay.goToParentMessage(messageDisplay.reply.parentId)"><span class="cmuMessage__replyTo__user">{{ messageDisplay.reply.username }}</span></a>
			</div>

			<div class="cmuMessage__content cmuContent" ng-bind-html="messageDisplay.message.body | sanitize">
			</div>

			<div class="cmuMessage__signature ">
				WHT! This is a signature example and a horrible run on sentence because whoo signatures yeah they're great whoo signatures are so cool! What can you do with them, who knows
			</div>


			<!-- message controls -->
			<div class="cmuMessage__footer">
				<div class="cmuMessage__meta">
					<div class="cmuMessage__counter" ng-if="messageDisplay.threadFilter">
						{{ messageDisplay.getMessagePosition() }}
					</div>
					<div class="cmuMessage__date">
						{{ messageDisplay.message.postDate | exactTimeFromNow }}
						<span ng-if="messageDisplay.isEdited"> | ${{ core.actions.edited }}$ {{ messageDisplay.message.editDate | exactTimeFromNow }}</span>
					</div>
				</div>
				<div class="cmuMessage__controls"> 
					<div class="cmuMessage__reply noPadding">
						<span community-permissions denied-behavior="disable" class="cmuPermissions">
							<span 
								ng-if="messageDisplay.canEditMessage"
								class="cmuMessage__actions cmuTooltip__trigger">
								<span class="cmuIcon cmuIcon--small cmuIcon-action__icon"><span class="ubnt--icon ubnt-icon--pencil-2"></span>
								</span>
								<div class="cmuTooltip cmuTooltip--top" data-tooltip="${{ directives.message.edit }}$"></div>
							</span>
							<span class="cmuMessage__actions cmuTooltip__trigger">
								<span class="cmuIcon cmuIcon--small cmuIcon-action__icon cmuIcon-flag"></span>
								<div class="cmuTooltip cmuTooltip--top" data-tooltip="${{ directives.message.flag }}$"></div>
							</span>

							<div class="button button--vote button--vote--kudo button--thin button--lowercase" community-class-toggle="button--voted">
								<div class="button--vote--points">123</div>
								<div class="button--vote--action">${{ core.kudos }}$</div>
							</div>

							<div class="button button--vote button--thin button--lowercase" community-class-toggle="button--voted button--lowercase">
								<div class="button--vote--points">123</div>
								<div class="button--vote--action">${{ core.thanks }}$</div>
							</div>
						</span>
						
						<span 
							community-permissions
							class="button button--solid button--thin button--lowercase button-white-on-blue cmuPermissions" 
							ng-click="messageDisplay.replyClickFn(messageDisplay.message.id)">
								${{ core.actions.reply }}$
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
