<div class="cmuInbox__detail col--md12 noPadding">

	<div class="cmuInbox__detail--header row">
		<div class="col--md6">
			<h2>{{ vm.originalMessage.subject }}</h2>
			<div class="cmuInbox__list__title"><span>{{ vm.originalMessage.postDate | timeFromNow }}</span> ${{ directory.inbox.with }}$ {{ vm.recipientString }}</div>
		</div>
		<div class="cmuInbox__pagerContainer col--md6">
			<community-pager number-of-pages="vm.numberOfPages" pager-fn="vm.threadFilter"></community-pager>
		</div>
	</div>

	<div class="clearfix cmuRow">
	</div>

	<div class="cmuInbox__message__container cmuLoading clearfix">
		<div ng-repeat="message in vm.messageList.content" class="cmuInbox__message clearfix noPadding">
			<div class="cmuInbox__message__badge">
				<community-user-badge 
					class="cmuUserbadge--comment"
					user="message.insertUser">
				</community-user-badge>
			</div>
			<div class="cmuInbox__message__main">
			    <community-user-badge class="cmuUserbadge--nameOnly" user="message.insertUser"></community-user-badge>
				<span class="cmuComments__date">
			        {{ message.postDate | timeFromNow }}
				</span>

				<div class="cmuInbox__message__body" ng-bind-html="message.body | sanitize:markdown"></div>
					
				<community-attachment-display ng-model="message.attachments"></community-attachment-display>
			</div>
		</div>
	</div>

	<div class="clearfix">
		<community-text-editor ng-model="vm.newMessage.body"></community-text-editor>

		<div>
		 <community-file-upload 
		    file-list-model="vm.newMessage.attachments" 
		    display-text="Add an attachment"
		    is-attachment="true">
		  </community-file-upload>
		</div>

	    <div class="row cmuRow">
	      <div class="cmuTextEditor__preview" ng-if="vm.newMessage.body" ng-bind-html="vm.newMessage.body | sanitize:'markdown'"></div>
	    </div>
	    
		<div ng-show="!vm.submittingReply">
			<button class="button button--solid button--wide" ng-click="vm.postNewMessage()">${{ core.actions.reply }}$</button>
		</div>
		 <div ng-show="vm.submittingReply">
          <button class="cmuInput--waiting button--padded" disabled>${{ directory.inbox.replyFeedback }}$...</button>
        </div>
	</div>
</div>