<div class="cmuInbox__detail col--md12 noPadding">

	<div class="cmuInbox__detail--header row">
		<div class="col--md6">
			<h2>{{ vm.getSubject(message.topic.subject) }}</h2>
			<div class="cmuInbox__list__title">
				<!-- <span>{{ vm.originalMessage.postDate | timeFromNow }}</span>  -->
				<!-- ${{ directory.inbox.with }}$  -->
				{{ vm.currentUser.login }}, {{ vm.recipientString }}</div>

			<!-- delay feature
				<div class="cmuSearchbox cmuHalfRow">
				<ui-select class="cmuHalfRow cmuInputSelector cmuInput--wide cmuInput--stacked" multiple theme="select2" ng-model="vm.newTopic.recipientIds">
					<ui-select-match placeholder="${{ directory.inbox.addUser }}$" >{{ $item.login }}</ui-select-match>
					<ui-select-choices 
					  refresh="vm.searchUsers($select.search)"
					  refresh-delay="2" 
					  class="cmuInputSelector--choices" 
					  repeat="user.id as user in vm.searchedUsers | filter: { login: $select.search }">
					    <li ng-bind-html="user.login | highlight: $select.search"></li>
					</ui-select-choices>
				</ui-select>
				<label>${{ directory.inbox.recipients }}$</label>
			</div> -->
		</div>
		<div class="cmuInbox__pagerContainer col--md6">
			<community-pager number-of-pages="vm.numberOfPages" pager-fn="vm.threadFilter"></community-pager>
		</div>
	</div>

	<div class="cmuInbox__message__container cmuLoading clearfix">
		<div ng-repeat="message in ::vm.messageList.content" class="cmuInbox__message clearfix" ng-class="{'newUser':vm.isNewUser(message.insertUser, $index), 'newDate':vm.isNewDate(message.postDate)}">
			<div class="cmuInbox__message__badge">
                <community-user-avatar user="::message.insertUser"></community-user-avatar>
			</div>
			<div class="cmuInbox__message__main row">
				<div class="cmuInbox__message__content col--md10">
					<community-username user="::message.insertUser"></community-username>
					
					<div class="cmuInbox__message__body" ng-bind-html="message.body | sanitize:markdown"></div>
						
					<community-attachment-display ng-model="message.attachments"></community-attachment-display>
				</div>
				<div class="cmuInbox__message__date col--md2">
					<span class="cmuComments__date">
				        {{ message.postDate | timeFromNow }}
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix">
		<community-text-editor ng-model="vm.newMessage.body"></community-text-editor>

		<div>
		 <community-file-upload 
		    file-list-model="vm.newMessage.attachments" 
		    display-text="${{ directives.fileupload.addAttachment }}$"
		    is-attachment="true">
		  </community-file-upload>
		</div>

	    <div class="row cmuRow">
	      <div class="cmuTextEditor__preview" ng-if="vm.newMessage.body" ng-bind-html="vm.newMessage.body | sanitize:'markdown'"></div>
	    </div>
	    
		<div ng-show="!vm.submittingReply">
			<button class="button button--solid button--wide" ng-click="vm.postNewMessage()">${{ core.actions.reply }}$</button>
		</div>
		 <div ng-show="vm.submittingReply">
          <button class="cmuInput--waiting button--padded" disabled>${{ directory.inbox.replyFeedback }}$...</button>
        </div>
	</div>
</div>