
// 
// FORUM THREADCOUNT MODULE
// @threadcount
// e.g. "showing 235 results/threads"
// 

.forumThreadcount {
	margin-bottom: $cmu-base;
}

	.forumThreadcountRow {
		border-top: $cmu-style-border-thin;
		padding-top: $cmu-base/2;
	}


// 
// FORUM THREADLIST MODULE
// @threadlist
// @forum
// 

// 
// Define column widths (replaces the old colgroup)
// 
%forumThreadList__column--topic {
	width: 60%;
}
%forumThreadList__column--author {
	width: 15%;
	padding-right: $cmu-base/2;
}
%forumThreadList__column--counter {
	width: auto;
	padding: 0 $cmu-base/2;
}
%forumThreadList__column--latest {
	width: 16%;
	padding-left: $cmu-base/2;
}

// THREAD DESCRIPTORS
.forumThreadList thead {
	border-bottom: $cmu-style-border-thin-light;

	th {
		// @extend .type-titleThin;
		font-weight: 400; 
		@extend %size-xsmaller;
		color: $cmu-color-ltblack;
		// text-transform: uppercase;
		@extend %ease-fast;
	}
}
	.forumThreadList__head--topic {
		@extend %forumThreadList__column--topic;
		text-align: left;
	}
	.forumThreadList__head--author {
		@extend %forumThreadList__column--author;
		text-align: left;
	}
	.forumThreadList__head--counter {
		@extend %forumThreadList__column--counter;
		text-align: center;
	}
	.forumThreadList__head--latest {
		@extend %forumThreadList__column--latest;
		text-align: left;
	}


// Date style
.forumThreadList__date {
	color: $cmu-color-dkgray;
	font-size: $cmu-size-xsmaller;
	display: block;
}

// 
// EACH ROW
// 
.forumThreadList__message {
	@extend %size-community-base;
	border-top: $cmu-style-border-thin-light;
	border-bottom: $cmu-style-border-thin-light;

	td {
		padding-top: $cmu-base/2;
		padding-bottom: $cmu-base/2;
	}
}

	.forumThreadList__message__author {
		@extend %forumThreadList__column--author;
	}
	.forumThreadList__message__topic {
		@extend %style-community-link;
	}

	.forumThreadList__message__by {
		// font-size: $cmu-size-xsmaller;
		// font-style: italic;
	}


	.forumThreadList__message__counter {
		text-align: center;
	}

	.forumThreadList__message__latest {
		@extend %forumThreadList__column--latest;
		span {
			// white-space: nowrap; 
			// display: block; // force wrap; mixed looks weird
			// Prevents wrap: if "10 min ago" will probably remain on a single line, otherwise will go to next line
		}
	}
