

// 
// FORUM MESSAGES
// 

$cmu-thread-message-height:	$cmu-base * 3;


// SUBJECT
.forumThread__subject h3 {
	margin-bottom: $cmu-vertical-rhythm;
}
	// Active Thread
	.forumThread__subject--active {
		h3:before {
			content: 'ACTIVE';
			display: inline-block;
			background-color: $cmu-color-red;
			color: $cmu-color-white;
			padding: $cmu-base/6 $cmu-base/2;
			margin-right: $cmu-base/2;
			font-size: $cmu-size-xxsmaller;
			line-height: $cmu-base;
			position: relative;
			top: -5px;
		}
	}

	// Locked Thread
	.forumThread__subject--active {
		h3:after {
			font-size: $cmu-size-large;
			font-family: 'ubnt';
			content: '\e787';
			display: inline-block;
			padding: $cmu-base/6 $cmu-base/2;
			color: $cmu-color-gray;
			// font-size: $cmu-size-xxsmaller;
		}
	}


// 
// MESSAGE CONTAINER & BODY
// badge is handled in cmuUserbadge
// 

.forumThreadContainer {
	counter-reset: messageCtr;
}

.forumThreadMessage__row {
	border: $cmu-style-border-thin-dark; 
	margin-bottom: $cmu-vertical-rhythm/2;
	display: table;
	width: 100%; // may not work as parent needs width declaration
	// @extend .style-copy;
	// border-top: 0px;
	// &:first-of-type {
	// 	border-top: $cmu-style-border-thin-light;
	// }


	// bottom row of buttons in a message
	@extend %ease-fast;
	.forumThreadMessage__controls {
		opacity: 0.3; 
		@extend %ease-fast;
	}
	&:hover {
		.forumThreadMessage__controls {
			opacity: 1; 
			@extend %ease-fast;
		}
	}

	// fade in / out the user badge
	.cmuUserbadge {
		@extend %ease-fast;
		opacity: 0.46;
		
	}
	&:hover {
		.cmuUserbadge {
			@extend %ease-fast;
			opacity: 1;
		}
	}

}

.forumThreadMessage__body {
	display: table-cell;
	vertical-align: top;
	width: 80%;

	border-left: $cmu-style-border-thin-dark; 
	padding: $cmu-base;
	padding-top: $cmu-base/2;
}

.forumThreadMessage__header {
	font-size: $cmu-size-xsmaller;
	color: $cmu-color-mdgray;
}
	
	// add "Re:" to replies
	// .forumThreadMessage:nth-child(n+2) {
	// 	.forumThreadMessage__messageTopic:before {
	// 		content: 'Re: '
	// 	}
	// }


	.forumThreadMessage {
		.forumThreadMessage__messageTopic {
			display: none;
		}
	}
	.forumThreadMessage:nth-child(2) {
		.forumThreadMessage__messageTopic {
			display: inline-block;
		}
	}
	.forumThreadMessage__messageTopic {
		display: inline-block;
		color: $cmu-color-blue;
		&:before {
			content: 'Re: ';
			color: $cmu-color-gray;
		}
		&:after {
			content: ' | ';
			color: $cmu-color-gray;
			margin: 0 $cmu-base/2;
		}
	}

	.forumThreadMessage__date {
		text-align: right;
		display: inline-block;
	}


.forumThreadMessage__content {
	margin-top: $cmu-base/2;
	margin-bottom: $cmu-vertical-rhythm;
	min-height: $cmu-thread-message-height;

	font-size: $cmu-size-normal;
	line-height: $cmu-size-normal-line-height;

	// not sure about x-browser support
	// br is notoriously weird
	br {
		content: " ";
		display: block;
		margin-bottom: 0.5em;
	}


	// users like to add empty paragraphs that lithium doesn't strip out
	// we need to deal with it in code, so this is temporary
	p {
		margin-bottom: 0;
		font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	}

	blockquote {

		// border width is unfortunately set into the html?
		border: 1px solid $cmu-color-gray;
		border-left-width: 3px;
		padding: $cmu-base/2 $cmu-base;

		hr {
			display: none;
		}
		table {
			border-color: transparent;
  			padding: $cmu-base/2 $cmu-base/4;
  			border-left: $cmu-line-thick $cmu-color-blue solid; 
  			display: block;
  			background-color: $cmu-color-ltgray;
		}
		td {
			border: 0;
			padding: 0 $cmu-base;
		}
	}
} 


.forumThreadMessage__signature {
	border-top: $cmu-line-thin solid $cmu-color-ltgray;
	// padding: $cmu-base;
	padding-top: $cmu-base/4;
	font-size: $cmu-size-xsmaller;
	line-height: $cmu-size-xsmaller-line-height;
	margin-bottom: $cmu-base/2;

	max-height: $cmu-base*3; 
	overflow: hidden;
}

	.forumThreadMessage__messageCounter {
		display: inline-block;
		text-align: right;
  		
  		// FPO
  		&:before {
			counter-increment: messageCtr;
			content: counter(messageCtr) " of 20 ";
  		}
		&:after {
			content: ' | ';
			margin: 0 $cmu-base/2;
		}
	}

.forumThreadMessage__controls--reply {
	text-align: right;
}

// bottom row of controls of the thread

.forumThreadMessage__main__bottomControls {
	margin-bottom: $cmu-vertical-rhythm;
}


