

$cmu-forum-size-thread: $cmu-size-smaller;
$cmu-forum-size-numerical: $cmu-size-xsmaller;

$cmu-forum-size-counterWidth: 5%;
$cmu-forum-size-maxWidth: 100px;
$cmu-forum-size-maxWidth--author: 100px;

// 
// FORUM THREADCOUNT MODULE
// @threadcount
// e.g. "showing 235 results/threads"
// 

.forumThreadCount {
	margin-bottom: $cmu-base;
}

	.forumThreadCount__message {
		font-size: $cmu-forum-size-thread;
		font-weight: 400;
		line-height: $cmu-base*2;
	}


// 
// FORUM THREADLIST MODULE
// @threadlist
// @forum
// 

// 
// Define column widths (replaces the old colgroup)
// 
%forumThreadList__column--topic {
	width: auto;
	// @include respondTo(large-up) {
	// 	width: 40%;
	// }
}

%forumThreadList__column--authorLast {
	width: 12%;
	padding-right: $cmu-base/2;
	max-width: $cmu-forum-size-maxWidth--author;
}
%forumThreadList__column--author {
	@extend %forumThreadList__column--authorLast;
	@include respondTo(medium-down) {
		display: none;
	}
}
%forumThreadList__column--counter {
	width: $cmu-forum-size-counterWidth;
	text-align: left;
}
%forumThreadList__column--latestDate {
	padding-left: $cmu-base/2;
	width: 85px;
	text-align: left;
}
%forumThreadList__column--createdDate {
	@extend %forumThreadList__column--latestDate;
	@include respondTo(medium-down) {
		display: none;
	}
}

// THREAD DESCRIPTORS
.forumThreadList thead {
	border-bottom: $cmu-style-border-thin-light;

	th {
		// @extend .type-titleThin;
		font-weight: 400; 
		@extend %size-xsmaller;
		color: $cmu-color-gray;
		// text-transform: uppercase;
		@extend %ease-fast;
	}
}
	.forumThreadList__head--topic {
		@extend %forumThreadList__column--topic;
		text-align: left;
		padding-left: $cmu-base/2;
	}
	.forumThreadList__head--author {
		@extend %forumThreadList__column--author;
		text-align: left;
	}
	.forumThreadList__head--createdDate {
		@extend %forumThreadList__column--createdDate;
	}
	.forumThreadList__head--authorLast {
		@extend %forumThreadList__column--authorLast;
		text-align: left;
	}
	.forumThreadList__head--counter {
		@extend %forumThreadList__column--counter;
	}
		.forumThreadList__head--counter--views {
			@extend %forumThreadList__column--counter;
			width: $cmu-forum-size-counterWidth + 1%;
		}
	.forumThreadList__head--latestDate {
		@extend %forumThreadList__column--latestDate;
	}

// 
// EACH ROW
// 
.forumThreadList__message {
	position: relative; //important for icon placement
	@extend %size-community-base;
	border-top: $cmu-style-border-thin-light;
	border-bottom: $cmu-style-border-thin-light;
	padding-top: $cmu-vertical-rhythm/2;
	padding-bottom: $cmu-vertical-rhythm/2;
	line-height: 2rem;

	td {
		//sometimesusernamesortextcanbejustonelonggarbledthinganddoesntwrapproperly
		overflow: hidden; 
	}
}

	.forumThreadList__message__topic {
		// * { font-weight: 400; }
		@extend %style-community-mainlink;
		padding-left: $cmu-base/2;
		padding-right: $cmu-base/2;
		position: relative; //important for icon placement
		line-height: $cmu-base*1.5;
	}

	.forumThreadList__message__author {
		@extend %forumThreadList__column--author;
		line-height: $cmu-base;
	}

	.forumThreadList__message__authorLast {
		@extend %forumThreadList__column--authorLast;
		line-height: $cmu-base;
	}

	.forumThreadList__message__counter {
		@extend %forumThreadList__column--counter;
		padding-right: $cmu-base/2;
		font-size: $cmu-forum-size-numerical;
	}

		.forumThreadList__message__counter--views {
			width: $cmu-forum-size-counterWidth + 1%;
		}

	.forumThreadList__message__latestDate {
		@extend %forumThreadList__column--latestDate;
		padding-right: $cmu-base/2;
		line-height: 1rem;
		color: $cmu-color-dkgray;
		font-size:  $cmu-forum-size-numerical;
	}
	.forumThreadList__message__createdDate {
		@extend .forumThreadList__message__latestDate;
		@extend %forumThreadList__column--createdDate;
	}


// 
// Pinned / Locked Styles
// 

.forumThreadList--pinList {
	border-bottom: $cmu-style-border-medium;
	border-color: $cmu-color-dkgray;
}


// 
// THREAD STYLES
// 

// Pinned Thread
.forumThreadList__message--pinned {
	.forumThreadList__message__topic:after {
		content: ' ';
		display: inline-block;
		position: relative;
			top: 4px;
		width: $cmu-base*1.2;
		height: $cmu-base*1.2;

		@extend .cmuIcons--pin;
  		background-repeat: no-repeat;
	}
}

// Active Thread
.forumThreadList__message--active {
	.forumThreadList__message__topic > a:before {
		content: 'ACTIVE';
		display: inline-block;
		background-color: $cmu-color-red;
		padding: $cmu-base/6 $cmu-base/2;
		margin-right: $cmu-base/2;
		color: $cmu-color-white;
		font-size: $cmu-size-xxsmaller;
		line-height: $cmu-base;
	}
}

// Locked Thread
.forumThreadList__message--locked {
	.forumThreadList__message__topic > a:after {
		font-family: 'ubnt';
		content: '\e787';
		display: inline-block;
		padding: $cmu-base/6 $cmu-base/2;
		// font-size: $cmu-size-xxsmaller;
	}
}

// Read Thread
.forumThreadList__message--read {
	a, .forumThreadList__message__counter { font-weight: 300; }
	background-color: $cmu-color-ltgray;
	border-color: darken($cmu-color-ltgray,5);
}




