
// 
// Badge / Avatar area
// 

// note that thin userbadges override these settings
.cmuUserbadge { 
	// opacity onhover is contextual to the discussion style
	// so this is moved to each discussion module ex: forumthreadmodule
	// @extend %ease-fast;
	opacity: 1;
	min-width: $size-badgewidth-min; // 176px min width
	// &:hover {
	// 	opacity: 1;
	// }
}

	// appears at the top
	.cmuUserbadge__op:before {
		content: 'OP';
		display: block;
		@extend %type-tiny;
		padding: $cmu-base/8;
		text-align: center;
		background-color: $cmu-color-post;
		color: $cmu-color-active;
		border-bottom: $style-line;
		// margin-top: -1px;
	}	
	// don't show OP for on first posts
	.cmuThread__firstPost > .cmuUserbadge__op:before {
		display: none;
	}

	.cmuThread__firstPost {
	    .cmuMessage__data {
	    	float: right;
	    	vertical-align: top;
	    	@extend %type-info;
	    }
	}


// 
// Main account information
// 
.cmuUserbadge__account {
	overflow: hidden;
	cursor: pointer;
	// margin-bottom: $cmu-base/4;
	padding: $cmu-base/2 $cmu-base;
    padding-bottom: 0;

	&:hover {

		a {
			color: $cmu-color-black;
		}
		// .cmuUserbadge__avatar:after {
		// 	background: $cmu-color-mdgray;
		// 	@extend %ease-fast;
		// }
	}
}
	.cmuUserbadge__avatar {
		display: inline-block;
		float: left;
		margin-right: $cmu-base/2;
		cursor: pointer;
		border-radius: 99999px;

		&:after {
			content: ' ';
			display:block;
			// background-position: 10px 10px;
    		background-position-x: -30px;
			border-radius: 50%;
			background-repeat: no-repeat;
			width: $size-avatar;
			height: $size-avatar;
			@include transition-duration(0.35s);
			@include transition-timing-function(ease-out);
		}

	}
	.cmuUserbadge__account {

		.cmuUsername {
			@extend %type-base;
			line-height: $cmu-base * 3/4;
			margin-top: $cmu-base/4;
		}

		// icons have more lineheight
		.cmuUsername__icon {
			@extend %type-base;
			line-height: $cmu-base*1.5;
		}
	}


// 
// DESCRIPTORS – e.g. location, IP, post #, etc.
// 
.cmuUserbadge__descriptors {
	word-wrap: break-word;
	padding: 0 $cmu-base;
	padding-bottom: $cmu-base;

	// description tag
	div {
		text-transform: capitalize;
		@extend %type-info;
		// &:before {
		// 	font-weight: 400;
		// 	// content: attr(data-desc) ": ";
		// 	display: inline-block;
		// 	white-space: pre;
		// }
	}
}


	.cmuUserbadge__user {
		margin-bottom: $cmu-base/2;
	}



.cmuUserbadge__rank {
	@extend %type-info;
    vertical-align: top;
	display: block;
    // line-height: 0.75rem; // looks weird when no ubnt logo on username, but might cause problems
	text-align: left;
}


.cmuUserbadge__points {
	display: inline-block;
    // border: 1px solid $cmu-color-xltgray;
    // padding-left: $cmu-base;
    padding-right: $cmu-base;
	margin: 0 $cmu-base/2;
	margin-bottom: $cmu-base/4;
    @extend %type-info;
}
	.cmuUserbadge__kudos, .cmuUserbadge__postCount {
		// padding: $cmu-base/8 $cmu-base/4;
		padding-left: $cmu-base/2;
		display: inline-block;

		.cmuIcon-kudos, .cmuIcon-posts {
			padding-right: $cmu-base/4;

		}
		&:after {
			content: ' kudos';
			font-weight: 300;
		}
	}
	.cmuUserbadge__postCount {
		&:after {
			content: ' posts';
		}
	}

	.cmuUserbadge__posts {
		display: inline-block;
		padding-left: $cmu-base/2;
		&:after {
			content: ' posts';
			font-weight: 300;
		}
	}

// 
// TAGS
// 
.cmuUserbadge__status__op:before {
	content: 'OP';
	@extend %font-oswald;
	font-size: $size-xxsmaller;
	border: $style-line;
	padding: 0px $cmu-base/8;
	margin-right: 1px;
	// color: $cmu-color-mdgray;

    padding-bottom: 1px;
    position: relative;
    top: -1px;
}	

// ubnt employees
.cmuUserbadge--ubnt {
	background-color: $cmu-color-blue;
}






// 
// 	THIN USERBADGE OVERRIDES
// 

.cmuUserbadge--thin {
	display: inline-block;
	opacity: 1;
	margin-bottom: $cmu-base;

	position: relative;
    top: -$cmu-base;
    left: -$cmu-base;
    padding: $cmu-base;
	padding-bottom: 0;
    padding-right: $cmu-base*2;
    padding-top: $cmu-base*3/4;
    border-bottom: $style-line;
    border-right: $style-line;


    .cmuUserbadge__account {
    	display: inline-block;
    	padding: 0;
		padding-right: $cmu-base*4;
		white-space: nowrap;
    }
    	.cmuUsername {
    		margin-top: 0;
    	}

    	.cmuUserbadge__avatar {
   			// padding-left: $cmu-base/2;
   			
   			// required for thin to align profile image w/ rank and name
		    vertical-align: top;
		    float: left;
    	}

    .cmuUserbadge__points {
    	display: inline-block;
    	vertical-align: top;
		// margin-top: -3px;

    	div {
    		display: block;
			text-align: left;
			// padding: 2px 8px;
    	}
    }

		.cmuUserbadge__posts {
			padding-left: 0;
			&:after {
	    		padding-left: 3px; // makes up for the "posts" word being shorter 
			}
		}

    .cmuUserbadge__info {
		display: inline-block;
		vertical-align: top;		// border-left: $style-line;
    }

    .cmuUserbadge__descriptors {
    	padding: 0;
    }

}
	.cmuUserbadge--thin--open {
		margin: 0;
		border: 0;
		position: initial;
		padding-left: 0;
		padding-top: 0;

		.cmuUserbadge__user {
			margin-bottom: 0;
		}
	}



// 
// Super Thin Userbadge for Comments
// 

.cmuUserbadge--comment {

	min-width: inherit; // 176px min width

	.cmuUserbadge__points, .cmuUserbadge__info {
		display: none;
	}
}


// 
// Hover Flag
// - hoverable expandable tooltip
// 
.cmuUserbadge:hover {
	.cmuUserbadge__flag {
		display: block;
	}
}

.cmuUserbadge__flag {
	display: none;
	position: relative;

	.cmuUserbadge__flag__container {
		position: absolute;
		z-index: $z-top;
		top: -66px;
		left: -$cmu-base;
		padding: $cmu-base;

		background-color: $cmu-color-white;
		border: $style-line;

		.cmuUserbadge__avatar:after {
			height: 5rem;
			width: 5rem;
		}
	}
}

