
// 
// Badge / Avatar area
// 

// note that thin userbadges override these settings
.cmuUserbadge { 
	// opacity onhover is contextual to the discussion style
	// so this is moved to each discussion module ex: forumthreadmodule
	// @extend %ease-fast;
	opacity: 1;
	min-width: $size-badgewidth-min; // 176px min width
	// &:hover {
	// 	opacity: 1;
	// }
}

	// appears at the top
	.cmuUserbadge__op:before {
		content: 'OP';
		display: block;
		@extend %type-tiny;
		padding: $cmu-base/8;
		text-align: center;
		background-color: $cmu-color-post;
		color: $cmu-color-active;
		border-bottom: $style-line;
		// margin-top: -1px;
	}	
	// don't show OP for on first posts
	.cmuThread__firstPost > .cmuUserbadge__op:before {
		display: none;
	}

	.cmuThread__firstPost {
	    .cmuMessage__data {
	    	float: right;
	    	vertical-align: top;
	    	@extend %type-info;
	    }
	}


// 
// Main account information
// 
.cmuUserbadge__account {
	overflow: hidden;
	cursor: pointer;
	// margin-bottom: $cmu-base/4;
	padding: $cmu-base/2 $cmu-base;
    padding-bottom: 0;

	&:hover {

		a {
			color: $cmu-color-black;
		}
		// .cmuUserbadge__avatar:after {
		// 	background: $cmu-color-mdgray;
		// 	@extend %ease-fast;
		// }
	}
}
	.cmuUserbadge__avatar {
		display: inline-block;
		float: left;
		margin-right: $cmu-base/2;
		cursor: pointer;
		border-radius: 99999px;

		// &:after {
			// content: ' ';
			display: inline-block;
			// background-position: 10px 10px;
    		// background-position-x: -30px;
    		background-size: cover;
			border-radius: 50%;
			background-repeat: no-repeat;
			width: $size-avatar;
			height: $size-avatar;
			@include transition-duration(0.35s);
			@include transition-timing-function(ease-out);
		// }
	}
		.cmuUserbadge__avatar--small {
			
			// &:after {
			width: $size-avatar--small;
			height: $size-avatar--small;
			// }
		}



	.cmuUserbadge__account {

		.cmuUsername {
			@extend %type-base;
			line-height: $cmu-base * 3/4;
			margin-top: $cmu-base/4;
    		min-width: 100px;

		}

		// icons have more lineheight
		.cmuUsername__icon {
			@extend %type-base;
			line-height: $cmu-base*1.5;
		}
	}


// 
// DESCRIPTORS – e.g. location, IP, post #, etc.
// 
.cmuUserbadge__descriptors {
	word-wrap: break-word;
	padding: 0 $cmu-base;
	padding-bottom: $cmu-base;

	.cmuUserbadge__descriptor__title {
		font-weight: 300;
	}

	// description tag
	div {
		text-transform: capitalize;
		@extend %type-info;
		// &:before {
		// 	font-weight: 400;
		// 	// content: attr(data-desc) ": ";
		// 	display: inline-block;
		// 	white-space: pre;
		// }
	}
}


	.cmuUserbadge__user {
		margin-bottom: $cmu-base/2;
	}



.cmuUserbadge__rank {
	@extend %type-info;
    vertical-align: top;
	display: block;
	// display: inline-block;
    // line-height: 0.75rem; // looks weird when no ubnt logo on username, but might cause problems
	text-align: left;
	font-weight: 300;
}


.cmuUserbadge__points {
	display: inline-block;
    padding-right: $cmu-base;
	margin: 0 $cmu-base/2;
	margin-bottom: $cmu-base/2;
    @extend %type-info;
}
	.cmuUserbadge__stat {
		margin-left: $cmu-base/2;
		// display: block;
		display: inline-block;
		// @extend %style-stat;

		// margin-top: $cmu-base/2;
	}

	.cmuUserbadge__stat__num {
		// @extend %style-stat-num;
	}
	.cmuUserbadge__stat__title {
		font-weight: 300;
		// @extend %style-stat-title;
	}


// 
// TAGS
// 
.cmuUserbadge__status__op:before {
	content: 'OP';
	@extend %font-oswald;
	font-size: $size-xxsmaller;
	border: $style-line;
	padding: 0px $cmu-base/8;
	margin-right: 1px;
	// color: $cmu-color-mdgray;

    padding-bottom: 1px;
    position: relative;
    top: -1px;
}	

// ubnt employees
.cmuUserbadge--ubnt {
	background-color: $cmu-color-blue;
}






// 
// 	THIN USERBADGE OVERRIDES
// 

.cmuUserbadge--thin {
	display: inline-block;
	opacity: 1;
	// margin-bottom: $cmu-base;

	position: relative;
    top: -$cmu-base;
    left: -$cmu-base;
    padding: $cmu-base;
	padding-bottom: 0;
    padding-right: $cmu-base*2;
    padding-top: $cmu-base*3/4;
    
    // border-bottom: $style-line;
    // border-right: $style-line;

    .cmuUserbadge__main {
    	margin-top: 3px;
    }

    .cmuUserbadge__account {
    	display: inline-block;
    	padding: 0;
		// padding-right: $cmu-base*2;
    	max-width: 210px;
		// white-space: nowrap;
    }
    	.cmuUsername {
    		margin-top: 0;
    	}

    	.cmuUserbadge__avatar {
   			// padding-left: $cmu-base/2;
   			
   			// required for thin to align profile image w/ rank and name
		    vertical-align: top;
		    float: left;
    	}

    $thin-vertical-margin: 2px;
    
    .cmuUserbadge__points {
    	display: inline-block;
    	vertical-align: top;
    	margin-top: $thin-vertical-margin;

    	div {
    		display: block;
			text-align: left;
			// padding: 2px 8px;
    	}
    }
    	.cmuUserbadge__stat {
    		margin-top: 0;
    	}

		.cmuUserbadge__posts {
			padding-left: 0;
			&:after {
	    		padding-left: 3px; // makes up for the "posts" word being shorter 
			}
		}

    .cmuUserbadge__info {
		display: inline-block;
		vertical-align: top;		// border-left: $style-line;
    	margin-top: $thin-vertical-margin;
    }

    .cmuUserbadge__descriptors {
    	padding: 0;
    	// margin-top: 2px;
    }

}
	.cmuUserbadge--thin--open {
		margin: 0;
		border: 0;
		position: initial;
		padding-left: 0;
		padding-top: 0;

		.cmuUserbadge__user {
			margin-bottom: 0;
		}
	}









// 
// Super Thin Userbadge for Comments
// 

.cmuUserbadge--comment {

	min-width: inherit; // 176px min width

	.cmuUserbadge__points, .cmuUserbadge__info {
		display: none;
	}

	.cmuUserbadge__account {
		padding: 0;
		padding-left: $cmu-base;
	}
}









// 
// Hover Flag
// - hoverable expandable tooltip
// 
.cmuUserbadge--showFlag {
	// @include cmuAnimate(fadeInFromNone, $speed-medium);
}
.cmuUserbadge--showFlag:hover {
	@extend %ease-fast;

	.cmuUserbadge__flag {
		@extend %ease-fast;
		// display: block;
		visibility: inherit;
		opacity: 1;
		// @include cmuAnimate(fadeInFromNone, $speed-medium);
	}
}

.cmuUserbadge__flag {
	visibility: hidden;
	position: relative;
	opacity: 0;
	@extend %ease-fast;

	.cmuUserbadge__flag__container {
		position: absolute;
		z-index: $z-top;
		bottom: $cmu-base*2;
	    width: auto;
		padding: $cmu-base/2;

		$flag-bg: $cmu-color-white;
		background-color: $flag-bg;
		border: $style-line--medium;
		border-color: $cmu-color-gray;

		@extend %style-center;
		top: inherit;
		left: $size-arrow/2;

		// border triangle
		&:before {
			content: '';

			border-left: $size-arrow solid transparent;
			border-right: $size-arrow solid transparent;
			border-top: $size-arrow solid $cmu-color-gray;
			@extend %ease-fast;

			display: inline;
		    position: absolute;

		    width: $size-arrow;
    		bottom: -$size-arrow;
		    left: 50%;
		    transform: translateX(-$size-arrow/2);
		}

		// masking triangle
		&:after {
			content: '';

			border-left: $size-arrow solid transparent;
			border-right: $size-arrow solid transparent;
			border-top: $size-arrow solid $flag-bg;
			@extend %ease-fast;

			display: inline;
		    position: absolute;

		    width: $size-arrow;
    		bottom: -4px;
		    left: 50%;
		    transform: translateX(-$size-arrow/2);
		}



		@extend %style-shadow--light;

		.cmuUserbadge__account {
    		padding: 0 $cmu-base/2;
		}
		.cmuUserbadge__user {
    		white-space: nowrap;
    		margin: 0;
		}
		.cmuUserbadge__avatar {
			float: none;
			position: relative;
			top: 4px;
			margin-right: 0.25rem;
		}
		.cmuUserbadge__avatar:after {
			height: 5rem;
			width: 5rem;
		}
	}
}

// 
// Avatar-only display of user badge
// (only shows user-avatar, can be paired with userbadge__flag)
//
.cmuUserbadge--showUser .cmuUserbadge__main {
	.cmuUsername,
	.cmuUserbadge__points,
	.cmuUserbadge__info
	{
		display: none;
	}

	.cmuUserbadge__account {
		padding: 0;
	}
}










