
$com-base-font-size:        $base-font-size;
$com-base-line-height:      24px !default;

 


// footer size overrides community style
.comGlobalFooter {
  padding: 0 89px; 
}

.comGlobalFooter h4 {

  margin: 12px 0 4px;
  color: #666;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: normal;
  @include fontSmoothing;
  // @include comVerticalRhythm;

  @include respondTo(medium-up) {
    // font-size: remCalc(24px);
    // line-height: remCalc(32px);
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/*------------------------------------*\
    #STATUS
\*------------------------------------*/
/**
 * Status colors.
 *
 * 1. Gray
 * 2. UBNT Blue
 * 3. Blue
 * 4. Green
 * 5. Yellow
 * 6. Red
 */
$com-status-static-color: #cccccc; /* [1] */
$com-status-primary-color: #00a0df; /* [2] */
$com-status-info-color: #14b0f6; /* [3] */
$com-status-success-color: #13bb72; /* [4] */
$com-status-warning-color: #f09300; /* [5] */
$com-status-danger-color: #ff3000; /* [6] */

/*------------------------------------*\
    #DEFAULT
\*------------------------------------*/
$com-primary-background-color: #fafafa;
$com-primary-font-color: #17191d;
$com-primary-link-color: $com-status-primary-color;
$com-primary-hover-link-color: #17191d;
$com-primary-border-color: #c9c9c9;

$com-secondary-border-color: #bbbbbd;



/*------------------------------------*\
    LINK
\*------------------------------------*/
$com-link-color: $com-primary-link-color;
$com-link-hover-color: $com-primary-font-color;
$com-link-selected-color: $com-primary-link-color;
$com-link-secondary-color: $com-primary-font-color;
$com-link-secondary-hover-color: $com-primary-link-color;
$com-link-reverse-font-color: #ffffff;
$com-link-reverse-hover-font-color: #ffffff;


/*------------------------------------*\
    GLOBAL FOOTER
\*------------------------------------*/
$com-global-footer-background-color: $com-primary-background-color;
$com-global-footer-icon-color: $com-status-primary-color;
$com-global-footer-border-color: $com-status-static-color;
$com-global-footer-title-color: #666666;
$com-global-footer-legal-color: #666666;

/*------------------------------------*\
    GLOBAL HEADER
\*------------------------------------*/
$com-global-header-background-color: #11181C;
$com-global-header-logo-background-color: $com-status-primary-color;
$com-global-header-logo-font-color: #ffffff;

$com-global-header-nav-item-link-color: #AEB4B7;
$com-global-header-nav-item-link-color-selected: $com-status-primary-color;
$com-global-header-nav-item-link-color-hover: #FFFFFF;
