<span><!-- <div class="row cmuRow">
	<div class="col--md4">
		<div class="cmuInputContainer">
			<input class="cmuInput cmuInput--stacked cmuInput--wide" 
				ng-model="vm.newTopic.meta.productModel"
				id="announcementModel" required />
			<label for="announcementModel">Model</label>		
		</div>
	</div>

	<div class="col--md4">
		<div class="cmuInputContainer">
			<input class="cmuInput cmuInput--stacked cmuInput--wide" 
				ng-model="vm.newTopic.meta.versionNumber"
				id="announcementVersion" required />
			<label for="announcementVersion">Version</label>		
		</div>
	</div>
</div> --></span>