<div class="row row--comfy">
	<div class="col--md4">
		<div class="cmuInputContainer">
			<input class="cmuInput cmuInput--stacked cmuInput--wide" 
				ng-model="vm.newTopic.meta.productModel"
				placeholder="Model" 
				id="announcementModel" />
			<label for="announcementModel">Model</label>		
		</div>
	</div>

	<div class="col--md4">
		<div class="cmuInputContainer">
			<input class="cmuInput cmuInput--stacked cmuInput--wide" 
				ng-model="vm.newTopic.meta.versionNumber"
				placeholder="Version" 
				id="announcementVersion" />
			<label for="announcementVersion">Version</label>		
		</div>
	</div>
</div>