
// 
// SEARCH PAGE
// 
// This sheet handles the Searchpage itself.
// 
// note that Search is a bit split up:
// - search input bar is in cmuOverlays  
// - the actualy search input is part of the cmuInput group
// 


.cmuSearchpage {
	margin-bottom: $cmu-vertical-rhythm;

	.cmuThreadlist__ctrl--top, 
	.cmuThreadlist__ctrl--bottom {
		padding: 0 $cmu-base/2;
	}
}

.cmuSearchpage__searchbar {
	margin-bottom: $cmu-vertical-rhythm;
}




.cmuSearchpage__sidebar {
	padding-right: $cmu-base;

	.cmuSidebar__container {
		margin-bottom: $cmu-base/2;
	}
}




// Main

.cmuSearchpage__main {
	padding: 0;
	padding-left: $cmu-base;
}

.cmuSearchpage__content {
	margin-bottom: $cmu-vertical-rhythm;
}

// "show ##"
.cmuSearchpage__ctrl {
	// border-bottom: $style-line;
	// padding-bottom: $cmu-vertical-rhythm/2;
	margin-top: $cmu-vertical-rhythm/2;
	padding: 0 $cmu-base/2;
}

.cmuSearchpage__noResults {
	@extend %h4; 
	.query {
		font-weight: 600;
		display: inline-block;
	}
}

.cmuSearchpage .cmuThreadlist__row {

	display: block;
	border-bottom: $style-line;
	
	&:first-of-type {
		border-top: $style-line;
	}

	.cmuSearchpage__item {
		@extend .cmuThreadlist__topic;
		border: 0;
	}
		.cmuSearchpage__item__subject {
			// font-size: $size-large;
			// line-height: $size-large__lineHeight;
			padding-bottom: $cmu-base/2;
			font-weight: bold;
		}
		.cmuSearchpage__item__content {
			color: $cmu-color-body;
			max-height: $cmu-base*6;
			padding-bottom: $cmu-base/2;
			overflow: hidden;
		}

		.cmuSearchpage__item__date {
			@extend %style-meta;
		}
}





