
// 
// SEARCH PAGE
// 
// This sheet handles the Searchpage itself.
// 
// note that Search is a bit split up:
// - search input bar is in cmuOverlays  
// - the actualy search input is part of the cmuInput group
// 


.cmuSearchpage {
	margin-bottom: $cmu-vertical-rhythm;

	.cmuThreadlist__ctrl--top, 
	.cmuThreadlist__ctrl--bottom {
		padding: 0 $cmu-base/2;
		padding-top: $cmu-base/2;
		margin-top: 0;
	}
}

.cmuSearchpage__container {
	margin-top: -$cmu-vertical-rhythm;
	// overflow: hidden;
	padding-bottom: $cmu-vertical-rhythm;
}

.cmuSearchpage__searchbar__container {
    overflow: hidden;
    margin-left: -$cmu-base;
    margin-right: -$cmu-base;
    padding-bottom: $cmu-base;
    margin-top: $cmu-base/2; 

    // position: relative;
    // z-index: $z-nav + 1;
}

.cmuSearchpage__searchbar {
	margin-top: $cmu-vertical-rhythm/2;
	margin-bottom: $cmu-vertical-rhythm;//*2;

	padding-top: $cmu-vertical-rhythm;
	padding-bottom: $cmu-vertical-rhythm;
	// background-color: $cmu-color-blue;
 //    @include box-shadow(0, 0, 5px, $cmu-color-black);

    position:relative;

}


	// the searchbox's look on the search page
	.cmuSearchpage--searchbox {
	    @extend %cmuSearchbox--large;

	    input {
	        @extend %h3;
	        border: $style-line;
	        border-color: $cmu-color-blue; 
	    }
	}



.cmuSearchpage__sidebar {
	padding-right: $cmu-base;

	.cmuSidebar__container {
		margin-bottom: $cmu-base/2;
	}
}




// Main

.cmuSearchpage__main {
	padding: 0;
	padding-left: $cmu-base;
}

.cmuSearchpage__content {
	margin-bottom: $cmu-vertical-rhythm;
}

// "show ##"
.cmuSearchpage__ctrl {
	// border-bottom: $style-line;
	// padding-bottom: $cmu-vertical-rhythm/2;
	margin-top: $cmu-vertical-rhythm/2;
	padding: 0 $cmu-base/2;
}

.cmuSearchpage__noResults {
	@extend %h4; 
	.query {
		font-weight: 600;
		display: inline-block;
	}
}

.cmuSearchpage .cmuThreadlist__row {

	display: block;
	border-bottom: $style-line;
	
	&:first-of-type {
		border-top: $style-line;
	}

	.cmuSearchpage__item {
		@extend .cmuThreadlist__topic;
		border: 0;
	}
		.cmuSearchpage__subject {
			// font-size: $size-large;
			// line-height: $size-large__lineHeight;
			padding-bottom: $cmu-base/2;
			font-weight: bold;
		}
		.cmuSearchpage__content {
			color: $cmu-color-body;
			max-height: $cmu-base*6;
			padding-bottom: $cmu-base/2;
			overflow: hidden;
		}
		.cmuSearchpage__date {
			@extend %style-meta;
		}
		.cmuSearchpage__item__postedBy {
			text-transform: lowercase;
		}
		.cmuSearchpage__item__re {
			color: $cmu-color-gray;
			font-weight: normal;
		}
}





