
// 
// :) :( :)

.cmuEmoji {
	// border: 1px solid $cmu-color-mdgray;
}


.cmuEmoji {
	.emojiPickerIcon {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNzYuODkxIiB
oZWlnaHQ9IjI3Ni44OTEiIHZpZXdCb3g9IjAgMCAyNzYuODkxIDI3Ni44OTEiPgogIDxjaXJjbG
UgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNDQ0NDQ0IiBzdHJva2Utd2lkdGg9IjE4IiBzdHJva2Utb
Wl0ZXJsaW1pdD0iMTAiIGN4PSIxMzguNDQ1IiBjeT0iMTM4LjQ0NSIgcj0iMTMyLjk0NSIvPgog
IDxjaXJjbGUgY3g9IjY4LjEyIiBjeT0iMTI1LjM5NSIgcj0iMTYuNTA3IiBzdHJva2U9IiM0NDQ
0NDQiIGZpbGw9IiM0NDQ0NDQiLz4KICA8Y2lyY2xlIGN4PSIyMDguNjE3IiBjeT0iMTI1LjM5NS
Igcj0iMTYuNTA4IiBzdHJva2U9IiM0NDQ0NDQiIGZpbGw9IiM0NDQ0NDQiLz4KICA8cGF0aCBma
WxsPSJub25lIiBzdHJva2U9IiM0NDQ0NDQiIHN0cm9rZS13aWR0aD0iMjQiIHN0cm9rZS1saW5l
Y2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjguMTIgMTgyLjAzNHM2OS4
3OTMgNzAuNzA0IDE0MC40OTggMCIvPgo8L3N2Zz4=');
	}

	.emojiPickerIcon:hover {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNzYuODkxIiB
oZWlnaHQ9IjI3Ni44OTEiIHZpZXdCb3g9IjAgMCAyNzYuODkxIDI3Ni44OTEiPgogIDxjaXJjbG
UgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDBBMERGIiBzdHJva2Utd2lkdGg9IjE4IiBzdHJva2Utb
Wl0ZXJsaW1pdD0iMTAiIGN4PSIxMzguNDQ1IiBjeT0iMTM4LjQ0NSIgcj0iMTMyLjk0NSIvPgog
IDxjaXJjbGUgY3g9IjY4LjEyIiBjeT0iMTI1LjM5NSIgcj0iMTYuNTA3IiBzdHJva2U9IiMwMEE
wREYiIGZpbGw9IiMwMEEwREYiLz4KICA8Y2lyY2xlIGN4PSIyMDguNjE3IiBjeT0iMTI1LjM5NS
Igcj0iMTYuNTA4IiBzdHJva2U9IiMwMEEwREYiIGZpbGw9IiMwMEEwREYiLz4KICA8cGF0aCBma
WxsPSJub25lIiBzdHJva2U9IiMwMEEwREYiIHN0cm9rZS13aWR0aD0iMjQiIHN0cm9rZS1saW5l
Y2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNjguMTIgMTgyLjAzNHM2OS4
3OTMgNzAuNzA0IDE0MC40OTggMCIvPgo8L3N2Zz4=');
	}
}

.emojiPicker {

    border: $style-line;
    margin-left: -20px;
    margin-top: 10px;
    box-shadow: none;
    z-index: $z-gloNav--drop !important;


	&:before {
		content: '';
		width: 0; 
		height: 0; 

		@extend %ease-fast;
	    position: absolute;
	    // left: 50%;
    	// transform: translate(-50%,0);

    	// this works better
    	left: 2px;
    	transform: translate(25%, 0);
    	
		@include triangle(top, $cmu-color-ltmdgray, $size-arrow);
	    top: -$size-arrow;// - remCalc(4px);
    	z-index: $z-contentFloat !important;
	
	}
}

.cmuTextEditor__fixToBottom .emojiPicker {
	
    // override since we're not using body as a container anymore (we're using texteditor)
    top: 0 !important;
    margin-left: -40px;
    margin-top: 40px;
}