

// 
// Inbox
// 

.cmuInbox {

}
	.cmuInbox__container {

	}

	.cmuInbox__ctrl {
		margin-bottom: $cmu-vertical-rhythm;
	}
		.cmuInbox__count {
			display: inline-block;
			margin-left: $cmu-base/2;
		}
		.cmuInbox__unread {
			// display: none;
		}
		.cmuInbox__ctrl.new {
			.cmuInbox__unread {
				display: inline-block;
				span {
					font-weight: bold;
				}
			}
		}


	// sidebar
	.cmuInbox__list {
		border: $style-line;
		// max-height: $cmu-base * 30;
		overflow: scroll;
	}
		.cmuInbox__list__title {
			display: inline-block;
			margin-top: $cmu-base/2;
			margin-bottom: $cmu-base/2;
			h5 { display: inline }
		}
		.cmuInbox__list__message {
			display: block;
			padding: $cmu-base/2;
			border-right: 8px solid transparent;
			border-bottom: $style-line;
			// border: $style-line;
			// margin-bottom: $cmu-base/2;

			&.unread {

			}

			&.current {
				border-right: 8px solid $cmu-color-active;
				background-color: $cmu-color-xltgray;
			}

			&:hover {
				background-color: $cmu-color-hover;
			}

			&:last-of-type {
				border-bottom: 0;
			}
		}

			.cmuInbox__list__rowFirst {
			}
			.cmuInbox__list__subject {
				font-weight: 600;
			}
			.cmuInbox__list__recipients {
				margin-bottom: $cmu-vertical-rhythm/2;

			}
			.cmuInbox__list__unreadCount {
				display: none
			}
				.unread .cmuInbox__list__unreadCount {
					display: inline-block;
					padding: 0 $cmu-base/3;
					background: $cmu-color-orange;
					border-radius: 50%;
				}
		.cmuInbox__list--empty {
			padding: $cmu-base;
			text-align: center;
		}

	.cmuInbox__controls {
		margin-bottom: $cmu-vertical-rhythm / 2;
	}

	.cmuInbox__update {
		// margin-left: $cmu-base/2; 
		// margin-bottom: $cmu-vertical-rhythm / 2;
	
		&:not(.new) {
			button, & {
				cursor: default;
				border-color: $cmu-color-mdgray;
				color: $cmu-color-mdgray;
			}
		}
	}



	// main
	.cmuInbox__main {
		padding: $cmu-base;
		border: $style-line;
    	margin-left: -1px; // overlap the borders
	}






// 
// New Message
// 

.cmuInbox__newMessage {

}





// 
// Message Body / details
// 
.cmuInbox__detail {

}

	.cmuInbox__detail--header {
		position: relative;
		// margin-top: $cmu-vertical-rhythm;
		// margin-bottom: $cmu-vertical-rhythm/2;

		h2 {
		    // margin-bottom: $cmu-base/2;
		    line-height: $cmu-base*2;
		}
		span {
			font-weight: bold;
		}
		// padding-bottom: $cmu-base/2;
		border-bottom: $style-line;

	}
		.cmuInbox__pagerContainer {
		    vertical-align: bottom;
		    position: absolute;
		    right: 0;
		    bottom: $cmu-base*3/4;
		}

	// 
	// Main Message area
	// 

	.cmuInbox__message {
		display: block;
		padding: $cmu-base/2 0;
		padding-bottom: 0;
		// margin-bottom: $cmu-base;

		// border: $style-line;
		border-bottom: 0;

		&:last-of-type {
			padding-bottom: $cmu-vertical-rhythm !important;
			border-bottom: $style-line;
			margin-bottom: $cmu-vertical-rhythm * 2;
		}
		// background: $cmu-color-purewhite;
		// margin-bottom: $cmu-vertical-rhythm/2;

		// @include box-shadow(2px, 2px, 2px, rgba($cmu-color-dkgray, 0.2));


		p {
			padding: $cmu-vertical-rhythm/4 0;
		}
		p:first-of-type {
			padding-top: $cmu-vertical-rhythm/2;
		}

		// first message of a user in convo
		&.newUser {
			border-top: $style-line;
			margin-top: $cmu-vertical-rhythm/2;
			padding: $cmu-vertical-rhythm/2 0;
			padding-bottom: 0;

			.cmuInbox__message__date {
				padding-top: $cmu-vertical-rhythm/4;
			}

			.cmuUsername {
				opacity: 0.4; // username conflicts too much with text
			}
		}

		// more messages by same user
		&.newUser ~ &:not(.newUser) {
			padding: 0;

			.cmuUsername, .cmuInbox__message__badge div {
				display: none;
			}
		}

		.cmuInbox__message__date {
			padding-top: $cmu-vertical-rhythm/2;
		}
		&:not(.newDate):not(.newUser) {
			.cmuInbox__message__date {
				display: none;
			}
		}


		&:first-of-type {
			border-top: 0;
			margin-top: 0;
		}


		.cmuUserbadge__user {
			display: inline-block;
		}

		.cmuInbox__message__badge {
			width: 10%;
			min-height: 1px; // force it to block
		    display: inline-block;
		    float: left;
		}

		.cmuInbox__message__main {
			width: 90%;
			float: left;
			// padding-right: $cmu-base/2;

			.cmuUserbadge { 
				float: left;
			}
			.cmuComments__date { 
				float: right; 
			}
			.cmuInbox__message__body {
				clear: both;
			}
		}

		.cmuUserbadge__user {
			margin: 0;
		}

		.cmuUserbadge__account .cmuUsername {
			margin-top: 0;

			a {
				@extend %style-link;
			}
		}
	}







// 
// PM Menu Dropdown
// 

.cmuInbox__dropdown__header {

}

.cmuInbox__dropdown__content {
	background-color: $cmu-color-purewhite;
}

    .cmuInbox__dropdown__date {
        @extend %size-xsmaller;
        color: $cmu-color-mdgray;
    }

