 
<div class="cmuThread__subject">
	<div class="row">
		<h3>{{ ::vm.originalMessageSubject | htmlUnescape }}</h3>
		<div class="cmuThread__stats ">
			<span class="cmuThread__subject__date">{{ vm.originalMessagePostDate | exactTimeFromNow }} 
		</div>
	</div>
</div>

<div class="cmuThread__controls">
	<div class="row">
        <div class="col--md8 noPaddingLeft">
        	<span>
	        	<button class="button--solid button--thin col--md2" ng-click="vm.showTopicReply()" community-permissions="message.can_comment">${{ forums.message.reply }}$</button>
	        	<button community-permissions class="button--ghost button--thin col--md2" community-permissions>${{ forums.message.subscribe }}$</button>
	        	<span community-permissions="message.can_edit_message" denied-behavior="hide">
					<a class="button button--ghost button--thin col--md2" 
						area-link-handler="{{ vm.editUrl }}">
						<span class="icon ubnt-icon--pencil-2"></span>
						<span>${{ core.actions.edit }}$</span>
					</a>
				</span>
				<span community-permissions denied-behavior="hide">
					<community-drop-down
						class="cmuInput__selectDropdown__container col--md3 noPadding"
		                menu-template-url="directives/mainnavbar/mainnavbar.actions.html"
		                template-ctrl="mainnavbar.currentUser"
		                element-classname="cmuInput__selectDropdown"
		                label="${{ core.actionsText }}$">
		              </community-drop-down>
	              </span>
			</span>
		</div>

		<div class="col--md4 noPaddingRight">
			<community-pager 
			  number-of-pages="vm.numberOfPages"
			  pager-fn="vm.messageThreadFilter">
			</community-pager>
		</div>
    </div>
</div>

<div class="cmuThread__container cmuLoading row">
	<div class="col--md12 noPadding" ng-repeat="message in vm.messageThread" handle-image-error>
		<community-message
			class="cmuMessage 
				   cmuMessage--sidebyside"
			message="message"
			original-message="vm.originalMessage"
			reply-click-fn="vm.showReply"
			show-op="vm.originalMessage.insertUser.id"
			thread-filter="vm.messageThreadFilter"
	        reply-shown="vm.topicReplyShown"
			local-index="$index">
		</community-message>
	</div>
</div>



<div class="cmuThread__controls
			cmuThread__controls--bottom">
	<div class="cmuRow row">
        <div class="col--md8 noPaddingLeft">
        	<span>
	        	<button class="button--solid button-white-on-blue col--md2" ng-click="vm.showTopicReply()" community-permissions="message.can_comment">${{ forums.message.reply }}$</button>
	        	<button class="button--ghost button-blue-on-white col--md2" community-permissions denied-behavior="hide">${{ forums.message.subscribe }}$</button>
				<span community-permissions="message.can_edit_message" denied-behavior="hide">
					<a  class="button button--ghost col--md2" area-link-handler="{{ vm.editUrl }}">
						<span class="icon ubnt-icon--pencil-2"></span>
						<span>${{ core.actions.edit }}$</span>
					</a>
				</span>
				<span community-permissions denied-behavior="hide">
					<community-drop-down
						class="cmuInput__selectDropdown__container col--md3 noPadding"
		                menu-template-url="directives/mainnavbar/mainnavbar.actions.html"
		                template-ctrl="mainnavbar.currentUser"
		                element-classname="cmuInput__selectDropdown"
		                label="${{ core.actionsText }}$">
		            </community-drop-down>
	            </span>
			</span>
		</div>

		<div class="col--md4 noPaddingRight">
			<community-pager 
			  number-of-pages="vm.numberOfPages"
			  pager-fn="vm.messageThreadFilter">
			</community-pager>
		</div>
	</div>
	<div class="row" ng-if="vm.topicReplyShown">
		<div id="topicReply">
			<community-comment-form
				fixedtobottom=false
				fixedtobottomtoggle=true
				autofocus="true"
				reply-button-text="${{ core.actions.postReply }}$" 
				replying-button-text="${{ core.actions.postingReply }}$..." 
				parent-message="vm.topicReplyMessage"
				toggle-attribute="vm.topicReplyShown"
				on-success-fn="vm.replyPosted"
				form-comment="vm.replyMessage"
				allow-cancel="true">
			</community-comment-form>
		</div>
	</div>
</div>

<div class="cmuViewingCounter">
	<div class="row">
		<div class="cmuViewingCounter__count">
			5 {{ vm.originalMessage.stats | extractKey : 'currentlyViewing' }} ${{ forums.message.usersViewingThread }}$
		</div>
	</div>
</div>
