

<div class="cmuThread__subject
	        cmuThread__subject--locked
	        cmuThread__subject--active">
	<div class="row">
		<h3>{{ ::vm.originalMessageSubject | htmlUnescape }}</h3>
	</div>
</div>

<div class="cmuThread__controls">
	<div class="row">
        <div class="col--md8 noPaddingLeft">
        	<span community-permissions>
	        	<button class="button--solid button--padded button-blue-white">Reply</button>
				<button class="button--outline button-gray-on-white">Options <span class="button--icon icon ubnt-icon--pointer-down"></button>
			</span>
		</div>

		<div class="col--md4 noPaddingRight">
			<community-pager 
			  number-of-pages="vm.numberOfPages"
			  pager-fn="vm.messageThreadFilter">
			</community-pager>
		</div>
    </div>
</div>


<div class="cmuThread__container row">
	<div class="col--md12 noPadding" ng-repeat="message in vm.messageThread" handle-image-error>
		<community-message 
			class="cmuMessage 
				   cmuMessage--sidebyside"
			message="message"
			original-message="vm.originalMessage"
			reply-click-fn="vm.showReply"
			show-op="vm.originalMessage.message.insertUser.id">
		</community-message>

		<!-- reply -->
		<div class="cmuThread__reply container noPadding" ng-if="vm.messageIsBeingRepliedTo(message.id)">
				<div class="col--md12 noPadding">
					<div class="cmuThread__reply__to">Reply to <span>{{ ::message.insertUser.login }}</span></div>
					<community-text-editor ng-model="vm.messageReplyText"></community-text-editor>
					<div>
						<button 
							class="button--ghost button-white-on-blue" 
							ng-click="vm.cancelReply()">
								Cancel
						</button>
						<button 
							class="button--solid button-white-on-blue"
							ng-click="vm.submitReply(message.id)">
								Post Reply
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="cmuThread__controls
			cmuThread__controls--bottom">
	<div class="row">
        <div class="col--md8 noPaddingLeft">
        	<span community-permissions>
	        	<button class="button--solid button-blue-white">Post Reply</button>
				<button class="button--outline button-gray-on-white">Options <span class="button--icon icon ubnt-icon--pointer-down"></button>
			</span>
		</div>
		<div class="col--md4 noPaddingRight">
			<community-pager 
			  number-of-pages="vm.numberOfPages" 
			  pager-fn="vm.messageThreadFilter">
			</community-pager>
		</div>
	</div>
</div>

<div class="cmuViewingCounter">
	<div class="row">
		<div class="cmuViewingCounter__count">
			5 {{ vm.originalMessage.stats | extractKey : 'currentlyViewing' }} users viewing this thread
		</div>
	</div>
</div>
