 <div class="row row-comfy">
 <!--  <div class="col-md-6">
    <a ui-sref="forums.newtopic" class="btn btn-primary">New Topic</a>
  </div> -->
  <div community-filter="vm.messageList" filter-fn="vm.forumListFilter" class="col-md-6 pull-right">
      <select 
        class="pull-right" 
        ng-model="fm.filter.sort">
          <option ng-repeat="option in vm.messageSortOptions" value="{{ option.value }}">
            {{ option.label }}
          </option>
      </select>
  </div>
</div>

<div>
  <community-pager paged-list="vm.messageList" pager-fn="vm.forumListFilter"></community-pager>
  <p>Total Results: {{ vm.messageCount }}</p>
  <table style="width: 100%;">
    <colgroup>
      <col style="width:50%">
      <col style="width:11%">
      <col style="width:11%">
      <col style="width:11%">
      <col style="width:11%">
      <col style="width:5%">
    </colgroup>
    <thead style="border-top: 1px solid gray;">
      <th></th>
      <th>Views</th>
      <th>Comments</th>
      <th>Kudos</th>
      <th>Latest Reply</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="message in vm.messageList">
        <td>
          <div>{{ message.subject }}</div> 
          <span>by <a class="appType--micro" ui-sref="user">{{ message.author.login }}</a> <span>{{ message.postTime | timeFromNow }}</span></span>
        </td>
        <td>
          {{ vm.getStats(message, 'views') }}
        </td>
        <td>
          {{ vm.getStats(message, 'comments') }}
        </td>
        <td>
          {{ vm.getStats(message, 'kudos') }}
        </td>
        <td><a>{{ message.latestReply.author.login }}</a><br /> {{ message.latestReply.postTime | timeFromNow }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>