
<div class="cmuForumThreadlist cmuThreadlist">

  <div class="cmuThreadlist__ctrl">

    <div class="cmuThreadlist__ctrl__row row">
      <div class="col--md6 noPaddingLeft" community-permissions>
        <button class="button--solid" ng-click="vm.startNewTopic()">Create a Topic</button>
      </div>


      <div class="col--md6 noPaddingRight">
        <community-pager 
          number-of-pages="vm.numberOfPages" 
          pager-fn="vm.forumListFilter"
          front-biased="true">
        </community-pager>
      </div>

    </div>

    <div class="cmuThreadlist__ctrl__row row">

      <div class="col--md8 noPaddingLeft">
        <div class="cmuThreadlist__postCount">Showing {{ vm.messageList.length | number }} out of {{ vm.messageCount | number}} threads
        </div>
      </div>

      <div class="col--md2">
        <div ng-hide="vm.hideSearch()">
            <community-search 
              search-filter="vm.forumListFilter" 
              placeholder="Filter Topics"
              exclude="page">
           </community-search>
        </div>
      </div>

      <div class="col--md2 noPaddingRight">
        <community-sort sort-options="vm.messageSortOptions" sort-filter="vm.forumListFilter" sort-exclude="page"></community-sort>
      </div>
    </div>
  </div>


  <div class="cmuThreadlist__list">
    <div class="row">
      <table>
        <thead>
          <th class="cmuThreadlist__thead--topic">Topic</th>
          <th class="cmuThreadlist__thead--author">Author</th>
          <th class="cmuThreadlist__thead--createdDate">Created</th>
          <th class="cmuThreadlist__thead--counter
                     cmuThreadlist__thead--views"></th>
          <th class="cmuThreadlist__thead--counter
                     cmuThreadlist__thead--replies"></th>
          <th class="cmuThreadlist__thead--counter
                     cmuThreadlist__thead--kudos"></th>
          <th class="cmuThreadlist__thead--authorLast">Latest Reply</th>
          <th class="cmuThreadlist__thead--latestDate">Latest Date</th>
        </thead>
          <tr class="cmuThreadList__row" ng-repeat="message in vm.messageList" ng-click="vm.go(message)">
            <td class="cmuThreadList__row__topic">
              {{ ::message.topic.subject | htmlUnescape }}
              <span ng-if="vm.isUnread(message)">*</span>
              <div 
                class="cmuTooltip cmuThreadList__tooltip"
                community-tooltip
                data-id-field="{{ ::message.id }}" 
                ajax-populate="vm.getMessageData" 
                tooltip-template="forums/list/forums.list.messagetooltip.html"
                local-data="{ messageUrl: vm.getMessageUrl(message.id) }"
                empty-text="This post only contains images or video."
              ><span class="icon ubnt-icon--eye2"</div>
            </td>
            <td class="cmuThreadList__row__author">
              <community-user-avatar user="message.topic.message.insertUser"></community-user-avatar>
            </td>
            <td class="cmuThreadList__row__createdDate">{{ ::message.topic.message.postDate | timeFromNow }}
            </td>
            <td class="cmuThreadList__row__counter cmuThreadList__row__counter--views" title="views">
              {{  message.topic.countViews | number}}
            </td>
            <td class="cmuThreadList__row__counter" title="comments">
              {{  message.context.totalMessageCount - 1 | number}}
            </td>
            <td class="cmuThreadList__row__counter" title="kudos">
              {{  message.topic.message.scores.kudo | number}}
            </td>
            <td class="cmuThreadList__row__authorLast">
              <community-user-avatar user="message.context.lastestMessage.insertUser"></community-user-avatar>
            </td>
            <td class="cmuThreadList__row__latestDate">{{ message.topic.lastActivityDate | timeFromNow }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="forumPagination">
    <div class="row">
        <div class="col--md8 noPaddingLeft">
          <button class="button--solid" ng-click="vm.startNewTopic()" community-permissions>Create a Topic</button>
        </div>
        <div class="col--md4 noPaddingLeft">
          <community-pager 
            number-of-pages="vm.numberOfPages" 
            pager-fn="vm.forumListFilter"
            front-biased="true">
          </community-pager>
        </div>
    </div>
  </div>

  <div class="forumThreadControl forumThreadControl--bottom">
    <div class="row">
      <div class="forumThreadControl__row">
        <div class="col--md8 noPaddingLeft">
        </div>

        <div class="col--md2">
        </div>

        <div class="col--md2 noPaddingRight">
        </div>

      </div>
    </div>
  </div>

</div>
