
<div class="cmuForumThreadlist cmuThreadlist">

  <div class="cmuThreadlist__ctrl row">

    <div class="cmuThreadlist__ctrl__row col--md12 noPadding">
      <div class="col--md8 noPaddingLeft">
        <button class="button--solid" ng-click="vm.startNewTopic()" community-permissions="node.can_post_topic">${{ forums.list.createTopic }}$</button>
      </div>

      <div class="col--md2">
        <div ng-hide="vm.hideSearch()">
            <community-search 
              search-filter="vm.forumListFilter" 
              placeholder="${{ forums.list.filterTopics }}$"
              exclude="page">
           </community-search>
        </div>
      </div>

      <div class="col--md2 noPaddingRight">
        <community-sort sort-options="vm.messageSortOptions" sort-filter="vm.forumListFilter" sort-exclude="page"></community-sort>
      </div>

    </div>

    <div class="cmuThreadlist__ctrl__row col--md12 noPadding">

      <div class="col--md6 noPaddingLeft">
        <community-show-count 
          lower="vm.messageList.length" 
          upper="vm.messageCount" 
          type="${{ forums.list.threads }}$">
        </community-show-count>
      </div>

      <div class="col--md6 noPaddingRight">
        <community-pager 
          number-of-pages="vm.numberOfPages" 
          pager-fn="vm.forumListFilter"
          front-biased="true">
        </community-pager>
      </div>

    </div>
  </div>


  <div class="row" ng-if="vm.messageList.length < 1">
    <h2 class="cmuHalfRow"> ${{ forums.list.emptyList }}$ </h2>
  </div>

  <div class="row" ng-if="vm.messageList.length > 0">
    <div class="cmuThreadlist__table"> 
      <div class="cmuThreadlist__headers">
        <div class="cmuThreadlist__topic">${{ forums.list.topic }}$</div>
        <div class="cmuThreadlist__preview">
        </div>
        <div class="cmuThreadlist__authorName visible--lgUp">${{ core.time.latest }}$</div>
        <div class="cmuThreadlist__authorDate"><span class="visible--mdDown">${{ core.time.latest }}$</span></div>
        <div class="cmuThreadlist__counter 
                    cmuThreadlist__views 
                    visible--smUp">
          <span class="visible--mdUp">${{ core.views }}$</span>
          <span class="visible--smDown">${{ core.v }}$</span>
        </div>
        <div class="cmuThreadlist__counter
                    cmuThreadlist__replies visible--smUp">
          <span class="visible--mdUp">${{ core.replies }}$</span>
          <span class="visible--smDown">${{ core.r }}$</span>
        </div>
        <div class="cmuThreadlist__counter 
                    cmuThreadlist__kudos visible--smUp">
          <span class="visible--mdUp">${{ core.kudos }}$</span>
          <span class="visible--smDown">${{ core.k }}$</span>
        </div>
        <div class="cmuThreadlist__authorName visible--xlgUp">${{ forums.list.created }}$</div>
        <div class="cmuThreadlist__authorDateCreated visible--smUp"><span class="visible--lgDown visible--smUp">${{ forums.list.created }}$</span></div>
      </div>







      <div class="cmuThreadlist__body">
        <span class="cmuThreadlist__row"
            ng-repeat="message in vm.messageList"
            ng-class="{'isRead':vm.isRead(message)}"
            >

          <a area-link-handler="{{ vm.getMessageUrl(message.id) }}">
            <div class="cmuThreadlist__topic">
              {{ ::message.topic.subject | htmlUnescape }}
            </div>
          </a>


          <a area-link-handler="{{ vm.getMessageUrl(message.id) }}">
            <div class="cmuThreadlist__preview">
              <span 
                class="cmuThreadlist__tooltip"
                community-tooltip
                data-id-field="{{ ::message.id }}" 
                ajax-populate="vm.getMessageData" 
                tooltip-template="forums/list/forums.list.messagetooltip.html"
                local-data="{ messageUrl: vm.getMessageUrl(message.id) }"
                empty-text="${{ forums.list.emptyPreview }}$"
                tooltip-class="cmuTooltipster"
                position="top-right"
              ><span class="icon ubnt-icon--eye2"></span>
              </span>
            </div>
          </a>

          <a 
            area-link-handler="{{ vm.getProfileUrl(message.context.lastestMessage.insertUser.id) }}"
            class="visible--lgUp">
            <div class="cmuThreadlist__latest
                        cmuThreadlist__authorName">
              <div class="cmuThreadlist__avatar">
                <div
                  community-tooltip
                  data-id-field="{{ message.context.lastestMessage.insertUser.id }}" 
                  ajax-populate="vm.getUserData" 
                  tooltip-template="forums/list/forums.list.usertooltip.html"
                  empty-text="${{ forums.list.emptyPreview }}$"
                  tooltip-class="cmuTooltipster"
                  position="top"
                >
                  <span area-link-handler="{{ message.context.lastestMessage.insertUser.profileUrl }}">
                    <community-user-avatar user="message.context.lastestMessage.insertUser"></community-user-avatar>
                    <span>{{ message.context.lastestMessage.insertUser.login }}</span>
                  </span>
                </div>
              </div>
            </div>
          </a>

          <a 
            area-link-handler="{{ vm.getProfileUrl(message.context.lastestMessage.insertUser.id) }}"
            class="">
            <div class="cmuThreadlist__latest 
                        cmuThreadlist__authorDate">
              <div class="cmuThreadlist__avatar visible--mdDown">
                <span
                  community-tooltip
                  data-id-field="{{ message.context.lastestMessage.insertUser.id }}" 
                  ajax-populate="vm.getUserData" 
                  tooltip-template="forums/list/forums.list.usertooltip.html"
                  empty-text="${{ forums.list.emptyPreview }}$"
                  tooltip-class="cmuTooltipster"
                  position="top"
                >
                  <community-user-avatar user="message.context.lastestMessage.insertUser"></community-user-avatar>
                </span>
              </div>
              <span class="cmuThreadlist__date">{{ message.topic.lastActivityDate | timeFromNow }}
              </span>
            </div>
          </a>

          <a area-link-handler="{{ vm.getMessageUrl(message.id) }}"
             class="visible--smUp">
            <div class="cmuThreadlist__counter cmuThreadlist__views">
              {{  message.topic.countViews | number}}
            </div>
          </a>
          <a area-link-handler="{{ vm.getMessageUrl(message.id) }}"
             class="visible--smUp">
            <div class="cmuThreadlist__counter cmuThreadlist__replies">
              {{  message.context.totalMessageCount - 1 | number}}
            </div>
          </a>
          <a area-link-handler="{{ vm.getMessageUrl(message.id) }}"
             class="visible--smUp">
            <div class="cmuThreadlist__counter cmuThreadlist__kudos">
              {{  message.topic.message.scores.kudo | number}}
            </div>
          </a>

          <a 
            area-link-handler="{{ vm.getProfileUrl(message.topic.message.insertUser.id) }}"
            class="visible--xlgUp"
            >
            <div class="cmuThreadlist__created
                        cmuThreadlist__authorName">
              <div class="cmuThreadlist__avatar">
                <div
                  community-tooltip
                  data-id-field="{{ message.topic.message.insertUser.id }}" 
                  ajax-populate="vm.getUserData" 
                  tooltip-template="partials/usertooltip.html"
                  empty-text="${{ forums.list.emptyPreview }}$"
                  tooltip-class="cmuTooltipster"
                  position="top"
                >
                  <community-user-avatar user="message.topic.message.insertUser"></community-user-avatar>
                  <span>{{ message.topic.message.insertUser.login }}</span>
                </div>
              </div>
            </div>
          </a>

          <a 
            area-link-handler="{{ vm.getProfileUrl(message.topic.message.insertUser.id) }}" 
            class="visible--smUp">
            <div class="cmuThreadlist__authorDateCreated cmuThreadlist__created">
              <div class="cmuThreadlist__avatar visible--lgDown"> 
                <span 
                  community-tooltip
                  data-id-field="{{ message.topic.message.insertUser.id }}" 
                  ajax-populate="vm.getUserData" 
                  tooltip-template="forums/list/forums.list.usertooltip.html"
                  empty-text="${{ forums.list.emptyPreview }}$"
                  tooltip-class="cmuTooltipster"
                  position="top"
                >
                  <community-user-avatar user="message.topic.message.insertUser"></community-user-avatar>
                </span>
              </div>
              <div class="cmuThreadlist__authorDate">{{ ::message.topic.message.postDate | timeFromNow }}</div>
            </div>
          </a>
<!-- 
          <a 
            area-link-handler="{{ vm.getProfileUrl(message.context.lastestMessage.insertUser.id) }}"
            class="">
            <div class="cmuThreadlist__latest 
                        cmuThreadlist__authorDate">
              <div class="cmuThreadlist__avatar visible--mdDown">
                <span
                  community-tooltip
                  data-id-field="{{ message.context.lastestMessage.insertUser.id }}" 
                  ajax-populate="vm.getUserData" 
                  tooltip-template="forums/list/forums.list.usertooltip.html"
                  empty-text="${{ forums.list.emptyPreview }}$"
                  tooltip-class="cmuTooltipster"
                  position="top"
                >
                  <community-user-avatar user="message.context.lastestMessage.insertUser"></community-user-avatar>
                </span>
              </div>
              <span class="cmuThreadlist__date">{{ message.topic.lastActivityDate | timeFromNow }}
              </span>
            </div>
          </a>
 -->

          
        </span>
      </div>
      <!-- end body -->

    </div>
  </div>


  <div class="cmuThreadlist__ctrl cmuThreadlist__ctrl--bottom row">
    <div class="cmuThreadlist__ctrl__row col--md12 noPadding">
        <div class="col--md8 noPaddingLeft">
          <button class="button--solid" ng-click="vm.startNewTopic()" community-permissions="node.can_post_topic">${{ forums.list.createTopic }}$</button>
        </div>
        <div class="col--md4 noPadding">
          <community-pager 
            number-of-pages="vm.numberOfPages" 
            pager-fn="vm.forumListFilter"
            front-biased="true">
          </community-pager>
        </div>
    </div>
  </div>
</div>
