<div class="cmuSearchpage cmuThreadlist">
 	<community-page-header 
 		header-text="${{ directory.search.header }}$"
		hide-element-selector=".cmuSearchpage__container">
	</community-page-header>

	<div class="cmuSearchpage__container">
		<div class="cmuSearchpage__searchbar row">
			<div class="col--md12 noPadding">
				<div class="cmuSearchbox cmuSearchbox--page">
					<div class="appIconInput appIconInput--right">
						<div ng-click="vm.search()" class="appIconInput__icon icon ubnt-icon--search-2"></div>
						<input 
							class="appIconInput__input ng-pristine ng-untouched ng-valid" 
							placeholder="${{ directory.search.searchbarPlaceholder }}$" 
							type="text" 
							ng-model="vm.searchText"
							community-enter="vm.search()">
				    </div>
				</div>
			</div>
		</div>
		<!-- end searchbar -->
		
    	<div class="cmuSearchpage__content row">

    		<!-- sidebar - hide when no query -->
	    	<div class="cmuSearchpage__sidebar cmuSidebar col--md3" ng-show="vm.searchTextDisplay">
	    		<div class="cmuSidebar__container">
	    			<community-datepicker 
	    				class="cmuInput cmuInput--stretch"
	    				placeholder="${{ directives.datepicker.fromDate }}$"
	    				ng-model="vm.filterOptions.postDate.min"
	    				on-change="vm.search()">
	    			</community-datepicker>
	    			<community-datepicker
	    				class="cmuInput cmuInput--stretch"
	    				placeholder="${{ directives.datepicker.toDate }}$"
	    				ng-model="vm.filterOptions.postDate.max"
	    				on-change="vm.search()">
	    			</community-datepicker> 
	    		</div>

	    			<!-- Discussion Styles filter -->
	    		<div class="cmuInputGroup">	

    				<div class=" cmuInput__checkbox cmuInput__checkbox--default">
						<label>
							<input 
								type="checkbox" 
								name="vm.discussionTypeFilters[]"
								value="{{ vm.filterOptions.discussionStyles.defaultOption.value }}" 
								ng-model="vm.filterOptions.discussionStyles.defaultOption.selected" 
								ng-change="vm.defaultChanged(vm.filterOptions.discussionStyles)"
								ng-checked="vm.filterOptions.discussionStyles.defaultOption.selected" />
								<span data-content="${{ core.ui.clear }}$">{{ vm.filterOptions.discussionStyles.defaultOption.display }}</span>
						</label>
					</div>
    				<div class="cmuInputGroup__checkbox" ng-repeat="filter in vm.filterOptions.discussionStyles.list">
    					<div class="cmuInput__checkbox">
	    					<label>
	    						<input 
	    							type="checkbox" 
									name="vm.discussionTypeFilters[]"
									value="{{ filter.value }}" 
									ng-model="filter.selected" 
									ng-change="vm.filterChanged(vm.filterOptions.discussionStyles, filter)" />
	    						<span>{{ filter.display }}</span>
	    					</label>
    					</div>
    					<div class="cmuInputGroup__sublevel" ng-if="filter.subfilters">
    						<div ng-repeat="subfilter in filter.subfilters.list" >
    							<div class="cmuInput__checkbox">
									<label>
										<input 
											ng-disabled="!filter.selected"
											type="checkbox" 
											name="vm.discussionTypeFilters[]"
											value="{{ subfilter.value }}" 
											ng-model="subfilter.selected" 
											ng-change="vm.filterChanged(filter.subfilters)"
											ng-checked="subfilter.selected" />
											<span>{{ subfilter.display }}</span>
									</label>
								</div>
    						</div>
    					</div>
    				</div>
	    		</div>
	    		<!-- end discussion type -->



	    		<!-- PRODUCT FILTER -->
	    		<!-- <div>

	    			"Products" label might not be necessary
	    			<div class="cmuInput__checkbox cmuInput__checkbox--default">
						<label>
							<input 
								type="checkbox" 
								name="vm.selectedFilters[]"
								value="{{ vm.filterOptions.productTypes.defaultOption.value }}" 
								ng-model="vm.filterOptions.productTypes.defaultOption.selected" 
								ng-change="vm.allProductsDefaultChanged()"
								ng-checked="vm.filterOptions.productTypes.defaultOption.selected" />
								<span>{{ vm.filterOptions.productTypes.defaultOption.display }}</span>
						</label>
					</div> -->

	    			<div class="cmuInputGroup" ng-repeat="product in vm.filterOptions.productTypes.list">
	    				<div class="cmuInput__checkbox cmuInput__checkbox--default">
							<label>
								<input 
									type="checkbox" 
									name="vm.selectedFilters[]"
									value="{{ product.defaultOption.value }}" 
									ng-model="product.defaultOption.selected" 
									ng-change="vm.defaultChanged(product)"
									ng-checked="product.defaultOption.selected" />
									<span data-content="${{ core.ui.clear }}$">{{ product.defaultOption.display }}</span>
							</label>
						</div>
	    				<div ng-repeat="filter in product.list | orderBy:'display'" >
	    						<div class="cmuInput__checkbox">
			    					<label>
			    						<input type="checkbox" 
											name="vm.selectedFilters[]" 
											value="{{ filter.value }}" 
											ng-model="filter.selected" 
											ng-change="vm.filterChanged(product)"  />
			    						<span>{{ filter.display }}</span>
			    					</label>
		    					</div>
	    				</div>
	    			</div>
	    			<!-- end inputgroups -->

	    		<!-- </div> -->
	    	</div>
	    	<!-- end sidebar -->
	    	<div class="cmuSearchpage__main col--md9">
	    		<community-loader show-when="vm.searchInProgress"></community-loader>

	    		<div ng-hide="vm.searchInProgress">
		    		<div ng-show="vm.searchResults.length > 0">
		    			<div class="cmuSearchpage__ctrl cmuThreadlist__ctrl col--md12">
			    			${{ directory.search.results }}$ <strong>{{ vm.searchTextDisplay }}</strong>
			    		</div>

			    		<div class="cmuThreadlist__body col--md12 noPadding">
				    		<a class="cmuThreadlist__row"
				    			 ng-repeat="result in vm.searchResults"
				    			 area-link-handler="{{ vm.getUrl(result) }}">
				    			 <div class="cmuSearchpage__item">
				    				<div class="cmuSearchpage__item__subject">{{ result.subject }}</div>
					    			<div class="cmuSearchpage__item__content">{{ result.body | unformatText | wordCut:140 }}</div>
				    				<div class="cmuSearchpage__item__date">${{ directory.search.postedOn }}$ {{ result.postDate | timeFromNow }}</div>
									<product-discussion-tag node-id="result.node.id"></product-discussion-tag>
								</div>
					    	</a>
					    </div>

					    <div class="cmuThreadlist__ctrl--bottom col--md12 noPadding">
			    		  <community-pager 
				            number-of-pages="vm.totalPages" 
				            pager-fn="vm.searchFilter"
				            front-biased="true">
				          </community-pager>
				    	</div>
			    	</div>

			    	<div class="cmuThreadlist__messagebox" ng-show="vm.searchResults.length === 0">
			    		<!-- if nothing found -->
			    		<div class="cmuSearchpage__noResults" ng-show="vm.searchTextDisplay">
			    			<span class="text">${{ directory.search.noResults }}$</span>
			    			<span class="query">{{ vm.searchTextDisplay }}</span>
			    		</div>

			    	</div>
		    	</div>
	    	</div>
	    	<!-- end main -->
    	</div>
	</div>
</div>
