<div class="cmuSearchpage cmuThreadlist">
 	
 	<community-page-header 
 		hidden="true"
 		header-text="${{ directory.search.header }}$"
		hide-element-selector=".cmuSearchpage__container">
	</community-page-header>

	<div class="cmuSearchpage__container">
		<div class="cmuSearchpage__searchbar row">
			<div class="col--md12 noPadding">

				<div class="cmuSearchbox cmuSearchpage--searchbox">
					<div class="appIconInput appIconInput--right">
						<div ng-click="vm.search()" class="appIconInput__icon icon ubnt-icon--search-2"></div>
						<input 
							class="appIconInput__input ng-pristine ng-untouched ng-valid" 
							placeholder="${{ directory.search.searchbarPlaceholder }}$" 
							type="text" 
							ng-model="vm.searchText"
							community-enter="vm.search()">
				    </div>
				</div>
			</div>
		</div>
		<!-- end searchbar -->
		
    	<div class="cmuSearchpage__content row">

    		<!-- sidebar - hide when no query -->
	    	<div class="cmuSearchpage__sidebar cmuSidebar col--md3 noPaddingRight" ng-show="vm.searchTextDisplay">
				<div community-sticky sticky-class="cmuStuck" offset="30" sticky-bound="cmuSearchpage__content">
					<div>
			    		<div class="cmuSidebar__container">
			    			<community-datepicker 
			    				class="cmuInput cmuInput--stretch"
			    				placeholder="${{ directives.datepicker.fromDate }}$"
			    				ng-model="vm.filterOptions.postDate.min"
			    				on-change="vm.search()">
			    			</community-datepicker>
			    			<community-datepicker
			    				class="cmuInput cmuInput--stretch"
			    				placeholder="${{ directives.datepicker.toDate }}$"
			    				ng-model="vm.filterOptions.postDate.max"
			    				on-change="vm.search()">
			    			</community-datepicker> 
			    		</div>


		    		<!-- Discussion Styles filter -->
		    		<div class="cmuInputGroup">	
	    				<div class=" cmuInput__checkbox cmuInput__checkbox--default">
							<label>
								<input 
									type="checkbox" 
									name="vm.discussionTypeFilters[]"
									value="{{ vm.filterOptions.discussionStyles.defaultOption.value }}" 
									ng-model="vm.filterOptions.discussionStyles.defaultOption.selected" 
									ng-change="vm.defaultChanged(vm.filterOptions.discussionStyles)"
									ng-checked="vm.filterOptions.discussionStyles.defaultOption.selected" />
									<span ng-attr-data-content="{{ !vm.filterOptions.discussionStyles.defaultOption.selected && '${{ core.ui.clear }}$' || undefined }}">{{ vm.filterOptions.discussionStyles.defaultOption.display }}</span>
							</label>
						</div>
	    				<div class="cmuInputGroup__checkbox" ng-repeat="filter in vm.filterOptions.discussionStyles.list">
	    					<div class="cmuInput__checkbox">
		    					<label>
		    						<input 
		    							type="checkbox" 
										name="vm.discussionTypeFilters[]"
										value="{{ filter.value }}" 
										ng-model="filter.selected" 
										ng-change="vm.filterChanged(vm.filterOptions.discussionStyles, filter)" />
		    						<span>{{ filter.display }}</span>
		    					</label>
	    					</div>
	    					<div class="cmuInputGroup__sublevel" ng-if="filter.subfilters">
	    						<div ng-repeat="subfilter in filter.subfilters.list" >
	    							<div class="cmuInput__checkbox">
										<label>
											<input 
												ng-disabled="!filter.selected"
												type="checkbox" 
												name="vm.discussionTypeFilters[]"
												value="{{ subfilter.value }}" 
												ng-model="subfilter.selected" 
												ng-change="vm.filterChanged(filter.subfilters)"
												ng-checked="subfilter.selected" />
												<span>{{ subfilter.display }}</span>
										</label>
									</div>
	    						</div>
	    					</div>
	    				</div>
		    		</div>
		    		<!-- end discussion type -->



		    		<!-- PRODUCT FILTER -->
		    			<div class="cmuInputGroup" ng-repeat="product in vm.filterOptions.productTypes.list">
		    				<div class="cmuInput__checkbox cmuInput__checkbox--default">
								<label>
									<input 
										type="checkbox" 
										name="vm.selectedFilters[]"
										value="{{ product.defaultOption.value }}" 
										ng-model="product.defaultOption.selected" 
										ng-change="vm.defaultChanged(product)"
										ng-checked="product.defaultOption.selected" />
										<span ng-attr-data-content="{{ !product.defaultOption.selected && '${{ core.ui.clear }}$' || undefined }}">{{ product.defaultOption.display }}</span>
								</label>
							</div>
		    				<div ng-repeat="filter in product.list | orderBy:'display'" >
		    						<div class="cmuInput__checkbox">
				    					<label>
				    						<input type="checkbox" 
												name="vm.selectedFilters[]" 
												value="{{ filter.value }}" 
												ng-model="filter.selected" 
												ng-change="vm.filterChanged(product)"  />
				    						<span>{{ filter.display }}</span>
				    					</label>
			    					</div>
		    				</div>
		    			</div>
		    			<!-- end inputgroups -->
		    		</div>
		    	</div>
	    	</div>
	    	<!-- end sidebar -->

	    	<!-- main column -->
	    	<div class="cmuSearchpage__main col--md9">
	    		<community-loader show-when="vm.searchInProgress"></community-loader>

	    		<div ng-hide="vm.searchInProgress">
		    		<div ng-show="vm.searchResults.length > 0">
		    			<div class="cmuThreadlist__ctrl col--md12 noPadding ">
			    			<div class="cmuSearchpage__ctrl col--md9">
				    			${{ directory.search.results }}$ <strong>{{ vm.searchTextDisplay }}</strong>
				    		</div>
				    		<div class="col--md3 alignRight noPaddingRight">
	      						<community-sort pre-sort-fn="vm.setSortModel" sort-options="vm.searchSortOptions" sort-filter="vm.searchFilter"></community-sort>
				    		</div>
				    	</div>
			    		<div class="cmuThreadlist__body cmuLoading col--md12 noPadding">
				    		<a class="cmuThreadlist__row row"
				    			 ng-repeat="result in vm.searchResults"
				    			 area-link-handler="{{ vm.getUrl(result) }}">

				    			 <!-- 
				    			 	using /content/ returns different models for topics and replies/"comments"  

				    			 	split up this way so we can potentially differentiate
				    			 	between TOPIC and COMMENT (they're very different)
				    			 -->
				    			 <!-- if content == topic -->
				    			 <div class="cmuSearchpage__item col--md12" ng-if="vm.isResult(result, 'topic')">

				    				<div class="cmuSearchpage__subject"><span class="cmuIcon__label icon {{ ::result.discussionStyle }}"></span></span>{{ ::result.data.subject }}</div>

				    				<div class="cmuSearchpage__content" ng-if="vm.isResult(result, 'forums') || vm.isResult(result, 'announcements')">{{ ::result.data.message.body | wordCut:120 }}</div>
				    				<div class="cmuSearchpage__content" ng-if="vm.isResult(result, 'stories')">{{ ::result.data.summary }}</div>

				    				<div class="cmuSearchpage__date">
				    					<span ng-if="vm.isResult(result, 'forums')">${{ core.areaNoun.forums }}$</span>
				    					<span ng-if="vm.isResult(result, 'stories')">${{ core.areaNoun.stories }}$</span>
				    					<span ng-if="vm.isResult(result, 'announcements')">${{ core.areaNoun.announcements }}$</span>
				    				<span class="cmuSearchpage__item__postedBy">${{ directory.search.postedBy }}$</span> {{ ::result.data.message.insertUser.login }} 
				    					<span class="" ng-if="vm.isResult(result, 'stories') && result.data.locName">${{ core.in }}$ {{ result.data.locName }}</span>&mdash; {{ ::result.data.message.postDate | timeFromNow }}
				    				</div>
				    				<div class="col--md4 noPaddingLeft">
										<product-discussion-tag node-id="result.data.node.id"></product-discussion-tag>
									</div>
									<div class="cmuFeed__stats col--md8 noPaddingRight">
										<div class="cmuFeed__stat">
											<span class="cmuFeed__stat__num">{{ ::result.data.countViews }}</span> <span class="cmuFeed__stat__title">{{ '${{ core.views }}$' | lowercase }}</span> 
										</div>
										<div class="cmuFeed__stat">
											<span class="cmuFeed__stat__num">{{ ::result.context.totalMessageCount - 1 }}</span> <span class="cmuFeed__stat__title">{{ '${{ core.replies }}$' | lowercase }}</span> 
										</div>
										<div class="cmuFeed__stat">
											<span class="cmuFeed__stat__num">{{ ::result.data.message.scores.kudoCount }}</span> <span class="cmuFeed__stat__title">{{ '${{ core.kudos }}$' | lowercase }}</span> 
										</div>
									</div>
								</div>

								<!-- else if: content == comment; comments are replies -->
								<div class="cmuSearchpage__item col--md12" ng-if="vm.isResult(result, 'comment')">
				    				<div class="cmuSearchpage__subject"><span class="cmuSearchpage__item__re">${{ directory.search.re }}$ </span>{{ ::result.data.context.topicSubject }}</div>
					    			<div class="cmuSearchpage__content">{{ ::result.data.body | unformatText | wordCut:60 }}</div>
				    				<div class="cmuSearchpage__date">${{ directory.search.postedBy }}$ {{ ::result.data.insertUser.login }} ${{ directory.search.inReplyTo }}$ {{ ::result.data.context.parentAuthor.login }} &mdash; {{ ::result.data.postDate | timeFromNow }}</div>
				    				<div class="col--md4 noPaddingLeft">
										<product-discussion-tag node-id="result.data.node.id"></product-discussion-tag>
									</div>
									<div class="cmuFeed__stats col--md8">
										<div class="cmuFeed__stat">
											<span class="cmuFeed__stat__num">{{ ::result.context.totalMessageCount - 1 }}</span> <span class="cmuFeed__stat__title">{{ '${{ core.replies }}$' | lowercase }}</span> 
										</div>
										<div class="cmuFeed__stat">
											<span class="cmuFeed__stat__num">{{ ::result.data.scores.kudoCount }}</span> <span class="cmuFeed__stat__title">{{ '${{ core.kudos }}$' | lowercase }}</span> 
										</div>
									</div>
								</div>
					    	</a>
					    </div>


					    <div class="cmuThreadlist__ctrl--bottom col--md12">
			    		  <community-pager 
				            number-of-pages="vm.totalPages" 
				            pager-fn="vm.searchFilter"
				            front-biased="false">
				          </community-pager>
				    	</div>
			    	</div>

			    	<div
			    		ng-show="vm.searchResults.length === 0"
			    		community-sticky sticky-class="cmuStuck" offset="30" sticky-bound="cmuSearchpage__content">
			    		<div>
					    	<div class="cmuThreadlist__messagebox">
					    		<!-- if nothing found -->
					    		<div class="cmuSearchpage__noResults" ng-show="vm.searchTextDisplay">
					    			<span class="text">${{ directory.search.noResults }}$</span>
					    			<span class="query">{{ vm.searchTextDisplay }}</span>
					    		</div>

					    	</div>
					    </div>
					</div>
		    	</div>
	    	</div>
	    	<!-- end main -->
    	</div>
	</div>
</div>
