
/*------------------------------------*\
    #SELECT GROUP
    - affects .cmuSort
    - aka dropdown selector (date / list dropdown)
    - options dropdown
\*------------------------------------*/


$cmu-threadsort-font-color: rgba(0,0,0,0.75);
$cmu-threadsort-background-color: #ffffff;
$cmu-threadsort-focus-background-color: $cmu-primary-background-color;
$cmu-threadsort-border-color: #bebec0;
$cmu-threadsort-focus-border-color: $cmu-primary-link-color;
$cmu-threadsort-disabled-background-color: #dddddd;


// Select aka dropdown
select {

  background-color: $cmu-threadsort-background-color;
  @extend %font-lato;
  // margin-bottom: $cmu-base-spacing-unit;
  height: double($cmu-base-spacing-unit);

  &:focus,
  &:active {
    outline-color: transparent;
    outline-style: none;
  }
  
  width: 100%;
  -webkit-appearance: none !important;
  background:
    $cmu-threadsort-background-color
    url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIHBvaW50cz0iNDg0LjY4OCwxMTkuMDMgMjU2LDM0Ny43MTYgMjcuMzEzLDExOS4wMyA0LjY4NywxNDEuNjU3IDIzMy4zNzMsMzcwLjM0MyAyNTYsMzkyLjk3MSAyNzguNjI3LDM3MC4zNDMgDQoJNTA3LjMxMiwxNDEuNjU3ICIvPg0KPC9zdmc+DQo=") no-repeat;
  background-position: right 0.6em top $cmu-base*0.6;
  border: 1px solid $cmu-threadsort-border-color;
  padding: 0 $cmu-base/2;
  color: $cmu-color-dkgray;
  font-size: $cmu-size-form;
  @include border-radius(0);
  background-size: 16px 12px;

  &:hover {
    border-color: $cmu-threadsort-focus-border-color;
  }
}

select::-ms-expand {
  display:none;
}

/* Disabled select background */
select:disabled {
  background: $cmu-threadsort-disabled-background-color; 
}
