
// 
// Input Selector
// e.g. Story product selector, tag selector
// overwrites a lot of imported css from "select2.css"
// 

.cmuInputSelector {
	background-color: $cmu-color-purewhite !important;
	@extend %ease-fast;

	.select2-choices {
		background-color: $cmu-color-purewhite !important;
		background-image: none !important;
    	border: $style-line;
		@extend %ease-fast;

		padding-top: $cmu-base*1.5  !important;
		padding-bottom: 0.2rem !important;
	}

		.select2-search-field {
			// width: 100% !important;
		}

	.select2-input {
		// width: 500px !important;
		padding-left: $cmu-base/2 !important;
		font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
		font-size: 13px !important;
		color: $cmu-color-black !important;
		background-color: $cmu-color-ltgray !important;

		@include cmu-placeholder {
			color: $cmu-color-black;

			// text-transform: uppercase;
			color: $cmu-color-dkgray;
			font-size: $size-input-hint;
			cursor: text;
			// line-height: remCalc(41px);
		}

		&:focus {
			@include cmu-placeholder {
				color: $cmu-color-mdgray;
			}
		}
	}

	.select2-results {
		padding-left: 0 !important;
	}
	
	.select2-choices {
  		box-shadow: none !important;
  	}
	.select2-drop {
  		top: 100% !important;
  		// margin-top: -4px;
  		border-radius: 0 !important;
  		border-top-width: 0 !important;
  		box-shadow: none !important;
	}
	.select2-result-single {
		margin-bottom: 0 !important;
	}

	// background results
	.select2-search-choice {
		// background: $cmu-color-ltblue !important;
		// color: $cmu-color-white !important;
		// font-size: $size-smaller;
		border-radius: 0 !important;
		background: $cmu-color-white !important;
		color: $cmu-color-dkgray !important;
		font-size: $size-smaller !important;
	}
}

	.cmuInputSelector--choices {
		margin: 0 !important;
	}
