
// community input fields

.cmuInput {
	border: 1px solid $cmu-color-gray;
	margin-bottom: $cmu-base;
	padding: $cmu-base/2;
}	

	.cmuInput--wide {
		width: 100%;
	}


// 
// Input Placeholder text
// 












