

// 
// SEARCHBOX MODULE
// @searchbox
// 



.cmuSearchbox { 
  // padding: $cmu-base 0;
  position: relative;
  @include cmu-placeholder {
    color: red;
    font-weight: 300;
    font-size: $cmu-searchbox-font-size;
  }
  text-align: right;
}


.cmuSearchbox {

    input {
        color: $cmu-searchbox-font-color;
        background-color: $cmu-searchbox-background-color;
        font-family: $cmu-searchbox-font-family;
        margin-bottom: $cmu-base-spacing-unit;
        height: double($cmu-base-spacing-unit);

        &:focus,
        &:active {
            outline-color: transparent;
            outline-style: none;
        }

        border: 1px solid $cmu-searchbox-border-color;
        display: block;
        font-size: $cmu-searchbox-font-size;
        margin: 0 0 $cmu-searchbox-form-spacing 0;
        // padding: $cmu-searchbox-form-spacing / 2;
        width: 100%;

        // Basic focus styles
        &:focus {
            background: $cmu-searchbox-focus-background-color;
            border-color: $cmu-searchbox-focus-border-color;
        }

        // Disabled background input background color
        &[disabled] { 
            background-color: $cmu-searchbox-disabled-background-color; 
        }
    }
}


.cmuSearchbox.cmuSearchbox--large, %cmuSearchbox--large {

    .appIconInput__icon {
        @extend %size-larger;
        padding-right: $cmu-base;
        padding-top: $cmu-base;
        pointer-events: auto;
        cursor: pointer;
        @extend %ease-fast;

        &:hover {
            color: $cmu-color-active;
            @extend %ease-fast;
        }
    }
    input {
        @extend %h3;
        color: $cmu-color-black;
        padding: $cmu-base*2 $cmu-base;

        // @include box-shadow(0, 0, $cmu-base, $cmu-color-mdgray, $inset: true);
        background-color: $cmu-color-purewhite;

        &:focus {
            background: $cmu-searchbox-focus-background-color;
            border-color: $cmu-searchbox-focus-border-color;
        }
    }
}

    // the searchbox's look on the search page
    .cmuSearchpage--searchbox {
        @extend %cmuSearchbox--large;

        input {
            // @extend %h3; // doesn't extend for some reason
            font-size: $size-h3;
            line-height: $size-h3__lineHeight;
            font-weight: 600;
            color: $cmu-color-dkgray;
            
            // font-size: 999px;
            border: $style-line;
            border-color: $cmu-color-blue; 
        }
    }

