
// 
// TIMELINE MODULE
// used by announcements
// 

.cmuTimeline {

	thead {
		display: none;
	}
	.cmuTimeline__showheader {
		thead {
			display: table-header-group;
		}
	}
}

.timeline__container {
	// border: $style-line;
	// border-bottom: 0;

	// &:last-child {
	// 	border-bottom: $style-line;
	// }
}


.timeline__title {
	border: $style-line;
	height: $cmu-base*2 + remCalc(2px); // border adds another 2px
 
	.timeline__title__text {
		font-size: $size-large;
		height: $cmu-base*2;
		line-height: $cmu-base*2 - remCalc(2px);
	}

	.timeline__title__count {
		font-weight: 300;
		font-size: $size-normal;
		&:before { content: '(' }
		&:after { content: ')' }
	}

	&.open {
		// border-bottom: $style-line--thick;
		// border: 1px solid transparent;
		border-color: $cmu-color-white;
	}
}

.cmuTimeline__month {
	table {
		margin-bottom: 0;
	}

	// only add margin to the first table element
	// &:first-of-type table {
	// 	margin-top: $cmu-base/2;
	// }
}

	.cmuTimeline__showheader .cmuTimeline__month {
		margin-top: $cmu-base/2;
	}

	.cmuTimeline__row:last-child {
		border-bottom: 0;
	}


