/*------------------------------------*\
    #GlobalHeader
\*------------------------------------*/



// 
// PROTOTYPE CODE
// 


.comGlobalHeader__navItem--Community {
  background-color: $cmu-menu-background-active-color;
  .comGlobalHeader__navItemLink {
    color: $cmu-menu-font-active-color;
  }
}

.comGlobalHeader__nav, .comGlobalHeader__logo {
  border-bottom: 1px solid $cmu-menu-border-color;
}

 

// mid right box
.comGlobalHeader__navItem--apps {
  // border-left: 1px solid $cmu-menu-border-color;
}
.comGlobalHeader__navItem--search {
  border-right: 1px solid $cmu-menu-border-color;
}

// Community / Avatar box
.comGlobalHeader__cmuItem {
  display: inline-block;
  line-height: 0;
  padding: 0 $cmu-base/2;
  width: 45px;
  text-align: center;
  font-size: 20px !important;
}

.comGlobalHeader__login {
  display: inline-block;
  line-height: 0;
  padding: 0 $cmu-base/2;
  // width: 45px;
  text-align: center;
  font-size: 12px;
  background-color: $cmu-color-blue;
  position: relative;
  left: -3px;
  padding: 0 !important;
  @include transition-property(background-color);
  @include transition-duration(0.35s);
  @include transition-timing-function(ease-out);
  a { 
    color: $cmu-color-white; 
    padding: 0 15px !important;
  }
  &:hover {
    background-color: $cmu-color-dkblue;
  @include transition-property(background-color);
  @include transition-duration(0.35s);
  @include transition-timing-function(ease-out);
  }
}

.comGlobalHeader__register {
  display: inline-block;
  line-height: 0;
  padding: 0 $cmu-base/2;
  // width: 45px;
  text-align: center;
  font-size: 12px;
  padding: 0 !important;
  @include transition-property(background-color);
  @include transition-duration(0.35s);
  @include transition-timing-function(ease-out);
  a { 
    // color: $cmu-color-white; 
    padding: 0 15px !important;
  }
}

.comGlobalHeader__cmuItem--inbox {
  top: 3px;
  position: relative;
}
.comGlobalHeader__cmuItem--notifications {
  top: 5px;
  position: relative;
}
.comGlobalHeader__cmuItem--avatar {
  width: 60px;
  cursor: pointer;

  &:hover {
    &:after {
      background: $cmu-color-ltgray;
      @include transition-duration(0.35s);
      @include transition-timing-function(ease-out);
    }
  }

  &:after {
    content: ' ';
    display:block;
    background: $cmu-color-gray;
    border-radius: 50%;
    width: $cmu-base*2;
    height: $cmu-base*2;
    position: absolute;
    top: 11px;
    @include transition-duration(0.35s);
    @include transition-timing-function(ease-out);
  }
}

.comGlobalHeader__cmuItemLink {
    display: block;
    font-size: 1.2rem;
    color: $com-global-header-nav-item-link-color;

    &:hover {
      color: $com-global-header-nav-item-link-color-hover;
    }

    &:focus {
      color: $com-global-header-nav-item-link-color;
    }

    &.is-link-selected {
      color: $com-global-header-nav-item-link-color-selected;
    }
}


// 
// OG
// 


.comGlobalHeader {
  position: fixed;
  z-index: $base-z-index-global-header;
  top: 0;
  left: 0;
  width: 100%;
  height: 57px;
  @include backfaceVisibility(hidden);

  @media #{$com-global-header-tablet-nav-below} {
    height: $com-global-header-mobile-nav-height;
  }
}

  .comGlobalHeader__content {
    background-color: $cmu-menu-background-color;
    height: 56px;
    width: 100%;
    position: relative;
    left: 0;
    display: table;
    // max-width: 1400px; 
    margin: 0 auto;
    @include transition-property(left);
    @include transition-duration(0.4s);

    @media #{$com-global-header-tablet-nav-below} {
      height: $com-global-header-mobile-nav-height;

      > .comGlobalHeader__logo {
        height: $com-global-header-mobile-nav-height;

        > .icon {
          top: -16px;
        }
      }

      > .comGlobalHeader__nav {
        display: none;
      }
    }
  }

  /* LOGO */
  /*
  * 1. Custom breakpoints for logo hover animation 
  */
  .comGlobalHeader__logo {
    display: table-cell;
    width: 57px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8rem;
    color: $com-global-header-logo-font-color;
    // background-color: $com-global-header-logo-background-color;
    background-color: $cmu-menu-background-color;
    line-height: 0;
    overflow: hidden;
    height: 57px;
    @include transition-property(width);
    @include transition-duration(0.35s);
    @include transition-timing-function(ease-out);

    &:hover {
      color: $com-global-header-logo-font-color;

      @media #{$com-global-header-logo-hover-only} { 
        width: 132px;

        > .icon {
          width: 105px;
        }
      }
    }

    &:focus {
      color: $com-global-header-logo-font-color;
    }

    > .icon {
      position: absolute;
      top: -11px;
      left: 7px;
      margin-left: 8px;
      display: inline-block;
      overflow: hidden;
      height: 67px;
      width: 32px;
      font-size: remCalc(66px);
      @include transition-property(width);
      @include transition-duration(0.35s);
      @include transition-timing-function(ease-out);
    }
  }

  /* NAV */
  .comGlobalHeader__nav {
    vertical-align: middle;
    padding: 0 0 0 11px;
    list-style: none;
    background-color: $com-global-header-background-color;
    display: none;

    @media #{$com-global-header-tablet-nav-above} {
      display: table-cell;
    }
  }

  /* SUB NAV */
  .comGlobalHeader__subNav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-left: 93px;
    z-index: -1;
    background-color: $com-global-header-background-color;
    line-height: 1;
    border-top: 1px solid #212E35;
    @include box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.2));
    @include transition-property(top);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-out);

    .comGlobalHeader__navItem {
      text-transform: none;
      letter-spacing: 1.5px;
      margin-right: 24px;
    }
  }

  /* NAV RIGHT */
  .comGlobalHeader__navRight {
    text-align: right;
    padding-left: 0;
  }

  /* NAV ITEM */
  .comGlobalHeader__navItem {
    letter-spacing: 1.75px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;

    /* 
      When a navItem has a subNav and is selected
    */
    &.is-nav-item-selected {
      > .comGlobalHeader__navItemLink {
        color: $com-global-header-nav-item-link-color-hover;
        border-bottom: 1px solid $com-global-header-nav-item-link-color-selected;
      }

      .comGlobalHeader__subNav {
        top: 57px;
      }
    }

    @include respondTo(medium-up) {
      display: inline-block;
      line-height: 56px;
    }
  }

  /* Mobile Menu Item (hamburger) */
  .comGlobalHeader__navItemMobile {
    display: table-cell;
    text-align: right;
    padding: 0 1em 0 0;
    vertical-align: middle;
    line-height: $com-global-header-mobile-nav-height;

    @media #{$com-global-header-tablet-nav-above} {
      display: none;
    }
    
    .comGlobalHeader__navItemLink {
      font-size: 1.6rem;
      color: #FFFFFF;
      
      &:hover {
        color: $com-global-header-nav-item-link-color-selected;
      }
    }
  }

  /* NAV LINK */
  .comGlobalHeader__navItemLink {
    display: block;
    font-size: 1.5rem;
    color: $com-global-header-nav-item-link-color;

    &:hover {
      color: $com-global-header-nav-item-link-color-hover;
    }

    &:focus {
      color: $com-global-header-nav-item-link-color;
    }

    &.is-link-selected {
      color: $com-global-header-nav-item-link-color-selected;
    }

    @include respondTo(medium-up) {
      font-size: remCalc(11.5px);
    }
  }