
<div class="cmuThreadlist__ctrl">
	<div class="cmuThreadlist__ctrl__row row">
		<div class="col--md10 noPaddingLeft">
			<button community-permissions ng-if="!vm.hideNewStoryButton" class="button--solid button--padded button-blue-white" ng-click="vm.createStory()">Share A Story</button>
		</div>
		<div class="col--md2 noPaddingRight">
	          <community-sort 
	          	sort-options="vm.sortOptions" 
	          	sort-filter="vm.storyFilter"
	          	sort-exclude="page">
	          </community-sort>
		</div>
	</div>
</div>

<div class="row">
	<div class="col--md12 noPadding" community-grid-list>

		<div class="cmuStoryGrid">
			<div class="cmuStoryGrid__item" ng-repeat="story in vm.storyList.content">
				<div>
					<story-display 
						story="story"
						story-media="story.media"
						default-photo-url="vm.defaultPhoto">
					</story-display>
				</div>
			</div>
		</div>

	</div>
</div>

<community-load-more
	list-model="vm.storyList"
	load-filter="vm.storyFilter"
	no-load-fn="true"
	infinite-scroll="true">
</community-load-more>
