<div class="row row--comfy">
	<div class="col--md10 noPaddingLeft">
		<button community-permissions class="button--solid button--padded button-blue-white" ng-click="vm.createStory()">Share A Story</button>
	</div>
	<div class="col--md2 noPaddingRight">
          <community-sort 
          	sort-options="vm.sortOptions" 
          	sort-filter="vm.storyFilter" 
          	class="community__sort">
          </community-sort>
	</div>
</div>

<div class="row">
	<div class="col--md12 noPadding" community-grid-list>
		<div ng-repeat="story in vm.storyList">
			<div>
				<story-display 
					story="story.discussion"
					story-media="story.media"
					default-photo-url="vm.defaultPhoto">
				</story-display>
			</div>
		</div>
	</div>
</div>

<community-load-more
	list-model="vm.storyList"
	load-filter="vm.storyFilter"
	list-metadata="vm.storyMetadata"
	infinite-scroll="true"
	on-load-fn="vm.groupStoryData">
</community-load-more>
