
<div class="cmuPagination col--xs12 noPadding">
	<!-- Pagination uses Flexbox -->
	<div class="cmuPagination__scrubber">
    	<!-- previous page -->
		<div 
			class="cmuPagination__txtControl cmuPagination__txtControl--prev" 
			ng-click="pager.previousPage()"
			ng-class="{ 'disabled' : disabledButtons.previous }">
				${{ directives.pager.previous }}$
		</div>

    	<!-- scrub numbers left -->
	    <div 
	    	class="cmuPagination__arrow cmuPagination__arrow--left icon ubnt-icon--pointer-left" 
	    	ng-class="{ 'cmuPagination__isSimple' : !pagerDisplay.isFullSlider, 'disabled' : disabledButtons.scrollLeft }"
	    	ng-click="scroll('left', pager.info.numberOfPages)">
	    </div>

    	<!-- page 1 / anchor the first -->
    	<div class="cmuPagination__num cmuPagination__first cmuPagination__first__num" data-val="1" ng-class="{ 'cmuPagination__isSimple' : !pagerDisplay.isFullSlider }" ng-click="pager.goToPage(1)" >
    		1
    	</div>

    	<div class="cmuPagination__main" ng-class="{ 'cmuPagination__isSimple' : !pagerDisplay.isFullSlider, 'cmuPagination__fullScroll' : pagerDisplay.isFullSlider }">
	    	<div class="cmuPagination__main__scrubber">
	    		<div 
	    			ng-repeat="pageNumber in pageRange() track by $index"
	    			ng-click="pager.goToPage(pageNumber)" 
	    			class="cmuPagination__num" 
	    			data-val="{{ pageNumber}}">
	    				{{ pageNumber }}
	    		</div>
	    	</div>
    	</div>

    	<!-- front-biased does not have this -->
    	<!-- of 20 -->
    	
    	<div class="cmuPagination__last" ng-class="{ 'cmuPagination__isSimple' : !pagerDisplay.isFullSlider, 'enabled' : !pager.info.frontBiased }">
    		<span class="cmuPagination__last__of">...</span><span class="cmuPagination__last__num" ng-click="pager.goToPage(pager.info.numberOfPages, pager.info.frontBiased)">{{ pager.info.numberOfPages }}</span>
    	</div>

	    <!-- scrub numbers right -->
	    <div 
	    	class="cmuPagination__arrow cmuPagination__arrow--right ubnt-icon--pointer-right" 
	    	ng-class="{ 'cmuPagination__isSimple' : !pagerDisplay.isFullSlider, 'disabled' : disabledButtons.scrollRight }"
	    	ng-click="scroll('right', pagerDisplay.numberOfPages)">
	    </div>

    	<!-- next page -->
		<div 
			class="cmuPagination__txtControl cmuPagination__txtControl--next" 
			ng-click="pager.nextPage()"
			ng-class="{ 'disabled' : disabledButtons.next }">
				${{ directives.pager.next }}$
		</div>

	</div>
</div>