

// 
// User Profiles
// 


// 
// profile page
// 

.cmuProfile {
	.cmuDiscussionsControls {
		display: none;
	}
}

.cmuProfile__section {
	margin-bottom: $cmu-vertical-rhythm;
}

.cmuProfile__subSection {
	margin-bottom: $cmu-vertical-rhythm/2;
	padding: 0;
}


.cmuProfile__title {
	font-weight: bold;
	border-bottom: $style-line--dark;
	padding: $cmu-vertical-rhythm/2 0;
	margin-bottom: $cmu-vertical-rhythm;

	div {
		font-size: $size-large;
		display: inline;
	}
}


.cmuProfile__header {
	margin-top: $cmu-vertical-rhythm;
	margin-bottom: $cmu-vertical-rhythm;
}
	.cmuProfile__rank span {
		display: block;
		font-size: $size-large;
		border-bottom: $style-line--medium;
		padding-bottom: $cmu-vertical-rhythm;
	}



// sidebar
.cmuProfile__sidebar {
	img {
		// width: $cmu-profile-avatar-maxW;
	}
}

.cmuProfile__sidebar__label {
	@extend %type-sidebar-label;
}



// main
.cmuProfile {
	.button--tab.active {
		border-bottom-color: $cmu-color-purewhite;
	}
}
.cmuProfile__main {
	padding-left: $cmu-base;


	.cmuProfile__section {
		margin-bottom: $cmu-vertical-rhythm*2;
	}

}

	.cmuProfile__summary {
		padding: $cmu-base;
		// padding-top: 0;
		border: $style-line;
		margin-top: -1px;
	}


	// stories
	// .cmuProfile__storyList {
	// 	// margin-top: $cmu-vertical-rhythm;
	// }

	// .cmuProfile__story {
	// 	&:first-child {
	// 		padding-left: 0;
	// 	}
	// 	&:last-child {
	// 		padding-right: 0;
	// 	}
	// }

	// points table
	.cmuProfile__table {
		margin-top: $cmu-vertical-rhythm;
	}

.cmuProfile__loadMore {
	margin-top: $cmu-vertical-rhythm/2;
}

.cmuProfile__story {
	// fluidlayout.js target
	&.cmuStoryGrid__item {
		vertical-align: top;
	    display: inline-block;
	    margin-bottom: $cmu-vertical-rhythm;
	    // width: 100%;
	    // width: 200px;
	    width: calc((100% - 14px * 2) / 2);

		@include respondTo(xsmall-only) {
			// regular width, 1 columns / 0 gutters
			width: calc((100% - 14px * 0) / 1); // technically just 100%
		}

		&:nth-child(2n+1) {
	    	margin-right: $cmu-base;
		}
	}

}





// 
// dropdown
// 

.cmuProfile__dropdown__content {
	background-color: $cmu-color-purewhite;
	ul { 
		display: block;
	}
	li {
		display: block;
	}
	li:hover {
		a {
			text-decoration: underline;
		}
	}
}
.cmuProfile__dropdown__footer {
    border-top: $style-line;	
}
