

// 
// User Profiles
// 


// 
// 
// 
// profile page
// 
// 
// 

.cmuProfile {
	.cmuDiscussionsControls {
		display: none;
	}
}

.cmuProfile__section {
	margin-bottom: $cmu-vertical-rhythm;
	.cmuProfile__avatar img {
		width: 100%;
	}
}

.cmuProfile__subSection {
	margin-bottom: $cmu-vertical-rhythm/2;
	padding: 0;
}


.cmuProfile__title {
	border-bottom: $style-line--medium;
	padding: $cmu-vertical-rhythm/2 0;
	margin-bottom: $cmu-vertical-rhythm;
	color: $cmu-color-gray;

	div {
		display: inline;
	}
}


.cmuProfile__header {
	// margin-top: $cmu-vertical-rhythm;
	// margin-bottom: $cmu-vertical-rhythm;
	margin-bottom: $cmu-vertical-rhythm/2;
}
	.cmuProfile__header__username {
		margin-bottom: $cmu-vertical-rhythm/2;
	}
	%profileTag {
		padding: $cmu-base/4 + remCalc(0.5px) $cmu-base/2;

		// redesign (#95)
		// background-color: $cmu-color-purewhite;
		background-color: $cmu-color-mdgray;
		// color: $cmu-color-blue; // too loud
		// color: $cmu-color-dkblue;
		color: $cmu-color-white;

		display: inline-block;
		font-size: $size-normal;
	}
	.cmuProfile__rank {
		span { @extend %profileTag; }
		float: left;
		// border-bottom: $style-line--medium;
		// padding-bottom: $cmu-vertical-rhythm;
	}
	.cmuProfile__nextRank {
		span { @extend %profileTag; }

		// color: $cmu-color-mdgray;
		float: right;
	}









// 
// 
// sidebar
// 
// 


.cmuProfile__sidebar {
	img {
		// width: $cmu-profile-avatar-maxW;
	}
}

.cmuProfile__sidebar__label {
	@extend %type-sidebar-label;
}



















// 
// 
// 
// main
// 
// 
// 


.cmuProfile {
	.button--tab.active {
		// border-bottom-color: $cmu-color-purewhite;
		// border-bottom-color: $cmu-color-bodybg;
		// z-index: $z-overlay;
	}
}
.cmuProfile__main {
	padding-left: $cmu-base;


	.cmuProfile__section {
		margin-bottom: $cmu-vertical-rhythm*2;
	}

}

	.cmuProfile__summary {
		padding: $cmu-base;
		// padding-top: 0;
		// border: $style-line;
		margin-top: -1px;
	}


	// points table
	.cmuProfile__table {
		margin-top: $cmu-vertical-rhythm;
	}

.cmuProfile__loadMore {
	margin-top: $cmu-vertical-rhythm/2;
}

.cmuProfile__story {
	// fluidlayout.js target
	&.cmuStoryGrid__item {
		vertical-align: top;
	    display: inline-block;
	    margin-bottom: $cmu-vertical-rhythm;
	    // width: 100%;
	    // width: 200px;
	    width: calc((100% - 8px * 2) / 2);

		@include respondTo(xsmall-only) {
			// regular width, 1 columns / 0 gutters
			width: calc((100% - 8px * 0) / 1); // technically just 100%
		}

		&:nth-child(2n+1) {
	    	margin-right: $cmu-base;
		}
	}

}


// Profile Gamification Area

.cmuProfile__points {
	margin-bottom: $cmu-vertical-rhythm;
}

	.cmuProfile__pointContainer {
		margin: $cmu-vertical-rhythm;
		margin-left: 0;
	}
		.cmuProfile__totalPoints {
			font-weight: bold;
		}
		.cmuProfile__progress__nextRank {
			color: $cmu-color-gray;
		}
	

	// progress bar
	.cmuProfile__points__progress {
		margin-bottom: $cmu-vertical-rhythm;
	}

	.cmuProfile__progressBar {
		position: relative;
	}
		.cmuProfile__progressBar__container {
			display: block;
			border: $style-line;
			width: 100%;
			line-height: 0;
			padding: $cmu-base/4 0;
		}

		.cmuProfile__progressBar__bar {
			display: block;
			border: 1px solid $cmu-color-green;
			padding: $cmu-base/4 0;
			position: absolute;
			top: 0;
			background-color: $cmu-color-green;
			line-height: 0;
		}


	// stat markers
	.cmuProfile__stats {
		// margin-bottom: $cmu-vertical-rhythm;
	}
		.cmuProfile__stat {
			text-align: center;
			padding: $cmu-base/2 $cmu-base*1.5;
		}
		.cmuProfile__stat__num {
		    display: inline-block;
			color: $cmu-color-dkgray;
			font-size: $size-larger;
			font-weight: bold;

		    width: $cmu-base*5;
		    height: $cmu-base*5;
		    padding-top: $cmu-base*1.8;
		    text-align: center;
		    vertical-align: middle;
		    border: 1px solid #ccc;
		    border-radius: 50%;
		    margin-bottom: $cmu-vertical-rhythm/2;
		}




	// points table
	.cmuProfile__table__row {
		padding: $cmu-base/2 0;
		&:nth-child(2n+1) {
			background-color: $cmu-color-ltgray;
		}
	}
	.cmuProfile__table__num {
		text-align: right;
		padding-right: $cmu-base;
	}
		.cmuProfile__table__count {
			font-size: $size-large;
			font-weight: 300;
		}
		.cmuProfile__x {
			font-size: $size-large;
			font-weight: 300;
			padding: 0 $cmu-base/6;
		}
		.cmuProfile__table__points {
			@extend %h2;
			font-size: $size-large;
		}

