


$cmu-threadlist-size-thread: $size-normal;
$cmu-threadlist-size-numerical: $size-smaller; // $size-xsmaller;
$cmu-threadlist-size-author: $size-smaller; // $size-xsmaller;

$cmu-threadlist-size-counterWidth: 5%;
$cmu-threadlist-size-maxWidth: 100px;
$cmu-threadlist-size-maxWidth--author: 100px;


// left and right edge offset
$cmu-threadlist-offset: $cmu-base/2;

// padding for each cell
$cmu-threadlist-padding: $cmu-base*3/4;

// Adjusting Cell Height
//  - don't only use line-height to adjust cell height, as wrapped threads will look off
//  - use padding to adjust distance from top and bottom edge
//  - user avatars need to fit inside the line height
//     - can't place avatars absolute, as they won't valign properly
// top/bottom padding for each cell
$cmu-threadlist-height: $cmu-vertical-rhythm*1/2;
$cmu-threadlist-lineheight: $size-large__lineHeight;
$cmu-threadlist-avatar: remCalc(20px); // hard coded for now 


// notes



// 
// CONTROLS
// 

// control group for buttons, filters, pagination, etc.
.cmuThreadlist__ctrl {
	// border-bottom: 1px solid $cmu-color-ltgray;
	margin-bottom: $cmu-vertical-rhythm;
}
	.cmuThreadlist__ctrl--bottom {
		margin-top: $cmu-vertical-rhythm;
	}

.cmuThreadlist__ctrl__row {
	margin-bottom: $cmu-vertical-rhythm/2;
}

	.cmuThreadlist__postCount {
		font-size: $cmu-threadlist-size-thread;
		font-weight: 400;
		line-height: $cmu-base*2;

		span {
			font-weight: 600;
		}
	} 
 

//  
// THREAD TABLE 
//   
.cmuThreadlist__table {
	@extend %disp--table;
    width: 100%; // fill the entire grid w the table
}
 


// 
// Layout Styles
// 

// Headers

.cmuThreadlist__headers {
	@extend %disp--thead;
	div {
		@extend %disp--cell;
		cursor: default;
		border-bottom: $style-line;
		font-weight: 300; 
		@extend %size-xsmaller;
		color: $cmu-color-inactive;
		padding-bottom: $cmu-base/4;
	}
}



// 
// Column Styles
// 
.cmuThreadlist__body {
	@extend %disp--tbody;

}

	// row style
	// remember that in a table, cells fill out a row
	// and rows can't be styled; style each cell individually instead
	.cmuThreadlist__row {
		@extend %disp--tr;
		position: relative; // important for icon placement
		
		// isRead styles are designed separately
		&.isRead {
			background-color: $cmu-color-isRead--background;
			color: $cmu-color-isRead;
		}

		// defines thread item hover colors
		@extend %style-listItem;

		// general cell styles in a row
		& > div {
			@extend %disp--cell;
			position: relative;
			overflow: hidden; 
			border-bottom: $style-line;
		    // line-height: $cmu-threadlist-height;
			padding-top: $cmu-threadlist-height;
			padding-bottom: $cmu-threadlist-height;
    		vertical-align: middle;
		}

		// unread post
		color: $cmu-color-black;
		&:hover {
			color: $cmu-color-threadlist-hover;
			background-color: $cmu-color-threadlist-hover--background;
		}


		// & > div:first-child {
		// .cmuThreadlist__topic {
		// 	padding-left: $cmu-threadlist-offset;
		// }
		& > div:last-child {
			padding-right: $cmu-threadlist-offset;
		}

	}

	// Topic
	.cmuThreadlist__topic {
		padding-left: $cmu-threadlist-offset;
		padding-right: $cmu-threadlist-padding;
	}
		.cmuThreadlist__topic__title {
			line-height: $cmu-threadlist-lineheight;
			padding-right: $cmu-base/2;
			float: left; // useful for placing product tags inline
		}

	// Preview
	.cmuThreadlist__preview {
		padding-left: $cmu-threadlist-offset;
		padding-right: $cmu-threadlist-offset;
	}

	// Auhtor Date
	// - combining author and date
	// - Created column
	// - Latest column

	.cmuThreadlist__authorDate {
		overflow: visible !important;
		font-size: $cmu-threadlist-size-numerical;
		// min-width: $cmu-base*30/4;
		width: $cmu-base*7;
		white-space: nowrap;
		// white-space: nowrap;
		// * { overflow: hidden; } // date or usernames might be really long

		.cmuThreadlist__avatar {
			// width: $size-avatar--small;
			// height: $size-avatar--small;
			// display: inline-block;
			float: left; 
			// vertical-align: middle;
		}
		.cmuUserbadge {
			display: inline;
		// 	float: left; 
		}
		.cmuUserbadge__avatar {
			// @extend .cmuUserbadge__avatar--small;
			// position: absolute;
    		// top: $cmu-vertical-rhythm/2;
    		height: $cmu-threadlist-avatar;
    		width: $cmu-threadlist-avatar;
		}
		.cmuThreadlist__date {
			overflow: hidden;
			// display: inline-block;
			// margin-left: $cmu-base*2.5;
		}
	}


// Counters (kudos, etc.)

%cmuThreadlist__counter {
	width: $cmu-threadlist-size-counterWidth;
	text-align: center;
	font-size: $cmu-threadlist-size-numerical;
 
	// @include respondTo(medium-down) {
		// padding-right: $cmu-base/2;
	// }
}

	.cmuThreadlist__counter {
		@extend %cmuThreadlist__counter;
		padding-right: $cmu-base/2;
	}

		.cmuThreadlist__views {
			// padding-left: $cmu-base/2;
			// width: $cmu-threadlist-size-counterWidth + 2%;
		}
		.cmuThreadlist__replies {
		}
		.cmuThreadlist__kudos {
			padding-right: $cmu-base;
		}	

		// threadlist headers responsive text
		.cmuThreadlist__headers {

			.cmuThreadlist__views {
				&:after {content: 'Views';}
				@include respondTo(small-down) {
					&:after {content: 'V';}
				}
			}
			.cmuThreadlist__replies {
				&:after {content: 'Replies';}
				@include respondTo(small-down) {
					&:after {content: 'R';}
				}
			}
			.cmuThreadlist__kudos {
				&:after {content: 'Kudos';}
				@include respondTo(small-down) {
					&:after {content: 'K';}
				}
			}	
		}







// 
// Other
// 


// Tooltip
.cmuThreadlist__tooltip {
	opacity: 0;
	@extend %ease-fast;

	display: inline-block;
    float: right;
    right: 8px;
    height: 100%;

	.icon:before {
		color: $cmu-color-mdgray;
		@extend %ease-fast;
	}
	&:hover {
		@extend %ease-fast;
		.icon:before {
		@extend %ease-fast;
			color: $cmu-color-active;
		}
	}
}
.cmuThreadlist__row:hover .cmuThreadlist__tooltip {
	opacity: 1;
	@extend %ease-fast;
}



// occurs in search for no results
// might occur with other messages like no messages
.cmuThreadlist__messagebox {
	padding: $cmu-base*2;
	text-align: center;
	border-top: $style-line;
	border-bottom: $style-line;
}








// // 
// // separate list of pinned threads
// // 
// .cmuThreadlist__pinnedList {
// 	border-bottom: $style-line--thick;
// 	border-color: $cmu-color-dkgray;
// }





// // 
// // Special States
// // 

// 	// Pinned Thread
// 	.cmuThreadlist__row--pinned {
// 		.cmuThreadlist__row__topic:after {
// 			content: ' ';
// 			display: inline-block;
// 			position: relative;
// 				top: 4px;
// 			width: $cmu-base*0.8;
// 			height: $cmu-base*0.8;

// 			@extend .cmuIcon-pin;
// 	  		background-repeat: no-repeat;
// 		}
// 	}

// 	// Active Thread
// 	.cmuThreadlist__row--active {
// 		.cmuThreadlist__row__topic > a:before {
// 			content: 'ACTIVE';
// 			display: inline-block;
// 			background-color: $cmu-color-red;
// 			padding: $cmu-base/6 $cmu-base/2;
// 			margin-right: $cmu-base/2;
// 			color: $cmu-color-white;
// 			font-size: $size-xxsmaller;
// 			line-height: $cmu-base;
// 		}
// 	}

// 	// Locked Thread
// 	.cmuThreadlist__row--locked {
// 		.cmuThreadlist__row__topic > a:after {
// 			font-family: 'ubnt';
// 			content: '\e78e';
// 			display: inline-block;
// 			padding: $cmu-base/6 $cmu-base/4;
// 			// font-size: $size-xxsmaller;
// 		}
// 	}

// 	// Read Thread
// 	.cmuThreadlist__row--read {
// 		a, .cmuThreadlist__row__counter { font-weight: 300; }
// 		background-color: $cmu-color-ltgray;
// 		border-color: darken($cmu-color-ltgray,5);
// 	}




