

// 
// Sidebar
// Generalized styles for all sidebar
// 

.cmuSidebar {
	padding-left: 0;
	padding-right: 0;
}

	.cmuSidebar__container {
		margin-bottom: $cmu-vertical-rhythm;

		&:last-child {
			margin-bottom: 0;
		}
	}

	%cmuSidebar__title, .cmuSidebar__title {
		h5 {
			padding-bottom: $cmu-base/4;
			margin-bottom: $cmu-base/4;
			border-bottom: $style-line;
		}
	}