
<div>
	<community-page-header header-text="${{ directory.inbox.header }}$" exclude-state="inbox.detail" hide-element-selector=".inbox-container"></community-page-header>

	<div class="cmuInbox__container inbox-container">

		<div class="cmuInbox__controls row">
			<a area-link-handler link-handler-route="inbox.newtopic"><div class="button button--solid">${{ directory.inbox.newMessage }}$</div></a>
		</div>

		 <div class="cmuInbox__update row" ng-class="{'new':vm.checkNewMessages()}">
        	<button class="button--ghost button--blue-on-white" ng-click="vm.refreshMessages()"><span class="icon ubnt-icon--refresh-2"></span> ${{ directory.feed.refresh }}$</button>
        </div>

		<div class="row">
			<div class="cmuInbox__sidebar col--md4 noPadding">

		        <div class="cmuInbox__list">
		        	<span class="cmuInbox__list__title">Showing <h5>10</h5> of <h5>40</h5></span>
					<a class="cmuInbox__list__message" 
						ui-sref="inbox.detail({ messageId: message.topic.id })"
						ng-repeat="message in vm.messageList.content">
							<div class="cmuInbox__list__rowFirst row">
								<div class="col--md9">
									<div class="cmuInbox__list__subject">{{ message.topic.subject }}</div>
								</div>
								<div class="col--md3 alignRight">
									<span>{{ message.topic.postDate | timeFromNow }}</span>
								</div>
							</div>

							<div class="cmuInbox__list__rowSecond">
								<div class="cmuInbox__list__recipients">{{ vm.getRecipientString(message.recipients) }}
								</div>
								<p>{{ message.topic.body | unformatText | wordCut:20 }}</p>
							</div>
					</a>
				</div>
				<community-load-more list-model="vm.messageList" load-filter="vm.messageFilter"></community-load-more>
			</div>

			<div class="cmuInbox__main col--md8 noPaddingRight">
				<div ng-show="vm.showDetailLoader">
					<div ng-include="'partials/loader.html'"></div>
				</div>
				<div ng-show="!vm.showDetailLoader">
					<div ui-view="mainContent" autoscroll="false"></div>
				</div>
			</div>
		</div>
	</div>
</div>
