
<div class="cmuMega__container">
	<div ng-class="{ 'cmuOverlay--show' : megamenu.isOpen }" class="cmuMega container">
	<!-- JAN : TEMPORARY PROTOTYPE LOCATION 

		To show cmuMega, attach cmuMega--show to the cmuMega class. remove cmuMega--show to close/hide it.
		
		Note that to make the mega menu work we must add some styles to the .cmuWrapper class (it encompasses all content without having to touch <body>)

		Attach .cmuWrapper--overlay to .cmuWrapper to add those styles
		
	-->
		<div class="cmuMega__shroud" ng-click="megamenu.toggleMenu()"></div>
		<div class="container noPadding">
			<div class="cmuMega__content row" ng-click="megamenu.toggleMenu()">
				<div class="row">
					<div class="cmuMega__content__container clearfix" ng-click="$event.stopPropagation();">
						<div class="noPadding col--md12" >
							<div ng-include="megamenu.menuTemplateUrl"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>