
<div class="cmuMega__container">
	<div ng-class="{ 'cmuOverlay--show' : megamenu.isOpen }" class="cmuMega container">
		<div class="cmuMega__shroud" ng-click="megamenu.toggleMenu()"></div>
		<div class="container noPadding">
			<div class="cmuMega__content row indentRow" ng-click="megamenu.toggleMenu()">
				<div class="row">
					<div class="cmuMega__content__container clearfix" ng-click="$event.stopPropagation();">
						<div class="noPadding col--md12" >
							<div ng-include="megamenu.menuTemplateUrl"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>