
// 
// Include css-app-themes separately, since we're extending off of the .com base instead of app
// 





// 
// POPOVER MODULE
// Emulate using tooltipster: http://ubnt-css.herokuapp.com/#/app/popover
// 

/**
 * 1. Expect developers to position this element absolutely on the screen, or
 *    within the originating element (e.g. a button).
 * 2. Don't inherit any styles from parent (e.g. a button).
 * 3. Use round corners to clip content.
 */



/**
* 1. Use background color on the inner element so that it gets cropped by
*    the parent element's overflow: none.
*/

$app-popover-font-color: blue;
$app-popover-background-color: blue;
$app-popover-header-background-color: blue;
$app-popover-border-color: blue;

$app-high-box-shadow: blue;
$app-popover-shadow-color: blue;

$app-line-light-section-border-color: blue;
$app-line-light-item-border-color: blue;

$app-popover-offset: 16px;
$app-popover-arrow-size: 16px;
@import "../css-app-theme/appPopover/index";
