

// 
// PULSE Module
// 

.cmuPulse {
	position: relative;
	display: table;
	@extend %font-oswald;
	padding: 0;
	margin-bottom: $cmu-base;
	border-bottom: $style-line;
	text-align: center;

	@include respondTo(small-down) {
		display: none;
	}

	@include respondTo(large-up) {
    	// padding: 0 $cmu-base*4;
	}

	// place flush to the menu
	margin-top: $cmu-base * -1;
}
.cmuPulse__container {
	display: table-cell;
}

.cmuPulse__label {
	display: table-cell;
	vertical-align: middle;

	min-width: $cmu-base * 4;
	@include respondTo(medium-down) {
		display: none;
	}

	// padding: $cmu-base;
	// padding-right: 4px;
	position: relative;
	text-transform: uppercase;
	color: $cmu-color-gray;
	background-color: $cmu-color-ltgray;
	font-size: $size-large;
	line-height: $size-larger__lineHeight;

	&:before {
		content :' ';
		display: block;
		position: absolute;
		right: -10px;
		top: 6px;

    	border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid $cmu-color-ltgray;
		line-height: 0;
	}
}

.cmuPulse__counter {
	display: inline-block;
	vertical-align: middle;

	padding: $cmu-base*3/4;
	padding-left: 0;
	// overflow: hidden;

	text-transform: uppercase;
	color: $cmu-color-dkgray;

	div {
		// display: table-cell;
		display: inline-block;
		vertical-align: middle;
	}

	.icon {
		font-size: $cmu-base*0.88;
		line-height: 0;
		padding: $cmu-base/2;
		background-color: $cmu-color-ltgray;
		border-radius: 500px;
		// margin-right: $cmu-base/2;

		position: relative;
		top: -1px;
	}
}

		.cmuPulse__total {
			// padding-left: $cmu-base*2;
			@include respondTo(medium-down) {
				padding-left: 0;
			}
		}
		.cmuPulse__count {
			font-size: $cmu-base*1.5;
			line-height: $cmu-base*1.5;
			padding: $cmu-base/2;
			color: $cmu-color-blue;
		}
		.cmuPulse__desc {
			@extend %font-lato; 
			@extend %type-info;
			width: $cmu-base;
			line-height: $size-xxsmaller__lineHeight;
			display: inline-block;
		}

// 			@include respondTo(medium-down) {
// 				// on smaller screens...
// 				.cmuPulse__total, .cmuPulse__members {

// 				}

// 				// make these wider
// 				// make these narrower
// 				.cmuPulse__online, .cmuPulse__recent {

// 				}

// 			}

// // 
// Sidebar design
// 

.cmuPulse--sidebar {
	margin: 0;
	
	.cmuPulse {
		position: relative;
		border: 0;
		margin: 0;

		@include respondTo(small-down) {
			display: none;
		}

		@include respondTo(large-up) {
	    	padding: 0;
		}
	}
	.col--md3 {
		width: 100%;
    	text-align: left;
    	padding: $cmu-base/2 0;
	}
}


