

// 
// NAVBAR MODULE
// 


.cmuDiscussionsNavbar {
	cursor: default;
	margin-bottom: $cmu-vertical-rhythm;

	* {
		@extend .type-titleThin;
	}

	a {
		@extend .type-link;
	}

	ul {	
		float: left;
		margin: 0; //override global style

		display: block;
		width: 100%;
		border-bottom: $cmu-style-border-thin;
		padding: $cmu-base 0;
	}

	li {
		display: inline; 
		padding-left: 1em;
	}

	li:first-of-type {
		padding-left: 0;
	}
}


