


.cmuDiscussionsControls {
	margin-top: $cmu-base/2;
	margin-bottom: $cmu-base;
	display: block;

    // border-bottom: $style-line;
    // padding-bottom: $cmu-base/2;

}


// 
// DISCUSSIONS HEADER
// 

.cmuDiscussionsHeader {
	// float: left;
	// display: inline-block;
	display: block;
	// margin-bottom: $cmu-base/2;
	font-size: $size-xsmaller;
	// border-bottom: $style-line--dark;
	// border-bottom-width: 2px; // thicker

	// don't override main styles, left as notes
	// h4 { 
	// 	font-weight: bold;
	// 	font-size: remCalc(15px);

	// 	padding-right: 16px;
	// 	line-height: 14px;
	// 	vertical-align: bottom;
	// 	margin-top: 4px;
	// }
}



// 
// NAVBAR MODULE
// 


.cmuDiscussionsNavbar {
	cursor: default;
	// margin-bottom: $cmu-vertical-rhythm;
	// display: inline-block; // nor necessary and introduces problems with empty navs (ex: directory)
	// padding-left: $cmu-base;
	// border-left: 1px solid $cmu-color-mdgray;
	
	border-bottom: $style-line;
	border-top: $style-line--dark;
	border-top-width: 2px; // thicker

	a {
		display: inline-block;
		@extend %size-xsmaller;
		font-weight: 400;
		@extend %ease-fast;
		@extend %style-link--dark;
		text-transform: uppercase;
		padding: $cmu-base;
		line-height: 0;
		outline: none;
	}

	ul {	
		margin: 0; //override global style
		display: block;
		width: 100%;
	}

	li {
		display: inline-block; 
		// padding-left: 1em;

		&:first-child a{
			// padding-left: 0;
		}
	}

	li:first-of-type {
		padding-left: 0;
	}
}

// grouped content
.cmuDiscussionsNavbar .cmuDiscussionsNavbar__group {
	// margin-right: $cmu-base/2;
	background-color: $cmu-color-purewhite;
	padding-left: $cmu-base/2;
	padding-right: $cmu-base*3/4;
}
	.cmuDiscussionsNavbar__group {
		// color: $cmu-color-active !important; // temporary
		border-left: $style-line;
	}

.cmuDiscussionsNavbar div.cmuDiscussionsNavbar__group__container {
	display: none;
	// @include box-shadow(0, 0, $cmu-base, $cmu-color-mdgray, $inset: true);
	background-color: $cmu-color-ltgray;
	color: $cmu-color-gray;
    position: relative;
    left: -4px;
    // top: 1px;
    // padding: $cmu-base/2 0;
    // padding-left: $cmu-base;
    line-height: 0;
    border-right: $style-line;

    // arrow
    &:before {
    	content: ' ';
		width: 0; 
		height: 0; 
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent; 
		border-left:6px solid $cmu-color-purewhite; 
	    position: absolute;
	    top: 10px;
	    left: 0px;
    }

	.subLink {
    	display: inline;
		padding: 0;

		&:first-child a {
			padding-left: $cmu-base;
		}
		&:last-child a {
			padding-right: $cmu-base*3/4;
		}
	}
	a {
		padding-left: $cmu-base/2;
	}
}

.cmuDiscussionsNavbar .cmuDiscussionsNavbar__group + .cmuDiscussionsNavbar__group__container {
	display: inline-block;
}

