


.cmuDiscussionsControls {
	margin-top: $cmu-base/2;
	margin-bottom: $cmu-base;
	display: block;

    border-bottom: $style-line;
    padding-bottom: $cmu-base/2;

}


// 
// DISCUSSIONS HEADER
// 

.cmuDiscussionsHeader {
	// float: left;
	// display: inline-block;
	display: block;
	margin-bottom: $cmu-base/2;
	padding-bottom: $cmu-base/2;
	border-bottom: $style-line--dark;
	border-bottom-width: 2px; // thicker

	// don't override main styles, left as notes
	// h4 { 
	// 	font-weight: bold;
	// 	font-size: remCalc(15px);

	// 	padding-right: 16px;
	// 	line-height: 14px;
	// 	vertical-align: bottom;
	// 	margin-top: 4px;
	// }
}



// 
// NAVBAR MODULE
// 


.cmuDiscussionsNavbar {
	cursor: default;
	// margin-bottom: $cmu-vertical-rhythm;
	// display: inline-block; // nor necessary and introduces problems with empty navs (ex: directory)
	// padding-left: $cmu-base;
	// border-left: 1px solid $cmu-color-mdgray;
	a {
		@extend %size-large;
		font-weight: 300;
		@extend %ease-fast;
		@extend %style-link--dark;
		text-transform: capitalize;
	}

	ul {	
		margin: 0; //override global style
		display: block;
		width: 100%;
	}

	li {
		display: inline; 
		padding-left: 1em;
	}

	li:first-of-type {
		padding-left: 0;
	}
}
