<div class="cmuFeatureDetails cmuThread">
	<div class="row">
		<div class="row">
			<div class="cmuFeatures__votes col--md2">
				<div class="cmuFeatures__votes__count">{{ vm.originalMessage.countVotes }}<span class="cmuFeatures__votes__caption">votes</span></div>
				<div class="cmuFeatures__votes__status {{ vm.getStatusCode() }} ">
					{{ ::vm.getStatusText(vm.originalMessage) }}
				</div>
			</div>

			<div class="col--md10">
				<div class="cmuThread__subject">
					<div class="row">

						<div class="col--md10">
							<h3>{{ vm.originalMessage.subject }}</h3>
						</div>

						<div class="col--md2 alignRight">
							<community-sort sort-options="vm.messageSortOptions" sort-filter="vm.commentFilter" sort-exclude="limit, offset"></community-sort>
						</div>

					</div>
				</div>
			</div>
		</div>


		<div class="row cmuThread__controls">
			<span community-permissions>
				<div class="col--md1">
	        		<button class="button--solid button-white-on-green button--stretch">Vote</button>
	        	</div>
				<div class="col--md1">
	        		<button class="button--solid button--stretch" ng-click="vm.showFeatureReply()">Reply</button>
	        	</div>
			</span>
			<div class="col--md4 col--mdOffset6">
				<community-pager 
			  	  number-of-pages="vm.numberOfPages" 
				  pager-fn="vm.commentFilter">
				</community-pager>
			</div>
		</div>



		<div class="cmuThread__firstPost">
			<community-user-badge 
				class="cmuUserbadge--thin"
				user="vm.originalMessage.message.context.parentAuthor"
				op-id="messageDisplay.showOp">
			</community-user-badge>


			<div class="cmuMessage__data">
				<div class="cmuMessage__counter"></div>
				<div class="cmuMessage__date">
					{{ vm.originalMessage.message.postDate | exactTimeFromNow }}
					<span ng-if="vm.isEdited">| edited {{ vm.originalMessage.message.editDate | exactTimeFromNow }}</span>
				</div>
			</div>

			<div class="cmuMessage__content cmuContent row">
				<div class="col--md12" ng-bind-html="vm.originalMessage.message.body | sanitize"></div>
				<div class="cmuMessage__data">
					<div ng-if="vm.canEdit" class="cmuMessage__flag cmuHoverflag__trigger">
						<a area-link-handler="{{ vm.editUrl }}">
							<span class="cmuIcon cmuIcon--small icon ubnt-icon--pencil-2"></span>
							<div class="cmuHoverflag  cmuHoverflag--top" data-tooltip="Edit this feature request" data-textalign="left"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div ng-repeat="message in vm.commentList">
			<community-message 
				message="message"
				reply-click-fn="vm.showReply"
				show-op="vm.originalMessage.author.id"
				upvote-only="true"
				thread-filter="vm.commentFilter"
				local-index="$index">
			</community-message>
		
			<div class="cmuThread__reply container noPadding" ng-if="vm.messageIsBeingRepliedTo(message.id)">
					<div class="col--md12 noPadding">
						<div class="cmuThread__reply__to">Reply to <span>{{ ::message.insertUser.login }}</span></div>
						<community-comment-form
							reply-button-text="Post Reply" 
							replying-button-text="Posting Reply..." 
							parent-message="message"
							toggle-attribute="vm.currentReply"
							on-success-fn="vm.replyPosted">
						</community-comment-form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col--md2 noPadding">
			<span community-permissions>
	        	<button class="button--solid button--stretch button-blue-white" ng-click="vm.showFeatureReply()">Reply</button>
			</span>
		</div>
		<div class="col--md4 col--mdOffset6 noPadding">
			<community-pager 
			  number-of-pages="vm.numberOfPages" 
			  pager-fn="vm.commentFilter">
			</community-pager>
		</div>
	</div>

	<div class="row" ng-if="vm.featureReplyShown">
		<div id="featureReply">
			<community-comment-form
				reply-button-text="Post Reply" 
				replying-button-text="Posting Reply..." 
				parent-message="vm.originalMessage.message"
				toggle-attribute="vm.featureReplyShown"
				on-success-fn="vm.replyPosted">
			</community-comment-form>
		</div>
	</div>

</div>
