
// entire stories section
.cmuStories {

}










// 
// Stories Grid
// 

.cmuStoryItem {
	@extend %ease-fast;
	max-width: 245px;

	// Note on how this works:
	// this value depends on the maxwidth of the page
	// content-width: 1022px
	// gutter width: 14px (in fluidlayout)
	// max columns: 4
	// (1022 - 14*3) / = 245

	// regular width, 4 columns / 3 gutters
	max-width: calc((100% - 14px * 3) / 4);

	@include respondTo(xsmall-only) {
		// regular width, 1 columns / 0 gutters
		max-width: calc((100% - 14px * 0) / 1); // technically just 100%
	}

	@extend %style-link-listItem;
	
	&:hover {
		@extend %ease-fast;
		img {
			@extend %ease-fast;
		    transform: scale(1.2);
			@extend %ease-fast;
		}
	}
}
	
	// featured story
	.cmuStoryItem__featured {
		position: relative;

		&:before {
			display: block;
			font-family: 'ubnt';
			content: '\e719';
			position: absolute;
			top: 10px;
			left: 10px;

			height: $cmu-base;
			width: $cmu-base;

			text-align: center;
			line-height: 34px;

			border-radius: 100%;
			color: white;
			background-color: $cmu-color-teal;

			font-size: $size-larger;
		}
	}

	// each story item in the grid
	.cmuStoryItem__image {
		background-color: $cmu-color-purewhite;

		// fixes weird spacing problems w/ images
		font-size: 0px;
		line-height: 0;

		img {
			@extend %ease-fast;
			width: 100%;
			max-height: 420px;
		}
	}
		.cmuStoryItem__image__container {
			overflow: hidden;
		}

	// each story item in the grid
	.cmuStoryItem__main {
		background-color: $cmu-color-purewhite;
		padding: $cmu-base/2;
		border: $style-line;
		border-top: 0;
		border-bottom: 0
	}

	.cmuStoryItem__link {
		// color: $cmu-color-dkgray;
		// font-size: $cmu-base-font;
		margin-bottom: $cmu-base/2;
		display: inline-block;

		&:hover {
			color: $cmu-color-blue;
		}
	}

	.cmuStoryItem__meta {
		padding: $cmu-base/2;
		background-color: $cmu-color-ltgray;
		margin-bottom: $cmu-base;

		border: $style-line;
		border-top: 0;

		.icon {
			margin-right: $cmu-base/2;
		}
		&>span {
			margin-right: $cmu-base/2;
		}
	}













// 
// Story Page
// 

// only shows up on story page, not in preview
.cmuStoryDetail {

	h1 {
		margin-top: $cmu-vertical-rhythm/2;
		// margin-bottom: $cmu-vertical-rhythm/2;
	}
}

// only shows up on preview page, not on story
.cmuStoriesNew__preview {
	max-width: 800px;
}

.cmuStories__summary {
	@extend %size-large;
  	color: $cmu-color-dkgray;
	margin-bottom: $cmu-base;
}

.cmuStories__story__controlsTop {
	margin-top: $cmu-base/2;
	margin-bottom: $cmu-base/2;

	
	// adjust usernames 
	.cmuUsername {
		// margin-left: $cmu-base/4;
	}
}
	.cmuStories__story__controlsTop--left {
		button {
			float: right;
			margin-top: 4px;
		}
	}

	.cmuStories__author--avatar {
		float: left;
		padding-left: $cmu-base/2;
		
		.cmuUserbadge__avatar {
			margin-left: -3px;
  			width: 32px;
			padding-left: 0;
			height: 1rem;
			&:after {
			  width: 2rem;
			  height: 2rem;
			}
		}
	}

	.cmuStories__author--info {

		float: left;
		font-size: 11px;
		line-height: 16px;
		padding-left: $cmu-base/2;
		padding-top: $cmu-base/2;
	}
		.cmuStories__postTime {
			color: $cmu-color-gray;

			&:before {
				content: ' | ';
				padding: 0 4px;
			}
		}

.cmuStories__story__cover {
	margin-bottom: $cmu-base;
	
	// 'picture frame'
	padding: 12px;
	background: white;
	border: $style-line;

	.cmuStories__story__cover--img {
		// max-height: 300px;
		// overflow: hidden;
		// text-align: left;
		text-align: center;
		margin-bottom: $cmu-base/2;


		img {
			max-width: 100%;
			/* max-width: 400px; */
			height: auto;
			max-height: 500px;
		}

		div {
			width: 100%;
			// max-width: 800px;
			height: 250px;
			background-size: cover;
			background-color: $cmu-color-ltgray;
			background-repeat: no-repeat;
			background-image: url(http://i.imgur.com/TT7XC8m.jpg);
		}
	}
	.cmuStories__story__cover--caption {
		font-size: 11px;
		color: $cmu-color-dkgray;
		font-style: italic;
	}
}

// 
// Right Rail Info Box
// 

.cmuStories__story__info {
	padding-left: $cmu-base;

	& > div {
		margin-bottom: $cmu-base;
	}
	label {
		color: $cmu-color-gray;
		font-size: remCalc(10px);
		text-transform: uppercase;
	}
}

.cmuStories__story__info--map {
	margin-bottom: $cmu-base/2;
}
	.cmuStories__story__info--map-location {
		margin-bottom: $cmu-base;
	}

.cmuStories__story__info--title {
	// font-weight: 700;
	color: $cmu-color-gray;
	font-size: remCalc(10px);
	text-transform: uppercase;
}

// 
// Products
// 

.cmuStories__story__products--title {
	// font-weight: 700;
	color: $cmu-color-gray;
	font-size: remCalc(10px);
	text-transform: uppercase;
	margin-bottom: 4px;
}

	.cmuStories__story__products--item {
		display: block; 
		margin-bottom: $cmu-base;

		&:nth-child(1) {
			padding-left: 0;
		}

		&:before {
			content: ' ';
			display: block;
			height: 50px;
			width: 80px;
			background-color: $cmu-color-ltgray;
		}
	}

	.cmuStories__story__products--name {
		margin-top: 4px;
	}

// main body text
.cmuStories__story__body {
	margin-bottom: $cmu-base;

	p {
		margin-bottom: $cmu-base;
	}

	// posts won't have html formatting; more for the default text
	& > ol {
		margin-top: $cmu-base;
	}
	ul, ol {
		list-style-position: inside;

		ul {
			margin-left: $cmu-base;
			// margin-bottom: $cmu-base/3;
		}
	}
}


// images
.cmuStories__story__imageContainer {
	margin-bottom: $cmu-base;

	// &.break-columns {
	// 	@include respondTo(medium-up) {
	// 		-webkit-columns: 2 200px;
	// 		 -moz-columns: 2 200px;
	// 		      columns: 2 200px;
	// 		-webkit-column-gap: 4em;
	// 		 -moz-column-gap: 4em;
	// 		      column-gap: 4em;
	// 		-webkit-column-rule: 1px solid $cmu-color-ltgray;
	// 		 -moz-column-rule: 1px solid $cmu-color-ltgray;
	// 		      column-rule: 1px solid $cmu-color-ltgray;
	// 	}
	// }
          
	.cmuStories__story__mediaItem {
		// margin-bottom: $cmu-base;
		// -webkit-column-break-inside: avoid;
		// page-break-inside: avoid;
		// break-inside: avoid;

		// for videos: 
		// http://i.imgur.com/TT7XC8m.jpg
		// -webkit-column-span: all;
		// column-span: all;
	}
	.cmuStories__story__mediaItem__caption {
		margin-bottom: 1rem;
	}

	.cmuStories__story__mediaItem__vidContainer--title {

	}
}







