



// 
// Preview Window
// 
.cmuStoriesNew__panel {
	border:1px solid $cmu-color-ltgray;
	background-color: $cmu-color-purewhite;
	padding: $cmu-base;
	margin-bottom: $cmu-base/2;
}

.cmuStoriesNew__title {
  font-size: 16px;
  margin-bottom: $cmu-base/2;

}

.cmuStoriesNew__form {
	overflow: hidden;
	padding-top: $cmu-base/2;
 	padding-left: 0;
 	padding-right: 1rem;
 	@include respondTo(xlarge-up) {
 		max-width: 410px;
	}

}
	.cmuStoriesNew__form--title {
		@extend .cmuStoriesNew__title;
		// padding-left: $cmu-base/2;
	}
	.cmuStoriesNew__form--intro {
	 	padding-bottom: $cmu-base/2;
	}


	// only shows up on preview page, not on story
	.cmuStoriesNew__preview {
		// max-width: 800px;
	}
	.cmuStoriesNew__form--text {
		margin-bottom: $cmu-vertical-rhythm;
	}




.cmuStoriesNew__preview {
	// border: 1px solid $cmu-color-ltgray;
	// background-color: $cmu-color-purewhite;
 	// padding: 8px 21px;

 	@include respondTo(xlarge-up) {
    	width: calc(100% - 410px) !important;
	}
}

	.cmuStoriesNew__Preview--intro {
		text-transform: uppercase;
		color: $cmu-color-gray;
		font-size: $cmu-base*0.65;
	}


// custom tinyMCE styles
	// .cmuTextEditor {
	// 	margin-bottom: $cmu-base/2;
	// }
	// .mce-edit-area {
	// 	border: 0 !important;

	// }
	// .mce-statusbar {
	// 	display: none !important;
	// }

	.cmuStoriesNew {
		.cmuTextEditor__emoji {
		    position: absolute;
		    top: 0;
		    top: 13px;
		    left: 210px;
		    width: 80px;
		    background: $cmu-color-white;
		}
	}



// Product selector
.cmuStoriesNew__form--products {
}


// 
// Media area
// 

.cmuStoriesNew__form--media {
	// border: 1px solid $cmu-color-ltgray;
	// padding: $cmu-base;
}

// 
// Media Uploads
// 

.cmuStoriesNew__form--url .cmuInputUrl--button {
	margin-bottom: $cmu-base;
}
.cmuStoriesNew__form--fileUpload button {
	margin-top: $cmu-base/4;
}
.cmuStoriesNew__form--uploads {
	counter-reset: mediaItem;
 	position: relative; 
}
.cmuStoriesNew__form--uploadItem {
	display: table;
	counter-increment: mediaItem; 
	border: 1px solid $cmu-color-gray;
	// padding-left: $cmu-base;
	margin-bottom: $cmu-base;
	position: relative;
	width: 100%;

	// being dragged
	&.sortable-ghost {
	}
}
	// preview image
	.cmuStoriesNew__form__uploadItem--preview {
		// width: 249px;
		height: 120px;
		background-position: center;
		background-size: contain;
		width: 100%;
	}

	.cmuStoriesNew__form--uploadItem--downup {
		display: table-cell;
		vertical-align: middle;
		padding: 0 $cmu-base/2;
		background-color: $cmu-color-white;
		width: 100%;
		text-align: center;
		cursor: move;
		@extend %ease-fast;
		&+span {
			// usability thing- describe how to drag / reposition
			&:before {
				content: ' DRAG TO REPOSITION ';
				width: calc(100% - 29px);
				height: 100%;
				text-align: center;
				top: 0;
				left: 0;
				padding-top: 85px;
				background-color: rgba(0, 30, 80, 0.6);
				color: $cmu-color-purewhite;
				opacity: 0;
				position: absolute;
				z-index: -1;
				@extend %ease-fast;
			}
		}

		&:hover {
			background-color: $cmu-color-ltgray;
			@extend %ease-fast;
			color: $cmu-color-blue;

			&+span {
				&:before {
					opacity: 0.9;
					z-index: 100;
				}
			}
		}
	}
	.cmuStoriesNew__form--uploadItem--info {
		display: table-cell;
		vertical-align: middle;
		padding-bottom: $cmu-base/2;
		width: 100%;
	}

	.cmuStoriesNew__form--uploadItem--caption {
		// margin: $cmu-base/2;
		margin-top: -5px;

		.cmuInput {
			border: 0  !important;
			// border-right: 1px solid $cmu-color-gray !important;
			border-bottom: 1px solid $cmu-color-ltgray !important;
		}
	}

	.cmuStoriesNew__form__uploadItem--count {
		&:before {
			content: ' # ' counter(mediaItem);
			display: block;
			position: absolute;
			padding: 4px 12px;
			color: white;
			background-color: rgba(0,0,0,0.5);
			font-size: 10px;
		}
	}

	// cover image labeling
	.cmuStoriesNew__form--cover {
		color: $cmu-color-blue;
		text-transform: uppercase;
		font-size: 10px;
		position: absolute;
		background-color: rgba($cmu-color-blue, 0.5);
		// padding: 0.5rem 1rem;
		padding: 4px 12px;
		color: white;
		cursor: default;
		top: 0;
		left: 38px;

		.icon {
			font-size: 16px;
			line-height: 0;
			position: relative;
			margin-right: 12px;
			&:before {
				position: relative;
				top: 3px;
			}
		}
	}
		.cmuStoriesNew__form__uploadItem--preview {
			background-position: center;
			background-repeat: no-repeat;
			left: 0px;
			background-size: cover;
		}
		.cmuStoriesNew__form--cover--hide {
			display: none !important;
		}
		.cmuStoriesNew__form--cover--show {
			display: inline-block !important;
		}

	.cmuStoriesNew__form--uploadItem--url,
	.cmuStoriesNew__form--uploadItem--title {
		margin: 0 $cmu-base/2;
		font-size: 10px;
		color: $cmu-color-dkgray;
		cursor: default;
		word-break: break-all;
	}

	.cmuStoriesNew__form--uploadItem--controls {
		z-index: 75; // so controls don't get blocked by drag overlay
		span {
			cursor: pointer;
			font-size: 12px;
			margin: 0 $cmu-base/2;
		}
		.cmuStoriesNew__form--uploadItem--controls--setCover {
			color: $cmu-color-blue;
			&:hover{
				color: $cmu-color-black;
				@extend %ease-fast;
			}
		}
		.cmuStoriesNew__form--uploadItem--controls--setCoverVideo {
			color: $cmu-color-ltgray;
			cursor: default;
		}
		.cmuStoriesNew__form--uploadItem--controls--delete {
			float: right;
			color: $cmu-color-black;
			&:hover{
				color: $cmu-color-blue;
				@extend %ease-fast;
			}
			.icon {
				font-size: 10px;
				margin-right: $cmu-base/2;
			}
		}
	}


.cmuStoriesNew__form--additional {
	border: 1px solid $cmu-color-ltgray;
	padding: $cmu-base; padding-bottom: $cmu-base/2;
	@extend %ease-fast;

	.icon {
		font-size: 10px;
		line-height: $size-avatar--small;
		content: "\e6ce";
		/* margin-top: -10px; */
		position: relative;
		top: -1.5px;
		@extend %ease-fast;
	}
	.cmuStoriesNew__form--additional--controller {
		@extend %ease-fast;
		cursor: pointer;
		&:hover {
			.cmuStoriesNew__form--title,
			.cmuStoriesNew__form--intro, .icon {
				color: $cmu-color-blue;
				@extend %ease-fast;
			}
		}
	}
	.cmuStoriesNew__form--title,
	.cmuStoriesNew__form--intro {
		cursor: pointer;
	}

}

.cmuStoriesNew__tips {
	margin-top: $cmu-base;
}

