
// entire stories section
.cmuStories {

}





// 
// Stories Grid
// 

.cmuStoryGrid {
	margin-top: $cmu-vertical-rhythm;
	$col-count: 3;
	$col-gap: $cmu-base/2;

	// needs to be responsive
    -moz-column-count: $col-count;
    -moz-column-gap: $col-gap;
    -webkit-column-count: $col-count;
    -webkit-column-gap: $col-gap;
    column-count: $col-count;
    column-gap: $col-gap;
}

	.cmuStoryGrid__item {
	    display: inline-block;
	    margin-bottom: $cmu-vertical-rhythm;
	    width: 100%;
	}

.cmuStoryItem {
	@extend %ease-fast;
	margin-bottom: $cmu-base;
	// max-width: 245px;

	// Note on how this works:
	// this value depends on the maxwidth of the page
	// content-width: 1022px
	// gutter width: 14px (in fluidlayout)
	// max columns: 4
	// (1022 - 14*3) / = 245

	// regular width, 4 columns / 3 gutters
	max-width: calc((100% - 14px * 3) / 4);

	@include respondTo(xsmall-only) {
		// regular width, 1 columns / 0 gutters
		max-width: calc((100% - 14px * 0) / 1); // technically just 100%
	}

	@extend %style-listItem;

	&:hover {
		@extend %ease-fast;
		img {
			@extend %ease-fast;
		    transform: scale(1.2);
			@extend %ease-fast;
		}
	}
}
	
	// featured story
	.cmuStoryItem__featured {
		position: relative;

		&:before {
			display: block;
			font-family: 'ubnt';
			content: '\e719';
			position: absolute;
			top: 10px;
			left: 10px;

			height: $cmu-base;
			width: $cmu-base;

			text-align: center;
			line-height: 34px;

			border-radius: 100%;
			color: white;
			background-color: $cmu-color-teal;

			font-size: $size-larger;
		}
	}

	// each story item in the grid
	.cmuStoryItem__image {
		background-color: $cmu-color-purewhite;

		// fixes weird spacing problems w/ images
		font-size: 0px;
		line-height: 0;

		img {
			@extend %ease-fast;
			width: 100%;
			max-height: 420px;
		}
	}
		.cmuStoryItem__image__container {
			overflow: hidden;
			border: $style-line;
		}

	// each story item in the grid
	.cmuStoryItem__main {
		background-color: $cmu-color-purewhite;
		padding: $cmu-base/2;
		border: $style-line;
		border-top: 0;
		border-bottom: 0;
	}

	.cmuStoryItem__subject {
		display: inline-block;

		&:hover {
			color: $cmu-color-blue;
		}
	}

	.cmuStoryItem__user {
		@extend %style-user;
	}
	.cmuStoryItem__date {
		@extend %style-date;
	}

	.cmuStoryItem__meta {
		padding: $cmu-base/2;
		background-color: $cmu-color-ltgray;

		border: $style-line;
		border-top: 0;

		.icon {
			margin-right: $cmu-base/2;
		}
		&>span {
			margin-right: $cmu-base/2;
		}
	}

	.cmuStoryItem__desc {
		@extend %style-tag;
	}

	.cmuStoryItem__stat {
		@extend %style-stat;
	}













// 
// Story Page
// 

// only shows up on story page, not in preview
.cmuStoryDetail {

	h1 {
		margin-top: $cmu-vertical-rhythm/2;
		// margin-bottom: $cmu-vertical-rhythm/2;
	}
}

.cmuStoryDetail__container {
	padding: $cmu-base;
	border: $style-line;
}

.cmuStories__summary {
	@extend %size-large;
  	color: $cmu-color-dkgray;
}

.cmuStories__story__controlsTop {
	margin-top: $cmu-base/2;
	margin-bottom: $cmu-base/2;

	
	// adjust usernames 
	.cmuUsername {
		// margin-left: $cmu-base/4;
	}
}
	.cmuStories__story__controlsTop--left {
		button {
			float: right;
			margin-top: 4px;
		}
	}

	.cmuStories__author--avatar {
		float: left;
		padding-left: $cmu-base/2;
		
		.cmuUserbadge__avatar {
			margin-left: -3px;
  			width: 32px;
			padding-left: 0;
			height: 1rem;
			&:after {
			  width: 2rem;
			  height: 2rem;
			}
		}
	}

	.cmuStories__author--info {

		float: left;
		font-size: 11px;
		line-height: 16px;
		padding-left: $cmu-base/2;
		padding-top: $cmu-base/2;
	}
		.cmuStories__postTime {
			color: $cmu-color-gray;

			&:before {
				content: ' | ';
				padding: 0 4px;
			}
		}

.cmuStories__story__cover {
	// margin-top: $cmu-base; // separates either title or subtitle
	margin-bottom: $cmu-base;
	
	// 'picture frame'
	padding: 12px;
	background: white;
	border: $style-line;

	.cmuStories__story__cover--img {
		// max-height: 300px;
		// overflow: hidden;
		// text-align: left;
		text-align: center;
		margin-bottom: $cmu-base/2;


		img {
			max-width: 100%;
			/* max-width: 400px; */
			height: auto;
			max-height: 500px;
		}

		div {
			width: 100%;
			// max-width: 800px;
			height: 250px;
			background-size: cover;
			background-color: $cmu-color-ltgray;
			background-repeat: no-repeat;
			background-image: url(http://i.imgur.com/TT7XC8m.jpg);
		}
	}
	.cmuStories__story__cover--caption {
		font-size: 11px;
		color: $cmu-color-dkgray;
		font-style: italic;
	}
}

// 
// Right Rail Info Box
// 

.cmuStory__sidebar {
	padding-left: $cmu-base;

	& > div {
		margin-bottom: $cmu-base;
	}
	label {
		color: $cmu-color-gray;
		font-size: remCalc(10px);
		text-transform: uppercase;
	}
}

.cmuStory__sidebar__map {
	margin-bottom: $cmu-base/2;
}
	.cmuStory__sidebar__location {
		margin-bottom: $cmu-base;
	}

.cmuStory__sidebar__title {
	// font-weight: 700;
	color: $cmu-color-gray;
	font-size: remCalc(10px);
	text-transform: uppercase;
}





// 
// Products
// 

.cmuStory__products {

}

	.cmuStory__products--header {
		// font-weight: 700;
		color: $cmu-color-gray;
		font-size: remCalc(10px);
		text-transform: uppercase;
		margin-bottom: 4px;
	}

	.cmuStory__product {
		display: block; 
		margin-bottom: $cmu-base;

		&:nth-child(1) {
			padding-left: 0;
		}
	}

	.cmuStory__product__name {
		margin-top: 4px;
	}

// main body text
.cmuStories__story__body {
	margin-bottom: $cmu-base;

	p {
		margin-bottom: $cmu-base;
	}

	// posts won't have html formatting; more for the default text
	& > ol {
		margin-top: $cmu-base;
	}
	ul, ol {
		list-style-position: inside;

		ul {
			margin-left: $cmu-base;
			// margin-bottom: $cmu-base/3;
		}
	}
}


// images
.cmuStories__story__imageContainer {
	margin-bottom: $cmu-base;

	// &.break-columns {
	// 	@include respondTo(medium-up) {
	// 		-webkit-columns: 2 200px;
	// 		 -moz-columns: 2 200px;
	// 		      columns: 2 200px;
	// 		-webkit-column-gap: 4em;
	// 		 -moz-column-gap: 4em;
	// 		      column-gap: 4em;
	// 		-webkit-column-rule: 1px solid $cmu-color-ltgray;
	// 		 -moz-column-rule: 1px solid $cmu-color-ltgray;
	// 		      column-rule: 1px solid $cmu-color-ltgray;
	// 	}
	// }
          
	.cmuStories__story__mediaItem {
		// margin-bottom: $cmu-base;
		// -webkit-column-break-inside: avoid;
		// page-break-inside: avoid;
		// break-inside: avoid;

		// for videos: 
		// http://i.imgur.com/TT7XC8m.jpg
		// -webkit-column-span: all;
		// column-span: all;
	}
	.cmuStories__story__mediaItem__caption {
		margin-bottom: 1rem;
	}

	.cmuStories__story__mediaItem__vidContainer--title {

	}
}







