// We use this to set the base for lots of form spacing and positioning styles
$cmu-form-spacing: remCalc($cmu-base) !default;

// We use these to style the labels in different ways
$cmu-input-font-family: inherit !default;
$cmu-input-font-size: remCalc(14) !default;
$cmu-input-border-radius: 0 !default;
$cmu-input-box-shadow: none;

// We use this to style the glowing effect of inputs when focused
$cmu-glowing-effect-fade-time: 0.45s !default;

// Select variables
$cmu-select-width: 100%;

// Radio variables
$cmu-radio-width: 13px;
$cmu-radio-height: 12px;


$cmu-input-background-color: $cmu-color-white;
$cmu-input-border-color: $cmu-color-ltgray;
$cmu-input-font-color: $cmu-color-black;
$cmu-input-focus-background-color: $cmu-color-blue;
$cmu-input-focus-border-color: $cmu-color-blue;
$cmu-input-disabled-background-color: $cmu-color-ltgray;
$cmu-select-background-color: $cmu-color-white;


$cmu-input-dark-font-color: $cmu-color-white;
$cmu-input-dark-border-color: $cmu-color-ltgray;
$cmu-input-dark-focus-background-color: $cmu-color-blue;
$cmu-input-dark-focus-border-color: $cmu-color-blue;
$cmu-input-dark-disabled-background-color: $cmu-color-ltgray;
$cmu-select-dark-background-color: $cmu-color-white;
$cmu-input-blue-background-color: $cmu-color-blue;
$cmu-radio-background-color: $cmu-color-white;
$cmu-radio-checked-background-color: $cmu-color-blue;

$cmu-checkbox-border-color: $cmu-color-ltgray;
$cmu-checkbox-check-color: $cmu-color-white;
$cmu-form-label-color: $cmu-color-gray;

$cmu-form-description-font-color: $cmu-color-blue;
$cmu-form-required-default-color: $cmu-color-blue;
$cmu-form-required-invalid-color: $cmu-color-red;