

// 
// COMMENTS
// 


.cmuComments {

}

.cmuComments__header {
	@extend %h3;
	// padding-bottom: $cmu-base/2;
	// border-bottom: $style-line--thick;

	padding: $cmu-base/2 $cmu-base;
	margin-bottom: $cmu-base/2;
    background-color: $cmu-color-post--dark;
}

.cmuComments__row {
	margin-bottom: $cmu-vertical-rhythm/2;
	padding-bottom: $cmu-base/2;
	border-bottom: $style-line;

	&:last-child {
		border-bottom: 0;
	}


	// background-color: $cmu-color-ltgray;
}

.cmuComments__user {
	padding-bottom: $cmu-base/4;

    // border-bottom: 1px solid #ccc;
    display: inline-block;
    float: left;
    // background: #f0f0f0;
    // margin-right: $cmu-base;
    margin-top: $cmu-base/4;
    margin-bottom: $cmu-base/2;

    width: 25%;
}

	.cmuComments__user--avatar {
		
		.cmuUserbadge__avatar {
			padding-left: 0;
			height: 1rem;
			&:after {
			  width: 2rem;
			  height: 2rem;
			}
		}
	}

	.cmuComments__user--info {
		font-size: 11px;
		line-height: 16px;
		padding-left: 6px;
	}
		.cmuComments__postTime {
			color: $cmu-color-gray;
		}

		.cmuComments__body__content {
			margin-right: $cmu-base;
    		padding-bottom: $cmu-base/2;
    		@extend %cmuContent;
		}

.cmuComments__body {
	font-size: $size-normal;
	line-height: $size-normal__lineHeight;
	background-color: $cmu-color-white;
	padding-left: $cmu-base;

    width: 75%;
    float: left;
}


// right side 
.cmuComments__info {
	@extend %type-info;
	line-height: $size-normal;
}

	.cmuComments__date {
		@extend %size-xxsmaller;
		padding-bottom: $cmu-base/2;
		color: $cmu-color-gray;
	}

	.cmuComments__flag {
		float: right;
	}
	.cmuComments__row:hover {
		@extend %cmuIcon-action--halfOpacity;
	}



