

// 
// COMMENTS
// 


.cmuComments {

}

.cmuComments__header {
	@extend %h3;
	padding-bottom: $cmu-base/2;
	border-bottom: $style-line--thick;
}

.cmuComments__row {
	margin-bottom: 0.2rem;

	padding: $cmu-base/2 0;
	background-color: $cmu-color-ltgray;
}

.cmuComments__user {
	padding-top: 2px;
}

	.cmuComments__user--avatar {
		
		.cmuUserbadge__avatar {
			padding-left: 0;
			height: 1rem;
			&:after {
			  width: 2rem;
			  height: 2rem;
			}
		}
	}

	.cmuComments__user--info {
		font-size: 11px;
		line-height: 16px;
		padding-left: 6px;
	}
		.cmuComments__postTime {
			color: $cmu-color-gray;
		}

		.cmuComments__body-content {
			margin-right: $cmu-base;
		}

.cmuComments__body {
	font-size: $cmu-size-normal;
	line-height: $cmu-size-normal--line-height;
}


// right side 
.cmuComments__info {
	@extend %type-info;
	line-height: $cmu-size-normal;
}

	.cmuComments__date {
		padding-bottom: $cmu-base/2;
		color: $cmu-color-gray;
	}

	.cmuComments__flag {
		text-align: right;

		.cmuIcon-flag {
			cursor: pointer;
		    border: $style-line;
		    display: inline-block;
		    width: 25px;
		    height: 25px;
		    border-radius: 50%;
			opacity: 0; @extend %ease-fast;

			&:hover {
				opacity: 1 !important;
				border-color: $cmu-color-blue;
			}
		}
	}
		.cmuComments__row:hover {
			.cmuIcon-flag {
				opacity: 0.465; @extend %ease-fast;
			}
		}



