
<div class="row">
	<div class="cmuStories__title">{{ vm.discussion.subject || vm.placeholders.subject }}</div>	
	<div class="cmuStories__summary" ng-show="vm.story.summary">{{ vm.story.summary }}</div>
</div>

<div class="cmuStories__story__controlsTop row" ng-hide="vm.hideStoryControls">
	<div class="cmuStories__story__controlsTop--left col--md9 noPadding">
		<div class="cmuStories__author--avatar">
			<community-user-avatar user="vm.storyAuthor"></community-user-avatar>
		</div>
		<div class="cmuStories__author--info">
			<span>by</span>
			<community-username user="vm.storyAuthor"></community-username>
			<span class="cmuStories__postTime">{{ vm.discussion.postTime | timeFromNow }}</span>
		</div>

		<button ng-show="
			vm.story.location.display || vm.story.meta.projectRole ||  
				vm.story.meta.finishDate || vm.story.meta.numberOfUsers ||
				vm.story.meta.budgetAmount || vm.story.meta.dataRequirement ||
				vm.story.meta.bandwidth ||
				(vm.productList && vm.productList.length > 0)
			" class="button--vote button-white-on-green">
			{{ vm.discussion.stats | extractKey : 'score' }} kudos
		</button>
	</div>

	<div class="cmuStories__story__controlsTop--right col--md3 alignRight noPadding">
		<button ng-hide="
			vm.story.location.display || vm.story.meta.projectRole ||  
				vm.story.meta.finishDate || vm.story.meta.numberOfUsers ||
				vm.story.meta.budgetAmount || vm.story.meta.dataRequirement ||
				vm.story.meta.bandwidth ||
				(vm.productList && vm.productList.length > 0)
			" class="button--vote button-white-on-green">
			{{ vm.discussion.stats | extractKey : 'score' }} kudos
		</button>
	</div>
</div>

<div class="cmuStories__story__body row">

	<div class="cmuStories__story__body__main"
		ng-class="{'col--md9 noPadding' : 
			(vm.story.location.display || vm.story.meta.projectRole ||  
				vm.story.meta.finishDate || vm.story.meta.numberOfUsers ||
				vm.story.meta.budgetAmount || vm.story.meta.dataRequirement ||
				vm.story.meta.bandwidth ||
				(vm.productList && vm.productList.length > 0)
			)}">

		<div class="cmuStories__story__cover">
			<div class="cmuStories__story__cover--img">
				<img ng-src="{{ vm.cover.url || vm.placeholders.coverPhotoUrl }}">
				
				<div ng-style="{'background-image':'url('+vm.cover.url+')'}"></div>
			</div>
			<div class="cmuStories__story__cover--caption">{{ vm.cover.caption }}</div>
		</div>

		<div class="cmuStories__story__body" ng-bind-html="vm.discussion.body || vm.placeholders.body | sanitize" handle-image-error></div>	

		<div class="cmuStories__story__imageContainer" ng-class="vm.story.media.length > 2 ? 'break-columns' : '' ">
			<div class="cmuStories__story__mediaItem" ng-repeat="mediaUpload in vm.story.media | filter:vm.notCoverPhoto">		
				<div class="cmuStories__story__mediaItem__imgContainer" ng-if="mediaUpload.type === 'image'">
					<img ng-src="{{ mediaUpload.url }}" >
				</div>

				<div class="cmuStories__story__mediaItem__vidContainer" ng-if="mediaUpload.type === 'video'">
					<!-- <div class="cmuStories__story__mediaItem__vidContainer--title" ng-bind="mediaUpload.meta.title"></div> -->
					<div class="cmuStories__story__mediaItem__vidContainer--video">
						<community-video-embed video-id="mediaUpload.meta.videoId.value" video-type="mediaUpload.meta.origin.value"></community-video-embed>
					</div>
				</div>

				<div class="cmuStories__story__mediaItem__caption" ng-show="mediaUpload.caption" ng-bind="mediaUpload.caption"></div>
			</div>
		</div>
	</div>
	<div class="cmuStories__story__info col--md3">
		<div ng-if="vm.story.location.display">
			<community-map class="cmuStories__story__info--map" map-coordinates="vm.story.location.coordinates"></community-map>
			<div class="cmuStories__story__info--title">Location</div>
			<div class="cmuStories__story__info--map-location">{{ vm.story.location.display }}</div>
		</div>
		<div ng-if="vm.story.meta.projectRole">
		 	<label>Project Role</label>
			<p>{{ vm.story.meta.projectRole.value }}</p>
		</div>
		<div ng-if="vm.story.meta.finishDate">
			<label>Finish Date</label>
			<p>{{ vm.story.meta.finishDate.value | date }}</p>
		</div>
		<div ng-if="vm.story.meta.numberOfUsers">
			<label>Users in Networks</label>
			<p>{{ vm.story.meta.numberOfUsers.value | number }}</p>
		</div>
		<div ng-if="vm.story.meta.budgetAmount">
			<label>Budget</label>
			<p>{{ vm.story.meta.budgetAmount.value | currency }}</p>
		</div>
		<div ng-if="vm.story.meta.dataRequirement">
			<label>Data Requirement</label>
			<p>{{ vm.story.meta.dataRequirement.value }}</p>
		</div>
		<div ng-if="vm.story.meta.bandwidth">
			<label>Bandwidth</label>
			<p>{{ vm.story.meta.bandwidth.value }}</p>
		</div>

		<div class="cmuStories__story__products" ng-show="vm.productList && vm.productList.length > 0">
			<div class="cmuStories__story__products--title">Products Used</div>
			<div class="cmuStories__story__products--items">
				<div class="cmuStories__story__products--item col--md12 noPadding" ng-repeat="product in vm.productList">
					<div class="cmuStories__story__products--name">{{ product }}</div>
					<div class="cmuStories__story__products--links">
						<a href="#">Product Details</a> 
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
