
<div class="row">
	<h3>
		{{ vm.story.subject || vm.placeholders.subject }}
	</h3>	
	<div class="cmuStories__summary" ng-show="vm.story.summary">{{ vm.story.summary }}</div>

	<div class="col--md12 noPadding">
		<div class="cmuThread__subject__date">{{ vm.story.message.postDate | exactTimeFromNow }} <span class="cmuThread__subject__date--edited" ng-if="vm.isEdited">Edited {{ vm.story.message.editDate | exactTimeFromNow }}</span>
		</div>
	</div>
</div>

<div class="cmuStories__story__controlsTop row" ng-hide="vm.hideStoryControls">


	<div class="cmuStories__story__controlsTop--left col--md12 noPadding">
		<community-user-badge 
			class="cmuUserbadge--thin cmuUserbadge--thin--open"
			user="vm.storyAuthor"
			op-id="messageDisplay.showOp">
		</community-user-badge>

<!-- 
		<button 
			community-permissions 
			denied-behavior="disable" 
			community-permissions ng-if="
			vm.coordinates.locName || vm.story.meta.projectRole ||  
				vm.story.meta.finishDate || vm.story.meta.numberOfUsers ||
				vm.story.meta.budgetAmount || vm.story.meta.dataRequirement ||
				vm.story.meta.bandwidth ||
				(vm.productList && vm.productList.length > 0)
			" 
			class="button button--vote button--vote--kudo"
			community-class-toggle="button--voted">
				<div class="button--vote--points">{{ vm.discussion.stats | extractKey : 'score' }} 123</div><div class="button--vote--action">Kudos</div>
		</button>
		 -->
	</div>
	<div>
		<button 
			community-permissions 
			denied-behavior="disable" 
			community-permissions
			class="button button--vote button--vote--kudo"
			community-class-toggle="button--voted">
				<div class="button--vote--points">{{ vm.discussion.stats | extractKey : 'score' }} 123</div><div class="button--vote--action">Kudos</div>
		</button>
		<a  ng-if="vm.canEdit"
			class="button button--outline" 
			area-link-handler="{{ vm.editUrl }}">
			<span class="icon ubnt-icon--pencil-2"></span>
			<span>Edit Story</span>
		</a>
	</div>
<!-- 
	<div 
		class="cmuStories__story__controlsTop--right col--md3 alignRight noPadding"
		ng-hide="
			vm.coordinates.locName || vm.story.meta.projectRole ||  
				vm.story.meta.finishDate || vm.story.meta.numberOfUsers ||
				vm.story.meta.budgetAmount || vm.story.meta.dataRequirement ||
				vm.story.meta.bandwidth ||
				(vm.productList && vm.productList.length > 0)
			" >
		<button 
			community-permissions 
			denied-behavior="disable"
			class="button button--vote button--vote--kudo"
			community-class-toggle="button--voted"
			>
			<div class="button--vote--points">{{ vm.discussion.stats | extractKey : 'score' }} 123</div><div class="button--vote--action">Kudos</div>
		</button>
	</div>
	 -->
</div>

<div class="cmuStories__story__body row">

	<div class="cmuStories__story__body__main"
		ng-class="{'col--md9 noPadding' : 
			(vm.coordinates.locName || vm.story.meta.projectRole ||  
				vm.story.meta.finishDate || vm.story.meta.numberOfUsers ||
				vm.story.meta.budgetAmount || vm.story.meta.dataRequirement ||
				vm.story.meta.bandwidth ||
				(vm.productList && vm.productList.length > 0)
			)}">

		<div class="cmuStories__story__cover">
			<div class="cmuStories__story__cover--img">
				<img ng-src="{{ vm.cover.url || vm.placeholders.coverPhotoUrl }}">
			</div>
			<div class="cmuStories__story__cover--caption">{{ vm.cover.caption }}</div>
		</div>

		<div class="cmuStories__story__body__content" ng-bind-html="vm.discussion.body || vm.placeholders.body | sanitize" handle-image-error></div>	

		<div class="cmuStories__story__imageContainer" ng-class="vm.story.media.length > 2 ? 'break-columns' : '' ">
			<div class="cmuStories__story__mediaItem" ng-repeat="mediaUpload in vm.story.media | filter:vm.notCoverPhoto">		
				<div class="cmuStories__story__mediaItem__imgContainer" ng-if="mediaUpload.type === 'image'">
					<img ng-src="{{ mediaUpload.url }}" >
				</div>

				<div class="cmuStories__story__mediaItem__vidContainer" ng-if="mediaUpload.type === 'video'">
					<div class="cmuStories__story__mediaItem__vidContainer--video">
						<community-video-embed video-id="mediaUpload.meta.videoId.value" video-type="mediaUpload.meta.origin.value"></community-video-embed>
					</div>
				</div>

				<div class="cmuStories__story__mediaItem__caption" ng-show="mediaUpload.caption" ng-bind="mediaUpload.caption"></div>
			</div>
		</div>
	</div>

	<!-- 
		Sidebar
	 -->
	<div 
		class="cmuStory__sidebar col--md3"
		ng-if="
			vm.coordinates.locName || vm.story.meta.projectRole ||  
				vm.story.meta.finishDate || vm.story.meta.numberOfUsers ||
				vm.story.meta.budgetAmount || vm.story.meta.dataRequirement ||
				vm.story.meta.bandwidth ||
				(vm.productList && vm.productList.length > 0)
			" 
		>
		<div class="cmuStory__sidebar__item" ng-if="vm.coordinates.locName">
			<div class="cmuStory__sidebar__title">Story Location</div>
			<community-map class="cmuStory__sidebar__map" map-coordinates="vm.coordinates"></community-map>
			<div class="cmuStory__sidebar__location">{{ vm.coordinates.locName }}</div>
		</div>
		<div class="cmuStory__sidebar__item" ng-if="vm.story.meta.projectRole">
		 	<label>${{ stories.body.projectRole }}$</label>
			<p>{{ vm.story.meta.projectRole }}</p>
		</div>
		<div class="cmuStory__sidebar__item" ng-if="vm.story.meta.finishDate">
			<label>${{ stories.body.finishDate }}$</label>
			<p>{{ vm.story.meta.finishDate | date }}</p>
		</div>
		<div class="cmuStory__sidebar__item" ng-if="vm.story.meta.numberOfUsers">
			<label>${{ stories.body.usersInNetwork }}$</label>
			<p>{{ vm.story.meta.numberOfUsers | number }}</p>
		</div>
		<div class="cmuStory__sidebar__item" ng-if="vm.story.meta.budgetAmount">
			<label>${{ stories.body.budget }}$t</label>
			<p>{{ vm.story.meta.budgetAmount | currency }}</p>
		</div>
		<div class="cmuStory__sidebar__item" ng-if="vm.story.meta.dataRequirement">
			<label>${{ stories.body.dataRequirement }}$</label>
			<p>{{ vm.story.meta.dataRequirement }}</p>
		</div>
		<div class="cmuStory__sidebar__item" ng-if="vm.story.meta.bandwidth">
			<label>${{ stories.body.bandwidth }}$</label>
			<p>{{ vm.story.meta.bandwidth }}</p>
		</div>

		<div class="cmuStory__sidebar__item clearfix" class="cmuStory__products" ng-show="vm.productList && vm.productList.length > 0">
			<div class="cmuStory__products--header">${{ stories.body.productsUsed }}$</div>
			<div ng-repeat="product in vm.productList track by $index">
				<a class="cmuStory__product style-tag" area-link-handler="{{ vm.getProductUrl(product) }}" >
					<!-- <div class="cmuStory__product__icon">
						<span class="icon {{ vm.getProductIcon(product) }}"></span>
					</div> -->
					<div class="cmuStory__product__name">{{ vm.getProductName(product) }}</div>
				</a>
			</div>
		</div>
	</div>


	<div 
		class="cmuStories__story__body__bottom"
		ng-class="{'col--md9':
			vm.coordinates.locName || vm.story.meta.projectRole ||  
				vm.story.meta.finishDate || vm.story.meta.numberOfUsers ||
				vm.story.meta.budgetAmount || vm.story.meta.dataRequirement ||
				vm.story.meta.bandwidth ||
				(vm.productList && vm.productList.length > 0)
			}">
	</div>
</div>
