<div class="cmuStoryDetail row">
	<div class="cmuStoryDetail__container col--md12" ng-include="'stories/detail/stories.body.html'"></div>
	<!-- <div class="row row--comfy">
		<button community-permissions class="button-ghost button--thin button-white-blue" ng-click="vm.toggleCommentForm()">Add Comment</button>
		
		<button community-permissions denied-behavior="disable" class="button--vote button-white-on-green">
			{{ vm.story.stats | extractKey : 'score' }} kudos
		</button>
	</div> -->
	<div class="cmuThread__controls cmuThread__controls--bottom">
		<span community-permissions="">
			<button class="button--vote button-green-on-white button--compound-naked" disabled="">
				123 kudos
			</button>
    		<button ng-click="vm.replyInProgress = true" class="button--solid">Add Comment</button>
		</span>
	</div>

	<div class="cmuStories__commentForm" ng-show="vm.replyInProgress" id="comment">
		<community-comment-form 
			toggle-attribute="vm.replyInProgress"
			parent-message="vm.story"
			comment-list="vm.comments"
			minmal-editor="true">
		</community-comment-form>
	</div>

	<div class="cmuStories__comments">
		<community-comment-list
			current-comments="vm.comments"
			comment-filter="vm.moreCommentsFilter">
		</community-comment-list>
	</div>
</div>