

// 
// FORUM MESSAGES
// 

$cmu-thread-message-height:	$cmu-base * 3;

.cmuThread {
	margin-bottom: $cmu-base*2;
}

.cmuThread__container {
	margin-bottom: $cmu-vertical-rhythm/2;
}

.cmuThread__firstPost {
    position: relative;
	padding: $cmu-base;
	// margin-bottom: $cmu-vertical-rhythm/2;
	margin-bottom: $cmu-vertical-rhythm;
    border: $style-line;
    background-color: $cmu-color-post;
    
}

// Subject
.cmuThread__subject h3 {
	margin-top: $cmu-vertical-rhythm;
	margin-bottom: $cmu-vertical-rhythm*2;
	line-height: $cmu-base*2;
}
	
	.cmuThread__subject__subtitle {
		@extend %h2;
	  	color: $cmu-color-gray;
	  	font-weight: bold;

		margin-top: -$cmu-vertical-rhythm*2;
		// margin-bottom: $cmu-vertical-rhythm;
	}

		// Stats, used for announcements, feature bugs, etc.
		.cmuThread__stats {
			@extend %type-base;
			margin-top: -$cmu-vertical-rhythm*3/2;
			margin-bottom: $cmu-vertical-rhythm;
		}
			
			.cmuThread__stat {
				display: inline-block;
				padding: $cmu-base/4 $cmu-base/2;
				background: $cmu-color-bg;
				margin-right: $cmu-base/2;
				line-height: $cmu-base;
			}

			.cmuThread__stat__desc {
				padding-right: $cmu-base/4;
			}

			.cmuThread__stat__status {
				font-weight: 600;
			}


	// in announcements, the date is part of the title
	.cmuThread__subject__date {
		margin-top: -$cmu-vertical-rhythm*3/2;
		margin-bottom: $cmu-vertical-rhythm;
	}
		.cmuThread__subject__date--edited {
			margin-left: $cmu-base/2;
			color: $cmu-color-inactive;
		}

	// Active Thread
	.cmuThread__subject--active {
		h3:before {
			content: 'ACTIVE';
			display: inline-block;
			background-color: $cmu-color-red;
			color: $cmu-color-white;
			padding: $cmu-base/6 $cmu-base/2;
			margin-right: $cmu-base/2;
			font-size: $size-xxsmaller;
			line-height: $cmu-base;
			position: relative;
			top: -5px;
		}
	}

	// Locked Thread 
	.cmuThread__subject--locked {
		h3:after {
			font-size: $size-large;
			font-family: 'ubnt';
			content: '\e78e';
			display: inline-block;
			padding: $cmu-base/6 $cmu-base/2;
			color: $cmu-color-gray;
			// font-size: $size-xxsmaller;
			position: relative; // remove it from flow
			top: 0px;
		}
	}
 

.cmuThread__date {
	margin-right: $cmu-base/2;
}

// Author (if it applies)
.cmuThread__author {
	// margin-top: -$cmu-base; //moved up only if author applies, otherwise margin pushes content down
	margin-bottom: $cmu-base;
}

// pagination and filter area
.cmuThread__controls {
	margin-bottom: $cmu-vertical-rhythm;
}
	.cmuThread__controls--bottom {
		margin-bottom: $cmu-vertical-rhythm;
	}






// 
// inline replies
// 

.cmuThread__reply {
	z-index: $z-overlay;
	position: relative;
	top: -$cmu-base/2;

	margin-left: $cmu-badgewidth-min;
	margin-bottom: $cmu-base;
    float: right;

    background: $cmu-color-xltgray;
    padding: $cmu-vertical-rhythm;
    padding-bottom: 0;

    &:before {
    	content: ' ';
    	@include triangle(top, $cmu-color-ltgray, $size-arrow);
		position: absolute;    	
	    right: $cmu-base*2;
	    top: -$cmu-base/2;

    }
}

	.cmuThread__reply__to {
		margin-bottom: $cmu-base/4;
		@extend %h5;
	}

	.cmuThread__replyTo__user {
		// @extend %style-link;
	}



