

// 
// FORUM MESSAGES
// 

$cmu-thread-message-height:	$cmu-base * 3;


// SUBJECT
.cmuThread__subject h3 {
	margin-bottom: $cmu-vertical-rhythm;
}
	// Active Thread
	.cmuThread__subject--active {
		h3:before {
			content: 'ACTIVE';
			display: inline-block;
			background-color: $cmu-color-red;
			color: $cmu-color-white;
			padding: $cmu-base/6 $cmu-base/2;
			margin-right: $cmu-base/2;
			font-size: $cmu-size-xxsmaller;
			line-height: $cmu-base;
			position: relative;
			top: -5px;
		}
	}

	// Locked Thread
	.cmuThread__subject--locked {
		h3:after {
			font-size: $cmu-size-large;
			font-family: 'ubnt';
			content: '\e787';
			display: inline-block;
			padding: $cmu-base/6 $cmu-base/2;
			color: $cmu-color-gray;
			// font-size: $cmu-size-xxsmaller;
		}
	}


// pagination and filter area
.cmuThread__controls {
	margin-bottom: $cmu-vertical-rhythm;
}




