<div class="">
	<div class="cmuInbox__dropdown__container">
		<div class="cmuInbox__dropdown__header cmuDropdown__header clearfix">
			<div class="cmuDropdown__headline">${{ directives.mainnavbar.inbox }}$</div>
			<community-loader show-when="dropdown.templateCtrl.loading"></community-loader> 
		</div>

		<div class="cmuInbox__dropdown__content cmuDropdown__content clearfix" ng-hide="dropdown.templateCtrl.loading">
			<ul class="col--md12 noPadding">
				<li ng-repeat="message in dropdown.templateCtrl.list">
					<a class="clearfix" area-link-handler="{{ dropdown.templateCtrl.getUrl(message) }}">
						<div class="col--md12">
							<div class="col--md1 noPadding"><span class="cmuProfile__avatar"></span></div>
							<div class="col--md10 noPadding"> 
								<div class="cmuInbox__dropdown__title">
									{{ dropdown.templateCtrl.getRecipientString(message.recipients) }}
								</div>
								<div class="cmuInbox__dropdown__preview">
									{{ message.topic.subject }}
								</div>
								
								<div class="cmuInbox__dropdown__date">
									{{ message.topic.postDate | timeFromNow }}
								</div>
							</div>
						</div>
					</a>
				</li>
				<li class="cmuDropdown__content--empty" ng-if="dropdown.templateCtrl.list.length < 1">
					<a class="clearfix" area-link-handler link-handler-route="inbox.newtopic">
						<div class="col--md12">
							${{ directives.mainnavbar.emptyInbox }}$
						</div>
					</a>
				</li>
			</ul>
		</div>

		<div class="cmuInbox__dropdown__footer cmuDropdown__footer clearfix">
			<div class="col--md6 noPadding"><a area-link-handler link-handler-route="inbox">${{ directives.mainnavbar.readAllMessages }}$</a></div>
			<div class="col--md6 alignRight noPadding"><a area-link-handler link-handler-route="inbox.newtopic">${{ directives.mainnavbar.sendAMessage }}$</a></div>
		</div>
	</div>
</div>
