
<div class="cmuFeed cmuFeed--hub">
	<community-page-header hide-element-selector=".hub-container"></community-page-header>
	<div class="hub-container">
		<div class="row">
			<!-- main -->
			<div class="cmuFeed__main col--md9 noPaddingLeft">
				<!-- story feed -->
				<div class="cmuFeed__stories cmuFeed__container col--md12 noPaddingLeft" ng-if="vm.storyList.length > 0">
		        	<div class="cmuFeed__title clearfix noPaddingLeft noPaddingRight">
		        		<div class="col--md10 noPaddingLeft">
							<h5><span class=""></span>${{ core.time.latest }}$ {{ vm.nodeDisplay }} ${{ stories.areaName }}$</h5>
						</div>

						<div class="col--md2 alignRight noPaddingRight">
							<a class="style-link" ng-href="{{ vm.productStoriesUrl }}" target="_self">${{ directory.hub.moreStories }}$</a>
						</div>

					</div>

					<div class="cmuFeed__storyList col--md12 noPaddingLeft noPaddingRight">
						<div class="cmuFeed__storyList__stories clearfix">
							<div class="col--md3" ng-repeat="story in vm.storyList">
								<story-display 
									story="story"
									minimal-display="true"
									hide-posting-info="false"
									fill-width="true">
								</story-display>
							</div>
						</div>
					</div>
				</div>

				<!-- activity feed -->
				<div class="cmuFeed__container col--md12 noPaddingLeft">
					<div class="cmuFeed__title clearfix noPaddingLeft">
		        		<div class="col--md12 noPaddingLeft">
							<h5><span class=""></span>${{ core.time.latest }}$ {{ vm.nodeDisplay }} ${{ directory.hub.discussions }}$</h5>
						</div>
					</div>

					<div class="cmuFeed__items">
						<div class="cmuFeed__item__container" ng-repeat="feedItem in vm.discussionsFeed.content">
			        		<community-feed-content content-model="feedItem"></community-feed-content>
			        	</div>
					</div>

					<community-load-more
						class="cmuFeed__pagerBottom col--md12 noPaddingLeft noPaddingRight"
						list-model="vm.discussionsFeed"
						load-filter="vm.discussionsFeedFilter">
					</community-load-more>
				</div>
			</div>

			<!-- sidebar -->
			<div class="cmuFeed__sidebar cmuFeed__hub col--md3">
				<div community-sticky sticky-class="cmuStuck" offset="30" sticky-bound="cmuFeed">
					<div>
						<div class="cmuFeed__pulse cmuSidebar__container">
							<h5>{{ vm.nodeDisplay }} ${{ directory.hub.pulse }}$</h5>
							<community-pulse class="cmuPulse--sidebar"></community-pulse>
						</div>

						<div class="cmuFeed__announcements cmuSidebar__container">
							<h5>${{ core.time.latest }}$ ${{ core.areas.announcements }}$</h5>
							<a class="cmuFeed__anno" ng-repeat="announcement in vm.recentAnnouncements" ng-href="{{ vm.generateAnnouncementUrl(announcement) }}" target="_self">
								<span class="product"></span>{{ announcement.topic.subject }}
							</a>
							<div class="cmuFeed__sidebar__ctrl">
								<a class="cmuFeed__sidebar__link" ng-href="{{ vm.productAnnouncementsUrl }}" target="_self">${{ directory.feed.allAnnouncements }}$</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
