<div class="cmuFeed">
	<community-page-header  hide-element-selector=".hub-container"></community-page-header>

	<div class="hub-container">
		<div class="row">
			<div class="cmuPulse col--md12">
				<!-- <div class="cmuPulse__label">
					Live Activity
				</div> -->
				<div class="cmuPulse__counter cmuPulse__total col--md3">
					<div><span class="icon ubnt-icon--pencil-2"></span></div>
					<div><span class="cmuPulse__count">123,456</span></div>
					<div><span class="cmuPulse__desc">Total Posts</span></div>
				</div>
				<div class="cmuPulse__counter cmuPulse__members col--md3">
					<div><span class="icon ubnt-icon--users"></span></div>
					<div><span class="cmuPulse__count">3,456</span></div>
					<div><span class="cmuPulse__desc">Total Members</span></div>
					
				</div>
				<div class="cmuPulse__counter cmuPulse__online col--md3">
					<div><span class="icon ubnt-icon--ap-airos"></span></div>
					<div><span class="cmuPulse__count">3,456</span></div>
					<div><span class="cmuPulse__desc">Members Online</span></div>
					
				</div>
				<div class="cmuPulse__counter cmuPulse__recent col--md3">
					<div><span class="icon ubnt-icon ubnt-icon--calendar-3"></span></div>
					<div><span class="cmuPulse__count">456</span></div>
					<div><span class="cmuPulse__desc">Posts Today</span></div>
					
				</div>
			</div>
		</div>

		<div class="row row--comfy">
			<div class="cmuFeed__container container">
	        	<div class="cmuFeed__title clearfix row">
	        		<div class="col--md10">
						<h5><span class="cmuFeed__icon stories"></span>Popular {{ vm.nodeDisplay }} Stories</h5>
					</div>
				</div>

				<div class="col--md10">
					<div class="col--md4" ng-repeat="story in vm.storyList">
						<story-display 
							story="story"
							minimal-display="true"
							hide-posting-info="true"
							fill-width="true">
						</story-display>
					</div>
				</div>
				<div class="col--md2">
					<div class="cmuDirectory__sidebar__other">
						<div class="cmuDirectory__sidebar__item" ng-if="vm.forumList.length > 0">
							<a>{{ vm.nodeDisplay }} Discussions</a>
							<div ng-repeat="forum in vm.forumList"> 
								<a ng-href="{{ vm.getForumUrl(forum.urlCode) }}" target="_self">{{ forum.description }}</a>
							</div>
						</div>
						<div class="cmuDirectory__sidebar__item">
							<a ng-href="{{ vm.discussionUrls.announcements }}" target="_self">View Announcements</a>
						</div>
						<div class="cmuDirectory__sidebar__item">
							<a ng-href="{{ vm.discussionUrls.stories }}" target="_self">Read Members Stories</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<a ng-href="{{ vm.productStoriesUrl }}" target="_self" class="button button--ghost">Read All Stories</a>
			</div>
		</div>

		<div class="row row--comfy">
			<div class="cmuFeed__container container">
				<div class="cmuFeed__title clearfix row">
	        		<div class="col--md8">
						<h5><span class="cmuFeed__icon all"></span>Popular {{ vm.nodeDisplay }} Discussions</h5>
					</div>
				</div>

				<div>
					<div class="cmuFeed__item__container" ng-repeat="feedItem in vm.discussionsFeed">
		        		<community-feed-content content-model="feedItem"></community-feed-content>
		        	</div>
				</div>
			</div>
		</div>

		<div class="row">
			  <community-load-more
				list-model="vm.discussionsFeed"
				load-filter="vm.discussionsFeedFilter">
			</community-load-more>
		</div>
	</div>
</div>