

// 
// Banner (Announcements)
// 
// 

// 
// BANNER
// 

// base banner style
$cmu-banner-background-color: $cmu-color-orange;
$cmu-banner-hover-background-color: $cmu-color-dkorange;

$cmu-banner-text-color: $cmu-color-dkgray;
$cmu-banner-hover-text-color: $cmu-color-black;

$cmu-banner-icon-color: $cmu-color-black;
$cmu-banner-hover-icon-color: $cmu-color-white;


.cmuBanner {

	&:not(.cmuBanner__close):hover {
		// background-color: $cmu-banner-hover-background-color;

		a, span {
			// color: $cmu-banner-hover-text-color;
			// @extend %ease-fast; 
		}
	}
}
	.cmuBanner__container {
		@extend %cmu-width;
	}
	.cmuBanner__main {
		text-align: center;
		padding: $cmu-base 0;
		font-size: $size-large;
		font-weight: 300;
		color: $cmu-color-gray;

		.highlight {
			color: $cmu-color-white;
			padding-right: $cmu-base/4;
		}
		.topics {
			color: $cmu-color-white;
			text-transform: uppercase;
			padding: 0 $cmu-base/2;
			padding-right: $cmu-base*3/4;
			font-size: $size-normal;
		}
	}

	.cmuBanner__message {
		margin-right: $cmu-base;
	}

	.cmuBanner__close {
		padding: $cmu-base;

	    text-align: right;
	    padding-right: $cmu-base/4;

		// add a little bit more on right
		// padding-right: $cmu-base;
		position: relative;
		right: 6px;
		// right: -$cmu-base*1.7;

		color: $cmu-banner-icon-color;
		text-align: right;
		font-size: $cmu-base * 1.2;
		@extend %ease-fast; 
		cursor: pointer; 

		&:hover { 
			color: $cmu-banner-hover-icon-color;
		}
	}



