

// 
// Banner (Announcements)
// 

// Note that the html uses Flexbox to center
.cmuBanner {

	// JAN TESTING DEMO
	display: none !important;
	
	cursor: pointer;
	// padding: $cmu-base 0;
	background-color: $cmu-banner-background-color;
	font-weight: 300; 
	color: $cmu-banner-text-color;
	@extend %ease-fast; 

	&:not(.cmuBanner__close):hover {
		background-color: $cmu-banner-hover-background-color;

		a, span {
			color: $cmu-banner-hover-text-color;
			@extend %ease-fast; 
		}
	}
}
	.cmuBanner__container {
		@extend %cmu-maxwidth;
	}
	.cmuBanner__main {
		text-align: left;
		padding: $cmu-base 0;

	}

	.cmuBanner__message {
		margin-right: $cmu-base;
	}

	.cmuBanner__close {
		padding: $cmu-base;

		// add a little bit more on right
		// padding-right: $cmu-base;
		position: relative;
		right: -$cmu-base*1.7;

		color: $cmu-banner-icon-color;
		text-align: center;
		font-size: $cmu-base * 1.5;
		@extend %ease-fast; 
		cursor: pointer; 

		&:hover { 
			color: $cmu-banner-hover-icon-color;
		}
	}



