
// 
// COLLAPSER
// 


// Collapse container module

// Examples in Announcements Thread List and Feed
// open and close dropdown container


$collapser-lineheight: $cmu-base*2.1;

.cmuCollapser {

}

.cmuCollapser__container {
	margin-bottom: $cmu-vertical-rhythm;
    @extend %ease-slow;
	overflow: hidden;
}

.cmuCollapser__header {
	@extend %user-select-none;
	
	position: relative;
	cursor: pointer;
    // $padding: $cmu-base/4;
    @extend %ease-slow;

	& > div {
		margin-left: $cmu-base*2; // give some room for the containing div
	}

	&:hover {
		// border: 1px solid transparent;
		@extend %ease-fast;
		&:before {
			color: $cmu-color-ltblue;
		}
	}

	// Open / Closed indicator
	// default is closed
	&:before {
		@extend %ease-fast;
		@extend %font-ubnt;
    	@include transition(max-height 360ms, opacity 360ms);
		display: inline-block;
		// content: '\e6cd'; // arrow up for closed
		content: '\e6ce'; // arrow right for closed
		background-color: $cmu-color-ltgray;
		color: $cmu-color-mdgray;


		// position: absolute;
		// right: 0;

		margin-right: $cmu-base/2;
		float: left;
		height: $cmu-base*2; // + $padding*2 - 0.05rem; // additional rem for shadow to not hit bottom
		width: $cmu-base*2; // + $padding*2; // 31px;
		top: 0;
		line-height: $collapser-lineheight; // + $padding*2; //31px;;
		text-align: center;

	}

    &.open + .cmuCollapser__content {
    	max-height: 4000px; // height and auto both don't work with animation
		opacity: 1;
    	@include transition(max-height 360ms, opacity 360ms);
    	overflow: visible;
    }

	&.open {

		&:hover {
			&:before {
				color: $cmu-color-ltblue;
			}
		}

		&:before {
			@extend %font-ubnt;
			display: inline-block;
			content: '\e6d0';
			background-color: $cmu-color-ltgray;
			color: $cmu-color-mdgray;

		}

	}
}
	// barebones title area
	.cmuCollapser__header__title {
	    padding: $cmu-base/2;
	    height: $cmu-base*2;
	    h5 {
	    	line-height: $cmu-base;
	    }
	}

	// lighter color scheme 
	.cmuCollapser__header--light {
		background-color: $cmu-color-ltgray;

		h5 {
			color: $cmu-color-inactive;
		}

		&:hover {
			
			&:before {
				color: $cmu-color-ltblue;
				@extend %ease-fast;
			}
		}
	}


		// medium color scheme used in the feed
	.cmuCollapser__header--medium {
		border: 1px solid $cmu-color-ltmdgray;
		h5 {
			color: $cmu-color-body;
		}
		&:hover {
			&:before {
				color: $cmu-color-ltblue;
			}
		}
		&:before{
			color: $cmu-color-mdgray;
			background-color: $cmu-color-ltgray;
		}
		&.open {
			color: $cmu-color-body;
			background-color: $cmu-color-ltblue;

			&:hover {
				background-color: transparent;
				&:before {
					color: $cmu-color-ltblue;
					background-color: $cmu-color-ltgray;
					@extend %ease-fast;
				}
			}

			&:before {
				@extend %ease-fast;
				color: $cmu-color-mdgray;
				background-color: $cmu-color-ltgray;
			}
		}
	}

	div.cmuCollapser__content {
		@extend %ease-slow;
    	@include transition(max-height 360ms, opacity 360ms);

		display: block;
		// line-height:0;
		max-height: 0; // height doesn't work with animation
		opacity: 0;
		overflow: hidden;
		// padding: 0;
		// margin: 0;
	}


// 
// Align Right version
// 


.cmuCollapser.collapseRight, .cmuCollapser__container.collapseRight {
	.cmuCollapser__header {
		&:before {
			float: right;
			margin-right: 0;
			content: '\e6cf'; // arrow points left for closed
		}
		&.open {
			&:before {
				content: '\e6d0'; // arrow points left for closed
			}
		}
		& > div {
			margin-left: 0;
		}
	}
}

// 
// Subtle dropdown
// 

.cmuCollapser.collapseSubtle, .cmuCollapser__container.collapseSubtle {
	.cmuCollapser__header {
		background-color: transparent;

		&:hover {
			background: $cmu-color-hover--background;
		}

		&:before {
			background-color: transparent;
			color: $cmu-color-gray;
		}

		&.open {
			&:before {
				background-color: transparent;
				color: $cmu-color-active;
			}
		}
	}
}







