<div class="row">
  <div class="row row--comfy" ng-cloak>
    <div class="col--md2">
      <community-user-badge current-user="true"></community-user-badge>
    </div>
    <div class="col--md10">
      <div class="row">
        <div class="col--md12 cmuSearchbox">
          <div class="appIconInput appIconInput--left">
            <div class="appIconInput__icon icon ubnt-icon--pencil-2"></div>
            <input class="appIconInput__input" placeholder="Give your topic a title..." type="text" ng-model="vm.newTopic.subject">
          </div>
        </div>
      </div>
      <div class="row row--comfy">
        <community-text-editor 
          ng-model="vm.newTopic.body"
          editor-height="300">
        </community-text-editor>
      </div>
      <div class="row row--comfy">
        <button 
          class="button-square button-white-blue" 
          ng-click="vm.cancelTopic()">
            Cancel
        </button>
        <button 
          class="button-full button-blue-white"
          ng-click="vm.submitTopic()">
            Post Topic
        </button>
      </div>
    </div>
  </div>
</div>