<div class="cmuStoryItem--featured" ng-class="{ 'cmuStoryItem' : !storydisplay.fillWidth }">
	<div class="cmuStoryItem--image">
		<a area-link-handler="{{ storydisplay.storyUrl }}"><img ng-src="{{ storydisplay.coverphoto || storydisplay.defaultPhotoUrl }}"></a>
	</div>
	<div class="cmuStoryItem--main" class="col--md3">
		<a class="cmuStoryItem--link" area-link-handler="{{ storydisplay.storyUrl }}">{{ ::storydisplay.story.subject }}</a>	
		<h6 ng-if="!storydisplay.hideAuthor"> by&nbsp; <community-username user="storydisplay.story.message.insertUser"></community-username> {{ ::storydisplay.story.message.postDate | timeFromNow }}</h6>
	</div>
	<div class="cmuStoryItem--meta">
		<p ng-if="!storydisplay.hideSummary">{{ storydisplay.story.summary }}</p>
		<span class="cmuStoryItem--views">
			<span class="icon ubnt-icon--eye2"></span>{{  storydisplay.story.countViews | number}}
		</span>
		<span class="cmuStoryItem--kudos">
			<span class="icon ubnt-icon--brightness"></span>{{  storydisplay.story.stats | extractKey : 'score' | number}}
		</span>
	</div>
</div>