
<div class="cmuStoryItem--featured" ng-class="{ 'cmuStoryItem' : !storydisplay.fillWidth }">	


	<!-- 
		story display for feeds (story grid uses a different template)
	 -->

	<!--- NORMAL DISPLAY -->
	<div ng-if="::!storydisplay.minimalDisplay">
		<!-- storydisplay.html :: NORMAL DISPLAY -->
		<a area-link-handler="{{ storydisplay.getStoryUrl() }}">
			<div class="cmuStoryItem__image__container">
				<div class="cmuStoryItem__image">
					<img ng-src="{{ storydisplay.coverphoto }}">
				</div>
			</div>
			<div class="cmuStoryItem__main" class="col--md3">
				<div class="cmuStoryItem__subject">{{ ::storydisplay.story.subject }}</div>	
				<div class="cmuStoryItem__user" ng-hide="::storydisplay.minimalDisplay">
					<community-username user="storydisplay.story.message.insertUser"></community-username>
				</div>

				<div class="cmuStoryItem__date">  
					{{ ::storydisplay.story.message.postDate | timeFromNow }}
				</div>
				<product-discussion-tag node-id="storydisplay.nodeId"></product-discussion-tag>
				
				<div class="cmuStoryItem__stats" >
					<div class="cmuStoryItem__stat">
						<span class="style-stat-num">{{ storydisplay.story.countViews | number}} </span> <span class="style-stat-title">{{ '${{ core.views }}$' | lowercase }}</span> 
					</div>
					<div class="cmuStoryItem__stat">
						<span class="style-stat-num">{{  storydisplay.story.message.scores.kudoCount | number}}</span> <span class="style-stat-title">{{ '${{ core.kudos }}$' | lowercase }}</span> 
					</div>
				</div>
			</div>
		</a>
	</div>

	<!--- MINIMAL DISPLAY -->
	<div ng-if="::storydisplay.minimalDisplay">
		<!-- storydisplay.html :: MINIMAL DISPLAY -- appears in feed and hub -->
		<a area-link-handler="{{ storydisplay.getStoryUrl() }}">
			<div class="cmuFeed__story">
				<div class="cmuFeed__story__img__container" ng-if="storydisplay.coverphoto">
					<div class="cmuFeed__story__img" style="background-image: url('{{ storydisplay.coverphoto  }}')"></div>
				</div>

				<div>
					<div class="cmuFeed__story__subject">{{ storydisplay.story.subject }}</div>
					<div ng-if="::!storydisplay.hidePostingInfo">
						<div class="cmuFeed__story__user">
							<community-username user="storydisplay.story.message.insertUser"></community-username>
						</div>
						<div class="cmuFeed__story__date">{{ storydisplay.story.message.postDate | timeFromNow }}</div>
						<product-discussion-tag node-id="storydisplay.nodeId"></product-discussion-tag>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div ng-if="::storydisplay.hidePostingInfo">
		<a area-link-handler="{{ storydisplay.getStoryUrl() }}">Read Story</a>
	</div>
</div>