<div class="cmuInbox__newMessage col--md12 noPadding" ng-cloak>
  <div class="cmuSearchbox cmuHalfRow">
     <ui-select class="cmuHalfRow cmuInputSelector cmuInput--wide cmuInput--stacked" multiple theme="select2" ng-model="vm.newTopic.recipientIds">
        <ui-select-match placeholder="${{ directory.inbox.addUser }}$" >{{ $item.login }}</ui-select-match>
        <ui-select-choices 
          refresh="vm.searchUsers($select.search)"
          refresh-delay="2" 
          class="cmuInputSelector--choices" 
          repeat="user.id as user in vm.searchedUsers | filter: { login: $select.search }">
            <li ng-bind-html="user.login | highlight: $select.search"></li>
        </ui-select-choices>
    </ui-select>
    <label>${{ directory.inbox.recipients }}$</label>

    <input class="cmuInput" placeholder="${{ directory.inbox.messageCta }}$" type="text" ng-model="vm.newTopic.subject">
  </div>
  <community-text-editor 
    ng-model="vm.newTopic.body"
    editor-height="300">
  </community-text-editor>
    <div ng-show="!vm.submittingTopic">
      <button 
        class="button-full button-blue-white"
        ng-click="vm.submitTopic()">
          ${{ directory.inbox.sendMessage }}$
      </button>
    </div>
    <div ng-show="vm.submittingTopic">
      <button class="cmuInput--waiting button--padded" disabled>${{ directory.inbox.sendingMessage }}$...</button>
    </div>
  </div>
</div>