

// 
// BREADCRUMBS MODULE
// 

.cmuBreadcrumbs {
	margin-bottom: $cmu-base/2;
	font-weight: 300; 
	font-size: $cmu-size-breadcrumbs;
	line-height: $cmu-base/2;

	&:hover a { 
		color: $cmu-color-black; 
		font-weight: 400; 
	}
	
	* { cursor: default; }

	// previous crumbs
	ul {
		margin: 0;
	}
	li {
		display: inline-block;
		list-style-type: none;

		span { cursor: pointer; }
		&:after {
			content: '/';
			padding: 0 $cmu-base/3;
		}

		a {
			color: $cmu-color-gray;
			&:hover { color: $cmu-color-blue; }
		}
	}

	// current crumb isn't clickable, so is grayed out
	.cmuBreadcrumbs__last {
		color: $cmu-color-gray; 
		// &:after { content: ''; }
	}

}
