<div class="row">
  <div class="row row--comfy" ng-cloak>
    <div class="col--md2">
      <community-user-badge current-user="true"></community-user-badge>
    </div>
    <div class="col--md10">
      <div class="row" ng-if="!vm.editType || vm.editType !== 'comment'">
        <div class="col--md12 cmuSearchbox">
          <div class="appIconInput appIconInput--left">
            <div class="appIconInput__icon icon ubnt-icon--pencil-2"></div>
            <input class="appIconInput__input" placeholder="{{ vm.titleText }}..." type="text" ng-model="vm.newTopic.subject">
          </div>
        </div>
      </div>
      <div class="row row--comfy">
        <community-text-editor 
          ng-model="vm.newTopic.body"
          editor-height="300">
        </community-text-editor>
      </div>

      <div class="row row--comfy" ng-if="::vm.moreFieldsPartial">
        <div ng-include src="vm.moreFieldsPartial"></div>
      </div>
      
      <div class="row row--comfy">  
        <div ng-show="!vm.submittingTopic">
          <button 
            ng-if="!vm.config.noCancel"
            class="button-square button-white-blue" 
            ng-click="vm.cancelTopic()">
              Cancel
          </button>
          <button 
            class="button-full button-blue-white"
            ng-click="vm.submitTopic()">
              {{ vm.actionButtonText }}
          </button>
        </div>
        <div ng-show="vm.submittingTopic">
          <button class="cmuInput--waiting button--padded" disabled>{{ vm.feedbackButtonText }}...</button>
        </div>
      </div>
    </div>
  </div>
</div>