
// 
// Slightly overridden from App
// 

// 
// Standard CTA height is 2rem
// 

$cmu-input-icon-color: $cmu-color-mdgray;

.appIconInput {
  // position: relative;
  // display: inline-block; // modified for Community
  display: block;

}

  .appIconInput__input {
    padding-top: $cmu-base/2;
    padding-bottom: $cmu-base/2;
    height: $cmu-cta-height;
  }

  /**
   * 1. Make sure icon is on top of input. Input gains z-index of 2 when focused
   *    so we make this z-index 3.
   * 2. Clicks on icon should pass through to the input.
   */
  .appIconInput__icon {
    position: absolute;
    z-index: 3; /* [1] */
    padding-top: $cmu-base*0.7;
    padding-left: $cmu-base/2;
    // top: $cmu-base*1.1;
    // left: $cmu-base/2;

    color: $cmu-input-icon-color;
    pointer-events: none; /* [2] */

    margin-bottom: inherit;
    height: inherit;
    // padding-top: $cmu-base;
    // padding-bottom: $cmu-base; // weigh text slightly towards bottom; TODO: find a better way /flexbox?
    font-size: $cmu-size-normal;
  }

  /**
   * 1. Using an anchor with an icon should make it clickable.
   */
  a.appIconInput__icon {
    pointer-events: auto; /* [1] */
  }


.appIconInput--right {

  .appIconInput__icon {
    right: $app-icon-input-icon-side-offset;
  }

  /**
   * 1. Prevent input text from overlapping with icon.
   */
  .appIconInput__input {
    padding-right: $app-icon-input-control-offset; /* [1] */
  }

  /**
   * 1. Prevent select arrow from overlapping with icon.
   */
  &.appIconInput--select {
    .appIconInput__input {
      padding-right: $app-icon-input-select-right-offset; /* [1] */
    }
    .appIconInput__icon {
      right: $app-icon-input-select-icon-side-offset; /* [1] */
    }
  }
}


.appIconInput--left {

  .appIconInput__icon {
    left: $app-icon-input-icon-side-offset;
  }

  /**
   * 1. Prevent input text from overlapping with icon.
   */
  .appIconInput__input {
    padding-left: $app-icon-input-control-offset; /* [1] */
    margin-bottom: inherit;
    font-size: $cmu-size-normal;
  }

}