

$cmu-line-thin: 1px;
$cmu-style-border-thin: 1px solid $cmu-color-black;
%style-border-bottom-thin { 
	border-bottom: $cmu-style-border-thin;
}

$cmu-style-border-thin-light: 1px solid $cmu-color-ltgray;
%style-border-bottom-thin-light {
	border-bottom: $cmu-style-border-thin;
}

$cmu-style-border-thin-dark: 1px solid $cmu-color-mdgray;

$cmu-line-medium: 2px;
$cmu-style-border-medium: 2px solid $cmu-color-black;
%style-border-medium-blue {
	border: $cmu-style-border-medium;
	border-color: $cmu-color-blue;
}
%style-border-bottom-medium {
	border-bottom: $cmu-style-border-medium;
}

$cmu-line-thick: $cmu-base/3;
%style-border-thick {
	border: $cmu-style-border-medium;
	border-color: $cmu-color-blue;
}


$cmu-line-xthick: $cmu-base/2;



$cmu-style-line: $cmu-line-thin $cmu-color-mdgray solid;