.row {
  // original padding was remCalc(15px) bumped up to base grid 
  padding-left: $cmu-base;
  padding-right: $cmu-base;

  & > div:first-child {
    // padding-left: 0;
  }
  & > div:last-child {
    // padding-right: 0;
  }

  // jan - this might screw up a few things
  .row:not(.indentRow) {
    padding-left: 0;
    padding-right: 0;
  }


  @media screen and (min-width: $base-lower-medium) {
    padding-left: $cmu-base * 2;
    padding-right: $cmu-base * 2;
  }

  @media screen and (min-width: $base-lower-large) {
    padding-left: $cmu-base * 5.5;
    padding-right: $cmu-base * 5.5;
    // original padding was '89px'
  }
}