

// 
// BUTTONS MODULE
// 

/*
	Button Usage:

	- <button> or .button declares button
	- declare a button style:
		- ghost (hollow bg)
		- solid (default)
		- compound (ghosted w/ a title)
	- declare a color scheme
		- button-foreground-background
		- button-white-blue (default)


	Button notes:
	- Standard button height are 32px (2rem)
	- all buttons are defined w/ border for height standardization
		- solid buttons match border w/ bg color

	TODO:
	- shift reference to .button instead of <button> tag, since we need <a> to also look like buttons
*/

$cmu-style-button-borderwidth: remCalc(2px);
$cmu-button-fontsize: $size-xsmaller;
$cmu-button-fontsize--icon: $size-normal;
$cmu-button-lineheight: $cmu-cta-height;
$cmu-button-letterspacing: remCalc(0.5px);
$cmu-button-color-base: $cmu-color-blue;


@mixin cmuButton($type, $fgColor: $cmu-button-color-base, $bgColor:default, $hoverFgColor:default, $hoverBgColor:default) {

	color: $fgColor;
	background-color: $bgColor;
	// bgcolor is just defaulted to the background color

	// border-color: $borderColor;
	@if $type == 'solid' {
		@if $bgColor == default {
			$bgColor: $cmu-color-blue;
		}
		color: $fgColor;
		background-color: $bgColor;
		border-color: $bgColor;

		&:hover {
			color: $fgColor; // can't use transparent
			background-color: darken($bgColor, 10);
			border-color: darken($bgColor, 10);
		}

	} @else if $type == 'compound' {
		background-color: $bgColor;
		border-color: $bgColor;
		border-color: $cmu-color-white;
		// border-left-color: $bgColor;
		
		.button--compound--data {
			color: $bgColor;
			background-color: $fgColor;
		}
		.button--compound--action {
			background: $bgColor;
			color: $fgColor;
		}


		&:hover {
			border-color: $bgColor;
			.button--compound--data {
				// color: $fgColor; // can't use transparent
				// background-color: $bgColor !important;
			}
		}

	} @else if $type == 'compound-naked' {
		$bgColor: transparent;

		color: $fgColor;
		background-color: $bgColor;
		border-color: $bgColor;

		&:hover {
			color: $hoverFgColor; // can't use transparent
			background-color: $bgColor;
			border-color: $hoverFgColor;
		}

	} @else if $type == 'ghost' {
		@if $bgColor == default {
			$bgColor: $cmu-color-white;
		}

		// ghost is default
		color: $fgColor;
		background-color: $bgColor;
		border-color: $fgColor;

		&:hover {
			color: $cmu-color-black; // can't use transparent
			// background-color: $fgColor;
			border-color: $cmu-color-black;
		}
	} @else if $type == 'outline' {
		border-width: 1px;
		padding-top: 1px;
		padding-bottom: 1px;

		@if $bgColor == default {
			$bgColor: $cmu-color-white;
		}

		// ghost is default
		color: $fgColor;
		background-color: $bgColor;
		border-color: $fgColor;

		&:hover {
			color: $hoverFgColor; // can't use transparent
			background-color: $hoverBgColor;
			border-color: $fgColor;
		}
	} @else if $type == 'naked' {
		$bgColor: transparent;

		color: $fgColor;
		background-color: $bgColor;
		border-color: $bgColor;

		&:hover {
			color: $hoverFgColor; // can't use transparent
			background-color: $bgColor;
			border-color: $bgColor;
		}
	}

}



button, .button, .cmuButton {
	font-size: $cmu-button-fontsize;
	text-transform: uppercase;

	line-height: $cmu-button-lineheight - $cmu-style-button-borderwidth * 2;
	letter-spacing: $cmu-button-letterspacing;

	// all buttons need borders, even if they're the same color as the bg
	border-width: $cmu-style-button-borderwidth;
	border-style: solid;
	padding: 0 $cmu-base/2;

	@include cmuButton('ghost');
	@extend %ease-fast;

	// important! this overrides the disabled default cursor
	// we want all buttons to be clickable, and redirect users to the login / sign up process
	cursor: pointer !important;

	// space them out if next to each other
	&+& {
		margin-left: $cmu-base/2;
	}
}




// 
// BUTTON STYLES
// 

// GHOST Buttons
// thick outline w/ transparent background
.button--ghost {
	@include cmuButton('ghost',$cmu-button-color-base);

	&.button-green-on-white {
		@include cmuButton('ghost',$cmu-color-green);
	}
	&.button-black-on-white {
		@include cmuButton('ghost',$cmu-color-xdkgray);
	}
	&.button-gray-on-white {
		@include cmuButton('ghost',$cmu-color-mdgray);
	}
}

// OUTLINE Buttons
// thin outline w/ transparent background
.button--outline {
	@include cmuButton('outline',$cmu-button-color-base);

	&.button-green-on-white {
		@include cmuButton('outline',$cmu-color-green);
	}
	&.button-black-on-white {
		@include cmuButton('outline',$cmu-color-xdkgray);
	}
	&.button-gray-on-white {
		@include cmuButton('outline',$cmu-color-gray);
	}
	&.button-blue-on-black {
		@include cmuButton('outline',$cmu-color-dkblue,$cmu-color-black,$cmu-color-blue,$cmu-color-black);
	}
}


// SOLID Buttons
.button--solid {
	@include cmuButton('solid',$cmu-color-white,$cmu-color-blue);

	&.button-white-on-green {
		@include cmuButton('solid',$cmu-color-white,$cmu-color-green);
	}
	&.button-white-on-black {
		@include cmuButton('solid',$cmu-color-white,$cmu-color-xdkgray);
	}
	&.button-blue-on-black {
		@include cmuButton('solid',$cmu-color-dkblue,$cmu-color-ltblack);
	}
}

// NAKED Buttons
// Buttons without the chrome (acts like buttons, unlike links will align with other buttons)
// these are used for smaller / less precedence
// default: placed left

.button--naked {
	text-align: left;
	&.button--naked--right {
		text-align: right;
		padding-right: 0;
	}

	@include cmuButton('naked',$cmu-color-blue,$cmu-color-white,$cmu-color-black);

	&.button-black-on-white {
		@include cmuButton('naked',$cmu-color-black,$cmu-color-white,$cmu-color-blue);
	}
	// &.button-white-on-black {
	// 	@include cmuButton('naked',$cmu-color-white,$cmu-color-black);
	// }
}


// COMPOUND Buttons
// these have an ACTIVE state / class which can be turned on or off
// (default is off)
.button--compound {
	@include cmuButton('compound',$cmu-color-white,$cmu-color-blue);

	// border: $cmu-style-button-borderwidth solid $cmu-color-blue;
	// @extend %ease-fast;
	&:hover {
		// @extend %ease-fast;

		.button--compound--data {
			padding: 0 $cmu-base/2 !important;
		}

		.button--compound--action {
			display: inherit;
		}
	}
	padding: 0;
	div { display: inline-block;}

	.button--compound--data {
		padding: 0 $cmu-base/2;
		padding-left: 0;
		@extend %ease-fast;
		.icon {margin-right: 0;}
	}

	.button--compound--action {
		padding: 0 $cmu-base/2;
		display: none;
		// specialty icons
		// .icon {margin-right: 0;}
	}

	&.button-green-on-white {
		@include cmuButton('compound',$cmu-color-white,$cmu-color-green);
	}

}

// COMPOUND NAKED
// similar to COMPOUND, these don't have any of the chrome, bg and outlines
.button--compound-naked {

	text-align: left;
	@include cmuButton('compound-naked',$cmu-color-blue,$cmu-color-white,$cmu-color-blue);

	&.button-black-on-white {
		@include cmuButton('compound-naked',$cmu-color-black,$cmu-color-white,$cmu-color-blue);
	}
}



// 
// SPECIAL STYLES
// 

// buttons with icons
button, .button {

	// default treat icon on the left
	.icon {
		margin-right: $cmu-base/4;
		font-weight: 800;
		font-size: $cmu-button-fontsize--icon;
		position: relative;
		top: 1px;
	}
}

.button--padded {
	padding-left: $cmu-base*2;
	padding-right: $cmu-base*2;
 }

.button--thin {
	line-height: remCalc(20px);
 }

.button--large {
	padding-left: $cmu-base*3;
	padding-right: $cmu-base*3;
	padding-top: $cmu-base;
	padding-bottom: $cmu-base;

 }



 // 
 // Vote Button Style
 // 
.button--vote {
	text-align: left;

	@include cmuButton('outline',$cmu-color-gray,$cmu-color-white,$cmu-color-gray);

	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;

	position: relative;
	top: -1px;

	&:after {
		// font-family: "ubnt";
		content: '+';
		color: white; 
		padding: 1px $cmu-base*3/4;
		margin-left: $cmu-base;
		// margin-right: -1px;
		background-color: $cmu-color-gray;
		float: right;

	}
		// thin vote buttons
		&.button--thin:after {
			padding: 1px remCalc(8px);
		}

	&:hover {
		&:after {
			font-family: "lato";
			content: '+1';
			// padding: 9px 8.5px;
		}
	}
		// thin vote buttons
		&.button--thin:hover:after {
			padding: 1px remCalc(5px);
		}


	&.button-green-on-white {
		@include cmuButton('outline',$cmu-color-green,$cmu-color-white,$cmu-color-gray);
		
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0;

		position: relative;
		top: -1px;
		
		&:after {
			background-color: $cmu-color-green;
		}
	}
}

.button--wide {
	padding-left: $cmu-base;
	padding-right: $cmu-base;
}
.button--stretch {
	width: 100%;
 }
.button--center {
	text-align: center;
 }
.button--tall {
	padding-top: $cmu-base/2;
	padding-bottom: $cmu-base/2;
 }


// handling icons inside buttons
.button--icon {
	padding-left: 8px;
}



// disabled wrapper
// MAYBE we shouldn't style these differently and they just forward you to login

// .cmuDisabled {
// 	.button, button {
// 		background-color: $cmu-color-ltgray;
// 		border-color: $cmu-color-ltgray;
// 	}
// }



// 
// tabs
// 

.button--tab {
	@include cmuButton('outline',$cmu-color-mdgray,$cmu-color-ltgray);
	color: $cmu-color-unselected;
	background-color: $cmu-color-unselected--background;
	margin-left: 0;
	display: inline-block;
    margin-top: -1px;
    position:relative;
	@extend %ease-fast;

	&:hover {
		@extend %ease-fast;
		color: $cmu-color-selected;
		background-color: $cmu-color-hover;
	}

	&:first-child {
		margin-right: -1px;
	}


	&:before {
		@extend %ease-fast;
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
	    top: -1px;
	    width: 100%;
		border-top: 3px solid transparent;
	}

	&.active {
		@extend %ease-none;
		// border-top: 3px solid $cmu-color-selected;
		color: $cmu-color-selected;
		background-color: $cmu-color-selected--background;
		// line-height: $cmu-button-lineheight - remCalc(3px) * 2;
		// top: 1px;

		&:before {
			@extend %ease-fast;
			border-top: 3px solid $cmu-color-selected;
			position: absolute;
			left: 0;
		    top: -1px;
		    width: 100%;
		}
	}
}
