



%navInline {
	display: inline-block;
	vertical-align: top;
}

.cmuNav {
	background-color: $cmu-color-menu;
	z-index: $z-nav;
	position: relative;
	


	* {
		@extend %user-select-none;
	}

	// fun
	// background:red;
	// animation:rainbow 5s;
	// -moz-animation:rainbow 5s infinite; /* Firefox */
	// -webkit-animation:rainbow 5s infinite; /* Safari and Chrome */
}

    // @-moz-keyframes rainbow /* Firefox */
    // {
	   //  0%   {background:red;}
	   //  20%  {background:orange;}
	   //  40%  {background:yellow;}
	   //  60%  {background:green;}
	   //  80%  {background:blue;}
	   //  100%   {background:red;}
    // }

    // @-webkit-keyframes rainbow /* Safari and Chrome */
    // {
	   //  0%   {background:red;}
	   //  20%  {background:orange;}
	   //  40%  {background:yellow;}
	   //  60%  {background:green;}
	   //  80%  {background:blue;}
	   //  100%   {background:red;}
    // }






    /* 


    MAIN NAV 


    */

	.cmuNav--header {
		height: $nav-height;
		border-bottom: $nav-border;
		@include box-shadow(0, 0, 5px, $cmu-color-black);

		.row {
			display: block;
		}
	}

		.cmuNav__accountNav, 
			.cmuNav__accountNav ul, 
			.cmuNav__accountNav ul span > li,
			// .cmuNav__accountNav li > a > span, 
		{
			display: inline-block;
			vertical-align: top;
		}

	.cmuNav__cmuHome {
    	line-height: $size-normal__lineHeight;
	}
	


	.cmuNav__left {
		&,* { 
			@extend %navInline;
		}

		@extend %nav-style;
		padding-left: 0;
		padding-right: 0;
		color: $cmu-color-white;
		&:hover {
			color: $cmu-color-ltblue;
			background-color: transparent;
		}

		&.active {
			padding: $cmu-base*0.7;
			background-color: $cmu-color-vdkblue;
			* { 
				outline:none;
				color: $cmu-color-vltblue; 
				@extend %ease-fast;
				&:hover { color: $cmu-color-white; @extend %ease-fast; }
			}
		}
	}
		.cmuNav__logo {;
    		margin-top: -0.7rem;

			.icon {
				color: $cmu-color-white;
				font-size: $cmu-base*1.5;
				padding: $cmu-base/2;
				padding-left: 0;
			}
		}








	/*

	
		RIGHT SIDE NAV


	*/


	.cmuNav__right {
		position: absolute;
		right: 0;
		display: inline-block;
		vertical-align: top;

		// hide for mobile
		@include respondTo(small-down) {
			.cmuNav__links, 
			.cmuNav__search,
			.cmuNav__cmuLang,
			.cmuNav__cmuAccount {
				display: none;
			}
		}
	}

		.cmuNav__linkNav {
			&,* {
				@extend %navInline;
			}

			.active {
				background-color: $cmu-color-vdkblue;

				a { 
					outline:none;
					color: $cmu-color-vltblue; 
					&:hover { color: $cmu-color-white; }
				// 	&:after {
				// 		content: ' ';
				// 		display: block;

				// 		width: 0; 
				// 		height: 0; 
				// 		border-left: 5px solid transparent;
				// 		border-right: 5px solid transparent;
						
				// 		border-bottom: 5px solid $cmu-color-white;
				// 		margin: 0 auto;
				// 		margin-top: 5px;
				// 	}
				}
			}
		}
		.cmuNav__link {
			&,* {
				@extend %navInline;
			}

			a { 
				@extend %nav-style; 
				padding-left: $cmu-base;
				padding-right: $cmu-base;
				color: $cmu-color-white;
				outline:none;
				text-align: center;
				line-height: $size-normal__lineHeight;

				&:hover {
					color: $cmu-color-ltblue;
					background-color: transparent;
					border-bottom: $nav-border;
				}
			}

			&:hover {
				.cmuNav__dropItem:after {
					// color: $cmu-color-purewhite;
					// color: $cmu-color-ltblue;
					// @extend %ease-fast;
				}
			}
		}

		.searchClosed .cmuNav__link { 
			&:first-child, &:first-of-type {
				a {
					background-color: $cmu-color-active;

					&:hover {
						background-color: $cmu-color-ltblue;
						color: $cmu-color-white !important;
					}

					&.cmuNav__dropItem:after:hover {
						color: $cmu-color-white !important;
					}
				}
			}
		}
		
		a.cmuNav__topics {
			padding-right: $cmu-base;
			color: $cmu-color-white;

			&:hover {
				color: $cmu-color-ltblue;
			}

			&:after {
				// @extend %ease-fast;
				font-family: 'ubnt';
				content: "\e68b";
				position: relative;
				margin-left: $cmu-base/2;
				font-size: $size-xsmaller;
				// color: $cmu-color-gray;
				display: inline-block;
			    border-radius: 50%;
			    padding-left: 0.26rem;
				line-height: 18px;
			    border: $style-line--dark;
			    border-color: $cmu-color-gray;

				// color: $cmu-color-white;
			    border-color: $cmu-color-white;
			    border-width: 0;
				margin-left: 0;
				top: 1px;
				margin-left: $cmu-base/2;
				content: "\e6d9";
			}
		}









	// 
	// Account Controls
	// 

	// temp. disabled for Spanish
	/*
	.cmuNav__cmuLang {
		@extend %navInline;
		@extend %nav-icon-style;
		border-bottom: $nav-border;
		&.active {
			background-color: $cmu-color-blue;
			span { 
				color: white;
			}

			&:after {
				@extend %dropdownArrow;
			}
		}
	}
	*/

	.cmuNav__iconNav {
		@extend %navInline;

		.active {
			position: relative;
			background-color: $cmu-color-blue;

			span {
				color: $cmu-color-white; 
			}
		}
	}
		.cmuNav__search {
			&,* { 
				@extend %navInline;
			}

			@extend %nav-icon-style;
			padding-top: 0.8rem;
			border-bottom: $nav-border;

			&.isSearch {
				cursor: default;
				color: rgba($cmu-color-white, 0.5);
				&:hover {
					background: transparent;
				}
			}
		}

		.cmuNav__accountNav {

			// triangles only apply to account icons
			.active:after {
				@extend %dropdownArrow;
			}
		}
			.cmuNav__notifications, .cmuNav__inbox {
				@extend %nav-icon-style;
				position: relative;
			}

			.cmuNav__notifications {
				padding-top: 0.75rem;
			}

			.cmuNav__inbox {
				padding-top: 0.75rem;

				.ubnt-icon--inbox {
					font-size: 19px;
					position: relative;
					top: -3px;
				}
			}

			.cmuNav__profile {
				@extend %nav-icon-style;
				margin-left: $cmu-base/4;
				padding-left: 0;
				padding-right: 0;
				text-align: center;
			    width: $cmu-nav-height;
			    
				a {
				    display: inline-block;
				    vertical-align: top;
				    line-height: 40px;
				    top: -10px;
				    position: relative;
				}

				&:hover, &.active {
					background-color: transparent;
				}

				&.active:after {
					content: ' ';
					position: absolute;
					right: 14px;
					bottom: -1px;
				}
					.cmuNav__profile__avatar {
						@extend %navInline;
					    border-radius: 50%;
					    margin-top: 5px;
					    margin-right: 0;
						height: $size-avatar--small;
						width: $size-avatar--small;
					    background-size: cover;
					    background-repeat: no-repeat;
					}
			}








