

// New Primary+Secondary Nav
$nav-height: $cmu-nav-height;
$nav-border: 1px solid $cmu-color-dkblue;

%nav-style {
	text-transform: uppercase;
	color: $cmu-color-white;
	letter-spacing: 0.4px;
	font-size: $size-xsmaller;
	vertical-align: top;
	padding: $cmu-base*0.7;
	height: $nav-height;
	cursor: pointer;
	border-bottom: 1px solid $cmu-color-dkblue;
	// line-height: $cmu-base;

	@extend %ease-fast;
	&:hover {
		color: $cmu-color-white;
		background-color: $cmu-color-ltblue;
		border-bottom: $nav-border;
		@extend %ease-fast;
	}
}

%nav-icon-style {
	@extend %nav-style;
	// padding-left: $cmu-base*0.5;
	// padding-right: $cmu-base*0.5;
	font-size: $cmu-base;
	color: $cmu-color-white;
	width: $nav-height; //$cmu-base*3;
	// margin-left: -4px;
	// margin-right: -4px;
	text-align: center;
}

// dropdown arrow
%dropdownArrow {
    content: ' ';
    @include triangle(top, $cmu-color-white, $size-arrow*3/4);
    position: relative;
    bottom: 15px;
    @extend %ease-fast;
}




// required to position:fix the nav
.cmuGloNav__metaContainer {
	position: fixed;
	width: 100%;
	z-index: $z-top;
}

.cmuGloNav {
	background-color: $cmu-color-menu;
	z-index: $z-gloNav;
	position: relative;


	* {
		@extend %user-select-none;
	}

	// fun
	// background:red;
	// animation:rainbow 5s;
	// -moz-animation:rainbow 5s infinite; /* Firefox */
	// -webkit-animation:rainbow 5s infinite; /* Safari and Chrome */
}

    @-moz-keyframes rainbow /* Firefox */
    {
	    0%   {background:red;}
	    20%  {background:orange;}
	    40%  {background:yellow;}
	    60%  {background:green;}
	    80%  {background:blue;}
	    100%   {background:red;}
    }

    @-webkit-keyframes rainbow /* Safari and Chrome */
    {
	    0%   {background:red;}
	    20%  {background:orange;}
	    40%  {background:yellow;}
	    60%  {background:green;}
	    80%  {background:blue;}
	    100%   {background:red;}
    }




	.cmuGloNav--header {
		height: $nav-height;
		border-bottom: $nav-border;
		@include box-shadow(0, 0, 5px, $cmu-color-black);

		.row {
			display: block;
		}
	}

		// align everything properly
		.cmuGloNav__left,
			.cmuGloNav__logo, .cmuGloNav__logo .icon, 
			.cmuGloNav__cmuHome,
		.cmuGloNav__right,
		.cmuGloNav__links, .cmuGloNav__link, .cmuGloNav__link span, .cmuGloNav__link span a, .cmuGloNav__link a,
		.cmuGloNav__accountControl,
		.cmuGloNav__cmuSearch, .cmuGloNav__cmuLang,
		.cmuGloNav__cmuAccount, .cmuGloNav__cmuAccount ul, .cmuGloNav__cmuAccount ul span > li,  .cmuGloNav__cmuAccount .cmuGloNav__inbox, .cmuGloNav__cmuAccount li > a > span, .cmuGloNav__notifications li > a > span {
			display: inline-block;
			vertical-align: top;
		}


	.cmuGloNav__container {
		@extend %cmu-maxwidth;
		display: block;
	}

	.cmuGloNav__left {
		@extend %nav-style;
		// border-left: 1px solid $cmu-color-dkgray;
		// padding-left: 0;
		color: $cmu-color-white;
		&:hover {
			color: $cmu-color-ltblue;
			background-color: transparent;
		}

		&.active {
			background-color: $cmu-color-vdkblue;
			* { 
				outline:none;
				color: $cmu-color-vltblue; 
				@extend %ease-fast;
				&:hover { color: $cmu-color-white; @extend %ease-fast; }
			}
		}
	}
		.cmuGloNav__logo {;
    		margin-top: -0.7rem;

			.icon {
				color: $cmu-color-white;
				font-size: $cmu-base*1.5;
				padding: $cmu-base/2;
				padding-left: 0;
			}
		}

	.cmuGloNav__right {
		// @extend %nav-style;
		// float: right;
		position: absolute;
		right: 0;
		// margin-right: $cmu-base;

		// hide for mobile
		@include respondTo(small-down) {
			.cmuGloNav__links, 
			.cmuGloNav__cmuSearch,
			.cmuGloNav__cmuLang,
			.cmuGloNav__cmuAccount {
				display: none;
			}
		}
	}

		// fake active button
		.cmuGloNav__links {
			// margin-right: $cmu-base;

			.active {
				background-color: $cmu-color-vdkblue;

				a { 
					outline:none;
					color: $cmu-color-vltblue; 
					&:hover { color: $cmu-color-white; }
				// 	&:after {
				// 		content: ' ';
				// 		display: block;

				// 		width: 0; 
				// 		height: 0; 
				// 		border-left: 5px solid transparent;
				// 		border-right: 5px solid transparent;
						
				// 		border-bottom: 5px solid $cmu-color-white;
				// 		margin: 0 auto;
				// 		margin-top: 5px;
				// 	}
				}
			}
		}
		.cmuGloNav__link {
			a { 
				@extend %nav-style; 
				padding-left: $cmu-base;
				padding-right: $cmu-base;
				color: $cmu-color-white;
				outline:none;
				text-align: center;

				&:hover {
					color: $cmu-color-ltblue;
					background-color: transparent;
					border-bottom: $nav-border;
					@extend %ease-fast;
				}
			}

			&:hover {
				.cmuGloNav__dropItem:after {
					color: $cmu-color-purewhite;
					color: $cmu-color-ltblue;
					@extend %ease-fast;
				}
			}
		}
		a.cmuGloNav__dropItem {
			// margin-right: $cmu-base;
			padding-right: $cmu-base;
			// background-color: $cmu-color-dkgray;
			color: $cmu-color-ltmdgray;

			// background-color: $cmu-color-blue;
			color: $cmu-color-white;

			&:hover {
				// background-color: $cmu-color-ltblue;
				// color: $cmu-color-purewhite;

				color: $cmu-color-ltblue;
			}

			&:after {
				@extend %ease-fast;
				font-family: 'ubnt';
				content: "\e68b";
				position: relative;
				margin-left: $cmu-base/2;
				// margin-right: $cmu-base*2;
				font-size: $size-xsmaller;
				color: $cmu-color-gray;
				display: inline-block;
			    border-radius: 50%;
			    	// width: 19px;
			    	// height: 19px;
			    padding-left: 0.26rem;
				line-height: 18px;
			    border: $style-line--dark;
			    border-color: $cmu-color-gray;

				color: $cmu-color-white;
			    border-color: $cmu-color-white;
			    border-width: 0;
				margin-left: 0;
				top: 1px;
				margin-left: $cmu-base/2;
				content: "\e6d9";
			}
		}









		// 
		// Account Controls
		// 


		.cmuGloNav__accountControl {
			// background-color: $cmu-color-blue;
		}

			.cmuGloNav__cmuSearch {
				@extend %nav-icon-style;
				background-color: $cmu-color-blue;
				border-bottom: $nav-border;
			}
			.cmuGloNav__cmuLang {
				@extend %nav-icon-style;
				border-bottom: $nav-border;
				&.active {
					background-color: $cmu-color-blue;
					span { 
						color: white;
					}

    				&:after {
						@extend %dropdownArrow;
					}
				}
			}


			.cmuGloNav__cmuAccount {

				span { 
					// display: inline-block;
					// width: $cmu-nav-height;
				}

				.active {
	    			position: relative;
					background-color: $cmu-color-blue;

					span {
						color: $cmu-color-white; 
					}

    				&:after {
						@extend %dropdownArrow;
					}
					// &:after {
					// 	content: ' ';
					// 	display: block;
					// 	position: absolute;
					// 	z-index: $z-gloNav;
					// 	left: $cmu-base;
					// 	bottom: 0;
					// 	width: 0; 
					// 	height: 0; 
					// 	border-left: 7px solid transparent;
					// 	border-right: 7px solid transparent;
					// 	border-bottom: 7px solid $cmu-color-ltgray;
					// }
				}
				.cmuGloNav__profile.active:after {
					content: ' ';
					position: absolute;
   					right: 14px;
   					bottom: -1px;
				}
				
				// temp placeholder
				.cmuProfile__avatar {
					&:before {
						content: ' ';
						display: block;
						background: #969ba3;
						border-radius: 50%;
						margin-top: 5px;
						margin-right: 0;
						// margin-left: 4px;
						@extend %ease-fast;
						height: remCalc(28px);
						width: remCalc(28px);

						background-color: orange;
						background-size: cover;
						background-repeat: no-repeat;
					}
				}

				.ubnt-icon--inbox {
					font-size: 19px;
					position: relative;
					top: -3px;
				}

			}

				.cmuGloNav__notifications, .cmuGloNav__inbox {
					@extend %nav-icon-style;
					// padding-left: $cmu-base/4;
					// padding-right: $cmu-base/2;
					position: relative;
				}

				.cmuGloNav__profile {
					@extend %nav-icon-style;
					padding-left: $cmu-base/4;
					padding-right: $cmu-base/4;
					text-align: center;
					margin-right: 0px;
					// padding-right: 0;
				    cursor: pointer;
				    width: $cmu-nav-height;
				    
					a {
					    display: inline-block;
					    vertical-align: top;
					    line-height: 40px;
					    top: -10px;
					    position: relative;
					}

					&:hover, &.active {
						background-color: transparent;
					}

				}






// 
// DROPDOWNS (notifications, inbox)
// 




// 
// MOBILE MENU 
// 

.cmuGloNav__mobile {
	// hide on desktop
	@include respondTo(medium-up) {
		display: none;
	}

}
	.cmuGloNav__mobile__btn {
		float: right;
	    text-align: right;

	    &:before {
	    	display: block;
    		padding: 0.7rem;
    		padding-right: 0.3rem;
	    	content: 'Menu';
	    	float: left;
			@extend %nav-style;
			top: 1px;
	    }

	    &:after {
     		font-family: 'ubnt';
	    	display: block;
    		padding: 0.7rem;
    		padding-top: 0.72rem;
    		padding-left: 0.3rem;
	    	content: '\e6d9';
	    	float: left;
		    position: relative;
			@extend %nav-style;
	    }
	}
		.cmuGloNav__mobile__menu--open {
			.cmuGloNav__mobile__btn {
	    		&:after {
	    			content: '\e6cc';
	    		}
			}
		}

	%nav-style--mobile {
		color: $cmu-color-white;
		padding: $cmu-base/2 $cmu-base;
		border-bottom: $style-line--dark;

		text-transform: uppercase;
		letter-spacing: 0.4px;
		font-size: $size-xsmaller;
		line-height: $cmu-base*1.5;
	}

	.cmuGloNav__mobile__container {
		// hide normally even in mobile (until --open flag)
		display: none; 
		position: absolute;
		top: remCalc(40px);
		right: $cmu-base * -1;
		width: $cmu-base * 20;
		background: $cmu-color-menu;

		// hide on desktop
		@include respondTo(medium-up) {
			// use !important to override
			display: none !important;
		}

		a {
			display: block;
			&:hover {
				div {
					background-color: $cmu-color-blue;
				}
			}
		}
	}

	.cmuGloNav__mobile__menu--open
		+ .cmuGloNav__mobile__container {
			display: block;
		}

	// 
	// Nav Mobile Items
	// 
		.cmuGloNav__mobile__search {
			@extend %nav-style--mobile;
			@extend %type-base;
			background: $cmu-color-blue;


			// special search styling
			.cmuSearchbox {
				.appIconInput__icon {
					padding-right: $cmu-base;
				}
				.appIconInput__input {
					padding-left: $cmu-base;
				}

				input {
					border: 0;
				}
			}
			// text-transform: uppercase;
			// font-weight: 300;
			// padding: 0;

			// span {
			// 	padding: $cmu-base *3/4 $cmu-base;
			// 	@extend %type-base;
			// }

			// .ubnt-icon {
			// 	float: right; 
			// 	padding-left: $cmu-base*3/2;
			// 	padding-right: $cmu-base*3/2;
			// 	border-left: $style-line--dark;
			// 	font-size: $cmu-base;
			// }
		}

		.cmuGloNav__mobile__link {
			@extend %nav-style--mobile;

			.ubnt-icon {
				vertical-align: initial;
				padding-left: $cmu-base/2;
			}
		}

		.cmuGloNav__mobile__username {
			@extend %nav-style--mobile;
			display: block;
			border: 0;
			color: white;
			font-size: $size-normal;
			background-color: transparent !important;
			margin-bottom: $cmu-base/2;

			.cmuProfile__avatar {
				float: left;
				&:before {
					margin: 0;
				}
				margin-right: $cmu-base;
			}

			.cmuGloNav__mobile__user {
				position: relative;
				top: 3px;
			}
		}
			.cmuGloNav__mobile__container
				div.cmuUserbadge__avatar {
				display: inline-block;
				float: none;
				line-height: 0;
			}

			.cmuGloNav__mobile__accountlinks {
				position: relative;
				// top: $cmu-base * -1;

				.icon {
					font-size: $size-large;
					margin-right: $cmu-base/2;
				}
			}

				.cmuGloNav__mobile__accountlink {
					@extend %nav-style--mobile;
					display: block;
					// margin-left: 50px;
				}













// 
// FOOTER 
// 

%nav-style-footer {
	text-transform: uppercase;
	color: $cmu-color-dkgray;
	letter-spacing: 0.4px;
	font-size: $size-xsmaller;
	vertical-align: top;
	padding: $cmu-base*0.7;
	height: $nav-height;
	cursor: pointer;
	line-height: $cmu-base;

	@extend %ease-fast;
	&:hover {
		color: $cmu-color-ltblue;
		@extend %ease-fast;
	}
}



.cmuGloNav--footer {
	background-color: $cmu-color-ltgray;
	z-index: $z-gloNav--footer;
	padding: $cmu-base 0;
	padding-bottom: $cmu-base*2;

	position: absolute;
	// position: relative;
	width: 100%;
	bottom: 0;
	
	@include respondTo(xsmall-down) {
		// padding: $cmu-base $cmu-base*4;
		// position: relative;
	}

	li {
		display: block;
	}

	li a {
		cursor: default;
		display: inline-block;
		@extend %nav-style-footer;
		font-size: $size-smaller;
		line-height: $size-smaller__lineHeight;
		text-transform: inherit;
		height: auto;
		padding: $cmu-base/2 0;
		cursor: pointer;

		@include respondTo(small-down) {
			padding-left: $cmu-base/2;
		}

	}

	.cmuGloNav__legal {
		@extend %type-info;
		color: $cmu-color-dkgray;
	}

}

// 
// Community part of the footer
// 

	.cmuGloNav__community {

	}

	.cmuGloNav__discussions {
		a:hover {
			span:before {
				@extend %ease-fast;
				color: $cmu-color-ltblue;
				background-color: transparent;
			}
		}

		.ubnt-icon {
			padding-left: $cmu-base/2;
			color: $cmu-color-dkgray;
			margin-left: $cmu-base/2;
			padding-left: 0;

			// font-size: $cmu-base/2;
			// color: $cmu-color-gray;
			// display: inline-block;
		    // border-radius: 50%;
		    // 	width: 16px;
		    // 	height: 16px;
		    // 	padding-left: 0.2rem;
		    // border: $style-line--dark;
		}
			.ubnt-icon--menu {
				// padding: 0;
				position: relative;
				top:1px;
				&:before {
					@extend %ease-fast;
					// background-color: transparent;
					// color: $cmu-color-vltblue;
				}
			}

	}

	// .cmuGloNav__social--label {
	// 	cursor: default !important;
	// 	@extend %nav-style-footer;
	// 	font-size: $size-smaller;
	// 	line-height: $size-smaller__lineHeight;
	// 	text-transform: inherit;
	// 	padding: $cmu-base/2;
	// 	padding-left: 0;
	// 	padding-bottom: 0;
	// 	// margin-bottom: $cmu-base/2;

	// 	&:hover {
	// 		color: $cmu-color-dkgray;
	// 	}
	// 	// margin-top: $cmu-base*2;
	// }

	.cmuGloNav__social {
		cursor: default !important;
    	margin-top: 2px;

    	a {
    		padding: 0 !important;
    		margin-right: $cmu-base/2;
    		&:hover {
				.ubnt-icon:before {
					@extend %ease-fast;
					background-color: $cmu-color-xdkgray;
					color: $cmu-color-purewhite;
				}
    		}
    	}
		span:before {
			@extend %ease-fast;
			cursor: pointer;
			font-size: $cmu-base*1.5;
			background-color: $cmu-color-gray;
			color: $cmu-color-ltgray;

			display: inline-block;
		    border-radius: 50%;
		    	width: 28px;
		    	height: 28px;
		    	padding: 0.2rem 0.1rem;
		    	padding-left: 2px;
		}
	}

	.cmuGloNav__backtotop {
	    position: fixed;
	    display:inline-block;
	    opacity: 0.7;
	    bottom: $cmu-base;
	    right: $cmu-base*2;
	    text-align: center;

	    // .cmuTooltip {
	    // 	bottom: 50px;
	    // }

		.ubnt--icon {
			display: inline-block;
		}
		.ubnt--icon:before {
			@extend %ease-fast;
			cursor: pointer;
			font-size: $cmu-base*1.8;
			background-color: $cmu-color-blue;
			color: $cmu-color-white;
			text-align: center;
			display: inline-block;
		    border-radius: 50%;
		    	width: 45px;
		    	height: 45px;
		    	padding: 0.45rem 0rem;

		}
		.ubnt--icon:hover:before {
			@extend %ease-fast;
			background-color: $cmu-color-ltblue;
		}

		// different bc this is a fixed pos item
		.cmuTooltip {
		    // position: absolute;
		    // left: -50%;
		    // right: -50%;

		    // left: inherit;
		    // right: inherit;

		    &:before, span {
    			// transform: translate(-50%, -259990%);
    			// left: 50%;
    			// transform: translate(-50%, 0%);
    			top: -58px; // hard coded bc of fixed position underlying element
		    }
		    &:after {
		    	top: -58px;
			    left: 50%;
		    	transform: translate(-50%,0);
		    }
		}
		.cmuTooltip--top {
			// &:before {
			//     position: fixed;
			//     right: 14px;
			//     bottom: 75px;
			// }
			// &:after {
			//     position: fixed;
			//     top: inherit;
			//     bottom: 65px;
			//     right: 36px;
			// }
		}
	}

	.cmuGloNav__legal {
		margin-top: $cmu-base * 2;
	}