
<div class="cmuTextEditor--formContainer cmuTextEditor--comments row">

	<div class="cmuTextEditor__title col--md12" ng-if="{ commentform.headerTitle }}">
		<h5>{{ commentform.headerTitle }}</h5>
	</div>

	<div class="col--md12">
			<community-text-editor 
				ng-class="{'cmuTextEditor--minimal':commentform.minimalEditor==true}" 
				ng-model="commentform.comment.body" 
				minimal-editor="{{ commentform.minimalEditor }}">
			</community-text-editor>

			<div class="cmuTextEditor__preview" ng-bind-html="commentform.comment.body | sanitize"></div>
	</div>

	<div class="col--md12">
		<div ng-show="!commentform.submittingComment">
			<div 
				class="button button--solid"
				ng-click="commentform.submitReply()">
					{{ commentform.replyButtonText }}
			</div>
		</div>

		<div ng-show="commentform.submittingComment">
			<div class="button cmuInput--waiting button--padded" disabled>
					{{ commentform.replyButtonText }}
			</div>
		</div>
	</div>
</div>

